<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>08-Wk-Apr25</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>08-Wk-Apr25</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-10c098a252324c7dba01f648cdc0115d.png" alt="08-Wk-Apr25" usemap="#id-10c098a252324c7dba01f648cdc0115dmap"/>
			   <map name="id-10c098a252324c7dba01f648cdc0115dmap">
				  		<area shape="rect" coords="440,59,485,82" href="../elements/id-4addbf869a0e4320aaa5aeb346b28ea3.html"  target="element">
				  		<area shape="rect" coords="399,60,439,82" href="../elements/id-ac426e5a3ac849a9bc36178db96fcc3a.html"  target="element">
				  		<area shape="rect" coords="305,251,348,273" href="../elements/id-b8057f7dc4c84527a7b48833b5ea9aef.html"  target="element">
				  		<area shape="rect" coords="350,107,393,129" href="../elements/id-b8057f7dc4c84527a7b48833b5ea9aef.html"  target="element">
				  		<area shape="rect" coords="302,107,342,129" href="../elements/id-ac426e5a3ac849a9bc36178db96fcc3a.html"  target="element">
				  		<area shape="rect" coords="397,394,441,418" href="../elements/id-3cbd4970ec454e8bb79cbef6f41b9471.html"  target="element">
				  		<area shape="rect" coords="307,346,347,369" href="../elements/id-2c4b62e863ce45b1b485f6a9f2178a11.html"  target="element">
				  		<area shape="rect" coords="254,10,302,34" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="254,346,302,370" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="538,22,738,59" href="../elements/id-d7a6bdcda596447f9bb1a75b619e44e6.html"  target="element">
				  		<area shape="rect" coords="10,22,251,59" href="../elements/id-0c7e897e9cb542829c27c2af397e9a36.html"  target="element">
				  		<area shape="rect" coords="350,394,394,418" href="../elements/id-d7639c32201e43acaef354651ee2d14f.html"  target="element">
				  		<area shape="rect" coords="305,394,349,418" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="254,394,302,418" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="350,303,394,325" href="../elements/id-6e3ad9baca0c4e608f49e03c1d47b676.html"  target="element">
				  		<area shape="rect" coords="304,302,349,326" href="../elements/id-3085e9c183024fec957a2a577f68b65f.html"  target="element">
				  		<area shape="rect" coords="254,302,302,326" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="254,250,302,274" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="300,202,344,226" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="250,202,298,226" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="300,154,344,178" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="250,154,298,178" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="250,106,298,130" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="350,59,394,83" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="298,58,346,82" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="250,58,294,82" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="538,406,738,443" href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html"  target="element">
				  		<area shape="rect" coords="10,406,251,443" href="../elements/id-021c08bc672c4dc69ff9c18618995937.html"  target="element">
				  		<area shape="rect" coords="538,358,738,395" href="../elements/id-4ae6684178ae4793825869a05b38715e.html"  target="element">
				  		<area shape="rect" coords="10,358,251,395" href="../elements/id-f0360371ce5d4f12af817953c25160e1.html"  target="element">
				  		<area shape="rect" coords="538,310,738,347" href="../elements/id-940ebd59b99b4a51b511520436a9dcc0.html"  target="element">
				  		<area shape="rect" coords="10,310,251,347" href="../elements/id-213df02e6c2e4d74a49dddf89de23fa3.html"  target="element">
				  		<area shape="rect" coords="538,260,738,297" href="../elements/id-94e21b58e9cb4930b0309374f3f5d62d.html"  target="element">
				  		<area shape="rect" coords="10,260,251,297" href="../elements/id-01dad37846ec4d5593feae0f1db540a8.html"  target="element">
				  		<area shape="rect" coords="538,214,738,251" href="../elements/id-9b5d83fa96c1406abffa9fe880c8a23d.html"  target="element">
				  		<area shape="rect" coords="10,214,251,251" href="../elements/id-47b0072561c840fe8f6872a445b52061.html"  target="element">
				  		<area shape="rect" coords="538,166,738,203" href="../elements/id-b5a2938093834590a990b438c3d33694.html"  target="element">
				  		<area shape="rect" coords="10,166,251,203" href="../elements/id-3dc73af20e2f4b508f53ade8de04e26e.html"  target="element">
				  		<area shape="rect" coords="538,118,738,155" href="../elements/id-fc1f71d0b35f43909c3136ad0e51b83c.html"  target="element">
				  		<area shape="rect" coords="10,118,251,155" href="../elements/id-632465c8547a4733b6e0d6accd37a587.html"  target="element">
				  		<area shape="rect" coords="538,70,738,107" href="../elements/id-ca810686bd5649869e9868845e53eec3.html"  target="element">
				  		<area shape="rect" coords="10,70,251,107" href="../elements/id-587892fab2ad478c988a9a9c71296f98.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3585;&#3636;&#3592;&#3585;&#3619;&#3619;&#3617;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591;&#3623;&#3633;&#3609;&#3607;&#3637;&#3656; 30 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617; &#3606;&#3638;&#3591; 31 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-587892fab2ad478c988a9a9c71296f98.html" target="element"> 20 Apr 2023 : &#3626;&#3633;&#3591;&#3648;&#3585;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3629;&#3610;&#3619;&#3617; eRespond </a> </td>
											    <td> <a href="../elements/id-587892fab2ad478c988a9a9c71296f98.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca810686bd5649869e9868845e53eec3.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-ca810686bd5649869e9868845e53eec3.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-632465c8547a4733b6e0d6accd37a587.html" target="element"> 21 Apr 2023 : Standup meeting </a> </td>
											    <td> <a href="../elements/id-632465c8547a4733b6e0d6accd37a587.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc1f71d0b35f43909c3136ad0e51b83c.html" target="element"> &#3648;&#3609;&#3639;&#3657;&#3629;&#3627;&#3634;&#3585;&#3634;&#3619; workshop &#3651;&#3627;&#3657;&#3648;&#3614;&#3636;&#3656;&#3617; JD </a> </td>
											    <td> <a href="../elements/id-fc1f71d0b35f43909c3136ad0e51b83c.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dc73af20e2f4b508f53ade8de04e26e.html" target="element"> 21 Apr 2023 : &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
											    <td> <a href="../elements/id-3dc73af20e2f4b508f53ade8de04e26e.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5a2938093834590a990b438c3d33694.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-b5a2938093834590a990b438c3d33694.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47b0072561c840fe8f6872a445b52061.html" target="element"> 24 Apr 2023 : &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
											    <td> <a href="../elements/id-47b0072561c840fe8f6872a445b52061.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b5d83fa96c1406abffa9fe880c8a23d.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-9b5d83fa96c1406abffa9fe880c8a23d.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01dad37846ec4d5593feae0f1db540a8.html" target="element"> 25 Apr 2023 : Standup meeting </a> </td>
											    <td> <a href="../elements/id-01dad37846ec4d5593feae0f1db540a8.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94e21b58e9cb4930b0309374f3f5d62d.html" target="element"> &#3626;&#3629;&#3610;&#3607;&#3634;&#3609;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591; workshop </a> </td>
											    <td> <a href="../elements/id-94e21b58e9cb4930b0309374f3f5d62d.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-213df02e6c2e4d74a49dddf89de23fa3.html" target="element"> 25 Apr 2023 : &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3609;&#3639;&#3657;&#3629;&#3627;&#3634;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
											    <td> <a href="../elements/id-213df02e6c2e4d74a49dddf89de23fa3.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-940ebd59b99b4a51b511520436a9dcc0.html" target="element"> &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Layer &#3585;&#3633;&#3610; CNL </a> </td>
											    <td> <a href="../elements/id-940ebd59b99b4a51b511520436a9dcc0.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0360371ce5d4f12af817953c25160e1.html" target="element"> 25 Apr 2023 : &#3619;&#3633;&#3610;&#3615;&#3633;&#3591;&#3648;&#3623;&#3609;&#3648;&#3604;&#3629;&#3619;&#3660; - Oracle,GE </a> </td>
											    <td> <a href="../elements/id-f0360371ce5d4f12af817953c25160e1.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ae6684178ae4793825869a05b38715e.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-4ae6684178ae4793825869a05b38715e.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-021c08bc672c4dc69ff9c18618995937.html" target="element"> 26 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
											    <td> <a href="../elements/id-021c08bc672c4dc69ff9c18618995937.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3585;&#3634;&#3619; workshop </a> </td>
											    <td> <a href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3085e9c183024fec957a2a577f68b65f.html" target="element"> PNG - &#3588;&#3640;&#3603;&#3611;&#3629;&#3591; GIS PEA </a> </td>
											    <td> <a href="../elements/id-3085e9c183024fec957a2a577f68b65f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e3ad9baca0c4e608f49e03c1d47b676.html" target="element"> NTW - &#3588;&#3640;&#3603;&#3609;&#3633;&#3600;&#3623;&#3633;&#3605; </a> </td>
											    <td> <a href="../elements/id-6e3ad9baca0c4e608f49e03c1d47b676.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7639c32201e43acaef354651ee2d14f.html" target="element"> SCO - Dr.Scott Coe </a> </td>
											    <td> <a href="../elements/id-d7639c32201e43acaef354651ee2d14f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c7e897e9cb542829c27c2af397e9a36.html" target="element"> 19 Apr 2023 : &#3619;&#3633;&#3610;&#3615;&#3633;&#3591;&#3648;&#3623;&#3609;&#3648;&#3604;&#3629;&#3619;&#3660; - GIS,MWM </a> </td>
											    <td> <a href="../elements/id-0c7e897e9cb542829c27c2af397e9a36.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7a6bdcda596447f9bb1a75b619e44e6.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-d7a6bdcda596447f9bb1a75b619e44e6.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c4b62e863ce45b1b485f6a9f2178a11.html" target="element"> GIS - &#3610;&#3619;&#3636;&#3625;&#3633;&#3607;ESRI </a> </td>
											    <td> <a href="../elements/id-2c4b62e863ce45b1b485f6a9f2178a11.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cbd4970ec454e8bb79cbef6f41b9471.html" target="element"> SNM - Mr.Scott Newmann </a> </td>
											    <td> <a href="../elements/id-3cbd4970ec454e8bb79cbef6f41b9471.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac426e5a3ac849a9bc36178db96fcc3a.html" target="element"> SRS - &#3624;&#3636;&#3619;&#3636;&#3624;&#3633;&#3585;&#3604;&#3636;&#3660; &#3623;&#3636;&#3619;&#3640;&#3609;&#3614;&#3633;&#3609;&#3608;&#3660; </a> </td>
											    <td> <a href="../elements/id-ac426e5a3ac849a9bc36178db96fcc3a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8057f7dc4c84527a7b48833b5ea9aef.html" target="element"> MET - &#3648;&#3617;&#3607;&#3637;&#3609;&#3637; &#3611;&#3619;&#3634;&#3619;&#3617;&#3616;&#3660; </a> </td>
											    <td> <a href="../elements/id-b8057f7dc4c84527a7b48833b5ea9aef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8057f7dc4c84527a7b48833b5ea9aef.html" target="element"> MET - &#3648;&#3617;&#3607;&#3637;&#3609;&#3637; &#3611;&#3619;&#3634;&#3619;&#3617;&#3616;&#3660; </a> </td>
											    <td> <a href="../elements/id-b8057f7dc4c84527a7b48833b5ea9aef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac426e5a3ac849a9bc36178db96fcc3a.html" target="element"> SRS - &#3624;&#3636;&#3619;&#3636;&#3624;&#3633;&#3585;&#3604;&#3636;&#3660; &#3623;&#3636;&#3619;&#3640;&#3609;&#3614;&#3633;&#3609;&#3608;&#3660; </a> </td>
											    <td> <a href="../elements/id-ac426e5a3ac849a9bc36178db96fcc3a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4addbf869a0e4320aaa5aeb346b28ea3.html" target="element"> ATD - &#3588;&#3640;&#3603;&#3629;&#3634;&#3607;&#3636;&#3605;&#3618;&#3660; &#3614;&#3634;&#3609;&#3636;&#3594;&#3585;&#3634;&#3619; </a> </td>
											    <td> <a href="../elements/id-4addbf869a0e4320aaa5aeb346b28ea3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ea43795ebf754ca89c453cafeb75011f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea43795ebf754ca89c453cafeb75011f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-587892fab2ad478c988a9a9c71296f98.html" target="element"> 20 Apr 2023 : &#3626;&#3633;&#3591;&#3648;&#3585;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3629;&#3610;&#3619;&#3617; eRespond </a> </td>
																		<td> <a href="../elements/id-ca810686bd5649869e9868845e53eec3.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c59449e7fe8447dbe1dbf30a5eddb6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c59449e7fe8447dbe1dbf30a5eddb6c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-632465c8547a4733b6e0d6accd37a587.html" target="element"> 21 Apr 2023 : Standup meeting </a> </td>
																		<td> <a href="../elements/id-fc1f71d0b35f43909c3136ad0e51b83c.html" target="element"> &#3648;&#3609;&#3639;&#3657;&#3629;&#3627;&#3634;&#3585;&#3634;&#3619; workshop &#3651;&#3627;&#3657;&#3648;&#3614;&#3636;&#3656;&#3617; JD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c85db16e129b43349432e0e9b1d37b42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c85db16e129b43349432e0e9b1d37b42.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dc73af20e2f4b508f53ade8de04e26e.html" target="element"> 21 Apr 2023 : &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
																		<td> <a href="../elements/id-b5a2938093834590a990b438c3d33694.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff293b64db1648c1a8fc13f7506ca5d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff293b64db1648c1a8fc13f7506ca5d4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47b0072561c840fe8f6872a445b52061.html" target="element"> 24 Apr 2023 : &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
																		<td> <a href="../elements/id-9b5d83fa96c1406abffa9fe880c8a23d.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8c6e30854a7f4a38af9da5db34103c0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c6e30854a7f4a38af9da5db34103c0f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-01dad37846ec4d5593feae0f1db540a8.html" target="element"> 25 Apr 2023 : Standup meeting </a> </td>
																		<td> <a href="../elements/id-94e21b58e9cb4930b0309374f3f5d62d.html" target="element"> &#3626;&#3629;&#3610;&#3607;&#3634;&#3609;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591; workshop </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d65f410bebfe4ea185fbd91f4d9dfd80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d65f410bebfe4ea185fbd91f4d9dfd80.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-213df02e6c2e4d74a49dddf89de23fa3.html" target="element"> 25 Apr 2023 : &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3609;&#3639;&#3657;&#3629;&#3627;&#3634;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
																		<td> <a href="../elements/id-940ebd59b99b4a51b511520436a9dcc0.html" target="element"> &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Layer &#3585;&#3633;&#3610; CNL </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1300bb3a997467b95d4c280cf4ec16e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1300bb3a997467b95d4c280cf4ec16e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0360371ce5d4f12af817953c25160e1.html" target="element"> 25 Apr 2023 : &#3619;&#3633;&#3610;&#3615;&#3633;&#3591;&#3648;&#3623;&#3609;&#3648;&#3604;&#3629;&#3619;&#3660; - Oracle,GE </a> </td>
																		<td> <a href="../elements/id-4ae6684178ae4793825869a05b38715e.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ca2645b14c54570914ca96a5bbb4dff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ca2645b14c54570914ca96a5bbb4dff.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-021c08bc672c4dc69ff9c18618995937.html" target="element"> 26 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
																		<td> <a href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3585;&#3634;&#3619; workshop </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0fa1d868cc3b423f834b72e5a4a56ce3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fa1d868cc3b423f834b72e5a4a56ce3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c7e897e9cb542829c27c2af397e9a36.html" target="element"> 19 Apr 2023 : &#3619;&#3633;&#3610;&#3615;&#3633;&#3591;&#3648;&#3623;&#3609;&#3648;&#3604;&#3629;&#3619;&#3660; - GIS,MWM </a> </td>
																		<td> <a href="../elements/id-d7a6bdcda596447f9bb1a75b619e44e6.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>