<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-OM-Plan-7</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-OM-Plan-7</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1c6a7e2f1c9e47b99920a4e5f00df876.png" alt="01-OM-Plan-7" usemap="#id-1c6a7e2f1c9e47b99920a4e5f00df876map"/>
			   <map name="id-1c6a7e2f1c9e47b99920a4e5f00df876map">
				  		<area shape="rect" coords="638,94,690,116" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="434,94,486,116" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="650,245,702,267" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="434,245,486,267" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="218,245,270,267" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="230,316,339,353" href="../elements/id-4a5e0557bde046f495eddad87bb407a2.html"  target="element">
				  		<area shape="rect" coords="206,160,363,246" href="../elements/id-f563fb9ece194e9bad533570313445f1.html"  target="element">
				  		<area shape="rect" coords="422,160,579,246" href="../elements/id-2fbaf308c4a64d41a13cf62be48356c5.html"  target="element">
				  		<area shape="rect" coords="638,160,795,246" href="../elements/id-2c5a509de0e940e587376d29ac5e9084.html"  target="element">
				  		<area shape="rect" coords="842,160,1023,246" href="../elements/id-b255f1371ab5428482a17748b7141bbf.html"  target="element">
				  		<area shape="rect" coords="854,10,1011,95" href="../elements/id-6ae27bbc47d94edebcb3b6817f526632.html"  target="element">
				  		<area shape="rect" coords="638,10,795,95" href="../elements/id-4fe6bd811a7c4db390ab45bcd394a459.html"  target="element">
				  		<area shape="rect" coords="422,10,579,95" href="../elements/id-6966d6c382fb4c7b9e1f9102c51c7642.html"  target="element">
				  		<area shape="rect" coords="194,10,375,95" href="../elements/id-2264a606427347608ac7a80873bd431f.html"  target="element">
				  		<area shape="rect" coords="10,20,127,85" href="../elements/id-b97829e59c9e4858918ba8a8492be63b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b97829e59c9e4858918ba8a8492be63b.html" target="element"> FromApproval(For LV) </a> </td>
											    <td> <a href="../elements/id-b97829e59c9e4858918ba8a8492be63b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2264a606427347608ac7a80873bd431f.html" target="element"> Inform E/O WorkDispatcher ofplanned outage start/end(Working Team Leader): 500 </a> </td>
											    <td> <a href="../elements/id-2264a606427347608ac7a80873bd431f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6966d6c382fb4c7b9e1f9102c51c7642.html" target="element"> Capture Plannedoutage start/end(E/O Work Dispatcher): 510 </a> </td>
											    <td> <a href="../elements/id-6966d6c382fb4c7b9e1f9102c51c7642.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4fe6bd811a7c4db390ab45bcd394a459.html" target="element"> Apply SwitchingChange to Data Model(E/O Work Dispatchr): 515 </a> </td>
											    <td> <a href="../elements/id-4fe6bd811a7c4db390ab45bcd394a459.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ae27bbc47d94edebcb3b6817f526632.html" target="element"> Perform plannedwork(Working Team): 525 </a> </td>
											    <td> <a href="../elements/id-6ae27bbc47d94edebcb3b6817f526632.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b255f1371ab5428482a17748b7141bbf.html" target="element"> Inform E/O WorkDispatcher of plannedoutage finish(Working Team Leader): 530 </a> </td>
											    <td> <a href="../elements/id-b255f1371ab5428482a17748b7141bbf.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c5a509de0e940e587376d29ac5e9084.html" target="element"> Capture Plannedoutage finish(E/O Work Dispatcher): 535 </a> </td>
											    <td> <a href="../elements/id-2c5a509de0e940e587376d29ac5e9084.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fbaf308c4a64d41a13cf62be48356c5.html" target="element"> Apply SwitchingChnge to Data Model(E/O Work Dispatcher): 540 </a> </td>
											    <td> <a href="../elements/id-2fbaf308c4a64d41a13cf62be48356c5.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f563fb9ece194e9bad533570313445f1.html" target="element"> Calculate thenumber of affectedcustomer(Automatic): 560 </a> </td>
											    <td> <a href="../elements/id-f563fb9ece194e9bad533570313445f1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a5e0557bde046f495eddad87bb407a2.html" target="element"> Closing </a> </td>
											    <td> <a href="../elements/id-4a5e0557bde046f495eddad87bb407a2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5ca3a0d6b7f2415f9cdab98e8f8bf5a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ca3a0d6b7f2415f9cdab98e8f8bf5a5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97829e59c9e4858918ba8a8492be63b.html" target="element"> FromApproval(For LV) </a> </td>
																		<td> <a href="../elements/id-2264a606427347608ac7a80873bd431f.html" target="element"> Inform E/O WorkDispatcher ofplanned outage start/end(Working Team Leader): 500 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b835a23f0d4449538ac5c0cf8c8878c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b835a23f0d4449538ac5c0cf8c8878c9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2264a606427347608ac7a80873bd431f.html" target="element"> Inform E/O WorkDispatcher ofplanned outage start/end(Working Team Leader): 500 </a> </td>
																		<td> <a href="../elements/id-6966d6c382fb4c7b9e1f9102c51c7642.html" target="element"> Capture Plannedoutage start/end(E/O Work Dispatcher): 510 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6a2339a95e74ee59f8b13b262171a69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6a2339a95e74ee59f8b13b262171a69.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6966d6c382fb4c7b9e1f9102c51c7642.html" target="element"> Capture Plannedoutage start/end(E/O Work Dispatcher): 510 </a> </td>
																		<td> <a href="../elements/id-4fe6bd811a7c4db390ab45bcd394a459.html" target="element"> Apply SwitchingChange to Data Model(E/O Work Dispatchr): 515 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce613de5b9ca4326b913a5cdc32b9a4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce613de5b9ca4326b913a5cdc32b9a4a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fe6bd811a7c4db390ab45bcd394a459.html" target="element"> Apply SwitchingChange to Data Model(E/O Work Dispatchr): 515 </a> </td>
																		<td> <a href="../elements/id-6ae27bbc47d94edebcb3b6817f526632.html" target="element"> Perform plannedwork(Working Team): 525 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-89977e234819491aaab1c400a738e316.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89977e234819491aaab1c400a738e316.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ae27bbc47d94edebcb3b6817f526632.html" target="element"> Perform plannedwork(Working Team): 525 </a> </td>
																		<td> <a href="../elements/id-b255f1371ab5428482a17748b7141bbf.html" target="element"> Inform E/O WorkDispatcher of plannedoutage finish(Working Team Leader): 530 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-26839f8b4d704653b2c90e5c568b6d21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26839f8b4d704653b2c90e5c568b6d21.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b255f1371ab5428482a17748b7141bbf.html" target="element"> Inform E/O WorkDispatcher of plannedoutage finish(Working Team Leader): 530 </a> </td>
																		<td> <a href="../elements/id-2c5a509de0e940e587376d29ac5e9084.html" target="element"> Capture Plannedoutage finish(E/O Work Dispatcher): 535 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a4a371855fb04e5ebefa0600ef430460.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4a371855fb04e5ebefa0600ef430460.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c5a509de0e940e587376d29ac5e9084.html" target="element"> Capture Plannedoutage finish(E/O Work Dispatcher): 535 </a> </td>
																		<td> <a href="../elements/id-2fbaf308c4a64d41a13cf62be48356c5.html" target="element"> Apply SwitchingChnge to Data Model(E/O Work Dispatcher): 540 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2292d36580f046258e1606f4d39a94ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2292d36580f046258e1606f4d39a94ee.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fbaf308c4a64d41a13cf62be48356c5.html" target="element"> Apply SwitchingChnge to Data Model(E/O Work Dispatcher): 540 </a> </td>
																		<td> <a href="../elements/id-f563fb9ece194e9bad533570313445f1.html" target="element"> Calculate thenumber of affectedcustomer(Automatic): 560 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d764200914a14ae2b367306c549050bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d764200914a14ae2b367306c549050bf.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f563fb9ece194e9bad533570313445f1.html" target="element"> Calculate thenumber of affectedcustomer(Automatic): 560 </a> </td>
																		<td> <a href="../elements/id-4a5e0557bde046f495eddad87bb407a2.html" target="element"> Closing </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>