<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOR-4.2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOR-4.2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-41ccdce86f7a4f8aa640374323f44e8e.png" alt="TOR-4.2" usemap="#id-41ccdce86f7a4f8aa640374323f44e8emap"/>
			   <map name="id-41ccdce86f7a4f8aa640374323f44e8emap">
				  		<area shape="rect" coords="10,204,130,253" href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html"  target="element">
				  				<area shape="rect" coords="824,282,876,319" href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html"  target="element">
				  				<area shape="rect" coords="754,331,806,368" href="../elements/id-868c0146c79740b1a242ab454a748293.html"  target="element">
				  				<area shape="rect" coords="826,331,878,368" href="../elements/id-0884025d77c644c5a953533dc024ac7f.html"  target="element">
				  				<area shape="rect" coords="682,331,734,368" href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html"  target="element">
				  				<area shape="rect" coords="804,377,856,414" href="../elements/id-4f880c2912714705a8e49934a1572b5f.html"  target="element">
				  				<area shape="rect" coords="680,282,732,319" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  				<area shape="rect" coords="711,377,763,414" href="../elements/id-fff235eba3774a67b143e210fee7a4a9.html"  target="element">
				  				<area shape="rect" coords="752,282,804,319" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">

				  		<area shape="rect" coords="658,252,896,432" href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html"  target="element">
				  		<area shape="rect" coords="450,381,570,420" href="../elements/id-b2548ec96dec4a71b48bd96703f43829.html"  target="element">
				  		<area shape="rect" coords="450,333,570,372" href="../elements/id-848c96a8cbb14765a0cb11cdc64d30f5.html"  target="element">
				  		<area shape="rect" coords="450,279,570,322" href="../elements/id-f316d582ea5d498089814fe9b6b5b32a.html"  target="element">
				  		<area shape="rect" coords="226,333,330,388" href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html"  target="element">
				  		<area shape="rect" coords="226,70,330,125" href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html"  target="element">
				  		<area shape="rect" coords="226,201,330,256" href="../elements/id-bffcaa60f95f4cefabb9b623e4aeb799.html"  target="element">
				  		<area shape="rect" coords="467,189,612,244" href="../elements/id-b9ead440ee3f4e6db96ee5a9e3d1729f.html"  target="element">
				  		<area shape="rect" coords="481,130,601,167" href="../elements/id-9429df7f43bc43938346087dd07f543f.html"  target="element">
				  		<area shape="rect" coords="481,70,601,107" href="../elements/id-6f5b932a345c4ac6aeefe43eca18dd95.html"  target="element">
				  		<area shape="rect" coords="478,10,598,45" href="../elements/id-1feeaba7bffe49f88be1ae0157f6afda.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1feeaba7bffe49f88be1ae0157f6afda.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-1feeaba7bffe49f88be1ae0157f6afda.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f5b932a345c4ac6aeefe43eca18dd95.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-6f5b932a345c4ac6aeefe43eca18dd95.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9429df7f43bc43938346087dd07f543f.html" target="element"> &#3648;&#3607;&#3588;&#3650;&#3609;&#3650;&#3621;&#3618;&#3637; </a> </td>
											    <td> <a href="../elements/id-9429df7f43bc43938346087dd07f543f.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b9ead440ee3f4e6db96ee5a9e3d1729f.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/id-b9ead440ee3f4e6db96ee5a9e3d1729f.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bffcaa60f95f4cefabb9b623e4aeb799.html" target="element"> Business Process </a> </td>
											    <td> <a href="../elements/id-bffcaa60f95f4cefabb9b623e4aeb799.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element"> Business Process (copy) </a> </td>
											    <td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html" target="element"> Business Process (copy) </a> </td>
											    <td> <a href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f316d582ea5d498089814fe9b6b5b32a.html" target="element"> Principle </a> </td>
											    <td> <a href="../elements/id-f316d582ea5d498089814fe9b6b5b32a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-848c96a8cbb14765a0cb11cdc64d30f5.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/id-848c96a8cbb14765a0cb11cdc64d30f5.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2548ec96dec4a71b48bd96703f43829.html" target="element"> &#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3650;&#3618;&#3591;&#3619;&#3632;&#3610;&#3610;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-b2548ec96dec4a71b48bd96703f43829.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
											    <td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
													    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fff235eba3774a67b143e210fee7a4a9.html" target="element"> SmartGrid </a> </td>
													    <td> <a href="../elements/id-fff235eba3774a67b143e210fee7a4a9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
													    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
													    <td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0884025d77c644c5a953533dc024ac7f.html" target="element"> EAM </a> </td>
													    <td> <a href="../elements/id-0884025d77c644c5a953533dc024ac7f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
													    <td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html" target="element"> GIS </a> </td>
													    <td> <a href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ac7b744008c648639890db453d82069e.html" target="element"> &#3624;&#3638;&#3585;&#3625;&#3634; </a> </td>
																		<td> <a href="../elements/id-ac7b744008c648639890db453d82069e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-1feeaba7bffe49f88be1ae0157f6afda.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-206e6221b10b41e3b2395fba9811191a.html" target="element"> &#3624;&#3638;&#3585;&#3625;&#3634; </a> </td>
																		<td> <a href="../elements/id-206e6221b10b41e3b2395fba9811191a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-6f5b932a345c4ac6aeefe43eca18dd95.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cd77c96c84d4cd49bd919fa42792932.html" target="element"> &#3624;&#3638;&#3585;&#3625;&#3634; </a> </td>
																		<td> <a href="../elements/id-1cd77c96c84d4cd49bd919fa42792932.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-9429df7f43bc43938346087dd07f543f.html" target="element"> &#3648;&#3607;&#3588;&#3650;&#3609;&#3650;&#3621;&#3618;&#3637; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-952d78cc691f437ba7e7516de76d3328.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-952d78cc691f437ba7e7516de76d3328.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-b9ead440ee3f4e6db96ee5a9e3d1729f.html" target="element"> Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b187017ede9471ba7af9bd8b7cf26ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b187017ede9471ba7af9bd8b7cf26ab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-f316d582ea5d498089814fe9b6b5b32a.html" target="element"> Principle </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1260ec2e4884bafbb36bf6b29ff7a29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1260ec2e4884bafbb36bf6b29ff7a29.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-848c96a8cbb14765a0cb11cdc64d30f5.html" target="element"> Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8d0fd0a4da54683b8b83ea847f47d31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8d0fd0a4da54683b8b83ea847f47d31.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-b2548ec96dec4a71b48bd96703f43829.html" target="element"> &#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3650;&#3618;&#3591;&#3619;&#3632;&#3610;&#3610;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d91d2b2af1a14eef815e830a69f5e680.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d91d2b2af1a14eef815e830a69f5e680.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b2548ec96dec4a71b48bd96703f43829.html" target="element"> &#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3650;&#3618;&#3591;&#3619;&#3632;&#3610;&#3610;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-edc6f1c861c64a2daaa9519a402138d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edc6f1c861c64a2daaa9519a402138d1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c3470159cad4b81806d0f2c559e46e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c3470159cad4b81806d0f2c559e46e8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-fff235eba3774a67b143e210fee7a4a9.html" target="element"> SmartGrid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d225362e592f4b1b8ad9231538fff208.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d225362e592f4b1b8ad9231538fff208.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3ce5503ed9d43ffba1d51d6d67ab789.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3ce5503ed9d43ffba1d51d6d67ab789.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1869be87a684e969f0b0b6a1a7d3b9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1869be87a684e969f0b0b6a1a7d3b9e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f99209db584409198f6e2cac3e7f515.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f99209db584409198f6e2cac3e7f515.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-0884025d77c644c5a953533dc024ac7f.html" target="element"> EAM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c2df98aabbf4216bbd11ab21809139c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c2df98aabbf4216bbd11ab21809139c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3266de167aea463186995820a92204bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3266de167aea463186995820a92204bd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0118c1ca37964aecb4336130ad477b0e.html" target="element"> OMS connect </a> </td>
																		<td> <a href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html" target="element"> GIS </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-62c6cbd498624ce0aa5c978072160bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62c6cbd498624ce0aa5c978072160bcd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-aba6a96739014631bb24116d0ddea4e6.html" target="element"> Business Process (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61c9c8bf87bd42398a503add9c3863ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61c9c8bf87bd42398a503add9c3863ee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-bffcaa60f95f4cefabb9b623e4aeb799.html" target="element"> Business Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be4b9d1ab229476b933bea52a2655eae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be4b9d1ab229476b933bea52a2655eae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-698e8f852d1b4bddbb08629a8512f7b0.html" target="element"> Business Process (copy) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>