<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-OM-Plan-8</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-OM-Plan-8</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-55e76de2e121427099106ad69b4e6a1b.png" alt="01-OM-Plan-8" usemap="#id-55e76de2e121427099106ad69b4e6a1bmap"/>
			   <map name="id-55e76de2e121427099106ad69b4e6a1bmap">
				  		<area shape="rect" coords="543,496,591,517" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="371,494,419,515" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="34,486,82,507" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="220,336,268,357" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="730,500,782,522" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="502,336,554,358" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="730,148,782,170" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="481,166,533,188" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="267,158,319,180" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="910,536,1007,579" href="../elements/id-4170d737d35041da8b0e247b1689f297.html"  target="element">
				  		<area shape="rect" coords="886,404,1031,501" href="../elements/id-07888ceab7bb4c37bfe4878cb0256043.html"  target="element">
				  		<area shape="rect" coords="706,404,851,501" href="../elements/id-6318b55f75ac422fbdbe0bb73e5f0f36.html"  target="element">
				  		<area shape="rect" coords="538,409,683,496" href="../elements/id-7b6e921601ff476bb9d4d6ce78ea068e.html"  target="element">
				  		<area shape="rect" coords="358,410,503,495" href="../elements/id-f3d4be1a368a4c168b0733fb3b5f0f8f.html"  target="element">
				  		<area shape="rect" coords="178,404,323,501" href="../elements/id-ade6ff55bcfc4a3caa180c3db1d98671.html"  target="element">
				  		<area shape="rect" coords="22,418,137,487" href="../elements/id-ec87531ba9b1494e8bc9415ce91aa9fe.html"  target="element">
				  		<area shape="rect" coords="202,248,383,337" href="../elements/id-ad6128d018bc4d5997dfa59b00d0faf2.html"  target="element">
				  		<area shape="rect" coords="466,248,647,337" href="../elements/id-475c241c95034f01bd990be88da16068.html"  target="element">
				  		<area shape="rect" coords="706,84,887,149" href="../elements/id-394eb850da2d436185f5ceb44f9c50de.html"  target="element">
				  		<area shape="rect" coords="466,68,647,165" href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html"  target="element">
				  		<area shape="rect" coords="238,74,419,159" href="../elements/id-38e005615a9144f883f3b66507764a74.html"  target="element">
				  		<area shape="rect" coords="10,128,191,175" href="../elements/id-3451463fa2864b169935da6d9e632246.html"  target="element">
				  		<area shape="rect" coords="10,56,191,103" href="../elements/id-48cc7cc7a4ac4f8182cc7b19de1a496d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-48cc7cc7a4ac4f8182cc7b19de1a496d.html" target="element"> Planned LVOutage Execution </a> </td>
											    <td> <a href="../elements/id-48cc7cc7a4ac4f8182cc7b19de1a496d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3451463fa2864b169935da6d9e632246.html" target="element"> Planned HV/MVOutage Execution </a> </td>
											    <td> <a href="../elements/id-3451463fa2864b169935da6d9e632246.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38e005615a9144f883f3b66507764a74.html" target="element"> Capture Finalrestoration time andcompletion comments(E/O Work Dispatcher): 920 </a> </td>
											    <td> <a href="../elements/id-38e005615a9144f883f3b66507764a74.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html" target="element"> Verify the number of customersinterrupted andduration(E/O Work Dispatcher): 922 </a> </td>
											    <td> <a href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-394eb850da2d436185f5ceb44f9c50de.html" target="element"> Edit manually(E/O Work Dispatcher): 925 </a> </td>
											    <td> <a href="../elements/id-394eb850da2d436185f5ceb44f9c50de.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-475c241c95034f01bd990be88da16068.html" target="element"> Complete the PlannedSwitching Work Orderclosing(E/O Work Dispatcher): 950 </a> </td>
											    <td> <a href="../elements/id-475c241c95034f01bd990be88da16068.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad6128d018bc4d5997dfa59b00d0faf2.html" target="element"> Update planned switchingwork order details addclosing info(Automatic): 960 </a> </td>
											    <td> <a href="../elements/id-ad6128d018bc4d5997dfa59b00d0faf2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec87531ba9b1494e8bc9415ce91aa9fe.html" target="element"> Materialsreconcilationprocess: 980 </a> </td>
											    <td> <a href="../elements/id-ec87531ba9b1494e8bc9415ce91aa9fe.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ade6ff55bcfc4a3caa180c3db1d98671.html" target="element"> Complate workorderreport from(Working Team Leader): 970 </a> </td>
											    <td> <a href="../elements/id-ade6ff55bcfc4a3caa180c3db1d98671.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3d4be1a368a4c168b0733fb3b5f0f8f.html" target="element"> Capture workorder reportinto SAP(SAP Operator): 990 </a> </td>
											    <td> <a href="../elements/id-f3d4be1a368a4c168b0733fb3b5f0f8f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b6e921601ff476bb9d4d6ce78ea068e.html" target="element"> Settlement andClose SAP workorder(SAP Operator): 1000 </a> </td>
											    <td> <a href="../elements/id-7b6e921601ff476bb9d4d6ce78ea068e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6318b55f75ac422fbdbe0bb73e5f0f36.html" target="element"> Update CatalogActiviy and DamageCause information(Automatic): 1005 </a> </td>
											    <td> <a href="../elements/id-6318b55f75ac422fbdbe0bb73e5f0f36.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07888ceab7bb4c37bfe4878cb0256043.html" target="element"> Insurance/Warranty orother claimProcess(optional): 1010 </a> </td>
											    <td> <a href="../elements/id-07888ceab7bb4c37bfe4878cb0256043.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4170d737d35041da8b0e247b1689f297.html" target="element"> End 1020 </a> </td>
											    <td> <a href="../elements/id-4170d737d35041da8b0e247b1689f297.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a71a62e0b6294158988103500d30681a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a71a62e0b6294158988103500d30681a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48cc7cc7a4ac4f8182cc7b19de1a496d.html" target="element"> Planned LVOutage Execution </a> </td>
																		<td> <a href="../elements/id-38e005615a9144f883f3b66507764a74.html" target="element"> Capture Finalrestoration time andcompletion comments(E/O Work Dispatcher): 920 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ddba1a122cad4aa6b79518cbecf6a82b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddba1a122cad4aa6b79518cbecf6a82b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3451463fa2864b169935da6d9e632246.html" target="element"> Planned HV/MVOutage Execution </a> </td>
																		<td> <a href="../elements/id-38e005615a9144f883f3b66507764a74.html" target="element"> Capture Finalrestoration time andcompletion comments(E/O Work Dispatcher): 920 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fe3c5ae588f448369233856ddfec5123.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe3c5ae588f448369233856ddfec5123.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38e005615a9144f883f3b66507764a74.html" target="element"> Capture Finalrestoration time andcompletion comments(E/O Work Dispatcher): 920 </a> </td>
																		<td> <a href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html" target="element"> Verify the number of customersinterrupted andduration(E/O Work Dispatcher): 922 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1c678059e0b240a0a8cfe591cd50e700.html" target="element"> Need to correct </a> </td>
																		<td> <a href="../elements/id-1c678059e0b240a0a8cfe591cd50e700.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html" target="element"> Verify the number of customersinterrupted andduration(E/O Work Dispatcher): 922 </a> </td>
																		<td> <a href="../elements/id-394eb850da2d436185f5ceb44f9c50de.html" target="element"> Edit manually(E/O Work Dispatcher): 925 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecce3a6fd170405cbf54c76e3d7911df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecce3a6fd170405cbf54c76e3d7911df.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html" target="element"> Verify the number of customersinterrupted andduration(E/O Work Dispatcher): 922 </a> </td>
																		<td> <a href="../elements/id-475c241c95034f01bd990be88da16068.html" target="element"> Complete the PlannedSwitching Work Orderclosing(E/O Work Dispatcher): 950 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc76f80e6fe841dc9f2f4d336a8ac667.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc76f80e6fe841dc9f2f4d336a8ac667.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-394eb850da2d436185f5ceb44f9c50de.html" target="element"> Edit manually(E/O Work Dispatcher): 925 </a> </td>
																		<td> <a href="../elements/id-eebd6be08db74b2bb84a7d0cee080aeb.html" target="element"> Verify the number of customersinterrupted andduration(E/O Work Dispatcher): 922 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc182e1bd9624fd0b204a2a65de207ab.html" target="element"> interface </a> </td>
																		<td> <a href="../elements/id-bc182e1bd9624fd0b204a2a65de207ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-475c241c95034f01bd990be88da16068.html" target="element"> Complete the PlannedSwitching Work Orderclosing(E/O Work Dispatcher): 950 </a> </td>
																		<td> <a href="../elements/id-ad6128d018bc4d5997dfa59b00d0faf2.html" target="element"> Update planned switchingwork order details addclosing info(Automatic): 960 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88b7e4e7943742bd975a797fda2d3013.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88b7e4e7943742bd975a797fda2d3013.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad6128d018bc4d5997dfa59b00d0faf2.html" target="element"> Update planned switchingwork order details addclosing info(Automatic): 960 </a> </td>
																		<td> <a href="../elements/id-ec87531ba9b1494e8bc9415ce91aa9fe.html" target="element"> Materialsreconcilationprocess: 980 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36175ff8a988492c9aa481190198f96b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36175ff8a988492c9aa481190198f96b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec87531ba9b1494e8bc9415ce91aa9fe.html" target="element"> Materialsreconcilationprocess: 980 </a> </td>
																		<td> <a href="../elements/id-ade6ff55bcfc4a3caa180c3db1d98671.html" target="element"> Complate workorderreport from(Working Team Leader): 970 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b8ad1ac4f1fe4bfa8c429381c80b1082.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8ad1ac4f1fe4bfa8c429381c80b1082.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ade6ff55bcfc4a3caa180c3db1d98671.html" target="element"> Complate workorderreport from(Working Team Leader): 970 </a> </td>
																		<td> <a href="../elements/id-f3d4be1a368a4c168b0733fb3b5f0f8f.html" target="element"> Capture workorder reportinto SAP(SAP Operator): 990 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-889502e65ce4449384530a82c02e23ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-889502e65ce4449384530a82c02e23ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d4be1a368a4c168b0733fb3b5f0f8f.html" target="element"> Capture workorder reportinto SAP(SAP Operator): 990 </a> </td>
																		<td> <a href="../elements/id-7b6e921601ff476bb9d4d6ce78ea068e.html" target="element"> Settlement andClose SAP workorder(SAP Operator): 1000 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e900e30d07f4a909243eb252ac2546e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e900e30d07f4a909243eb252ac2546e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b6e921601ff476bb9d4d6ce78ea068e.html" target="element"> Settlement andClose SAP workorder(SAP Operator): 1000 </a> </td>
																		<td> <a href="../elements/id-6318b55f75ac422fbdbe0bb73e5f0f36.html" target="element"> Update CatalogActiviy and DamageCause information(Automatic): 1005 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-744fdef0f9924c51a7843ce20bbe69a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-744fdef0f9924c51a7843ce20bbe69a3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6318b55f75ac422fbdbe0bb73e5f0f36.html" target="element"> Update CatalogActiviy and DamageCause information(Automatic): 1005 </a> </td>
																		<td> <a href="../elements/id-07888ceab7bb4c37bfe4878cb0256043.html" target="element"> Insurance/Warranty orother claimProcess(optional): 1010 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3e6b56159a944487a9565f82c54336c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e6b56159a944487a9565f82c54336c4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-07888ceab7bb4c37bfe4878cb0256043.html" target="element"> Insurance/Warranty orother claimProcess(optional): 1010 </a> </td>
																		<td> <a href="../elements/id-4170d737d35041da8b0e247b1689f297.html" target="element"> End 1020 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>