<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>P54_C7.2.2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>P54_C7.2.2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8d4835cf82cb4d06b6d3b07e398e8ce7.png" alt="P54_C7.2.2" usemap="#id-8d4835cf82cb4d06b6d3b07e398e8ce7map"/>
			   <map name="id-8d4835cf82cb4d06b6d3b07e398e8ce7map">
				  		<area shape="rect" coords="965,21,1002,44" href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html"  target="element">
				  		<area shape="rect" coords="844,276,930,298" href="../elements/id-78c5e052eb0a4fbda6904bc7f680e6aa.html"  target="element">
				  		<area shape="rect" coords="844,314,930,336" href="../elements/id-4886a597bb6a4039a4b1b85fc47e751b.html"  target="element">
				  		<area shape="rect" coords="844,346,930,368" href="../elements/id-b45a6b4c3c0847ab9f212c10e1ed1773.html"  target="element">
				  		<area shape="rect" coords="719,99,839,136" href="../elements/id-3254fb87a0db45ad8b8658aafae066c8.html"  target="element">
				  		<area shape="rect" coords="475,99,595,136" href="../elements/id-341bd0d6d6f34ca4a59bdbb2eb18eea9.html"  target="element">
				  		<area shape="rect" coords="719,387,756,412" href="../elements/id-761a9f01882447bf91bcbac72bf09796.html"  target="element">
				  		<area shape="rect" coords="686,346,795,371" href="../elements/id-2e3ccc2fd87d4a4580569f7bf9a2e9e8.html"  target="element">
				  		<area shape="rect" coords="686,312,795,337" href="../elements/id-6ac57c2af8684ef88c7a663c0665ab50.html"  target="element">
				  		<area shape="rect" coords="686,274,795,299" href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html"  target="element">
				  		<area shape="rect" coords="53,297,96,325" href="../elements/id-5b4d551c5f374db387381c4469ae232d.html"  target="element">
				  		<area shape="rect" coords="644,99,678,127" href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html"  target="element">
				  		<area shape="rect" coords="399,99,450,127" href="../elements/id-7064a924fa004a5da475e6756bf2076a.html"  target="element">
				  		<area shape="rect" coords="698,199,783,257" href="../elements/id-9817e82358b94d558b33724086ef632a.html"  target="element">
				  		<area shape="rect" coords="977,215,1014,240" href="../elements/id-761a9f01882447bf91bcbac72bf09796.html"  target="element">
				  		<area shape="rect" coords="109,29,124,44" href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html"  target="element">
				  		<area shape="rect" coords="10,21,78,44" href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html"  target="element">
				  		<area shape="rect" coords="534,454,607,503" href="../elements/id-74cac2ce035644b0b5b332c508ff04de.html"  target="element">
				  		<area shape="rect" coords="450,454,523,503" href="../elements/id-3bf972fc096a4c3eb7038a4c7c5b10f9.html"  target="element">
				  		<area shape="rect" coords="618,454,685,503" href="../elements/id-bc35375e05554e65b4e0ef1385359903.html"  target="element">
				  		<area shape="rect" coords="329,526,476,599" href="../elements/id-41cae6e39529471fb5bef5c400288e6c.html"  target="element">
				  		<area shape="rect" coords="290,430,400,491" href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html"  target="element">
				  		<area shape="rect" coords="749,514,896,587" href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html"  target="element">
				  		<area shape="rect" coords="698,436,819,503" href="../elements/id-946a0257bb8a477886783da79beef562.html"  target="element">
				  		<area shape="rect" coords="497,358,632,425" href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html"  target="element">
				  		<area shape="rect" coords="123,424,258,491" href="../elements/id-7dbc7b5bb32e490288db22ca5b0b7ef7.html"  target="element">
				  		<area shape="rect" coords="125,286,270,335" href="../elements/id-f4f0843d5816447fb2308beb4ea374fe.html"  target="element">
				  		<area shape="rect" coords="821,190,942,266" href="../elements/id-35156c4c6e564640add0ee1bec30a3f4.html"  target="element">
				  		<area shape="rect" coords="533,190,678,266" href="../elements/id-2fe23b0e8da14e14864e95703445df87.html"  target="element">
				  		<area shape="rect" coords="365,190,510,266" href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html"  target="element">
				  		<area shape="rect" coords="125,166,270,227" href="../elements/id-aef1ab4addea4936b5cfb51e67dc6e4b.html"  target="element">
				  		<area shape="rect" coords="161,87,306,148" href="../elements/id-63b780cf1a8e4e829bea07d02d5bfe2b.html"  target="element">
				  		<area shape="rect" coords="221,10,366,71" href="../elements/id-fbf58b88a85647a19de0b78928ecefc4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fbf58b88a85647a19de0b78928ecefc4.html" target="element"> C7.2.2-1 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
											    <td> <a href="../elements/id-fbf58b88a85647a19de0b78928ecefc4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63b780cf1a8e4e829bea07d02d5bfe2b.html" target="element"> C7.2.2-2 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; Contact Center </a> </td>
											    <td> <a href="../elements/id-63b780cf1a8e4e829bea07d02d5bfe2b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aef1ab4addea4936b5cfb51e67dc6e4b.html" target="element"> C7.2.2-3 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; &#3585;&#3615;&#3615; &#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-aef1ab4addea4936b5cfb51e67dc6e4b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element"> C7.2.2-4 &#3626;&#3629;&#3610;&#3606;&#3634;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3592;&#3634;&#3585;&#3621;&#3641;&#3585;&#3588;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
											    <td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35156c4c6e564640add0ee1bec30a3f4.html" target="element"> C7.2.2-6 &#3649;&#3592;&#3657;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3585;&#3619;&#3603;&#3637; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3627;&#3657;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3607;&#3619;&#3634;&#3610; </a> </td>
											    <td> <a href="../elements/id-35156c4c6e564640add0ee1bec30a3f4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4f0843d5816447fb2308beb4ea374fe.html" target="element"> C7.2.2-7 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-f4f0843d5816447fb2308beb4ea374fe.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7dbc7b5bb32e490288db22ca5b0b7ef7.html" target="element"> DG-C10.2-02 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-7dbc7b5bb32e490288db22ca5b0b7ef7.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html" target="element"> DG-C13.1-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-946a0257bb8a477886783da79beef562.html" target="element"> DG-C08.3-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3649;&#3612;&#3609;&#3649;&#3592;&#3657;&#3591;&#3585;&#3634;&#3619; &#3604;&#3633;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-946a0257bb8a477886783da79beef562.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html" target="element"> CA030 &#3619;&#3632;&#3610;&#3610; PEA Smart Plus </a> </td>
											    <td> <a href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41cae6e39529471fb5bef5c400288e6c.html" target="element"> CA024 &#3619;&#3632;&#3610;&#3610;&#3624;&#3641;&#3609;&#3618;&#3660;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; / Contact Center 1129 </a> </td>
											    <td> <a href="../elements/id-41cae6e39529471fb5bef5c400288e6c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc35375e05554e65b4e0ef1385359903.html" target="element"> &#3619;&#3632;&#3610;&#3610; ISU </a> </td>
											    <td> <a href="../elements/id-bc35375e05554e65b4e0ef1385359903.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bf972fc096a4c3eb7038a4c7c5b10f9.html" target="element"> &#3619;&#3632;&#3610;&#3610; CSIS </a> </td>
											    <td> <a href="../elements/id-3bf972fc096a4c3eb7038a4c7c5b10f9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74cac2ce035644b0b5b332c508ff04de.html" target="element"> &#3619;&#3632;&#3610;&#3610; CKBS </a> </td>
											    <td> <a href="../elements/id-74cac2ce035644b0b5b332c508ff04de.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html" target="element"> Outage </a> </td>
											    <td> <a href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9817e82358b94d558b33724086ef632a.html" target="element"> &#3614;&#3610;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; </a> </td>
											    <td> <a href="../elements/id-9817e82358b94d558b33724086ef632a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
											    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
											    <td> <a href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ac57c2af8684ef88c7a663c0665ab50.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3626;&#3606;&#3634;&#3609;&#3637;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-6ac57c2af8684ef88c7a663c0665ab50.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e3ccc2fd87d4a4580569f7bf9a2e9e8.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3626;&#3634;&#3618;&#3626;&#3656;&#3591; </a> </td>
											    <td> <a href="../elements/id-2e3ccc2fd87d4a4580569f7bf9a2e9e8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-341bd0d6d6f34ca4a59bdbb2eb18eea9.html" target="element"> C7.2.2-4 </a> </td>
											    <td> <a href="../elements/id-341bd0d6d6f34ca4a59bdbb2eb18eea9.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3254fb87a0db45ad8b8658aafae066c8.html" target="element"> C7.2.2-5 </a> </td>
											    <td> <a href="../elements/id-3254fb87a0db45ad8b8658aafae066c8.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b45a6b4c3c0847ab9f212c10e1ed1773.html" target="element"> C6.1.4 &#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3592;&#3633;&#3604;&#3585;&#3634;&#3619;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3619;&#3632;&#3610;&#3610;&#3626;&#3634;&#3618;&#3626;&#3656;&#3591; </a> </td>
											    <td> <a href="../elements/id-b45a6b4c3c0847ab9f212c10e1ed1773.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4886a597bb6a4039a4b1b85fc47e751b.html" target="element"> C6.2.3 &#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3592;&#3633;&#3604;&#3585;&#3634;&#3619;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3626;&#3606;&#3634;&#3609;&#3637;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-4886a597bb6a4039a4b1b85fc47e751b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78c5e052eb0a4fbda6904bc7f680e6aa.html" target="element"> C6.3.3 &#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3592;&#3633;&#3604;&#3585;&#3634;&#3619;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3651;&#3609;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-78c5e052eb0a4fbda6904bc7f680e6aa.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609; EA Low Level-&#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609;&#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-5.pdf </a> </td>
											    <td> <a href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-727cc79019a045f286d8f0c28043ee85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-727cc79019a045f286d8f0c28043ee85.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63b780cf1a8e4e829bea07d02d5bfe2b.html" target="element"> C7.2.2-2 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; Contact Center </a> </td>
																		<td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element"> C7.2.2-4 &#3626;&#3629;&#3610;&#3606;&#3634;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3592;&#3634;&#3585;&#3621;&#3641;&#3585;&#3588;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33e8ae42b855473b9cd1da3b49abe7a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33e8ae42b855473b9cd1da3b49abe7a9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aef1ab4addea4936b5cfb51e67dc6e4b.html" target="element"> C7.2.2-3 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; &#3585;&#3615;&#3615; &#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-f4f0843d5816447fb2308beb4ea374fe.html" target="element"> C7.2.2-7 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-25992c1fd2354ee99c4f4b5cc5fd6279.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25992c1fd2354ee99c4f4b5cc5fd6279.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element"> C7.2.2-4 &#3626;&#3629;&#3610;&#3606;&#3634;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3592;&#3634;&#3585;&#3621;&#3641;&#3585;&#3588;&#3657;&#3634; </a> </td>
																		<td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8ac3b55723d94d94b11247e680c529e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ac3b55723d94d94b11247e680c529e7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-9817e82358b94d558b33724086ef632a.html" target="element"> &#3614;&#3610;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2922d9c2bacd4fd5b00cc35f6138e134.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2922d9c2bacd4fd5b00cc35f6138e134.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html" target="element"> DG-C13.1-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8870bb3effd49ce8fbd61ea3cb44335.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8870bb3effd49ce8fbd61ea3cb44335.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-946a0257bb8a477886783da79beef562.html" target="element"> DG-C08.3-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3649;&#3612;&#3609;&#3649;&#3592;&#3657;&#3591;&#3585;&#3634;&#3619; &#3604;&#3633;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aeeb552d7dcd49119395a023b2f4a82d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aeeb552d7dcd49119395a023b2f4a82d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-35156c4c6e564640add0ee1bec30a3f4.html" target="element"> C7.2.2-6 &#3649;&#3592;&#3657;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3585;&#3619;&#3603;&#3637; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3627;&#3657;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3607;&#3619;&#3634;&#3610; </a> </td>
																		<td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8935bba229e4024b514e33521dcf3f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8935bba229e4024b514e33521dcf3f0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4f0843d5816447fb2308beb4ea374fe.html" target="element"> C7.2.2-7 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ffa6da7b0f49429ab22aa22edf7c7fde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffa6da7b0f49429ab22aa22edf7c7fde.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-946a0257bb8a477886783da79beef562.html" target="element"> DG-C08.3-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3649;&#3612;&#3609;&#3649;&#3592;&#3657;&#3591;&#3585;&#3634;&#3619; &#3604;&#3633;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96d31988283a4f708819d60d996b858b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96d31988283a4f708819d60d996b858b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html" target="element"> CA030 &#3619;&#3632;&#3610;&#3610; PEA Smart Plus </a> </td>
																		<td> <a href="../elements/id-fbf58b88a85647a19de0b78928ecefc4.html" target="element"> C7.2.2-1 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d2799b431ca42ae9490adf012dfed4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d2799b431ca42ae9490adf012dfed4c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html" target="element"> CA030 &#3619;&#3632;&#3610;&#3610; PEA Smart Plus </a> </td>
																		<td> <a href="../elements/id-41cae6e39529471fb5bef5c400288e6c.html" target="element"> CA024 &#3619;&#3632;&#3610;&#3610;&#3624;&#3641;&#3609;&#3618;&#3660;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; / Contact Center 1129 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86db48bac175416994ebcd514dd63245.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86db48bac175416994ebcd514dd63245.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html" target="element"> CA030 &#3619;&#3632;&#3610;&#3610; PEA Smart Plus </a> </td>
																		<td> <a href="../elements/id-3bf972fc096a4c3eb7038a4c7c5b10f9.html" target="element"> &#3619;&#3632;&#3610;&#3610; CSIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bae53b8673964d4cbe606a780be85e41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bae53b8673964d4cbe606a780be85e41.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b034fb772ce54c83a79f20b9e79dfb26.html" target="element"> CA030 &#3619;&#3632;&#3610;&#3610; PEA Smart Plus </a> </td>
																		<td> <a href="../elements/id-7dbc7b5bb32e490288db22ca5b0b7ef7.html" target="element"> DG-C10.2-02 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e80245afff364ccfa3fc19e60d575159.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e80245afff364ccfa3fc19e60d575159.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-41cae6e39529471fb5bef5c400288e6c.html" target="element"> CA024 &#3619;&#3632;&#3610;&#3610;&#3624;&#3641;&#3609;&#3618;&#3660;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; / Contact Center 1129 </a> </td>
																		<td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element"> C7.2.2-4 &#3626;&#3629;&#3610;&#3606;&#3634;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3592;&#3634;&#3585;&#3621;&#3641;&#3585;&#3588;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a302ada8d3a044bc862013876f6b80fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a302ada8d3a044bc862013876f6b80fb.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc35375e05554e65b4e0ef1385359903.html" target="element"> &#3619;&#3632;&#3610;&#3610; ISU </a> </td>
																		<td> <a href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html" target="element"> DG-C13.1-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4bcc8259a76c4d619cd34171cc917ba5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bcc8259a76c4d619cd34171cc917ba5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bf972fc096a4c3eb7038a4c7c5b10f9.html" target="element"> &#3619;&#3632;&#3610;&#3610; CSIS </a> </td>
																		<td> <a href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html" target="element"> DG-C13.1-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0bda3f68731f4da4b2bbb6931a327044.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bda3f68731f4da4b2bbb6931a327044.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bf972fc096a4c3eb7038a4c7c5b10f9.html" target="element"> &#3619;&#3632;&#3610;&#3610; CSIS </a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e2e27fd0422341b4a74e238f5c8b61f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2e27fd0422341b4a74e238f5c8b61f7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74cac2ce035644b0b5b332c508ff04de.html" target="element"> &#3619;&#3632;&#3610;&#3610; CKBS </a> </td>
																		<td> <a href="../elements/id-e3bf7aacf4474f0db3d565a4bc59eb17.html" target="element"> DG-C13.1-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd8ddd278a404d96a879fa73139dc6e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd8ddd278a404d96a879fa73139dc6e9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html" target="element"> Outage </a> </td>
																		<td> <a href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7483168c5567482d982f0e275d127931.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7483168c5567482d982f0e275d127931.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-fbf58b88a85647a19de0b78928ecefc4.html" target="element"> C7.2.2-1 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcf992a8f8274daa9dc2448fcb8c6b54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcf992a8f8274daa9dc2448fcb8c6b54.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-63b780cf1a8e4e829bea07d02d5bfe2b.html" target="element"> C7.2.2-2 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; Contact Center </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f52ab501d864be383bf4295290523d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f52ab501d864be383bf4295290523d5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec13e2a4ee7049b79611ecace4341f55.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-aef1ab4addea4936b5cfb51e67dc6e4b.html" target="element"> C7.2.2-3 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; &#3585;&#3615;&#3615; &#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a9676c7e1474a33b74f4fdddb4dc2b2.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-1a9676c7e1474a33b74f4fdddb4dc2b2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9817e82358b94d558b33724086ef632a.html" target="element"> &#3614;&#3610;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; </a> </td>
																		<td> <a href="../elements/id-35156c4c6e564640add0ee1bec30a3f4.html" target="element"> C7.2.2-6 &#3649;&#3592;&#3657;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3585;&#3619;&#3603;&#3637; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3627;&#3657;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3607;&#3619;&#3634;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-195221daa24c407ab86a49c846594e7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-195221daa24c407ab86a49c846594e7c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9817e82358b94d558b33724086ef632a.html" target="element"> &#3614;&#3610;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; </a> </td>
																		<td> <a href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ccbf17c70cf94e0481cf92e9b1531d18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccbf17c70cf94e0481cf92e9b1531d18.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																		<td> <a href="../elements/id-fbf58b88a85647a19de0b78928ecefc4.html" target="element"> C7.2.2-1 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8aa6e4c58a04628b4d2084d13eff674.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8aa6e4c58a04628b4d2084d13eff674.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																		<td> <a href="../elements/id-63b780cf1a8e4e829bea07d02d5bfe2b.html" target="element"> C7.2.2-2 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; Contact Center </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0b2eded642142cf87a394ec77bbadea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b2eded642142cf87a394ec77bbadea.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																		<td> <a href="../elements/id-aef1ab4addea4936b5cfb51e67dc6e4b.html" target="element"> C7.2.2-3 &#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3612;&#3656;&#3634;&#3609; &#3585;&#3615;&#3615; &#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-54c14f787e844b3a96e450823a3ecd0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54c14f787e844b3a96e450823a3ecd0a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																		<td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element"> C7.2.2-4 &#3626;&#3629;&#3610;&#3606;&#3634;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3592;&#3634;&#3585;&#3621;&#3641;&#3585;&#3588;&#3657;&#3634; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12d65b23848d433bb8726af501cb7151.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12d65b23848d433bb8726af501cb7151.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																		<td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72c42731356649a68f9a95ca1532909f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72c42731356649a68f9a95ca1532909f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																		<td> <a href="../elements/id-9817e82358b94d558b33724086ef632a.html" target="element"> &#3614;&#3610;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-677b46345c5e42e7bb39c6cbe6c94aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-677b46345c5e42e7bb39c6cbe6c94aad.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																		<td> <a href="../elements/id-35156c4c6e564640add0ee1bec30a3f4.html" target="element"> C7.2.2-6 &#3649;&#3592;&#3657;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3585;&#3619;&#3603;&#3637; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610; &#3651;&#3627;&#3657;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3607;&#3619;&#3634;&#3610; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5a0218f855bf469184c6bdd7e34d86d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a0218f855bf469184c6bdd7e34d86d1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-f4f0843d5816447fb2308beb4ea374fe.html" target="element"> C7.2.2-7 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c0a724c15444f50af73f359ab414f42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c0a724c15444f50af73f359ab414f42.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																		<td> <a href="../elements/id-6ac57c2af8684ef88c7a663c0665ab50.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3626;&#3606;&#3634;&#3609;&#3637;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab160e4f00354d15acb970ce2981df1f.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-ab160e4f00354d15acb970ce2981df1f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aec03e959aaf4f4c877d478a26a0ee38.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																		<td> <a href="../elements/id-78c5e052eb0a4fbda6904bc7f680e6aa.html" target="element"> C6.3.3 &#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3592;&#3633;&#3604;&#3585;&#3634;&#3619;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3651;&#3609;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9b584eec0fe4b56ac67c5be25a422a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9b584eec0fe4b56ac67c5be25a422a9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ac57c2af8684ef88c7a663c0665ab50.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3626;&#3606;&#3634;&#3609;&#3637;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																		<td> <a href="../elements/id-2e3ccc2fd87d4a4580569f7bf9a2e9e8.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3626;&#3634;&#3618;&#3626;&#3656;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f89721b84e9460290458fd02708d241.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-2f89721b84e9460290458fd02708d241.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ac57c2af8684ef88c7a663c0665ab50.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3626;&#3606;&#3634;&#3609;&#3637;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																		<td> <a href="../elements/id-4886a597bb6a4039a4b1b85fc47e751b.html" target="element"> C6.2.3 &#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3592;&#3633;&#3604;&#3585;&#3634;&#3619;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3626;&#3606;&#3634;&#3609;&#3637;&#3652;&#3615;&#3615;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9266fb48b2254eb0925feea45c52c8ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9266fb48b2254eb0925feea45c52c8ed.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e3ccc2fd87d4a4580569f7bf9a2e9e8.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3626;&#3634;&#3618;&#3626;&#3656;&#3591; </a> </td>
																		<td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c944f24ccb254c8b84ed038ff2820e63.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-c944f24ccb254c8b84ed038ff2820e63.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e3ccc2fd87d4a4580569f7bf9a2e9e8.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3619;&#3632;&#3610;&#3610;&#3626;&#3634;&#3618;&#3626;&#3656;&#3591; </a> </td>
																		<td> <a href="../elements/id-b45a6b4c3c0847ab9f212c10e1ed1773.html" target="element"> C6.1.4 &#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3592;&#3633;&#3604;&#3585;&#3634;&#3619;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3619;&#3632;&#3610;&#3610;&#3626;&#3634;&#3618;&#3626;&#3656;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-429ef208ba9d4661b7059815c065df5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-429ef208ba9d4661b7059815c065df5c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-341bd0d6d6f34ca4a59bdbb2eb18eea9.html" target="element"> C7.2.2-4 </a> </td>
																		<td> <a href="../elements/id-ab69e3929c644a858b3c3f495931e3fc.html" target="element"> C7.2.2-4 &#3626;&#3629;&#3610;&#3606;&#3634;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640; &#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3592;&#3634;&#3585;&#3621;&#3641;&#3585;&#3588;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eb3ace50f3c3483ba88ed19bf07fed15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb3ace50f3c3483ba88ed19bf07fed15.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3254fb87a0db45ad8b8658aafae066c8.html" target="element"> C7.2.2-5 </a> </td>
																		<td> <a href="../elements/id-2fe23b0e8da14e14864e95703445df87.html" target="element"> C7.2.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3633;&#3610;&#3648;&#3610;&#3639;&#3657;&#3629;&#3591;&#3605;&#3657;&#3609; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>