<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04-Wk-Mar10</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04-Wk-Mar10</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d39b4374b61d4df98cfe91672beebb86.png" alt="04-Wk-Mar10" usemap="#id-d39b4374b61d4df98cfe91672beebb86map"/>
			   <map name="id-d39b4374b61d4df98cfe91672beebb86map">
				  		<area shape="rect" coords="406,346,606,383" href="../elements/id-1b9eef3df21547a397f2f5004382c49a.html"  target="element">
				  		<area shape="rect" coords="406,298,606,335" href="../elements/id-e7eda665235b47269a0cf28531d35301.html"  target="element">
				  		<area shape="rect" coords="406,250,606,287" href="../elements/id-a26695e63c3847fa986ed97c95e51e91.html"  target="element">
				  		<area shape="rect" coords="10,346,251,383" href="../elements/id-84e8f83ca2534e2e8ad196e1a5e27fcf.html"  target="element">
				  		<area shape="rect" coords="10,250,251,287" href="../elements/id-a91cd13de54048bfb811569f30f9ad99.html"  target="element">
				  		<area shape="rect" coords="10,298,251,335" href="../elements/id-4482866ffe0d473dab3e0412b5019fca.html"  target="element">
				  		<area shape="rect" coords="406,202,606,239" href="../elements/id-05bb96a35acf477ea85f394fcab2f73f.html"  target="element">
				  		<area shape="rect" coords="406,154,606,191" href="../elements/id-add6e35c632c4c2ca220ef1853257938.html"  target="element">
				  		<area shape="rect" coords="406,106,606,143" href="../elements/id-ca39dace670d41dba2eb655454b9b233.html"  target="element">
				  		<area shape="rect" coords="406,58,606,95" href="../elements/id-b1b806a9b639456f90753cb477471a51.html"  target="element">
				  		<area shape="rect" coords="406,10,606,47" href="../elements/id-548c9630243146f19dd253989ebea42a.html"  target="element">
				  		<area shape="rect" coords="10,202,251,239" href="../elements/id-2ba07ea535fa456487d827eb2df86662.html"  target="element">
				  		<area shape="rect" coords="10,106,251,143" href="../elements/id-db599c1297fc4320850a8f52bab5c451.html"  target="element">
				  		<area shape="rect" coords="10,154,251,191" href="../elements/id-3c1d984d2fd24c3cb0efc6b711b13005.html"  target="element">
				  		<area shape="rect" coords="10,58,251,95" href="../elements/id-aed1615dc3cf4869aab05457b7ec9e2d.html"  target="element">
				  		<area shape="rect" coords="10,10,251,47" href="../elements/id-9ce785d55fd944068ac58be8d880b9b5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3585;&#3636;&#3592;&#3585;&#3619;&#3619;&#3617;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591;&#3623;&#3633;&#3609;&#3607;&#3637;&#3656; 3 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617; &#3606;&#3638;&#3591; 10 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9ce785d55fd944068ac58be8d880b9b5.html" target="element">    3 Mar 2023 : &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3656;&#3634;&#3591;&#3650;&#3617;&#3648;&#3604;&#3655;&#3621;&#3619;&#3634;&#3588;&#3634; </a> </td>
											    <td> <a href="../elements/id-9ce785d55fd944068ac58be8d880b9b5.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aed1615dc3cf4869aab05457b7ec9e2d.html" target="element">    3 Mar 2023 : &#3619;&#3656;&#3634;&#3591;&#3615;&#3633;&#3591;&#3594;&#3633;&#3656;&#3609; OMS (Scott) </a> </td>
											    <td> <a href="../elements/id-aed1615dc3cf4869aab05457b7ec9e2d.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c1d984d2fd24c3cb0efc6b711b13005.html" target="element">    9 Mar 2023 : &#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634;&#3611;&#3619;&#3632;&#3592;&#3635;&#3648;&#3604;&#3639;&#3629;&#3609; </a> </td>
											    <td> <a href="../elements/id-3c1d984d2fd24c3cb0efc6b711b13005.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db599c1297fc4320850a8f52bab5c451.html" target="element">    8 Mar 2023 : &#3627;&#3634;&#3619;&#3639;&#3629; SI : Precise </a> </td>
											    <td> <a href="../elements/id-db599c1297fc4320850a8f52bab5c451.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ba07ea535fa456487d827eb2df86662.html" target="element">    9 Mar 2023 : &#3627;&#3634;&#3619;&#3639;&#3629; EAM </a> </td>
											    <td> <a href="../elements/id-2ba07ea535fa456487d827eb2df86662.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-548c9630243146f19dd253989ebea42a.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3650;&#3617;&#3648;&#3604;&#3655;&#3621;&#3619;&#3634;&#3588;&#3634; </a> </td>
											    <td> <a href="../elements/id-548c9630243146f19dd253989ebea42a.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1b806a9b639456f90753cb477471a51.html" target="element"> &#3615;&#3633;&#3591;&#3594;&#3633;&#3656;&#3609;&#3626;&#3648;&#3611;&#3655;&#3585; OMS </a> </td>
											    <td> <a href="../elements/id-b1b806a9b639456f90753cb477471a51.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca39dace670d41dba2eb655454b9b233.html" target="element"> &#3586;&#3629;&#3619;&#3634;&#3588;&#3634; &#3629;&#3657;&#3634;&#3591;&#3629;&#3636;&#3591; </a> </td>
											    <td> <a href="../elements/id-ca39dace670d41dba2eb655454b9b233.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-add6e35c632c4c2ca220ef1853257938.html" target="element"> &#3626;&#3619;&#3640;&#3611;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-add6e35c632c4c2ca220ef1853257938.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-05bb96a35acf477ea85f394fcab2f73f.html" target="element"> &#3619;&#3632;&#3610;&#3610; EAM &#3618;&#3633;&#3591;&#3652;&#3617;&#3656;&#3594;&#3633;&#3604;&#3648;&#3592;&#3609; </a> </td>
											    <td> <a href="../elements/id-05bb96a35acf477ea85f394fcab2f73f.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4482866ffe0d473dab3e0412b5019fca.html" target="element">    10 Mar 2023 : Smart Grid (AMI) </a> </td>
											    <td> <a href="../elements/id-4482866ffe0d473dab3e0412b5019fca.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a91cd13de54048bfb811569f30f9ad99.html" target="element">    10 Mar 2023 : MWM </a> </td>
											    <td> <a href="../elements/id-a91cd13de54048bfb811569f30f9ad99.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84e8f83ca2534e2e8ad196e1a5e27fcf.html" target="element">    10 Mar 2023 : ITiDC </a> </td>
											    <td> <a href="../elements/id-84e8f83ca2534e2e8ad196e1a5e27fcf.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a26695e63c3847fa986ed97c95e51e91.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; MWM </a> </td>
											    <td> <a href="../elements/id-a26695e63c3847fa986ed97c95e51e91.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7eda665235b47269a0cf28531d35301.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; AMI </a> </td>
											    <td> <a href="../elements/id-e7eda665235b47269a0cf28531d35301.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b9eef3df21547a397f2f5004382c49a.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; ITiDC </a> </td>
											    <td> <a href="../elements/id-1b9eef3df21547a397f2f5004382c49a.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-eb2250ba2676452490afede5dda6ea0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb2250ba2676452490afede5dda6ea0f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ce785d55fd944068ac58be8d880b9b5.html" target="element">    3 Mar 2023 : &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3656;&#3634;&#3591;&#3650;&#3617;&#3648;&#3604;&#3655;&#3621;&#3619;&#3634;&#3588;&#3634; </a> </td>
																		<td> <a href="../elements/id-548c9630243146f19dd253989ebea42a.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3650;&#3617;&#3648;&#3604;&#3655;&#3621;&#3619;&#3634;&#3588;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-538d218cd4bd48f2b434f3ad6162dcc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-538d218cd4bd48f2b434f3ad6162dcc1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aed1615dc3cf4869aab05457b7ec9e2d.html" target="element">    3 Mar 2023 : &#3619;&#3656;&#3634;&#3591;&#3615;&#3633;&#3591;&#3594;&#3633;&#3656;&#3609; OMS (Scott) </a> </td>
																		<td> <a href="../elements/id-b1b806a9b639456f90753cb477471a51.html" target="element"> &#3615;&#3633;&#3591;&#3594;&#3633;&#3656;&#3609;&#3626;&#3648;&#3611;&#3655;&#3585; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-952b5dbba6a54fa3a9c9deed7b6190d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-952b5dbba6a54fa3a9c9deed7b6190d0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c1d984d2fd24c3cb0efc6b711b13005.html" target="element">    9 Mar 2023 : &#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634;&#3611;&#3619;&#3632;&#3592;&#3635;&#3648;&#3604;&#3639;&#3629;&#3609; </a> </td>
																		<td> <a href="../elements/id-add6e35c632c4c2ca220ef1853257938.html" target="element"> &#3626;&#3619;&#3640;&#3611;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3443b2f7e90a45f3a9edc541c6b9b685.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3443b2f7e90a45f3a9edc541c6b9b685.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db599c1297fc4320850a8f52bab5c451.html" target="element">    8 Mar 2023 : &#3627;&#3634;&#3619;&#3639;&#3629; SI : Precise </a> </td>
																		<td> <a href="../elements/id-ca39dace670d41dba2eb655454b9b233.html" target="element"> &#3586;&#3629;&#3619;&#3634;&#3588;&#3634; &#3629;&#3657;&#3634;&#3591;&#3629;&#3636;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4ada200af0cc446483878d574339927f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ada200af0cc446483878d574339927f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ba07ea535fa456487d827eb2df86662.html" target="element">    9 Mar 2023 : &#3627;&#3634;&#3619;&#3639;&#3629; EAM </a> </td>
																		<td> <a href="../elements/id-05bb96a35acf477ea85f394fcab2f73f.html" target="element"> &#3619;&#3632;&#3610;&#3610; EAM &#3618;&#3633;&#3591;&#3652;&#3617;&#3656;&#3594;&#3633;&#3604;&#3648;&#3592;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0405e2908da44995880cfed58360416f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0405e2908da44995880cfed58360416f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4482866ffe0d473dab3e0412b5019fca.html" target="element">    10 Mar 2023 : Smart Grid (AMI) </a> </td>
																		<td> <a href="../elements/id-e7eda665235b47269a0cf28531d35301.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2d8fdbe612de4e25abda972e65a89ff3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d8fdbe612de4e25abda972e65a89ff3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a91cd13de54048bfb811569f30f9ad99.html" target="element">    10 Mar 2023 : MWM </a> </td>
																		<td> <a href="../elements/id-a26695e63c3847fa986ed97c95e51e91.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; MWM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8cd46e795f914cfe85a33221c90a69bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cd46e795f914cfe85a33221c90a69bb.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84e8f83ca2534e2e8ad196e1a5e27fcf.html" target="element">    10 Mar 2023 : ITiDC </a> </td>
																		<td> <a href="../elements/id-1b9eef3df21547a397f2f5004382c49a.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; ITiDC </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>