<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ADMS</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ADMS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1eafa6e936724ec7bb8cc62ff7a0dd1a.png" alt="ADMS" usemap="#id-1eafa6e936724ec7bb8cc62ff7a0dd1amap"/>
			   <map name="id-1eafa6e936724ec7bb8cc62ff7a0dd1amap">
				  		        <area shape="rect" coords="404,380,534,420" href="../objects/id-046dcbd5c7874417947ef20bca8b7956.html" target="element" >

				  		<area shape="rect" coords="392,334,548,467" href="../elements/id-8ff6abe6ef3242a2a2ea87c5a850e708.html"  target="element">
				  		        <area shape="rect" coords="22,222,154,275" href="../objects/id-765f7be0ddc04aa7a24dcdda0cca43ba.html" target="element" >

				  		<area shape="rect" coords="10,174,167,315" href="../elements/id-f15ba4dfd1ea4574aa8f6b5e08261bd4.html"  target="element">
				  		        <area shape="rect" coords="218,374,335,447" href="../objects/id-0458d3a5d8a3452b9d104ba9907dfdef.html" target="element" >

				  		<area shape="rect" coords="204,334,357,467" href="../elements/id-a4686e3e92a541fa92bbaa51d37216f5.html"  target="element">
				  		        <area shape="rect" coords="45,363,138,458" href="../objects/id-a2ecf95da051443caa56a557a7c87d36.html" target="element" >

				  		<area shape="rect" coords="10,334,166,467" href="../elements/id-60528fcf50ba41cf9a0114227f70c0b7.html"  target="element">
				  		        <area shape="rect" coords="409,70,539,140" href="../objects/id-9213db1bc05a4f1691f3f9e9209a7fa8.html" target="element" >

				  		<area shape="rect" coords="394,10,546,156" href="../elements/id-a7831ace75444095bf478c514434005e.html"  target="element">
				  		        <area shape="rect" coords="403,224,533,264" href="../objects/id-7f526203a2014a80aaa35e05915d816a.html" target="element" >

				  		<area shape="rect" coords="391,174,547,315" href="../elements/id-27487efdbab341bebfff286e8d1b5bfe.html"  target="element">
				  		        <area shape="rect" coords="206,234,356,264" href="../objects/id-dfbfe945f6df444e8e4695d3db711bd6.html" target="element" >

				  		<area shape="rect" coords="202,174,360,315" href="../elements/id-720a58edc3584f91a17fa0a6725ff0fd.html"  target="element">
				  		        <area shape="rect" coords="208,56,351,125" href="../objects/id-ad7716a72b23405b8d3d28bfa8c8153e.html" target="element" >

				  		<area shape="rect" coords="202,10,360,155" href="../elements/id-ac265f29899e4763a81e7342ee15008e.html"  target="element">
				  		        <area shape="rect" coords="20,74,156,98" href="../objects/id-58e808ef24a1491db1e9f5680bcc6053.html" target="element" >

				  		<area shape="rect" coords="10,10,167,155" href="../elements/id-a9a18e14ed6f46fe9878c561acbc2fa0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a9a18e14ed6f46fe9878c561acbc2fa0.html" target="element"> Survalent ONE ADMS </a> </td>
											    <td> <a href="../elements/id-a9a18e14ed6f46fe9878c561acbc2fa0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-58e808ef24a1491db1e9f5680bcc6053.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-58e808ef24a1491db1e9f5680bcc6053.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-ac265f29899e4763a81e7342ee15008e.html" target="element"> ACS PRISM ADMS </a> </td>
											    <td> <a href="../elements/id-ac265f29899e4763a81e7342ee15008e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-ad7716a72b23405b8d3d28bfa8c8153e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ad7716a72b23405b8d3d28bfa8c8153e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-720a58edc3584f91a17fa0a6725ff0fd.html" target="element"> OSI Spectra ADMS </a> </td>
											    <td> <a href="../elements/id-720a58edc3584f91a17fa0a6725ff0fd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-dfbfe945f6df444e8e4695d3db711bd6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-dfbfe945f6df444e8e4695d3db711bd6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-27487efdbab341bebfff286e8d1b5bfe.html" target="element"> Schneider Electric - ADMS </a> </td>
											    <td> <a href="../elements/id-27487efdbab341bebfff286e8d1b5bfe.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-7f526203a2014a80aaa35e05915d816a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7f526203a2014a80aaa35e05915d816a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-a7831ace75444095bf478c514434005e.html" target="element"> Oracle Utilities Network Management System </a> </td>
											    <td> <a href="../elements/id-a7831ace75444095bf478c514434005e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-9213db1bc05a4f1691f3f9e9209a7fa8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9213db1bc05a4f1691f3f9e9209a7fa8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-60528fcf50ba41cf9a0114227f70c0b7.html" target="element"> GE e-terra ADMS </a> </td>
											    <td> <a href="../elements/id-60528fcf50ba41cf9a0114227f70c0b7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-a2ecf95da051443caa56a557a7c87d36.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a2ecf95da051443caa56a557a7c87d36.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-a4686e3e92a541fa92bbaa51d37216f5.html" target="element"> Siemens Spectrum Power ADMS </a> </td>
											    <td> <a href="../elements/id-a4686e3e92a541fa92bbaa51d37216f5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0458d3a5d8a3452b9d104ba9907dfdef.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0458d3a5d8a3452b9d104ba9907dfdef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-f15ba4dfd1ea4574aa8f6b5e08261bd4.html" target="element"> ABB Network Manager ADMS </a> </td>
											    <td> <a href="../elements/id-f15ba4dfd1ea4574aa8f6b5e08261bd4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-765f7be0ddc04aa7a24dcdda0cca43ba.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-765f7be0ddc04aa7a24dcdda0cca43ba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-8ff6abe6ef3242a2a2ea87c5a850e708.html" target="element"> Trimble Outage Management Suite </a> </td>
											    <td> <a href="../elements/id-8ff6abe6ef3242a2a2ea87c5a850e708.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-046dcbd5c7874417947ef20bca8b7956.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-046dcbd5c7874417947ef20bca8b7956.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>