<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07-DT-EAM</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07-DT-EAM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3d3fa7bfdc0d4f1fbcb31b45df25caa6.png" alt="07-DT-EAM" usemap="#id-3d3fa7bfdc0d4f1fbcb31b45df25caa6map"/>
			   <map name="id-3d3fa7bfdc0d4f1fbcb31b45df25caa6map">
				  		<area shape="rect" coords="180,11,300,66" href="../elements/id-29a098e0834e4282b44c151265a7515c.html"  target="element">
				  		<area shape="rect" coords="10,115,130,170" href="../elements/id-3cdc64fe9d734d188da95281179f8ddd.html"  target="element">
				  		<area shape="rect" coords="180,96,300,189" href="../elements/id-e04c578c94bd42588943073fbab2726d.html"  target="element">
				  		<area shape="rect" coords="360,104,480,181" href="../elements/id-b137e01975384282873c4479243b3b47.html"  target="element">
				  		<area shape="rect" coords="360,11,480,66" href="../elements/id-38f73bd2d1ac4e1496645e03ca7d28b4.html"  target="element">
				  		<area shape="rect" coords="539,227,659,282" href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html"  target="element">
				  		<area shape="rect" coords="360,227,480,282" href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html"  target="element">
				  		<area shape="rect" coords="542,112,662,167" href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html"  target="element">
				  		<area shape="rect" coords="540,10,658,67" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				          <area shape="rect" coords="10,20,95,57" href="../objects/id-0b7518b2288a4b1c974dc04b5862994e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-0b7518b2288a4b1c974dc04b5862994e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0b7518b2288a4b1c974dc04b5862994e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
											    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
											    <td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element"> PEA CIM Profile Creation </a> </td>
											    <td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38f73bd2d1ac4e1496645e03ca7d28b4.html" target="element"> EAM Data </a> </td>
											    <td> <a href="../elements/id-38f73bd2d1ac4e1496645e03ca7d28b4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b137e01975384282873c4479243b3b47.html" target="element"> [standard] PEA CIM based EAM Data Model </a> </td>
											    <td> <a href="../elements/id-b137e01975384282873c4479243b3b47.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e04c578c94bd42588943073fbab2726d.html" target="element"> AMI to/from PEA CIM based EAM data model Conversion </a> </td>
											    <td> <a href="../elements/id-e04c578c94bd42588943073fbab2726d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cdc64fe9d734d188da95281179f8ddd.html" target="element"> PEA EAM Data Model </a> </td>
											    <td> <a href="../elements/id-3cdc64fe9d734d188da95281179f8ddd.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-05e73a227971419f965e639bd202ad34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05e73a227971419f965e639bd202ad34.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-38f73bd2d1ac4e1496645e03ca7d28b4.html" target="element"> EAM Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0354b71c88ab40389825cd12e3f9c2bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0354b71c88ab40389825cd12e3f9c2bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58f79677abee45b790ec45e3188bbc09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58f79677abee45b790ec45e3188bbc09.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element"> PEA CIM Profile Creation </a> </td>
																		<td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-366c1a46585b47a8886eda539543950c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-366c1a46585b47a8886eda539543950c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b137e01975384282873c4479243b3b47.html" target="element"> [standard] PEA CIM based EAM Data Model </a> </td>
																		<td> <a href="../elements/id-38f73bd2d1ac4e1496645e03ca7d28b4.html" target="element"> EAM Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-826c8203c26f4c1b9add056dc767e8a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-826c8203c26f4c1b9add056dc767e8a0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b137e01975384282873c4479243b3b47.html" target="element"> [standard] PEA CIM based EAM Data Model </a> </td>
																		<td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9a33054527cd40e4bcd10d5b5f42c1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a33054527cd40e4bcd10d5b5f42c1b9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e04c578c94bd42588943073fbab2726d.html" target="element"> AMI to/from PEA CIM based EAM data model Conversion </a> </td>
																		<td> <a href="../elements/id-b137e01975384282873c4479243b3b47.html" target="element"> [standard] PEA CIM based EAM Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11e58d1d2a5247f8b1dde7861f7e59a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11e58d1d2a5247f8b1dde7861f7e59a3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e04c578c94bd42588943073fbab2726d.html" target="element"> AMI to/from PEA CIM based EAM data model Conversion </a> </td>
																		<td> <a href="../elements/id-3cdc64fe9d734d188da95281179f8ddd.html" target="element"> PEA EAM Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62115879d2e1449ea38359bcf02cd7b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62115879d2e1449ea38359bcf02cd7b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e04c578c94bd42588943073fbab2726d.html" target="element"> AMI to/from PEA CIM based EAM data model Conversion </a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>