<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03.org-concept</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03.org-concept</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-538b193765fd4caaa8100de664ed2355.png" alt="03.org-concept" usemap="#id-538b193765fd4caaa8100de664ed2355map"/>
			   <map name="id-538b193765fd4caaa8100de664ed2355map">
				  		<area shape="rect" coords="262,346,419,401" href="../elements/id-2c5b6a9670264034ac9779d33bc8e1cb.html"  target="element">
				  		<area shape="rect" coords="262,262,419,317" href="../elements/id-b7abed3642cd47a68f917390b87bb337.html"  target="element">
				  		<area shape="rect" coords="262,178,419,233" href="../elements/id-1937ec6abc8743b78a4cef0e668cb67a.html"  target="element">
				  		<area shape="rect" coords="262,94,419,149" href="../elements/id-2f1b98285ac04968ac55070f407d4e8d.html"  target="element">
				  		<area shape="rect" coords="262,10,419,65" href="../elements/id-4cea037a3d8949288a90f504326e2bc5.html"  target="element">
				  		<area shape="rect" coords="10,10,143,65" href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element"> PEA Office </a> </td>
											    <td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4cea037a3d8949288a90f504326e2bc5.html" target="element"> PEA Office Level 1 </a> </td>
											    <td> <a href="../elements/id-4cea037a3d8949288a90f504326e2bc5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f1b98285ac04968ac55070f407d4e8d.html" target="element"> PEA Office Level 2 </a> </td>
											    <td> <a href="../elements/id-2f1b98285ac04968ac55070f407d4e8d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1937ec6abc8743b78a4cef0e668cb67a.html" target="element"> PEA Office Level 3 </a> </td>
											    <td> <a href="../elements/id-1937ec6abc8743b78a4cef0e668cb67a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7abed3642cd47a68f917390b87bb337.html" target="element"> PEA Office Branch </a> </td>
											    <td> <a href="../elements/id-b7abed3642cd47a68f917390b87bb337.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c5b6a9670264034ac9779d33bc8e1cb.html" target="element"> PEA Office Sub-branch </a> </td>
											    <td> <a href="../elements/id-2c5b6a9670264034ac9779d33bc8e1cb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fbd1bd8fe9e4415d8ae9d020a7a69c2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbd1bd8fe9e4415d8ae9d020a7a69c2c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cea037a3d8949288a90f504326e2bc5.html" target="element"> PEA Office Level 1 </a> </td>
																		<td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element"> PEA Office </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e4a6ec5cc824921bffdaa06d5efe8ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e4a6ec5cc824921bffdaa06d5efe8ed.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f1b98285ac04968ac55070f407d4e8d.html" target="element"> PEA Office Level 2 </a> </td>
																		<td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element"> PEA Office </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-727baad968084a57b5978b121357fd8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-727baad968084a57b5978b121357fd8a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1937ec6abc8743b78a4cef0e668cb67a.html" target="element"> PEA Office Level 3 </a> </td>
																		<td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element"> PEA Office </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-347c9927f736448186778e6312949b54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-347c9927f736448186778e6312949b54.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7abed3642cd47a68f917390b87bb337.html" target="element"> PEA Office Branch </a> </td>
																		<td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element"> PEA Office </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f885d1fc39a14a06bc69c77b6faee9b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f885d1fc39a14a06bc69c77b6faee9b9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c5b6a9670264034ac9779d33bc8e1cb.html" target="element"> PEA Office Sub-branch </a> </td>
																		<td> <a href="../elements/id-061a0ec8f6bd4fef87f97e1c7808f20b.html" target="element"> PEA Office </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>