<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>08-Motivation</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>08-Motivation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-63daf76abb2c478aa42074f3f2e88791.png" alt="08-Motivation" usemap="#id-63daf76abb2c478aa42074f3f2e88791map"/>
			   <map name="id-63daf76abb2c478aa42074f3f2e88791map">
				  		<area shape="rect" coords="862,10,982,65" href="../elements/id-6b6c3cfaf2824a1f8589b4118a38f8d8.html"  target="element">
				  		<area shape="rect" coords="862,214,982,269" href="../elements/id-ce89405b44854730b2b4dfa8978586b9.html"  target="element">
				  		<area shape="rect" coords="862,94,982,149" href="../elements/id-b6d07b387c7b44d39d106c49773536b8.html"  target="element">
				  		<area shape="rect" coords="658,10,778,65" href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html"  target="element">
				  		<area shape="rect" coords="682,160,827,215" href="../elements/id-83185963ec344979829b518b81f8cee1.html"  target="element">
				  		<area shape="rect" coords="473,202,593,257" href="../elements/id-29a098e0834e4282b44c151265a7515c.html"  target="element">
				  		<area shape="rect" coords="473,106,593,161" href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html"  target="element">
				  		<area shape="rect" coords="473,10,593,65" href="../elements/id-401f96bccd8642a69dddf07361a32285.html"  target="element">
				  		<area shape="rect" coords="214,202,383,257" href="../elements/id-00bd557fd09c433f9f7c9a7f8f81f5e1.html"  target="element">
				  		<area shape="rect" coords="214,106,383,161" href="../elements/id-09e7095314b3489fa666201fbf7fd337.html"  target="element">
				  		<area shape="rect" coords="214,10,383,65" href="../elements/id-f1ad5dad9c5f4ef39043372d5508c88f.html"  target="element">
				  		<area shape="rect" coords="10,178,155,233" href="../elements/id-d67616a936b544b28af2bd978d108c3d.html"  target="element">
				  		<area shape="rect" coords="10,268,155,323" href="../elements/id-18e29fbc9a2046a18d0025ed7ad80947.html"  target="element">
				  		<area shape="rect" coords="10,106,155,161" href="../elements/id-c11c43c440b545259e12c8eadaaa908c.html"  target="element">
				  		<area shape="rect" coords="10,10,155,65" href="../elements/id-685917e624e5430da25ed44fffebc066.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-685917e624e5430da25ed44fffebc066.html" target="element"> OMS GUI is too complicated </a> </td>
											    <td> <a href="../elements/id-685917e624e5430da25ed44fffebc066.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c11c43c440b545259e12c8eadaaa908c.html" target="element"> Low quality Grid Model Data </a> </td>
											    <td> <a href="../elements/id-c11c43c440b545259e12c8eadaaa908c.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18e29fbc9a2046a18d0025ed7ad80947.html" target="element"> OMS is in CBS ends Mar 2025 </a> </td>
											    <td> <a href="../elements/id-18e29fbc9a2046a18d0025ed7ad80947.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d67616a936b544b28af2bd978d108c3d.html" target="element"> Make OMS independent from CBS </a> </td>
											    <td> <a href="../elements/id-d67616a936b544b28af2bd978d108c3d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1ad5dad9c5f4ef39043372d5508c88f.html" target="element"> OMS is Hard to Use </a> </td>
											    <td> <a href="../elements/id-f1ad5dad9c5f4ef39043372d5508c88f.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-09e7095314b3489fa666201fbf7fd337.html" target="element"> Enhance Grid Model Quality (MV+LV) </a> </td>
											    <td> <a href="../elements/id-09e7095314b3489fa666201fbf7fd337.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00bd557fd09c433f9f7c9a7f8f81f5e1.html" target="element"> OMS need to be isolated and efficiently connected </a> </td>
											    <td> <a href="../elements/id-00bd557fd09c433f9f7c9a7f8f81f5e1.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-401f96bccd8642a69dddf07361a32285.html" target="element"> User Experiences Satisfaction </a> </td>
											    <td> <a href="../elements/id-401f96bccd8642a69dddf07361a32285.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element"> Better Grid Model Data Quality </a> </td>
											    <td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83185963ec344979829b518b81f8cee1.html" target="element"> Outage Management Satisfaction </a> </td>
											    <td> <a href="../elements/id-83185963ec344979829b518b81f8cee1.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html" target="element"> OMS Efficient Utilization </a> </td>
											    <td> <a href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6d07b387c7b44d39d106c49773536b8.html" target="element"> Data Quality Measure </a> </td>
											    <td> <a href="../elements/id-b6d07b387c7b44d39d106c49773536b8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce89405b44854730b2b4dfa8978586b9.html" target="element"> Measure of Data Exchange </a> </td>
											    <td> <a href="../elements/id-ce89405b44854730b2b4dfa8978586b9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b6c3cfaf2824a1f8589b4118a38f8d8.html" target="element"> OMS Utilization Measure </a> </td>
											    <td> <a href="../elements/id-6b6c3cfaf2824a1f8589b4118a38f8d8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-520ae4f2645d494fb70eeed437c369a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-520ae4f2645d494fb70eeed437c369a4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-685917e624e5430da25ed44fffebc066.html" target="element"> OMS GUI is too complicated </a> </td>
																		<td> <a href="../elements/id-f1ad5dad9c5f4ef39043372d5508c88f.html" target="element"> OMS is Hard to Use </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d785e4ae8eeb45e6b20777ffcc6a45c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d785e4ae8eeb45e6b20777ffcc6a45c6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c11c43c440b545259e12c8eadaaa908c.html" target="element"> Low quality Grid Model Data </a> </td>
																		<td> <a href="../elements/id-09e7095314b3489fa666201fbf7fd337.html" target="element"> Enhance Grid Model Quality (MV+LV) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-587a7373928e451390daa3a561af3c8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-587a7373928e451390daa3a561af3c8b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-18e29fbc9a2046a18d0025ed7ad80947.html" target="element"> OMS is in CBS ends Mar 2025 </a> </td>
																		<td> <a href="../elements/id-00bd557fd09c433f9f7c9a7f8f81f5e1.html" target="element"> OMS need to be isolated and efficiently connected </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a240bc6ed36e402e8f822e51e76e0df6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a240bc6ed36e402e8f822e51e76e0df6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d67616a936b544b28af2bd978d108c3d.html" target="element"> Make OMS independent from CBS </a> </td>
																		<td> <a href="../elements/id-00bd557fd09c433f9f7c9a7f8f81f5e1.html" target="element"> OMS need to be isolated and efficiently connected </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d3cf7e4905e41ddba9c9dbcf739be53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d3cf7e4905e41ddba9c9dbcf739be53.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f1ad5dad9c5f4ef39043372d5508c88f.html" target="element"> OMS is Hard to Use </a> </td>
																		<td> <a href="../elements/id-401f96bccd8642a69dddf07361a32285.html" target="element"> User Experiences Satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fe5f04593e7540369074943900f7e25b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe5f04593e7540369074943900f7e25b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09e7095314b3489fa666201fbf7fd337.html" target="element"> Enhance Grid Model Quality (MV+LV) </a> </td>
																		<td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element"> Better Grid Model Data Quality </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f856055231d34cef85aa694e9480c72f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f856055231d34cef85aa694e9480c72f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00bd557fd09c433f9f7c9a7f8f81f5e1.html" target="element"> OMS need to be isolated and efficiently connected </a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-53edaf2cd4d14399b0c8327d3d0eae57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53edaf2cd4d14399b0c8327d3d0eae57.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401f96bccd8642a69dddf07361a32285.html" target="element"> User Experiences Satisfaction </a> </td>
																		<td> <a href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html" target="element"> OMS Efficient Utilization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e6e10c9e46b47b9b706e95f55e9308d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e6e10c9e46b47b9b706e95f55e9308d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-401f96bccd8642a69dddf07361a32285.html" target="element"> User Experiences Satisfaction </a> </td>
																		<td> <a href="../elements/id-83185963ec344979829b518b81f8cee1.html" target="element"> Outage Management Satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5a240baceb3a474ba99824aeddd408a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a240baceb3a474ba99824aeddd408a0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element"> Better Grid Model Data Quality </a> </td>
																		<td> <a href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html" target="element"> OMS Efficient Utilization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3978090fbfaf4e2597d0233a650a92c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3978090fbfaf4e2597d0233a650a92c3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element"> Better Grid Model Data Quality </a> </td>
																		<td> <a href="../elements/id-83185963ec344979829b518b81f8cee1.html" target="element"> Outage Management Satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c128ec9dea849d282230cb0007c80b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c128ec9dea849d282230cb0007c80b5.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																		<td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element"> Better Grid Model Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb499b7f0cf542d098ca6937ebb9b053.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb499b7f0cf542d098ca6937ebb9b053.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																		<td> <a href="../elements/id-83185963ec344979829b518b81f8cee1.html" target="element"> Outage Management Satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-23c83a04bd4c42d7b3089b9a4327620b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23c83a04bd4c42d7b3089b9a4327620b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html" target="element"> OMS Efficient Utilization </a> </td>
																		<td> <a href="../elements/id-83185963ec344979829b518b81f8cee1.html" target="element"> Outage Management Satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f662c1395394003a79024996a7c2c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f662c1395394003a79024996a7c2c90.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b6d07b387c7b44d39d106c49773536b8.html" target="element"> Data Quality Measure </a> </td>
																		<td> <a href="../elements/id-4a9d7e990bbd4e6da54b0c5a89aeb867.html" target="element"> Better Grid Model Data Quality </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b33dea47bd4d43168ca1914744958f68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b33dea47bd4d43168ca1914744958f68.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce89405b44854730b2b4dfa8978586b9.html" target="element"> Measure of Data Exchange </a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3ef95d6d2ed843eeaf7027cac35432eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ef95d6d2ed843eeaf7027cac35432eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b6c3cfaf2824a1f8589b4118a38f8d8.html" target="element"> OMS Utilization Measure </a> </td>
																		<td> <a href="../elements/id-98acd2c1a8c2481e99ba83d3b40f6d3b.html" target="element"> OMS Efficient Utilization </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>