<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07-TOBE-Server</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07-TOBE-Server</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8bdc62cb45734ef5acf74532476635be.png" alt="07-TOBE-Server" usemap="#id-8bdc62cb45734ef5acf74532476635bemap"/>
			   <map name="id-8bdc62cb45734ef5acf74532476635bemap">
				  				<area shape="rect" coords="997,58,1115,113" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  						<area shape="rect" coords="1006,286,1103,341" href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html"  target="element">
				  						<area shape="rect" coords="862,286,971,341" href="../elements/id-33e165c721a7417d98de9cb5445975b1.html"  target="element">
				  						<area shape="rect" coords="1006,214,1103,269" href="../elements/id-476d931db5754e84869fb1b0bfe98530.html"  target="element">

				  				<area shape="rect" coords="838,190,1127,359" href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html"  target="element">
				  						<area shape="rect" coords="1342,286,1439,341" href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html"  target="element">
				  						<area shape="rect" coords="1198,286,1307,341" href="../elements/id-33e165c721a7417d98de9cb5445975b1.html"  target="element">
				  						<area shape="rect" coords="1342,214,1439,269" href="../elements/id-476d931db5754e84869fb1b0bfe98530.html"  target="element">

				  				<area shape="rect" coords="1174,190,1463,359" href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html"  target="element">
				  				<area shape="rect" coords="838,58,958,113" href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html"  target="element">
				  				<area shape="rect" coords="1330,58,1448,113" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  				<area shape="rect" coords="1065,413,1235,468" href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html"  target="element">
				  				<area shape="rect" coords="1174,58,1294,113" href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html"  target="element">

				  		<area shape="rect" coords="790,10,1487,491" href="../elements/id-523861f7aea94223bd6bccb298a61257.html"  target="element">
				  				<area shape="rect" coords="217,58,335,113" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  						<area shape="rect" coords="226,286,323,341" href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html"  target="element">
				  						<area shape="rect" coords="82,286,191,341" href="../elements/id-33e165c721a7417d98de9cb5445975b1.html"  target="element">
				  						<area shape="rect" coords="226,214,323,269" href="../elements/id-476d931db5754e84869fb1b0bfe98530.html"  target="element">

				  				<area shape="rect" coords="58,190,347,359" href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html"  target="element">
				  						<area shape="rect" coords="562,286,659,341" href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html"  target="element">
				  						<area shape="rect" coords="418,286,527,341" href="../elements/id-33e165c721a7417d98de9cb5445975b1.html"  target="element">
				  						<area shape="rect" coords="562,214,659,269" href="../elements/id-476d931db5754e84869fb1b0bfe98530.html"  target="element">

				  				<area shape="rect" coords="394,190,683,359" href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html"  target="element">
				  				<area shape="rect" coords="58,58,178,113" href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html"  target="element">
				  				<area shape="rect" coords="550,58,668,113" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  				<area shape="rect" coords="285,413,455,468" href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html"  target="element">
				  				<area shape="rect" coords="394,58,514,113" href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html"  target="element">

				  		<area shape="rect" coords="10,10,707,491" href="../elements/id-523861f7aea94223bd6bccb298a61257.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
											    <td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
													    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
											    <td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
													    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
													    <td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
													    <td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
															    <td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
															    <td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6cc8175430fe48f8b16398269f68a49c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cc8175430fe48f8b16398269f68a49c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6751ca4819234567bb29ca2898815fa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6751ca4819234567bb29ca2898815fa3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-920fdc6b46714fd983d0fc6069ae627c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-920fdc6b46714fd983d0fc6069ae627c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d69e307f2edc48c5b9111ac23a19ada2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d69e307f2edc48c5b9111ac23a19ada2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d29440485614e0d99016a94d66b53f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d29440485614e0d99016a94d66b53f8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2610fa044cb4a93996bd6ca52a41d6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2610fa044cb4a93996bd6ca52a41d6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5b5a54f5cd14849ac266a373d610e8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5b5a54f5cd14849ac266a373d610e8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f58eabce9ab46e6807db1a4b4fd18ea.html" target="element"> sync </a> </td>
																		<td> <a href="../elements/id-8f58eabce9ab46e6807db1a4b4fd18ea.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-696cf4accd064ab2ac2eeee540d1f5eb.html" target="element"> sync </a> </td>
																				<td> <a href="../elements/id-696cf4accd064ab2ac2eeee540d1f5eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-5d29440485614e0d99016a94d66b53f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d29440485614e0d99016a94d66b53f8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d69e307f2edc48c5b9111ac23a19ada2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d69e307f2edc48c5b9111ac23a19ada2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5b5a54f5cd14849ac266a373d610e8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5b5a54f5cd14849ac266a373d610e8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2610fa044cb4a93996bd6ca52a41d6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2610fa044cb4a93996bd6ca52a41d6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6751ca4819234567bb29ca2898815fa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6751ca4819234567bb29ca2898815fa3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-920fdc6b46714fd983d0fc6069ae627c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-920fdc6b46714fd983d0fc6069ae627c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6cc8175430fe48f8b16398269f68a49c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cc8175430fe48f8b16398269f68a49c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-523861f7aea94223bd6bccb298a61257.html" target="element"> PEA Head Quarter </a> </td>
																		<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2edc8958f734a3a878af955db958d2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d01730b71044553b3f562474bde1288.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42edfdd2a47d4e7b877405ca5affebae.html" target="element"> OMS Component </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5f5da0e0c5e4b07815ea9aafb56f904.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf83e251f0f04ffb8f54ac35c06b2ee0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-453d5f245be44dc0a76945e4fc981d5f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2dc35df680e48d7ac2ff400bff3dba4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-696cf4accd064ab2ac2eeee540d1f5eb.html" target="element"> sync </a> </td>
																				<td> <a href="../elements/id-696cf4accd064ab2ac2eeee540d1f5eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																				<td> <a href="../elements/id-b7b79d6cef8a4b42803231388491c4a0.html" target="element"> OMS Server [Active] </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cefda2f5658a4480ab54f6baf5985b51.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-476d931db5754e84869fb1b0bfe98530.html" target="element"> OS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-03fa03c153bb4977aa949bac04eabd81.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-96858cede7344db289f7dbcb3ee7e759.html" target="element"> HW Server </a> </td>
																						<td> <a href="../elements/id-33e165c721a7417d98de9cb5445975b1.html" target="element"> DBMS </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>