<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>08-TOBE-Client</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>08-TOBE-Client</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b4fbaeba047a4094bacd1dd4c0e1d1a4.png" alt="08-TOBE-Client" usemap="#id-b4fbaeba047a4094bacd1dd4c0e1d1a4map"/>
			   <map name="id-b4fbaeba047a4094bacd1dd4c0e1d1a4map">
				  				<area shape="rect" coords="826,46,934,95" href="../elements/id-69b60eca1d6d4b73a4ac98d414674ae3.html"  target="element">
				  				<area shape="rect" coords="695,46,803,95" href="../elements/id-bdb595d6428442b683661e8aa9d8c1e2.html"  target="element">
				  				<area shape="rect" coords="694,112,803,166" href="../elements/id-7eca005391e94733be142f183ea89751.html"  target="element">

				  		<area shape="rect" coords="682,10,959,179" href="../elements/id-70aae823656c4f3786e1d3144227d35a.html"  target="element">
				  				<area shape="rect" coords="502,46,610,95" href="../elements/id-6165c97a47e94be6a47e0005fc628fc0.html"  target="element">
				  				<area shape="rect" coords="371,46,479,95" href="../elements/id-d11d4f21db384dfd8b0f275dfb2b06e0.html"  target="element">
				  				<area shape="rect" coords="370,112,479,166" href="../elements/id-c241b0a35f2d499cae95a29550b67366.html"  target="element">

				  		<area shape="rect" coords="358,10,635,179" href="../elements/id-7dd68dd0a20b4513b7a9730390f22b69.html"  target="element">
				  				<area shape="rect" coords="22,46,142,95" href="../elements/id-511bff39c7024a4e860e2bdfca8d9841.html"  target="element">
				  				<area shape="rect" coords="165,46,286,95" href="../elements/id-d4c0b429e06a442286533ba661ec3e84.html"  target="element">
				  				<area shape="rect" coords="165,112,286,166" href="../elements/id-cd255b7f00ae46929fb11202359ad9e7.html"  target="element">
				  				<area shape="rect" coords="21,112,142,166" href="../elements/id-1e278e72f3cf41ddb41fe6748453c015.html"  target="element">

				  		<area shape="rect" coords="10,10,311,179" href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html" target="element"> OMS Client </a> </td>
											    <td> <a href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e278e72f3cf41ddb41fe6748453c015.html" target="element"> WorkStation </a> </td>
													    <td> <a href="../elements/id-1e278e72f3cf41ddb41fe6748453c015.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd255b7f00ae46929fb11202359ad9e7.html" target="element"> Graphics Card </a> </td>
													    <td> <a href="../elements/id-cd255b7f00ae46929fb11202359ad9e7.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4c0b429e06a442286533ba661ec3e84.html" target="element"> Display </a> </td>
													    <td> <a href="../elements/id-d4c0b429e06a442286533ba661ec3e84.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-511bff39c7024a4e860e2bdfca8d9841.html" target="element"> Operating System </a> </td>
													    <td> <a href="../elements/id-511bff39c7024a4e860e2bdfca8d9841.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7dd68dd0a20b4513b7a9730390f22b69.html" target="element"> OMS Web Client </a> </td>
											    <td> <a href="../elements/id-7dd68dd0a20b4513b7a9730390f22b69.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c241b0a35f2d499cae95a29550b67366.html" target="element"> Desktop PC </a> </td>
													    <td> <a href="../elements/id-c241b0a35f2d499cae95a29550b67366.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d11d4f21db384dfd8b0f275dfb2b06e0.html" target="element"> Operating System </a> </td>
													    <td> <a href="../elements/id-d11d4f21db384dfd8b0f275dfb2b06e0.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6165c97a47e94be6a47e0005fc628fc0.html" target="element"> Web Browser </a> </td>
													    <td> <a href="../elements/id-6165c97a47e94be6a47e0005fc628fc0.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-70aae823656c4f3786e1d3144227d35a.html" target="element"> OMS Mobile Client </a> </td>
											    <td> <a href="../elements/id-70aae823656c4f3786e1d3144227d35a.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7eca005391e94733be142f183ea89751.html" target="element"> Mobile Device </a> </td>
													    <td> <a href="../elements/id-7eca005391e94733be142f183ea89751.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdb595d6428442b683661e8aa9d8c1e2.html" target="element"> Operating System </a> </td>
													    <td> <a href="../elements/id-bdb595d6428442b683661e8aa9d8c1e2.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-69b60eca1d6d4b73a4ac98d414674ae3.html" target="element"> Web Browser </a> </td>
													    <td> <a href="../elements/id-69b60eca1d6d4b73a4ac98d414674ae3.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ac06a92e47954f6f99eb536cfcdf131c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac06a92e47954f6f99eb536cfcdf131c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html" target="element"> OMS Client </a> </td>
																		<td> <a href="../elements/id-1e278e72f3cf41ddb41fe6748453c015.html" target="element"> WorkStation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d669c7e9d7dc40b0b83cef0352ce274a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d669c7e9d7dc40b0b83cef0352ce274a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html" target="element"> OMS Client </a> </td>
																		<td> <a href="../elements/id-cd255b7f00ae46929fb11202359ad9e7.html" target="element"> Graphics Card </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83e561932b484f508385f09a79ba9e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83e561932b484f508385f09a79ba9e63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html" target="element"> OMS Client </a> </td>
																		<td> <a href="../elements/id-d4c0b429e06a442286533ba661ec3e84.html" target="element"> Display </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc18358c834948768432b160ea38a14b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc18358c834948768432b160ea38a14b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae8e388e70ee46a9a06a17b813b4d005.html" target="element"> OMS Client </a> </td>
																		<td> <a href="../elements/id-511bff39c7024a4e860e2bdfca8d9841.html" target="element"> Operating System </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3b5dff20cd8b487a8d828219a8707394.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b5dff20cd8b487a8d828219a8707394.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dd68dd0a20b4513b7a9730390f22b69.html" target="element"> OMS Web Client </a> </td>
																		<td> <a href="../elements/id-c241b0a35f2d499cae95a29550b67366.html" target="element"> Desktop PC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e22020c13ecd44e6b9313e9bc5a5bc2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e22020c13ecd44e6b9313e9bc5a5bc2f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dd68dd0a20b4513b7a9730390f22b69.html" target="element"> OMS Web Client </a> </td>
																		<td> <a href="../elements/id-d11d4f21db384dfd8b0f275dfb2b06e0.html" target="element"> Operating System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bba893e8295947fb97c5733f0e85b106.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bba893e8295947fb97c5733f0e85b106.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dd68dd0a20b4513b7a9730390f22b69.html" target="element"> OMS Web Client </a> </td>
																		<td> <a href="../elements/id-6165c97a47e94be6a47e0005fc628fc0.html" target="element"> Web Browser </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e09ac6e5bbcc4f93b7e88c388732c15e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e09ac6e5bbcc4f93b7e88c388732c15e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70aae823656c4f3786e1d3144227d35a.html" target="element"> OMS Mobile Client </a> </td>
																		<td> <a href="../elements/id-69b60eca1d6d4b73a4ac98d414674ae3.html" target="element"> Web Browser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13edfdf79b9a4c558408b95b49e8f44e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13edfdf79b9a4c558408b95b49e8f44e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70aae823656c4f3786e1d3144227d35a.html" target="element"> OMS Mobile Client </a> </td>
																		<td> <a href="../elements/id-bdb595d6428442b683661e8aa9d8c1e2.html" target="element"> Operating System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b473514d72324be69c092dcc998bf0f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b473514d72324be69c092dcc998bf0f4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70aae823656c4f3786e1d3144227d35a.html" target="element"> OMS Mobile Client </a> </td>
																		<td> <a href="../elements/id-7eca005391e94733be142f183ea89751.html" target="element"> Mobile Device </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>