<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.2 องค์กร</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.2 &#3629;&#3591;&#3588;&#3660;&#3585;&#3619;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-280651b330ad45cdbaf92dc1bea33b7b.png" alt="2.2 องค์กร" usemap="#id-280651b330ad45cdbaf92dc1bea33b7bmap"/>
			   <map name="id-280651b330ad45cdbaf92dc1bea33b7bmap">
				  		<area shape="rect" coords="334,214,479,239" href="../views/id-2d45aae7691b4797b7f3d60b945da9eb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="334,178,479,203" href="../views/id-6975d2c817cf4275a5b28ee35098be44.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="334,142,479,167" href="../views/id-b826c00f485f4148804fd6694ac183c3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="334,106,479,131" href="../views/id-a91254df94dd482aae4be848de5ad48d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="334,70,479,95" href="../views/id-c6e3cbb682084c89b135de0f1cf0a284.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="99,214,244,239" href="../views/id-2c500ba40c2b41cba825a95fe2d2e527.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="99,178,244,203" href="../views/id-ea9cd3b03d3a4b77914712426e3d8de4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="99,142,244,167" href="../views/id-538b193765fd4caaa8100de664ed2355.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="99,106,244,131" href="../views/id-6dac2a6fe9234a918d26e3201b247227.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="99,70,244,95" href="../views/id-a92edcb5db6346eb9c12b94d7660a73d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,262,47" href="../elements/id-3a288560f5884328885462f9a406fcba.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3a288560f5884328885462f9a406fcba.html" target="element"> 2.2 &#3650;&#3588;&#3619;&#3591;&#3626;&#3619;&#3657;&#3634;&#3591;&#3629;&#3591;&#3588;&#3660;&#3585;&#3619; &#3649;&#3621;&#3632;&#3610;&#3640;&#3588;&#3621;&#3634;&#3585;&#3619; </a> </td>
											    <td> <a href="../elements/id-3a288560f5884328885462f9a406fcba.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-a92edcb5db6346eb9c12b94d7660a73d.html" target="view"> 01.ORG-OPs </a> </td>
											    <td> <a href="../views/id-a92edcb5db6346eb9c12b94d7660a73d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-6dac2a6fe9234a918d26e3201b247227.html" target="view"> 02.ORG-area </a> </td>
											    <td> <a href="../views/id-6dac2a6fe9234a918d26e3201b247227.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-538b193765fd4caaa8100de664ed2355.html" target="view"> 03.ORG-Prov </a> </td>
											    <td> <a href="../views/id-538b193765fd4caaa8100de664ed2355.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-ea9cd3b03d3a4b77914712426e3d8de4.html" target="view"> 06.PEA-prov8 </a> </td>
											    <td> <a href="../views/id-ea9cd3b03d3a4b77914712426e3d8de4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-2c500ba40c2b41cba825a95fe2d2e527.html" target="view"> 08.PEA-branch </a> </td>
											    <td> <a href="../views/id-2c500ba40c2b41cba825a95fe2d2e527.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c6e3cbb682084c89b135de0f1cf0a284.html" target="view"> 09.PEA-task </a> </td>
											    <td> <a href="../views/id-c6e3cbb682084c89b135de0f1cf0a284.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-a91254df94dd482aae4be848de5ad48d.html" target="view"> 10.PEA-role-a </a> </td>
											    <td> <a href="../views/id-a91254df94dd482aae4be848de5ad48d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-b826c00f485f4148804fd6694ac183c3.html" target="view"> 10.PEA-role-b </a> </td>
											    <td> <a href="../views/id-b826c00f485f4148804fd6694ac183c3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-6975d2c817cf4275a5b28ee35098be44.html" target="view"> 11.OPa </a> </td>
											    <td> <a href="../views/id-6975d2c817cf4275a5b28ee35098be44.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-2d45aae7691b4797b7f3d60b945da9eb.html" target="view"> 12.OPb </a> </td>
											    <td> <a href="../views/id-2d45aae7691b4797b7f3d60b945da9eb.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>