<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOR-4.1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOR-4.1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5b5b30ed67e549acabad5066d4f1f8db.png" alt="TOR-4.1" usemap="#id-5b5b30ed67e549acabad5066d4f1f8dbmap"/>
			   <map name="id-5b5b30ed67e549acabad5066d4f1f8dbmap">
				  		<area shape="rect" coords="10,109,130,158" href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html"  target="element">
				  		<area shape="rect" coords="418,227,530,268" href="../elements/id-9e559b92d0464655877443a8d32e4e43.html"  target="element">
				  		<area shape="rect" coords="450,160,563,209" href="../elements/id-e3aae32e3c65484dbb087d8798a58565.html"  target="element">
				  		<area shape="rect" coords="450,112,563,155" href="../elements/id-d4bc4f1a75e048fcacbef5bf6649a64c.html"  target="element">
				  		<area shape="rect" coords="450,64,563,107" href="../elements/id-99f6312d18a74a9fa1698ec31d6e6197.html"  target="element">
				  		<area shape="rect" coords="450,10,563,47" href="../elements/id-0632343716134d289be4dc1c23c3edbf.html"  target="element">
				  		<area shape="rect" coords="226,226,346,269" href="../elements/id-7763e7e76eb641f3833b06743e7a690e.html"  target="element">
				  		<area shape="rect" coords="226,70,346,119" href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; </a> </td>
											    <td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7763e7e76eb641f3833b06743e7a690e.html" target="element"> &#3592;&#3633;&#3604;&#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617; </a> </td>
											    <td> <a href="../elements/id-7763e7e76eb641f3833b06743e7a690e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0632343716134d289be4dc1c23c3edbf.html" target="element"> &#3610;&#3607;&#3609;&#3635; </a> </td>
											    <td> <a href="../elements/id-0632343716134d289be4dc1c23c3edbf.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99f6312d18a74a9fa1698ec31d6e6197.html" target="element"> &#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3586;&#3633;&#3657;&#3609;&#3605;&#3629;&#3609; </a> </td>
											    <td> <a href="../elements/id-99f6312d18a74a9fa1698ec31d6e6197.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4bc4f1a75e048fcacbef5bf6649a64c.html" target="element"> &#3649;&#3612;&#3609;&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-d4bc4f1a75e048fcacbef5bf6649a64c.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3aae32e3c65484dbb087d8798a58565.html" target="element"> &#3626;&#3636;&#3656;&#3591;&#3607;&#3637;&#3656;&#3626;&#3656;&#3591;&#3617;&#3629;&#3610; </a> </td>
											    <td> <a href="../elements/id-e3aae32e3c65484dbb087d8798a58565.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e559b92d0464655877443a8d32e4e43.html" target="element"> Stakeholder </a> </td>
											    <td> <a href="../elements/id-9e559b92d0464655877443a8d32e4e43.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) </a> </td>
											    <td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0b277a1a04ca4120a5a76fbf2e43dbfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b277a1a04ca4120a5a76fbf2e43dbfd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-d4bc4f1a75e048fcacbef5bf6649a64c.html" target="element"> &#3649;&#3612;&#3609;&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f8c539a8275453cb34bab288ed3e080.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f8c539a8275453cb34bab288ed3e080.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-e3aae32e3c65484dbb087d8798a58565.html" target="element"> &#3626;&#3636;&#3656;&#3591;&#3607;&#3637;&#3656;&#3626;&#3656;&#3591;&#3617;&#3629;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fbe7c27dcdf46e69b8fa28f8d5cf953.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fbe7c27dcdf46e69b8fa28f8d5cf953.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-0632343716134d289be4dc1c23c3edbf.html" target="element"> &#3610;&#3607;&#3609;&#3635; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfc5cab092d84aa8874c944a1c38e9cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfc5cab092d84aa8874c944a1c38e9cb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-99f6312d18a74a9fa1698ec31d6e6197.html" target="element"> &#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3586;&#3633;&#3657;&#3609;&#3605;&#3629;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d09eaca52b5f46edb73265a1ccd527a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d09eaca52b5f46edb73265a1ccd527a0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7763e7e76eb641f3833b06743e7a690e.html" target="element"> &#3592;&#3633;&#3604;&#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617; </a> </td>
																		<td> <a href="../elements/id-9e559b92d0464655877443a8d32e4e43.html" target="element"> Stakeholder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1dfd65b6ab31474aa13b1e388bff96f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1dfd65b6ab31474aa13b1e388bff96f4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) </a> </td>
																		<td> <a href="../elements/id-8749ebb5cc7c41749dcb79739dc4b63d.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-caee327c9043499f9bf5e5f7612f53d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-caee327c9043499f9bf5e5f7612f53d8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) </a> </td>
																		<td> <a href="../elements/id-7763e7e76eb641f3833b06743e7a690e.html" target="element"> &#3592;&#3633;&#3604;&#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>