<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>12-OM-Plan-3</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>12-OM-Plan-3</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f288f225d67a4480a15cf996fab9a848.png" alt="12-OM-Plan-3" usemap="#id-f288f225d67a4480a15cf996fab9a848map"/>
			   <map name="id-f288f225d67a4480a15cf996fab9a848map">
				  		<area shape="rect" coords="297,356,349,378" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="598,579,650,601" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="586,363,638,385" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="142,363,194,385" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="366,195,413,220" href="../elements/id-88f9b1fba4b94a4daf280b2fda550458.html"  target="element">
				  		<area shape="rect" coords="694,197,746,219" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="574,447,767,568" href="../elements/id-62e1ea0ae66b496ba87668c42cfb4829.html"  target="element">
				  		<area shape="rect" coords="382,471,551,568" href="../elements/id-9db9339ebe4647ac88d583cb21b35e37.html"  target="element">
				  		<area shape="rect" coords="1042,282,1139,331" href="../elements/id-b190e240c78745938edd02bbb334543a.html"  target="element">
				  		<area shape="rect" coords="874,258,1007,355" href="../elements/id-d5023667989e4d7296d56d53c2088eaa.html"  target="element">
				  		<area shape="rect" coords="730,231,851,388" href="../elements/id-aef95d6a314140539c480f4c9ddfc05f.html"  target="element">
				  		<area shape="rect" coords="574,234,707,364" href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html"  target="element">
				  		<area shape="rect" coords="406,213,551,432" href="../elements/id-58de441440cc40a3970839f20cc96cb7.html"  target="element">
				  		<area shape="rect" coords="250,249,383,346" href="../elements/id-ebd0635ece60402c8fe686392eb94935.html"  target="element">
				  		<area shape="rect" coords="130,231,239,364" href="../elements/id-e9101f13b2bb42428d2d002d25f1521a.html"  target="element">
				  		<area shape="rect" coords="10,280,107,317" href="../elements/id-7d2f36e3d1a3443fad2993d097cd73b1.html"  target="element">
				          <area shape="rect" coords="910,17,1157,230" href="../objects/id-8024fd8783434edab714f34ed0eaea5c.html" target="element" >
				          <area shape="rect" coords="34,27,287,196" href="../objects/id-5de6b361daad4180b396d386ac834d07.html" target="element" >
				  		<area shape="rect" coords="598,75,791,196" href="../elements/id-259184e535c34a85be11beae999fc7ef.html"  target="element">
				  		<area shape="rect" coords="358,51,575,196" href="../elements/id-d871ece2133a4cadaf746ab50cbe1d04.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d871ece2133a4cadaf746ab50cbe1d04.html" target="element"> Create/Update planned outageswitching ordersAnd store the eRespond requestedevent reference number given byADDC Work Dispatcher in SCADAswitching order(HV/MV Dispatcher): 100 </a> </td>
											    <td> <a href="../elements/id-d871ece2133a4cadaf746ab50cbe1d04.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-259184e535c34a85be11beae999fc7ef.html" target="element"> Create/Update a plannedswitching order against theeRespond requested eventnumber foun in SCADAswitching order(Automatic): 110 </a> </td>
											    <td> <a href="../elements/id-259184e535c34a85be11beae999fc7ef.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5de6b361daad4180b396d386ac834d07.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5de6b361daad4180b396d386ac834d07.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8024fd8783434edab714f34ed0eaea5c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8024fd8783434edab714f34ed0eaea5c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7d2f36e3d1a3443fad2993d097cd73b1.html" target="element"> Planning </a> </td>
											    <td> <a href="../elements/id-7d2f36e3d1a3443fad2993d097cd73b1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9101f13b2bb42428d2d002d25f1521a.html" target="element"> Check the requestedplanned outage events(ADDC Work Dispatcher): 90 </a> </td>
											    <td> <a href="../elements/id-e9101f13b2bb42428d2d002d25f1521a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebd0635ece60402c8fe686392eb94935.html" target="element"> Facilitage OutageMeetingif required(ADDC Work Dispatcher): 170 </a> </td>
											    <td> <a href="../elements/id-ebd0635ece60402c8fe686392eb94935.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58de441440cc40a3970839f20cc96cb7.html" target="element"> Manage prioritise (or close) therequested planned outageevents. Change event staus to'Open' and inform the eventreference number to HV/MVdispatcher(ADDC Work Dispatcher): 95 </a> </td>
											    <td> <a href="../elements/id-58de441440cc40a3970839f20cc96cb7.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html" target="element"> Identify affected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 150 </a> </td>
											    <td> <a href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aef95d6a314140539c480f4c9ddfc05f.html" target="element"> Agree dates withaffected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 160 </a> </td>
											    <td> <a href="../elements/id-aef95d6a314140539c480f4c9ddfc05f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5023667989e4d7296d56d53c2088eaa.html" target="element"> Have Dates beenagreed with VIPcustomers?(ADDC Work Dispatcher): 175 </a> </td>
											    <td> <a href="../elements/id-d5023667989e4d7296d56d53c2088eaa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b190e240c78745938edd02bbb334543a.html" target="element"> Approval(HV/MV) </a> </td>
											    <td> <a href="../elements/id-b190e240c78745938edd02bbb334543a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9db9339ebe4647ac88d583cb21b35e37.html" target="element"> Create/Update plannedoutage switching OrderDocuments(Manual, on paper)(HV/MV Dispatcher): 120 </a> </td>
											    <td> <a href="../elements/id-9db9339ebe4647ac88d583cb21b35e37.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62e1ea0ae66b496ba87668c42cfb4829.html" target="element"> Create/Update a plannedswitching Step(s) againstthe eRespond requestedevent number given by ADDC Work Dispatcher (HV/MV Dispatcher): 130 </a> </td>
											    <td> <a href="../elements/id-62e1ea0ae66b496ba87668c42cfb4829.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88f9b1fba4b94a4daf280b2fda550458.html" target="element"> SCADA (copy) </a> </td>
											    <td> <a href="../elements/id-88f9b1fba4b94a4daf280b2fda550458.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f1d61c5efd754a569b067fd842e47042.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1d61c5efd754a569b067fd842e47042.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-259184e535c34a85be11beae999fc7ef.html" target="element"> Create/Update a plannedswitching order against theeRespond requested eventnumber foun in SCADAswitching order(Automatic): 110 </a> </td>
																		<td> <a href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html" target="element"> Identify affected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 150 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-bad27632ab1249b9a0781ec5a665df20.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bad27632ab1249b9a0781ec5a665df20.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d2f36e3d1a3443fad2993d097cd73b1.html" target="element"> Planning </a> </td>
																		<td> <a href="../elements/id-e9101f13b2bb42428d2d002d25f1521a.html" target="element"> Check the requestedplanned outage events(ADDC Work Dispatcher): 90 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e10128e84be849309acc44111f4a76f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e10128e84be849309acc44111f4a76f0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9101f13b2bb42428d2d002d25f1521a.html" target="element"> Check the requestedplanned outage events(ADDC Work Dispatcher): 90 </a> </td>
																		<td> <a href="../elements/id-ebd0635ece60402c8fe686392eb94935.html" target="element"> Facilitage OutageMeetingif required(ADDC Work Dispatcher): 170 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-363561d36fe842e5a58d9a3c943e52eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-363561d36fe842e5a58d9a3c943e52eb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebd0635ece60402c8fe686392eb94935.html" target="element"> Facilitage OutageMeetingif required(ADDC Work Dispatcher): 170 </a> </td>
																		<td> <a href="../elements/id-58de441440cc40a3970839f20cc96cb7.html" target="element"> Manage prioritise (or close) therequested planned outageevents. Change event staus to'Open' and inform the eventreference number to HV/MVdispatcher(ADDC Work Dispatcher): 95 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c90083faa707431ebdf83774ad9b237c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c90083faa707431ebdf83774ad9b237c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58de441440cc40a3970839f20cc96cb7.html" target="element"> Manage prioritise (or close) therequested planned outageevents. Change event staus to'Open' and inform the eventreference number to HV/MVdispatcher(ADDC Work Dispatcher): 95 </a> </td>
																		<td> <a href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html" target="element"> Identify affected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 150 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1118f8eb9a7c4b37a2e6f991dbde89b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1118f8eb9a7c4b37a2e6f991dbde89b2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58de441440cc40a3970839f20cc96cb7.html" target="element"> Manage prioritise (or close) therequested planned outageevents. Change event staus to'Open' and inform the eventreference number to HV/MVdispatcher(ADDC Work Dispatcher): 95 </a> </td>
																		<td> <a href="../elements/id-9db9339ebe4647ac88d583cb21b35e37.html" target="element"> Create/Update plannedoutage switching OrderDocuments(Manual, on paper)(HV/MV Dispatcher): 120 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55908884191c44a1a3bf360cf47222ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55908884191c44a1a3bf360cf47222ee.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58de441440cc40a3970839f20cc96cb7.html" target="element"> Manage prioritise (or close) therequested planned outageevents. Change event staus to'Open' and inform the eventreference number to HV/MVdispatcher(ADDC Work Dispatcher): 95 </a> </td>
																		<td> <a href="../elements/id-d871ece2133a4cadaf746ab50cbe1d04.html" target="element"> Create/Update planned outageswitching ordersAnd store the eRespond requestedevent reference number given byADDC Work Dispatcher in SCADAswitching order(HV/MV Dispatcher): 100 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3ed155f501d14772a978cea392d374b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ed155f501d14772a978cea392d374b0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html" target="element"> Identify affected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 150 </a> </td>
																		<td> <a href="../elements/id-aef95d6a314140539c480f4c9ddfc05f.html" target="element"> Agree dates withaffected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 160 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d04aeb5e7744f4c8ccd6db6f759bb0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d04aeb5e7744f4c8ccd6db6f759bb0e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aef95d6a314140539c480f4c9ddfc05f.html" target="element"> Agree dates withaffected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 160 </a> </td>
																		<td> <a href="../elements/id-d5023667989e4d7296d56d53c2088eaa.html" target="element"> Have Dates beenagreed with VIPcustomers?(ADDC Work Dispatcher): 175 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2535aa1f6cd044fc94f25c0dfe4b7d31.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-2535aa1f6cd044fc94f25c0dfe4b7d31.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5023667989e4d7296d56d53c2088eaa.html" target="element"> Have Dates beenagreed with VIPcustomers?(ADDC Work Dispatcher): 175 </a> </td>
																		<td> <a href="../elements/id-b190e240c78745938edd02bbb334543a.html" target="element"> Approval(HV/MV) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5272364f82e84340aa638995b788a6ab.html" target="element"> No </a> </td>
																		<td> <a href="../elements/id-5272364f82e84340aa638995b788a6ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5023667989e4d7296d56d53c2088eaa.html" target="element"> Have Dates beenagreed with VIPcustomers?(ADDC Work Dispatcher): 175 </a> </td>
																		<td> <a href="../elements/id-ebd0635ece60402c8fe686392eb94935.html" target="element"> Facilitage OutageMeetingif required(ADDC Work Dispatcher): 170 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7eaf2fb23101426ebd30f8d2a1c0bfd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7eaf2fb23101426ebd30f8d2a1c0bfd5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9db9339ebe4647ac88d583cb21b35e37.html" target="element"> Create/Update plannedoutage switching OrderDocuments(Manual, on paper)(HV/MV Dispatcher): 120 </a> </td>
																		<td> <a href="../elements/id-62e1ea0ae66b496ba87668c42cfb4829.html" target="element"> Create/Update a plannedswitching Step(s) againstthe eRespond requestedevent number given by ADDC Work Dispatcher (HV/MV Dispatcher): 130 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d97eae337c0346d19dad051f60b360fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d97eae337c0346d19dad051f60b360fc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62e1ea0ae66b496ba87668c42cfb4829.html" target="element"> Create/Update a plannedswitching Step(s) againstthe eRespond requestedevent number given by ADDC Work Dispatcher (HV/MV Dispatcher): 130 </a> </td>
																		<td> <a href="../elements/id-8e837e4beb6a475ab77b4802c82dcebe.html" target="element"> Identify affected VIPcustomers via E/OWork Dispatcher(ADDC Work Dispatcher): 150 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>