<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C00-กรณีตัวอย่างไฟฟ้าขัดข้อง-A</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C00-&#3585;&#3619;&#3603;&#3637;&#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-A</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f2461de52adf4ea7bd80d1b516b3300d.png" alt="C00-กรณีตัวอย่างไฟฟ้าขัดข้อง-A" usemap="#id-f2461de52adf4ea7bd80d1b516b3300dmap"/>
			   <map name="id-f2461de52adf4ea7bd80d1b516b3300dmap">
				  		<area shape="rect" coords="310,418,539,455" href="../views/id-970008623a9246cbb921cadb3d81b168.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="46,418,275,455" href="../views/id-7feac25d9730493ead138ee7e6e7bb05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="862,370,1091,407" href="../views/id-cb41dfb937f14d469eea88549378de59.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="586,370,815,407" href="../views/id-56ee8fac18e142cdb1ee2fe8d48482f7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="310,370,539,407" href="../views/id-fe3232277ddd46659b88d3e86aed4643.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="46,370,275,407" href="../views/id-38a6c3ba3b754e61a7b5af7e3d2f702d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="601,57,1076,96" href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html"  target="element">
				  		<area shape="rect" coords="598,298,1079,337" href="../elements/id-34e31d897e0f4ee287398d578ded1732.html"  target="element">
				  		<area shape="rect" coords="598,249,1079,288" href="../elements/id-b69dc14b69204b0d92ab8ce8581d9408.html"  target="element">
				  		<area shape="rect" coords="598,201,1079,240" href="../elements/id-9a7ebb0e83d44a5f9b54774bcf0f6353.html"  target="element">
				  		<area shape="rect" coords="598,153,1079,192" href="../elements/id-fee21963cb1a4aa2ba40c980344bbd61.html"  target="element">
				  		<area shape="rect" coords="46,297,521,336" href="../elements/id-215f96d736db4d2ca8229189aa1e5364.html"  target="element">
				  		<area shape="rect" coords="46,249,521,288" href="../elements/id-62cfc61b778945b2828ba00df2a72551.html"  target="element">
				          <area shape="rect" coords="10,10,215,39" href="../objects/id-fc003eb8326344da91a9082c20cecb84.html" target="element" >
				  		<area shape="rect" coords="46,153,521,192" href="../elements/id-fd0edd4262b249b1925a60a915aecba9.html"  target="element">
				  		<area shape="rect" coords="46,105,521,144" href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html"  target="element">
				  		<area shape="rect" coords="46,57,521,96" href="../elements/id-f5df8629217949a7ba995e5f27ef3ea2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f5df8629217949a7ba995e5f27ef3ea2.html" target="element"> Planned Outage </a> </td>
											    <td> <a href="../elements/id-f5df8629217949a7ba995e5f27ef3ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
											    <td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd0edd4262b249b1925a60a915aecba9.html" target="element"> UAT-OMS-P03-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635;-V01.00 </a> </td>
											    <td> <a href="../elements/id-fd0edd4262b249b1925a60a915aecba9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fc003eb8326344da91a9082c20cecb84.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fc003eb8326344da91a9082c20cecb84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-62cfc61b778945b2828ba00df2a72551.html" target="element"> UAT-OMS-T01-&#3585;&#3634;&#3619;&#3649;&#3592;&#3657;&#3591;&#3611;&#3633;&#3597;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3649;&#3621;&#3632;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586;&#3607;&#3637;&#3656;&#3619;&#3632;&#3604;&#3633;&#3610;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660;-V01.00 </a> </td>
											    <td> <a href="../elements/id-62cfc61b778945b2828ba00df2a72551.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-215f96d736db4d2ca8229189aa1e5364.html" target="element"> UAT-OMS-T02-&#3585;&#3634;&#3619;&#3649;&#3592;&#3657;&#3591;&#3611;&#3633;&#3597;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3585;&#3619;&#3603;&#3637;&#3606;&#3641;&#3585;&#3605;&#3633;&#3604;&#3652;&#3615;-V01.00 </a> </td>
											    <td> <a href="../elements/id-215f96d736db4d2ca8229189aa1e5364.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fee21963cb1a4aa2ba40c980344bbd61.html" target="element"> UAT-OMS-U01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA-V01.00 </a> </td>
											    <td> <a href="../elements/id-fee21963cb1a4aa2ba40c980344bbd61.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a7ebb0e83d44a5f9b54774bcf0f6353.html" target="element"> UAT-OMS-U02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3650;&#3604;&#3618;&#3623;&#3636;&#3608;&#3637; Manual-V01.00 </a> </td>
											    <td> <a href="../elements/id-9a7ebb0e83d44a5f9b54774bcf0f6353.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b69dc14b69204b0d92ab8ce8581d9408.html" target="element"> UAT-OMS-U03-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3585;&#3619;&#3603;&#3637;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3607;&#3637;&#3656;&#3617;&#3637; &#3612;&#3594;&#3615; &#3592;&#3635;&#3609;&#3623;&#3609;&#3617;&#3634;&#3585;-V01.00 </a> </td>
											    <td> <a href="../elements/id-b69dc14b69204b0d92ab8ce8581d9408.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34e31d897e0f4ee287398d578ded1732.html" target="element"> UAT-OMS-U04-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3585;&#3619;&#3603;&#3637;&#3616;&#3633;&#3618;&#3614;&#3636;&#3610;&#3633;&#3605;&#3636;&#3608;&#3619;&#3619;&#3617;&#3594;&#3634;&#3605;&#3636;-V01.00 </a> </td>
											    <td> <a href="../elements/id-34e31d897e0f4ee287398d578ded1732.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
											    <td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-38a6c3ba3b754e61a7b5af7e3d2f702d.html" target="view"> C01-เสาแรงต่ำหัก </a> </td>
											    <td> <a href="../views/id-38a6c3ba3b754e61a7b5af7e3d2f702d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-fe3232277ddd46659b88d3e86aed4643.html" target="view"> C02-เบรกเกอร์ทริป เสาแรงกลาง </a> </td>
											    <td> <a href="../views/id-fe3232277ddd46659b88d3e86aed4643.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-56ee8fac18e142cdb1ee2fe8d48482f7.html" target="view"> C03-เบรกเกอร์ทริป-หลาย กฟฟ </a> </td>
											    <td> <a href="../views/id-56ee8fac18e142cdb1ee2fe8d48482f7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-cb41dfb937f14d469eea88549378de59.html" target="view"> C04-มิเตอร์ชำรุด </a> </td>
											    <td> <a href="../views/id-cb41dfb937f14d469eea88549378de59.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7feac25d9730493ead138ee7e6e7bb05.html" target="view"> C05-หม้อแปลงชำรุดเสียหาย </a> </td>
											    <td> <a href="../views/id-7feac25d9730493ead138ee7e6e7bb05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-970008623a9246cbb921cadb3d81b168.html" target="view"> C06-เบรกเกอร์ทริป-ฟิวส์ </a> </td>
											    <td> <a href="../views/id-970008623a9246cbb921cadb3d81b168.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>