<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>UAT-OMS-P02</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>UAT-OMS-P02</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0f36ff5be30a4366a3976b56107277fc.png" alt="UAT-OMS-P02" usemap="#id-0f36ff5be30a4366a3976b56107277fcmap"/>
			   <map name="id-0f36ff5be30a4366a3976b56107277fcmap">
				  				<area shape="rect" coords="118,70,227,115" href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html"  target="element">
				  				<area shape="rect" coords="478,75,527,110" href="../elements/id-b5ba3cea13d94805bb4d08ba3f1463ba.html"  target="element">
				  				<area shape="rect" coords="42,75,95,110" href="../elements/id-51ae0525d8f74d15b0070ef7ab3c099e.html"  target="element">
				  				<area shape="rect" coords="370,70,455,115" href="../elements/id-134d528b70524662aea2357dabfc82ad.html"  target="element">
				  				<area shape="rect" coords="250,70,347,115" href="../elements/id-85a867fae66443bdbf2cfc171ca417fb.html"  target="element">
				  				<area shape="rect" coords="850,147,899,182" href="../elements/id-043373242e0c44e59132cfe0f10bae96.html"  target="element">
				  				<area shape="rect" coords="742,142,815,187" href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html"  target="element">
				  				<area shape="rect" coords="526,147,582,182" href="../elements/id-fcde8dd141ca4821ab80be288c5a8313.html"  target="element">
				  				<area shape="rect" coords="598,142,719,187" href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html"  target="element">

				  		<area shape="rect" coords="10,10,923,227" href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
											    <td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
													    <td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fcde8dd141ca4821ab80be288c5a8313.html" target="element"> &#3606;&#3638;&#3591;&#3648;&#3623;&#3621;&#3634; &#3605;&#3634;&#3617;&#3649;&#3612;&#3609; </a> </td>
													    <td> <a href="../elements/id-fcde8dd141ca4821ab80be288c5a8313.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
													    <td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-043373242e0c44e59132cfe0f10bae96.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604;  </a> </td>
													    <td> <a href="../elements/id-043373242e0c44e59132cfe0f10bae96.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85a867fae66443bdbf2cfc171ca417fb.html" target="element"> ADDC &#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
													    <td> <a href="../elements/id-85a867fae66443bdbf2cfc171ca417fb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-134d528b70524662aea2357dabfc82ad.html" target="element"> &#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; &#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615; </a> </td>
													    <td> <a href="../elements/id-134d528b70524662aea2357dabfc82ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51ae0525d8f74d15b0070ef7ab3c099e.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609; </a> </td>
													    <td> <a href="../elements/id-51ae0525d8f74d15b0070ef7ab3c099e.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5ba3cea13d94805bb4d08ba3f1463ba.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
													    <td> <a href="../elements/id-b5ba3cea13d94805bb4d08ba3f1463ba.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
													    <td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-63c6964b30fd43b4a7d1d4f98bb663c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63c6964b30fd43b4a7d1d4f98bb663c0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
																		<td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5171c5b5c43f438c8c58dbc26fc3d92a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5171c5b5c43f438c8c58dbc26fc3d92a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
																		<td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-493f6a41821e4dd9952b342a1a8fcf08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-493f6a41821e4dd9952b342a1a8fcf08.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
																		<td> <a href="../elements/id-85a867fae66443bdbf2cfc171ca417fb.html" target="element"> ADDC &#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e2e66bb7a70474d8c6a672a13f5054c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e2e66bb7a70474d8c6a672a13f5054c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
																		<td> <a href="../elements/id-134d528b70524662aea2357dabfc82ad.html" target="element"> &#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; &#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31d66af2bba644f4b9b8c13ffed79334.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31d66af2bba644f4b9b8c13ffed79334.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6a609b0064d4cd5b1316ca276de83e6.html" target="element"> UAT-OMS-P02-&#3626;&#3619;&#3657;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615;&#3604;&#3657;&#3623;&#3618;&#3623;&#3636;&#3608;&#3637; Manual &#3619;&#3632;&#3610;&#3610;&#3652;&#3615;&#3615;&#3657;&#3634;&#3604;&#3657;&#3634;&#3609;&#3649;&#3619;&#3591;&#3626;&#3641;&#3591;-V01.00 </a> </td>
																		<td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7485a6e7760a42fabf35bad69c7e9bb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7485a6e7760a42fabf35bad69c7e9bb9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																				<td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-be5065b1cdb445e68a133db2b7ae2956.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be5065b1cdb445e68a133db2b7ae2956.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcde8dd141ca4821ab80be288c5a8313.html" target="element"> &#3606;&#3638;&#3591;&#3648;&#3623;&#3621;&#3634; &#3605;&#3634;&#3617;&#3649;&#3612;&#3609; </a> </td>
																				<td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-70605719925047ab8cc6b875f17e2928.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70605719925047ab8cc6b875f17e2928.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																				<td> <a href="../elements/id-043373242e0c44e59132cfe0f10bae96.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604;  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-46ad1ac759b1402aa9240bbea63de107.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46ad1ac759b1402aa9240bbea63de107.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-85a867fae66443bdbf2cfc171ca417fb.html" target="element"> ADDC &#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																				<td> <a href="../elements/id-134d528b70524662aea2357dabfc82ad.html" target="element"> &#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; &#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-004fa45fdb834124883644121554fe66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-004fa45fdb834124883644121554fe66.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-134d528b70524662aea2357dabfc82ad.html" target="element"> &#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; &#3649;&#3612;&#3609;&#3604;&#3633;&#3610;&#3652;&#3615; </a> </td>
																				<td> <a href="../elements/id-b5ba3cea13d94805bb4d08ba3f1463ba.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a5617173e1ce42e09820984be8688628.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a5617173e1ce42e09820984be8688628.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-51ae0525d8f74d15b0070ef7ab3c099e.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609; </a> </td>
																				<td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f52f84e191ba4836a234d31a145b698a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f52f84e191ba4836a234d31a145b698a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
																				<td> <a href="../elements/id-85a867fae66443bdbf2cfc171ca417fb.html" target="element"> ADDC &#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>