<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03- OM proc3</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03- OM proc3</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0721075099b542fabd449ee8acaa2e5a.png" alt="03- OM proc3" usemap="#id-0721075099b542fabd449ee8acaa2e5amap"/>
			   <map name="id-0721075099b542fabd449ee8acaa2e5amap">
				  				<area shape="rect" coords="34,46,203,107" href="../elements/id-a884b524c1bb490ea4ceb0227d6339ef.html"  target="element">
				  				<area shape="rect" coords="226,118,395,179" href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html"  target="element">
				  				<area shape="rect" coords="226,46,395,107" href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html"  target="element">
				  				<area shape="rect" coords="34,118,203,179" href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html"  target="element">

				  		<area shape="rect" coords="10,10,416,203" href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html"  target="element">
				  				<area shape="rect" coords="169,363,203,391" href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html"  target="element">
				  				<area shape="rect" coords="262,303,311,328" href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html"  target="element">
				  				<area shape="rect" coords="135,291,237,340" href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html"  target="element">
				  				<area shape="rect" coords="346,303,395,328" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  				<area shape="rect" coords="58,302,109,330" href="../elements/id-7064a924fa004a5da475e6756bf2076a.html"  target="element">

				  		<area shape="rect" coords="46,255,417,400" href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html"  target="element">
				  				<area shape="rect" coords="598,361,632,389" href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html"  target="element">
				  				<area shape="rect" coords="586,289,665,338" href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html"  target="element">
				  				<area shape="rect" coords="499,301,550,329" href="../elements/id-7064a924fa004a5da475e6756bf2076a.html"  target="element">
				  				<area shape="rect" coords="778,301,827,326" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  				<area shape="rect" coords="703,302,752,327" href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html"  target="element">

				  		<area shape="rect" coords="478,253,849,403" href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html"  target="element">
				  				<area shape="rect" coords="597,130,631,158" href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html"  target="element">
				  				<area shape="rect" coords="694,70,743,95" href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html"  target="element">
				  				<area shape="rect" coords="778,70,827,95" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  				<area shape="rect" coords="490,69,541,97" href="../elements/id-7064a924fa004a5da475e6756bf2076a.html"  target="element">
				  				<area shape="rect" coords="574,58,653,107" href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html"  target="element">

				  		<area shape="rect" coords="478,34,849,179" href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;chatbot </a> </td>
											    <td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;  chatbot </a> </td>
													    <td> <a href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
													    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
													    <td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
													    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
											    <td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
													    <td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
													    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; SmartPlus </a> </td>
													    <td> <a href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
													    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619;&#3624;&#3633;&#3614;&#3607;&#3660; </a> </td>
											    <td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
													    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619; PEA CC 1129 </a> </td>
													    <td> <a href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
													    <td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
													    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619;&#3624;&#3633;&#3614;&#3607;&#3660; </a> </td>
													    <td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;chatbot </a> </td>
													    <td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
													    <td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a884b524c1bb490ea4ceb0227d6339ef.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;LINE </a> </td>
													    <td> <a href="../elements/id-a884b524c1bb490ea4ceb0227d6339ef.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-56678ce968f84698b358621e93b9f653.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56678ce968f84698b358621e93b9f653.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;chatbot </a> </td>
																		<td> <a href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;  chatbot </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-df3a19336adf4cafb07d5a003a090faa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-df3a19336adf4cafb07d5a003a090faa.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;  chatbot </a> </td>
																				<td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1ca1c3e2cd0648578bfeec689adbbedc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1ca1c3e2cd0648578bfeec689adbbedc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																				<td> <a href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;  chatbot </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dab0961cb8074278968307ce4a2b3559.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dab0961cb8074278968307ce4a2b3559.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-278fffbeb2034249a6f62ed6bb9d1a76.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-278fffbeb2034249a6f62ed6bb9d1a76.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																				<td> <a href="../elements/id-1a8ed6011a3f4a40ad21697b09277de3.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;  chatbot </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6767f02411fc4544ae8425506d1bf838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6767f02411fc4544ae8425506d1bf838.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																		<td> <a href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; SmartPlus </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-dab0961cb8074278968307ce4a2b3559.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dab0961cb8074278968307ce4a2b3559.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-364a47b8224d4f55994a1cf756f0629b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-364a47b8224d4f55994a1cf756f0629b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																				<td> <a href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; SmartPlus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5b52419f4e6a4be481742267b6d6fbf7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b52419f4e6a4be481742267b6d6fbf7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; SmartPlus </a> </td>
																				<td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b760ac9d35dc4c5a87e389c9a19c11da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b760ac9d35dc4c5a87e389c9a19c11da.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																				<td> <a href="../elements/id-d4afa6ac61f242518ab92b817f03bb35.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; SmartPlus </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f0245e6e1b794d17a3f8aee30bc664d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0245e6e1b794d17a3f8aee30bc664d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619;&#3624;&#3633;&#3614;&#3607;&#3660; </a> </td>
																		<td> <a href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619; PEA CC 1129 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f731f7d543db44e789879ec45a80b018.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f731f7d543db44e789879ec45a80b018.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																				<td> <a href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619; PEA CC 1129 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d858eff846884122a9361a13f08bbb30.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d858eff846884122a9361a13f08bbb30.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619; PEA CC 1129 </a> </td>
																				<td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dab0961cb8074278968307ce4a2b3559.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dab0961cb8074278968307ce4a2b3559.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a9a57c089994d08ac414491bf5fecb3.html" target="element"> CSIS </a> </td>
																				<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-158ac899a7794acbbe4bf653f699a71f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-158ac899a7794acbbe4bf653f699a71f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
																				<td> <a href="../elements/id-369a7a1b853f4a27bd36c1a4f8b09314.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619; PEA CC 1129 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4c4770260a844dc5a262dc7a1c249792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c4770260a844dc5a262dc7a1c249792.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;chatbot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d3abba518804067b7707c8d7639c8ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d3abba518804067b7707c8d7639c8ad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619;&#3624;&#3633;&#3614;&#3607;&#3660; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77ac87c02ce04cf78a999fce59b8611e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77ac87c02ce04cf78a999fce59b8611e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-a884b524c1bb490ea4ceb0227d6339ef.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;LINE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b60816e799e4c459a9827170cf90e7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b60816e799e4c459a9827170cf90e7b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d98da830ff66489dbf9e7ebb6028f7ba.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a4d7160a21fe4a79bb05c2d09b77d7d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4d7160a21fe4a79bb05c2d09b77d7d1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619;&#3624;&#3633;&#3614;&#3607;&#3660; </a> </td>
																				<td> <a href="../elements/id-4109978500fd4ed39b331cb159aebf7e.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;&#3650;&#3607;&#3619;&#3624;&#3633;&#3614;&#3607;&#3660; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-07709915aa8c46e6b33c8f474450fd8d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-07709915aa8c46e6b33c8f474450fd8d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;chatbot </a> </td>
																				<td> <a href="../elements/id-d9816d7180144d0a8edc9f8ec00218b1.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609;chatbot </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-063d855dec904a37933221f4b4364159.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-063d855dec904a37933221f4b4364159.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																				<td> <a href="../elements/id-64405385bb9f4e0c807df048b5e2c0ec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3612;&#3656;&#3634;&#3609; PEA Smart Plus </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>