<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C01-เสาแรงต่ำหัก</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C01-&#3648;&#3626;&#3634;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635;&#3627;&#3633;&#3585;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-38a6c3ba3b754e61a7b5af7e3d2f702d.png" alt="C01-เสาแรงต่ำหัก" usemap="#id-38a6c3ba3b754e61a7b5af7e3d2f702dmap"/>
			   <map name="id-38a6c3ba3b754e61a7b5af7e3d2f702dmap">
				  		<area shape="rect" coords="238,130,315,191" href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html"  target="element">
				  		<area shape="rect" coords="536,447,597,482" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				          <area shape="rect" coords="190,262,282,294" href="../objects/id-fa205f5b81e8489fbf0c5e17d6c360b1.html" target="element" >
				  		<area shape="rect" coords="793,70,913,102" href="../elements/id-d945b9653afe4b30bdde9a1278550335.html"  target="element">
				          <area shape="rect" coords="10,10,299,39" href="../objects/id-84dc9dd3d6894fd8a42521196e8a2860.html" target="element" >
				  		<area shape="rect" coords="323,288,374,316" href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html"  target="element">
				  		<area shape="rect" coords="694,130,771,191" href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html"  target="element">
				  		<area shape="rect" coords="948,375,997,410" href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html"  target="element">
				  		<area shape="rect" coords="802,442,907,487" href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html"  target="element">
				  		<area shape="rect" coords="456,130,533,191" href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html"  target="element">
				  		<area shape="rect" coords="934,130,1011,191" href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html"  target="element">
				  		<area shape="rect" coords="814,130,891,191" href="../elements/id-62553158f33e43019288dfc2861a196d.html"  target="element">
				  		<area shape="rect" coords="574,130,651,191" href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html"  target="element">
				  		<area shape="rect" coords="22,130,99,191" href="../elements/id-d41f507d074a4874817180d6136391a3.html"  target="element">
				  		<area shape="rect" coords="346,130,423,191" href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html"  target="element">
				  		<area shape="rect" coords="130,130,207,191" href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html"  target="element">
				  		<area shape="rect" coords="802,370,907,415" href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html"  target="element">
				  		<area shape="rect" coords="514,370,619,415" href="../elements/id-4a3420edfbe049d0a15272544b851683.html"  target="element">
				  		<area shape="rect" coords="300,370,397,415" href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html"  target="element">
				  		<area shape="rect" coords="139,375,198,410" href="../elements/id-5fb900a818a946efa73c0ac0e0d8dc2a.html"  target="element">
				          <area shape="rect" coords="12,250,1029,504" href="../objects/id-99f37bc283ea41d8b46911444064f305.html" target="element" >
				          <area shape="rect" coords="10,58,1029,227" href="../objects/id-551f42934d7b4f1e95285a998929882a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-551f42934d7b4f1e95285a998929882a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-551f42934d7b4f1e95285a998929882a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-99f37bc283ea41d8b46911444064f305.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-99f37bc283ea41d8b46911444064f305.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-5fb900a818a946efa73c0ac0e0d8dc2a.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591; </a> </td>
											    <td> <a href="../elements/id-5fb900a818a946efa73c0ac0e0d8dc2a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
											    <td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
											    <td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
											    <td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element"> Substation </a> </td>
											    <td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
											    <td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d41f507d074a4874817180d6136391a3.html" target="element"> HV Line </a> </td>
											    <td> <a href="../elements/id-d41f507d074a4874817180d6136391a3.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
											    <td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
											    <td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element"> LV Meter </a> </td>
											    <td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
											    <td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element"> Plan Outage </a> </td>
											    <td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
											    <td> <a href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
											    <td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html" target="element"> &#3612;&#3641;&#3657;&#3649;&#3592;&#3657;&#3591; </a> </td>
											    <td> <a href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-84dc9dd3d6894fd8a42521196e8a2860.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-84dc9dd3d6894fd8a42521196e8a2860.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d945b9653afe4b30bdde9a1278550335.html" target="element"> &#3648;&#3626;&#3634;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635; &#3594;&#3635;&#3619;&#3640;&#3604; </a> </td>
											    <td> <a href="../elements/id-d945b9653afe4b30bdde9a1278550335.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fa205f5b81e8489fbf0c5e17d6c360b1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fa205f5b81e8489fbf0c5e17d6c360b1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
											    <td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-45a8852a1db74844a897f7a0b46c7edd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45a8852a1db74844a897f7a0b46c7edd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5fb900a818a946efa73c0ac0e0d8dc2a.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591; </a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a0839d0384440b6bdaa52180f7e7b58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a0839d0384440b6bdaa52180f7e7b58.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f5e045ffef744bfaec9bcbd6414ed96.html" target="element"> &#3626;&#3629;&#3610;&#3606;&#3634;&#3617; </a> </td>
																		<td> <a href="../elements/id-9f5e045ffef744bfaec9bcbd6414ed96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																		<td> <a href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html" target="element"> &#3612;&#3641;&#3657;&#3649;&#3592;&#3657;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22ee2506cf9e44c2aace75d56dcb07be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ee2506cf9e44c2aace75d56dcb07be.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-937aa22c9f3d498cb288045c4a208d9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-937aa22c9f3d498cb288045c4a208d9c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ff07d4e4e6f4a198b97d9ffa33edb04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ff07d4e4e6f4a198b97d9ffa33edb04.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-864b928a0b694286a8551851464210ef.html" target="element"> 1.&#3605;&#3619;&#3623;&#3592;&#3614;&#3610; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-864b928a0b694286a8551851464210ef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c5d2b5faf9044acb374025e8f354a4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c5d2b5faf9044acb374025e8f354a4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element"> Plan Outage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81c9eae3a8a847529e89f040533ea36f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81c9eae3a8a847529e89f040533ea36f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24076cbd22dd4ddbb152bee0820d032e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24076cbd22dd4ddbb152bee0820d032e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01e05e8601554abebbdd3b8cd71ed457.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01e05e8601554abebbdd3b8cd71ed457.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-881915cc465f489f88f883f71ce1bca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-881915cc465f489f88f883f71ce1bca9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element"> Substation </a> </td>
																		<td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-de7d5ed9b02e4abaacabd1386982b6b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de7d5ed9b02e4abaacabd1386982b6b7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a59228ba66244ae4a859d1b75086eaf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a59228ba66244ae4a859d1b75086eaf1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d41f507d074a4874817180d6136391a3.html" target="element"> HV Line </a> </td>
																		<td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element"> Substation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06f13073311749c6bad3ea7a23c44e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06f13073311749c6bad3ea7a23c44e63.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b125c72b3042440f9961f2300a58e661.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b125c72b3042440f9961f2300a58e661.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																		<td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element"> LV Meter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c8802aacccf4d3d98718def5f86fbb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c8802aacccf4d3d98718def5f86fbb4.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9bd15b47c6e247ed9271c6749d7df5d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bd15b47c6e247ed9271c6749d7df5d1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-96ea6e5eac4444d18e51f093afb42371.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96ea6e5eac4444d18e51f093afb42371.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d945b9653afe4b30bdde9a1278550335.html" target="element"> &#3648;&#3626;&#3634;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635; &#3594;&#3635;&#3619;&#3640;&#3604; </a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-c51dbc0768d94bbd88b2462e8f69efa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c51dbc0768d94bbd88b2462e8f69efa2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5c6549959254bdc984303598dddde54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5c6549959254bdc984303598dddde54.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88c390ab82254bd0a1dfab0d2f03db96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88c390ab82254bd0a1dfab0d2f03db96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element"> Plan Outage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-442ce3cfed6f41f083b955b5816dcc65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-442ce3cfed6f41f083b955b5816dcc65.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06e43650ecd74b74b3bab91554cfa3bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06e43650ecd74b74b3bab91554cfa3bc.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>