<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07-Soft</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07-Soft</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7246d39d54494aaab1c52e25f3533ecf.png" alt="07-Soft" usemap="#id-7246d39d54494aaab1c52e25f3533ecfmap"/>
			   <map name="id-7246d39d54494aaab1c52e25f3533ecfmap">
				  		<area shape="rect" coords="586,430,803,503" href="../elements/id-f42fcd77879e43bbb9aeb94a61942c99.html"  target="element">
				  		<area shape="rect" coords="586,346,803,419" href="../elements/id-c11b1039b9934f3e878d58a41f263c2d.html"  target="element">
				  		<area shape="rect" coords="586,262,803,335" href="../elements/id-42053215262b468eb661db7b13c1c7e6.html"  target="element">
				  		<area shape="rect" coords="586,178,803,251" href="../elements/id-5646933925914db4a9c835a8352cacf8.html"  target="element">
				  		<area shape="rect" coords="586,94,803,167" href="../elements/id-0217765f46834cffb9ba4fa752cd830d.html"  target="element">
				  		<area shape="rect" coords="586,10,803,83" href="../elements/id-f966571d93f6485ea0b29d9d53376410.html"  target="element">
				  		<area shape="rect" coords="862,178,1079,251" href="../elements/id-f3a3188637f0476ab7cf45cad798e77d.html"  target="element">
				  		<area shape="rect" coords="862,94,1079,167" href="../elements/id-008ff011071f422fb93bfcb2a5a3554f.html"  target="element">
				  		<area shape="rect" coords="298,430,515,503" href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html"  target="element">
				  		<area shape="rect" coords="298,346,515,419" href="../elements/id-646a8f3932f4423a921d937a47a87a81.html"  target="element">
				  		<area shape="rect" coords="298,262,515,335" href="../elements/id-2659fb5ae27642d0bf5bb4000ddb47f8.html"  target="element">
				  		<area shape="rect" coords="298,178,515,251" href="../elements/id-52913bcb4fc440a790d5997e29935119.html"  target="element">
				  		<area shape="rect" coords="298,94,515,167" href="../elements/id-147c16854b584788a47aafff756f4f08.html"  target="element">
				  		<area shape="rect" coords="298,10,515,83" href="../elements/id-7dbf6b393c0d4c1da501ebd29cdd9fa1.html"  target="element">
				  		<area shape="rect" coords="862,262,1079,335" href="../elements/id-9eeb289a226c49f1b7f4ee1bc4735e28.html"  target="element">
				  		<area shape="rect" coords="862,10,1079,83" href="../elements/id-f7c8823d64e9430b87bfe49d803ddfbc.html"  target="element">
				  		<area shape="rect" coords="10,430,227,503" href="../elements/id-5f8d07367b714fe7a4f127a1bf36dcf0.html"  target="element">
				  		<area shape="rect" coords="10,346,227,419" href="../elements/id-086f1ef3c15e4ac8b9c45307fe720a6f.html"  target="element">
				  		<area shape="rect" coords="10,262,227,335" href="../elements/id-79abbe2537d3430eba60517debf71473.html"  target="element">
				  		<area shape="rect" coords="10,178,227,251" href="../elements/id-eb289a033ff440e4ba44e6247366ce0a.html"  target="element">
				  		<area shape="rect" coords="10,94,227,167" href="../elements/id-7b87ab57cc1a4b3c8c2b535ae2627a2c.html"  target="element">
				  		<area shape="rect" coords="10,10,227,83" href="../elements/id-80de063731a4417985e6bf49dc54f960.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3619;&#3623;&#3610;&#3619;&#3623;&#3617;&#3648;&#3629;&#3585;&#3626;&#3634;&#3619; &#3594;&#3640;&#3604;&#3607;&#3637;&#3656; 7 : &#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610;&#3607;&#3637;&#3656;&#3648;&#3585;&#3637;&#3656;&#3618;&#3623;&#3586;&#3657;&#3629;&#3591;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-80de063731a4417985e6bf49dc54f960.html" target="element"> eRespond_SCADA interface functional specification ver 3.6.doc </a> </td>
											    <td> <a href="../elements/id-80de063731a4417985e6bf49dc54f960.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b87ab57cc1a4b3c8c2b535ae2627a2c.html" target="element"> eRespond_SAP Work Management (PM) interface functional specification ver 3.7.doc </a> </td>
											    <td> <a href="../elements/id-7b87ab57cc1a4b3c8c2b535ae2627a2c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eb289a033ff440e4ba44e6247366ce0a.html" target="element"> eRespond_SAP CIS interface functional specification ver 3.4.doc </a> </td>
											    <td> <a href="../elements/id-eb289a033ff440e4ba44e6247366ce0a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79abbe2537d3430eba60517debf71473.html" target="element"> eRespond_GIS (Network Model) interface functional specification ver 1.9.5.doc </a> </td>
											    <td> <a href="../elements/id-79abbe2537d3430eba60517debf71473.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-086f1ef3c15e4ac8b9c45307fe720a6f.html" target="element"> eRespond_SAP Work Management (HR) interface functional specification ver 3.5.doc </a> </td>
											    <td> <a href="../elements/id-086f1ef3c15e4ac8b9c45307fe720a6f.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f8d07367b714fe7a4f127a1bf36dcf0.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3612;&#3633;&#3591;&#3650;&#3588;&#3619;&#3591;&#3626;&#3619;&#3657;&#3634;&#3591; &#3626;&#3609;&#3597; &#3585;&#3615;&#3586; &#3621;&#3656;&#3634;&#3626;&#3640;&#3604; 11_10_65.pdf </a> </td>
											    <td> <a href="../elements/id-5f8d07367b714fe7a4f127a1bf36dcf0.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7c8823d64e9430b87bfe49d803ddfbc.html" target="element"> &#3594;1 &#3619;&#3632;&#3610;&#3610;&#3585;&#3634;&#3619;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;.pdf </a> </td>
											    <td> <a href="../elements/id-f7c8823d64e9430b87bfe49d803ddfbc.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9eeb289a226c49f1b7f4ee1bc4735e28.html" target="element"> &#3649;&#3592;&#3657;&#3591;&#3648;&#3623;&#3637;&#3618;&#3609;&#3650;&#3588;&#3619;&#3591;&#3626;&#3619;&#3657;&#3634;&#3591;&#3629;&#3591;&#3588;&#3660;&#3585;&#3619; 2565(1).pdf </a> </td>
											    <td> <a href="../elements/id-9eeb289a226c49f1b7f4ee1bc4735e28.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7dbf6b393c0d4c1da501ebd29cdd9fa1.html" target="element"> &#3649;&#3612;&#3609;&#3591;&#3634;&#3609;&#3592;&#3633;&#3604;&#3627;&#3634; CBS3(&#3618;&#3585;&#3648;&#3623;&#3657;&#3609; OMS) V.1.0.pdf </a> </td>
											    <td> <a href="../elements/id-7dbf6b393c0d4c1da501ebd29cdd9fa1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-147c16854b584788a47aafff756f4f08.html" target="element"> Customer_256512.xls </a> </td>
											    <td> <a href="../elements/id-147c16854b584788a47aafff756f4f08.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52913bcb4fc440a790d5997e29935119.html" target="element"> field name TH.xlsx </a> </td>
											    <td> <a href="../elements/id-52913bcb4fc440a790d5997e29935119.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2659fb5ae27642d0bf5bb4000ddb47f8.html" target="element"> 20230209_esb_msg_volume.xlsx </a> </td>
											    <td> <a href="../elements/id-2659fb5ae27642d0bf5bb4000ddb47f8.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-646a8f3932f4423a921d937a47a87a81.html" target="element"> Schneider Demo 1mar23.pdf </a> </td>
											    <td> <a href="../elements/id-646a8f3932f4423a921d937a47a87a81.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html" target="element"> pea_oms_unplanned_dec_2022_summary.xlsx </a> </td>
											    <td> <a href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-008ff011071f422fb93bfcb2a5a3554f.html" target="element"> PEA OMS DCR - Mobile System Integration FRS v1.2.1.pdf </a> </td>
											    <td> <a href="../elements/id-008ff011071f422fb93bfcb2a5a3554f.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3a3188637f0476ab7cf45cad798e77d.html" target="element"> PM-OMSJuly24.08.pdf </a> </td>
											    <td> <a href="../elements/id-f3a3188637f0476ab7cf45cad798e77d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f966571d93f6485ea0b29d9d53376410.html" target="element"> PEASMC_&#3616;&#3634;&#3614;&#3619;&#3623;&#3617;&#3585;&#3634;&#3619;&#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3650;&#3618;&#3591;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591;&#3619;&#3632;&#3610;&#3610;gis-oms&#3649;&#3621;&#3632;scada-oms.pdf </a> </td>
											    <td> <a href="../elements/id-f966571d93f6485ea0b29d9d53376410.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0217765f46834cffb9ba4fa752cd830d.html" target="element"> 03-&#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3649;&#3609;&#3610; 3 &#3649;&#3612;&#3609;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; 70-OMI.pdf </a> </td>
											    <td> <a href="../elements/id-0217765f46834cffb9ba4fa752cd830d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5646933925914db4a9c835a8352cacf8.html" target="element"> 2023-01-01-Report No.52 Year to Date PEA-ALL.xlsx </a> </td>
											    <td> <a href="../elements/id-5646933925914db4a9c835a8352cacf8.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42053215262b468eb661db7b13c1c7e6.html" target="element"> &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; MWM.pptx </a> </td>
											    <td> <a href="../elements/id-42053215262b468eb661db7b13c1c7e6.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c11b1039b9934f3e878d58a41f263c2d.html" target="element"> 06-JD_book.pdf </a> </td>
											    <td> <a href="../elements/id-c11b1039b9934f3e878d58a41f263c2d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f42fcd77879e43bbb9aeb94a61942c99.html" target="element"> 2021-05-16-OrgOrd63.pdf </a> </td>
											    <td> <a href="../elements/id-f42fcd77879e43bbb9aeb94a61942c99.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>