<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-Actor-Define</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-Actor-Define</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9e43624ee184402abf736c66c6f90a0e.png" alt="02-Actor-Define" usemap="#id-9e43624ee184402abf736c66c6f90a0emap"/>
			   <map name="id-9e43624ee184402abf736c66c6f90a0emap">
				  		<area shape="rect" coords="11,408,52,436" href="../elements/id-50ff87aae852423eac88de5ecaf7a718.html"  target="element">
				  		<area shape="rect" coords="10,372,61,400" href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html"  target="element">
				  		<area shape="rect" coords="121,87,170,108" href="../elements/id-2ef9c46991644206813cbea93d0776a7.html"  target="element">
				  		<area shape="rect" coords="122,117,169,142" href="../elements/id-88f9b1fba4b94a4daf280b2fda550458.html"  target="element">
				  		<area shape="rect" coords="122,155,170,176" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="332,121,381,142" href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html"  target="element">
				  		<area shape="rect" coords="333,46,381,74" href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html"  target="element">
				  		<area shape="rect" coords="331,10,383,38" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="223,334,266,358" href="../elements/id-5b4d551c5f374db387381c4469ae232d.html"  target="element">
				  		<area shape="rect" coords="223,298,257,322" href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html"  target="element">
				  		<area shape="rect" coords="223,262,274,286" href="../elements/id-7064a924fa004a5da475e6756bf2076a.html"  target="element">
				  		<area shape="rect" coords="223,10,273,34" href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html"  target="element">
				  		<area shape="rect" coords="223,226,280,250" href="../elements/id-6a787f0e49a145e18e70f19120339798.html"  target="element">
				  		<area shape="rect" coords="223,190,284,214" href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html"  target="element">
				  		<area shape="rect" coords="223,154,264,178" href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html"  target="element">
				  		<area shape="rect" coords="223,82,268,106" href="../elements/id-5074eb1066d2446190bff5c22276e4cf.html"  target="element">
				  		<area shape="rect" coords="223,118,272,142" href="../elements/id-8713fb8b5b7b4daaa5e1bd050fea4e9c.html"  target="element">
				  		<area shape="rect" coords="223,46,284,70" href="../elements/id-2fb5892f7b7345f08716102283bbd152.html"  target="element">
				  		<area shape="rect" coords="11,336,54,364" href="../elements/id-5b4d551c5f374db387381c4469ae232d.html"  target="element">
				  		<area shape="rect" coords="11,300,45,328" href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html"  target="element">
				  		<area shape="rect" coords="11,264,62,292" href="../elements/id-7064a924fa004a5da475e6756bf2076a.html"  target="element">
				  		<area shape="rect" coords="11,12,61,40" href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html"  target="element">
				  		<area shape="rect" coords="11,228,68,256" href="../elements/id-6a787f0e49a145e18e70f19120339798.html"  target="element">
				  		<area shape="rect" coords="11,192,72,220" href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html"  target="element">
				  		<area shape="rect" coords="11,156,52,184" href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html"  target="element">
				  		<area shape="rect" coords="11,84,56,112" href="../elements/id-5074eb1066d2446190bff5c22276e4cf.html"  target="element">
				  		<area shape="rect" coords="11,120,60,148" href="../elements/id-8713fb8b5b7b4daaa5e1bd050fea4e9c.html"  target="element">
				  		<area shape="rect" coords="122,48,170,76" href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html"  target="element">
				  		<area shape="rect" coords="120,12,172,34" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="11,48,72,76" href="../elements/id-2fb5892f7b7345f08716102283bbd152.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element"> RTU </a> </td>
											    <td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8713fb8b5b7b4daaa5e1bd050fea4e9c.html" target="element"> Crew </a> </td>
											    <td> <a href="../elements/id-8713fb8b5b7b4daaa5e1bd050fea4e9c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5074eb1066d2446190bff5c22276e4cf.html" target="element"> SMC </a> </td>
											    <td> <a href="../elements/id-5074eb1066d2446190bff5c22276e4cf.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element"> E/O </a> </td>
											    <td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element"> &#3585;&#3610;&#3625;.&#3648;&#3586;&#3605; </a> </td>
											    <td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a787f0e49a145e18e70f19120339798.html" target="element"> unman </a> </td>
											    <td> <a href="../elements/id-6a787f0e49a145e18e70f19120339798.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
											    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8713fb8b5b7b4daaa5e1bd050fea4e9c.html" target="element"> Crew </a> </td>
											    <td> <a href="../elements/id-8713fb8b5b7b4daaa5e1bd050fea4e9c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5074eb1066d2446190bff5c22276e4cf.html" target="element"> SMC </a> </td>
											    <td> <a href="../elements/id-5074eb1066d2446190bff5c22276e4cf.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element"> E/O </a> </td>
											    <td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element"> &#3585;&#3610;&#3625;.&#3648;&#3586;&#3605; </a> </td>
											    <td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a787f0e49a145e18e70f19120339798.html" target="element"> unman </a> </td>
											    <td> <a href="../elements/id-6a787f0e49a145e18e70f19120339798.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element"> &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-7064a924fa004a5da475e6756bf2076a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element"> CC </a> </td>
											    <td> <a href="../elements/id-c494f4e66afd4610b0e8c52160ec84b3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-5b4d551c5f374db387381c4469ae232d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element"> RTU </a> </td>
											    <td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html" target="element"> GIS </a> </td>
											    <td> <a href="../elements/id-fcd4fe62622c4830aca5be84c01638dc.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88f9b1fba4b94a4daf280b2fda550458.html" target="element"> SCADA (copy) </a> </td>
											    <td> <a href="../elements/id-88f9b1fba4b94a4daf280b2fda550458.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ef9c46991644206813cbea93d0776a7.html" target="element"> GIS (copy) </a> </td>
											    <td> <a href="../elements/id-2ef9c46991644206813cbea93d0776a7.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html" target="element"> &#3612;&#3641;&#3657;&#3649;&#3592;&#3657;&#3591; </a> </td>
											    <td> <a href="../elements/id-15c1e8d25a384634aafaca5a6109374d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50ff87aae852423eac88de5ecaf7a718.html" target="element"> &#3592;&#3609;&#3607; </a> </td>
											    <td> <a href="../elements/id-50ff87aae852423eac88de5ecaf7a718.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>