<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03-DT-SAP</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03-DT-SAP</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cf9bb70bae8046b48607e80d889abed0.png" alt="03-DT-SAP" usemap="#id-cf9bb70bae8046b48607e80d889abed0map"/>
			   <map name="id-cf9bb70bae8046b48607e80d889abed0map">
				  		<area shape="rect" coords="195,305,315,360" href="../elements/id-29a098e0834e4282b44c151265a7515c.html"  target="element">
				  		<area shape="rect" coords="557,526,677,581" href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html"  target="element">
				  		<area shape="rect" coords="375,526,495,581" href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html"  target="element">
				  		<area shape="rect" coords="557,406,677,461" href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html"  target="element">
				  		<area shape="rect" coords="375,310,495,365" href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html"  target="element">
				  		<area shape="rect" coords="555,304,673,361" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="375,401,495,470" href="../elements/id-f1e3fd318b2f4b8d90cf53dbaebff186.html"  target="element">
				  		<area shape="rect" coords="195,393,315,479" href="../elements/id-f1a5632602e4434385c701b4710f7d11.html"  target="element">
				  		<area shape="rect" coords="10,408,130,463" href="../elements/id-e4ac7114780a467499f66dca56d6574b.html"  target="element">
				          <area shape="rect" coords="13,314,98,351" href="../objects/id-2cbb62cad4ae4da3936e6729790acd4b.html" target="element" >
				  		<area shape="rect" coords="551,118,669,173" href="../elements/id-f21734a67560476d8928a752d75fb19b.html"  target="element">
				  		<area shape="rect" coords="375,16,495,71" href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html"  target="element">
				  		<area shape="rect" coords="555,10,673,67" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="375,118,495,173" href="../elements/id-7b7791bd685a46b3b9dd1da952bf3388.html"  target="element">
				  		<area shape="rect" coords="195,112,315,179" href="../elements/id-4fbd0188e9514dbfb25116782b092519.html"  target="element">
				  		<area shape="rect" coords="13,118,133,173" href="../elements/id-e4ac7114780a467499f66dca56d6574b.html"  target="element">
				          <area shape="rect" coords="13,16,98,53" href="../objects/id-ccda6ffbfd3b49c38c5c5d01df84fed4.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ccda6ffbfd3b49c38c5c5d01df84fed4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ccda6ffbfd3b49c38c5c5d01df84fed4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e4ac7114780a467499f66dca56d6574b.html" target="element"> SAP Data Model </a> </td>
											    <td> <a href="../elements/id-e4ac7114780a467499f66dca56d6574b.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4fbd0188e9514dbfb25116782b092519.html" target="element"> SAP to/from eResponse Conversion </a> </td>
											    <td> <a href="../elements/id-4fbd0188e9514dbfb25116782b092519.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b7791bd685a46b3b9dd1da952bf3388.html" target="element"> [proprietary] eResponse ERP Data </a> </td>
											    <td> <a href="../elements/id-7b7791bd685a46b3b9dd1da952bf3388.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element"> ERP Data </a> </td>
											    <td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f21734a67560476d8928a752d75fb19b.html" target="element"> eRespond </a> </td>
											    <td> <a href="../elements/id-f21734a67560476d8928a752d75fb19b.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2cbb62cad4ae4da3936e6729790acd4b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2cbb62cad4ae4da3936e6729790acd4b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e4ac7114780a467499f66dca56d6574b.html" target="element"> SAP Data Model </a> </td>
											    <td> <a href="../elements/id-e4ac7114780a467499f66dca56d6574b.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1a5632602e4434385c701b4710f7d11.html" target="element"> SAP to/from PEA CIM based ERP Data Conversion </a> </td>
											    <td> <a href="../elements/id-f1a5632602e4434385c701b4710f7d11.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1e3fd318b2f4b8d90cf53dbaebff186.html" target="element"> [standard] PEA CIM based ERP Data Model </a> </td>
											    <td> <a href="../elements/id-f1e3fd318b2f4b8d90cf53dbaebff186.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element"> ERP Data </a> </td>
											    <td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
											    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
											    <td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element"> PEA CIM Profile Creation </a> </td>
											    <td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-d43ec529d2744b8e9f5b267a21771086.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d43ec529d2744b8e9f5b267a21771086.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fbd0188e9514dbfb25116782b092519.html" target="element"> SAP to/from eResponse Conversion </a> </td>
																		<td> <a href="../elements/id-e4ac7114780a467499f66dca56d6574b.html" target="element"> SAP Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70cd800cd2684c62afcfad34bb0f061c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70cd800cd2684c62afcfad34bb0f061c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4fbd0188e9514dbfb25116782b092519.html" target="element"> SAP to/from eResponse Conversion </a> </td>
																		<td> <a href="../elements/id-7b7791bd685a46b3b9dd1da952bf3388.html" target="element"> [proprietary] eResponse ERP Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-389a14b321d643079ae0ee5fd5ab766f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-389a14b321d643079ae0ee5fd5ab766f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b7791bd685a46b3b9dd1da952bf3388.html" target="element"> [proprietary] eResponse ERP Data </a> </td>
																		<td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element"> ERP Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a725e9a42b5042408d56909678a7b710.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a725e9a42b5042408d56909678a7b710.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element"> ERP Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0e33bce326a3413bb39d6256e058ffe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e33bce326a3413bb39d6256e058ffe1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f21734a67560476d8928a752d75fb19b.html" target="element"> eRespond </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-776b2a47ef19468daacd61f6b6822075.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-776b2a47ef19468daacd61f6b6822075.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f1a5632602e4434385c701b4710f7d11.html" target="element"> SAP to/from PEA CIM based ERP Data Conversion </a> </td>
																		<td> <a href="../elements/id-e4ac7114780a467499f66dca56d6574b.html" target="element"> SAP Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4af6df19cfc044c58e0b52e14ffa365d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4af6df19cfc044c58e0b52e14ffa365d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f1a5632602e4434385c701b4710f7d11.html" target="element"> SAP to/from PEA CIM based ERP Data Conversion </a> </td>
																		<td> <a href="../elements/id-f1e3fd318b2f4b8d90cf53dbaebff186.html" target="element"> [standard] PEA CIM based ERP Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4cda2f001f5c414e8aee399fa82cc6b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cda2f001f5c414e8aee399fa82cc6b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f1a5632602e4434385c701b4710f7d11.html" target="element"> SAP to/from PEA CIM based ERP Data Conversion </a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1c24add919ed4debb5325e80045b635f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c24add919ed4debb5325e80045b635f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f1e3fd318b2f4b8d90cf53dbaebff186.html" target="element"> [standard] PEA CIM based ERP Data Model </a> </td>
																		<td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element"> ERP Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0bea9019d2c1482b81c94fb0821a5615.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bea9019d2c1482b81c94fb0821a5615.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f1e3fd318b2f4b8d90cf53dbaebff186.html" target="element"> [standard] PEA CIM based ERP Data Model </a> </td>
																		<td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a725e9a42b5042408d56909678a7b710.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a725e9a42b5042408d56909678a7b710.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-4305d1d5bdff4a9ab5bdf7e2e7571b9c.html" target="element"> ERP Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0354b71c88ab40389825cd12e3f9c2bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0354b71c88ab40389825cd12e3f9c2bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58f79677abee45b790ec45e3188bbc09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58f79677abee45b790ec45e3188bbc09.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element"> PEA CIM Profile Creation </a> </td>
																		<td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>