<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04-Soft-Lnk</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04-Soft-Lnk</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f7708e935912402a99848285cb5aa720.png" alt="04-Soft-Lnk" usemap="#id-f7708e935912402a99848285cb5aa720map"/>
			   <map name="id-f7708e935912402a99848285cb5aa720map">
				  		<area shape="rect" coords="874,178,1091,251" href="../elements/id-27101379ca144837b4aca6e22262d93d.html"  target="element">
				  		<area shape="rect" coords="242,286,291,311" href="../elements/id-4f880c2912714705a8e49934a1572b5f.html"  target="element">
				  		<area shape="rect" coords="814,106,855,131" href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html"  target="element">
				  		<area shape="rect" coords="242,46,277,71" href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html"  target="element">
				  		<area shape="rect" coords="522,286,571,311" href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html"  target="element">
				  		<area shape="rect" coords="235,202,284,227" href="../elements/id-868c0146c79740b1a242ab454a748293.html"  target="element">
				  		<area shape="rect" coords="522,34,571,59" href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html"  target="element">
				  		<area shape="rect" coords="810,358,859,383" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="874,94,1091,167" href="../elements/id-799d7a0f2a2d4cf88bbc967a3af014f2.html"  target="element">
				  		<area shape="rect" coords="298,10,515,83" href="../elements/id-44b49282262a4005b2747f52f84d15a1.html"  target="element">
				  		<area shape="rect" coords="298,94,515,167" href="../elements/id-780c801755af4dbdb68191d9f155e76f.html"  target="element">
				  		<area shape="rect" coords="874,10,1091,83" href="../elements/id-fb697711af1e471cba5a01db44a0fe77.html"  target="element">
				  		<area shape="rect" coords="874,346,1091,419" href="../elements/id-495923937fdb42298627b2368be38725.html"  target="element">
				  		<area shape="rect" coords="586,262,803,335" href="../elements/id-4efcbd11ec8c41978671215a74cd99ca.html"  target="element">
				  		<area shape="rect" coords="586,94,803,167" href="../elements/id-77fb5c24942e48b188460d27240011c3.html"  target="element">
				  		<area shape="rect" coords="586,178,803,251" href="../elements/id-8ed969650cf94974a406f8252c15be04.html"  target="element">
				  		<area shape="rect" coords="586,10,803,83" href="../elements/id-a040f4bb64ff40c1b7999dddea387d4a.html"  target="element">
				  		<area shape="rect" coords="874,262,1091,335" href="../elements/id-1ae9b3257b314e7ca5537a37c0eb71c2.html"  target="element">
				  		<area shape="rect" coords="298,346,515,419" href="../elements/id-6c7ca565fb8e458fa9cc20526a028c3a.html"  target="element">
				  		<area shape="rect" coords="298,262,515,335" href="../elements/id-b1dc0ccd856441ddbff934b393d56e3a.html"  target="element">
				  		<area shape="rect" coords="298,178,515,251" href="../elements/id-e0cc781c5a3a4b3d8bef8581ef9547d1.html"  target="element">
				  		<area shape="rect" coords="10,346,227,419" href="../elements/id-2132bdd12ece4e6bb2218bdd33f07086.html"  target="element">
				  		<area shape="rect" coords="10,262,227,335" href="../elements/id-b13bafb1524549b9a48e8d739db48b77.html"  target="element">
				  		<area shape="rect" coords="10,178,227,251" href="../elements/id-b3ae80f496ec43a89284dcd5a8398f42.html"  target="element">
				  		<area shape="rect" coords="10,94,227,167" href="../elements/id-eaf578e9645a43799694e147548cba53.html"  target="element">
				  		<area shape="rect" coords="10,10,227,83" href="../elements/id-62968c79e52f46a4a92263d3378833e8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3619;&#3623;&#3610;&#3619;&#3623;&#3617;&#3648;&#3629;&#3585;&#3626;&#3634;&#3619; &#3594;&#3640;&#3604;&#3607;&#3637;&#3656; 5 : &#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610;&#3607;&#3637;&#3656;&#3648;&#3585;&#3637;&#3656;&#3618;&#3623;&#3586;&#3657;&#3629;&#3591;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-62968c79e52f46a4a92263d3378833e8.html" target="element"> &#3619;&#3632;&#3648;&#3610;&#3637;&#3618;&#3610; &#3585;&#3615;&#3616;. &#3623;&#3656;&#3634;&#3604;&#3657;&#3623;&#3618;&#3585;&#3634;&#3619;&#3592;&#3656;&#3634;&#3618;&#3648;&#3591;&#3636;&#3609;&#3648;&#3614;&#3636;&#3656;&#3617;&#3614;&#3636;&#3648;&#3624;&#3625;&#3626;&#3635;&#3627;&#3619;&#3633;&#3610;&#3612;&#3641;&#3657;&#3607;&#3635;&#3591;&#3634;&#3609;&#3585;&#3632; &#3614;.&#3624;.2560.PDF </a> </td>
											    <td> <a href="../elements/id-62968c79e52f46a4a92263d3378833e8.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eaf578e9645a43799694e147548cba53.html" target="element"> &#3619;&#3632;&#3648;&#3610;&#3637;&#3618;&#3610; &#3585;&#3615;&#3616;. &#3623;&#3656;&#3634;&#3604;&#3657;&#3623;&#3618;&#3585;&#3634;&#3619;&#3592;&#3633;&#3604;&#3648;&#3623;&#3619;&#3649;&#3621;&#3632;&#3585;&#3634;&#3619;&#3592;&#3656;&#3634;&#3618;&#3648;&#3591;&#3636;&#3609;&#3588;&#3656;&#3634;&#3629;&#3618;&#3641;&#3656;&#3648;&#3623;&#3619;&#3649;&#3585;&#3657;&#3585;&#3619;&#3632;&#3649;&#3626;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3614;.&#3624;.2560.PDF </a> </td>
											    <td> <a href="../elements/id-eaf578e9645a43799694e147548cba53.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3ae80f496ec43a89284dcd5a8398f42.html" target="element"> &#3626;&#3633;&#3597;&#3597;&#3634;&#3592;&#3633;&#3604;&#3592;&#3657;&#3634;&#3591;&#3607;&#3635;&#3619;&#3632;&#3610;&#3610; Smart Metro Grid.pdf </a> </td>
											    <td> <a href="../elements/id-b3ae80f496ec43a89284dcd5a8398f42.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b13bafb1524549b9a48e8d739db48b77.html" target="element"> MEA Smart Metro Grid.pdf </a> </td>
											    <td> <a href="../elements/id-b13bafb1524549b9a48e8d739db48b77.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2132bdd12ece4e6bb2218bdd33f07086.html" target="element"> &#3626;&#3633;&#3597;&#3597;&#3634;&#3592;&#3633;&#3604;&#3592;&#3657;&#3634;&#3591;&#3607;&#3635;&#3619;&#3632;&#3610;&#3610; Smart Metro Grid (&#3593;&#3610;&#3633;&#3610;&#3649;&#3585;&#3657;&#3652;&#3586;&#3648;&#3614;&#3636;&#3656;&#3617;&#3648;&#3605;&#3636;&#3617;).pdf </a> </td>
											    <td> <a href="../elements/id-2132bdd12ece4e6bb2218bdd33f07086.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0cc781c5a3a4b3d8bef8581ef9547d1.html" target="element"> &#3610; 27 2561-gis mwm application.pdf </a> </td>
											    <td> <a href="../elements/id-e0cc781c5a3a4b3d8bef8581ef9547d1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1dc0ccd856441ddbff934b393d56e3a.html" target="element"> &#3610;.75_2563 -&#3592;&#3633;&#3604;&#3627;&#3634; pc tracking tablet.pdf </a> </td>
											    <td> <a href="../elements/id-b1dc0ccd856441ddbff934b393d56e3a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c7ca565fb8e458fa9cc20526a028c3a.html" target="element"> 02-&#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3649;&#3609;&#3610; 2 &#3592;.38 2562 + &#3626;&#3621;&#3633;&#3585;&#3627;&#3621;&#3633;&#3591;.pdf </a> </td>
											    <td> <a href="../elements/id-6c7ca565fb8e458fa9cc20526a028c3a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1ae9b3257b314e7ca5537a37c0eb71c2.html" target="element"> &#3610;75 TOR &#3627;&#3657;&#3629;&#3591;&#3648;&#3623;&#3619;&#3649;&#3585;&#3657;&#3585;&#3619;&#3632;&#3649;&#3626;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; 159 &#3649;&#3627;&#3656;&#3591;.pdf </a> </td>
											    <td> <a href="../elements/id-1ae9b3257b314e7ca5537a37c0eb71c2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a040f4bb64ff40c1b7999dddea387d4a.html" target="element"> &#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591;&#3651;&#3610;&#3648;&#3626;&#3609;&#3629;&#3619;&#3634;&#3588;&#3634; scada ddip.pdf </a> </td>
											    <td> <a href="../elements/id-a040f4bb64ff40c1b7999dddea387d4a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ed969650cf94974a406f8252c15be04.html" target="element"> &#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591; cbs2 &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; &#3586; &#3617;&#3637;&#3619;&#3634;&#3618;&#3621;&#3632;&#3648;&#3629;&#3637;&#3618;&#3604;.pdf </a> </td>
											    <td> <a href="../elements/id-8ed969650cf94974a406f8252c15be04.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77fb5c24942e48b188460d27240011c3.html" target="element"> 03-&#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3649;&#3609;&#3610; 3 &#3649;&#3612;&#3609;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; 70-OMI.pdf </a> </td>
											    <td> <a href="../elements/id-77fb5c24942e48b188460d27240011c3.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4efcbd11ec8c41978671215a74cd99ca.html" target="element"> &#3649;&#3612;&#3609;&#3591;&#3634;&#3609;&#3592;&#3633;&#3604;&#3627;&#3634; CBS3(&#3618;&#3585;&#3648;&#3623;&#3657;&#3609; OMS) V.1.0.pdf </a> </td>
											    <td> <a href="../elements/id-4efcbd11ec8c41978671215a74cd99ca.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-495923937fdb42298627b2368be38725.html" target="element"> Master Reference data_2.4(16072021) for OMS.xls </a> </td>
											    <td> <a href="../elements/id-495923937fdb42298627b2368be38725.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb697711af1e471cba5a01db44a0fe77.html" target="element"> &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3619;&#3634;&#3618;&#3594;&#3639;&#3656;&#3629;&#3585;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3651;&#3609;&#3626;&#3633;&#3591;&#3585;&#3633;&#3604;(&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591; &#3617;&#3637;&#3609;&#3634;&#3588;&#3617; 2565).pdf </a> </td>
											    <td> <a href="../elements/id-fb697711af1e471cba5a01db44a0fe77.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-780c801755af4dbdb68191d9f155e76f.html" target="element"> &#3588;&#3641;&#3656;&#3617;&#3639;&#3629;OMS_eRespond_CasePlanned_Transformer.pdf </a> </td>
											    <td> <a href="../elements/id-780c801755af4dbdb68191d9f155e76f.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44b49282262a4005b2747f52f84d15a1.html" target="element"> &#3588;&#3641;&#3656;&#3617;&#3639;&#3629;OMS_eRespond_CasePremise_Transformer.pdf </a> </td>
											    <td> <a href="../elements/id-44b49282262a4005b2747f52f84d15a1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-799d7a0f2a2d4cf88bbc967a3af014f2.html" target="element"> JD &#3649;&#3612;&#3609;&#3585;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; &#3594;&#3633;&#3657;&#3609;3--7&#3649;&#3612;&#3609;&#3585;.pdf </a> </td>
											    <td> <a href="../elements/id-799d7a0f2a2d4cf88bbc967a3af014f2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
											    <td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element"> CBS2 </a> </td>
											    <td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
											    <td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
											    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27101379ca144837b4aca6e22262d93d.html" target="element"> JD &#3649;&#3612;&#3609;&#3585;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; &#3594;&#3633;&#3657;&#3609;1-3--8&#3649;&#3612;&#3609;&#3585;.pdf </a> </td>
											    <td> <a href="../elements/id-27101379ca144837b4aca6e22262d93d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7ad1b6b30e454fca8e84b27e50d673d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ad1b6b30e454fca8e84b27e50d673d7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62968c79e52f46a4a92263d3378833e8.html" target="element"> &#3619;&#3632;&#3648;&#3610;&#3637;&#3618;&#3610; &#3585;&#3615;&#3616;. &#3623;&#3656;&#3634;&#3604;&#3657;&#3623;&#3618;&#3585;&#3634;&#3619;&#3592;&#3656;&#3634;&#3618;&#3648;&#3591;&#3636;&#3609;&#3648;&#3614;&#3636;&#3656;&#3617;&#3614;&#3636;&#3648;&#3624;&#3625;&#3626;&#3635;&#3627;&#3619;&#3633;&#3610;&#3612;&#3641;&#3657;&#3607;&#3635;&#3591;&#3634;&#3609;&#3585;&#3632; &#3614;.&#3624;.2560.PDF </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-432cfb201c2244758737338c68a7c011.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-432cfb201c2244758737338c68a7c011.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eaf578e9645a43799694e147548cba53.html" target="element"> &#3619;&#3632;&#3648;&#3610;&#3637;&#3618;&#3610; &#3585;&#3615;&#3616;. &#3623;&#3656;&#3634;&#3604;&#3657;&#3623;&#3618;&#3585;&#3634;&#3619;&#3592;&#3633;&#3604;&#3648;&#3623;&#3619;&#3649;&#3621;&#3632;&#3585;&#3634;&#3619;&#3592;&#3656;&#3634;&#3618;&#3648;&#3591;&#3636;&#3609;&#3588;&#3656;&#3634;&#3629;&#3618;&#3641;&#3656;&#3648;&#3623;&#3619;&#3649;&#3585;&#3657;&#3585;&#3619;&#3632;&#3649;&#3626;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3614;.&#3624;.2560.PDF </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d1026b0467604c9dba4aa888de9faca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1026b0467604c9dba4aa888de9faca6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3ae80f496ec43a89284dcd5a8398f42.html" target="element"> &#3626;&#3633;&#3597;&#3597;&#3634;&#3592;&#3633;&#3604;&#3592;&#3657;&#3634;&#3591;&#3607;&#3635;&#3619;&#3632;&#3610;&#3610; Smart Metro Grid.pdf </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d4bbb8bda7c149ef92ebf26515675b9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4bbb8bda7c149ef92ebf26515675b9a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b13bafb1524549b9a48e8d739db48b77.html" target="element"> MEA Smart Metro Grid.pdf </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-199e9574d91e4cffa5c96a2a04063770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-199e9574d91e4cffa5c96a2a04063770.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2132bdd12ece4e6bb2218bdd33f07086.html" target="element"> &#3626;&#3633;&#3597;&#3597;&#3634;&#3592;&#3633;&#3604;&#3592;&#3657;&#3634;&#3591;&#3607;&#3635;&#3619;&#3632;&#3610;&#3610; Smart Metro Grid (&#3593;&#3610;&#3633;&#3610;&#3649;&#3585;&#3657;&#3652;&#3586;&#3648;&#3614;&#3636;&#3656;&#3617;&#3648;&#3605;&#3636;&#3617;).pdf </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-71cc7038b95d45e08907e30eeea00f23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71cc7038b95d45e08907e30eeea00f23.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e0cc781c5a3a4b3d8bef8581ef9547d1.html" target="element"> &#3610; 27 2561-gis mwm application.pdf </a> </td>
																		<td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-98fa521e2c52463bb1e867bf1a8b0e80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98fa521e2c52463bb1e867bf1a8b0e80.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b1dc0ccd856441ddbff934b393d56e3a.html" target="element"> &#3610;.75_2563 -&#3592;&#3633;&#3604;&#3627;&#3634; pc tracking tablet.pdf </a> </td>
																		<td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7050f5ccdd8d45d18c93b6c95210e815.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7050f5ccdd8d45d18c93b6c95210e815.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c7ca565fb8e458fa9cc20526a028c3a.html" target="element"> 02-&#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3649;&#3609;&#3610; 2 &#3592;.38 2562 + &#3626;&#3621;&#3633;&#3585;&#3627;&#3621;&#3633;&#3591;.pdf </a> </td>
																		<td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element"> CBS2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e54be639a2b44414a2ff9cfa7cbb82e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e54be639a2b44414a2ff9cfa7cbb82e7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ae9b3257b314e7ca5537a37c0eb71c2.html" target="element"> &#3610;75 TOR &#3627;&#3657;&#3629;&#3591;&#3648;&#3623;&#3619;&#3649;&#3585;&#3657;&#3585;&#3619;&#3632;&#3649;&#3626;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; 159 &#3649;&#3627;&#3656;&#3591;.pdf </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fe6e9c7cb2574022b94110d1e2973850.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe6e9c7cb2574022b94110d1e2973850.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a040f4bb64ff40c1b7999dddea387d4a.html" target="element"> &#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591;&#3651;&#3610;&#3648;&#3626;&#3609;&#3629;&#3619;&#3634;&#3588;&#3634; scada ddip.pdf </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5a039c78c4124da3ba90e5d247ea1f5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a039c78c4124da3ba90e5d247ea1f5e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ed969650cf94974a406f8252c15be04.html" target="element"> &#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591; cbs2 &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; &#3586; &#3617;&#3637;&#3619;&#3634;&#3618;&#3621;&#3632;&#3648;&#3629;&#3637;&#3618;&#3604;.pdf </a> </td>
																		<td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element"> CBS2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aeb532b2f08646cd8375c5ef6ea80018.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aeb532b2f08646cd8375c5ef6ea80018.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77fb5c24942e48b188460d27240011c3.html" target="element"> 03-&#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3649;&#3609;&#3610; 3 &#3649;&#3612;&#3609;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; 70-OMI.pdf </a> </td>
																		<td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6f4d9433cd141a6af68046d3c53a4d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6f4d9433cd141a6af68046d3c53a4d8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4efcbd11ec8c41978671215a74cd99ca.html" target="element"> &#3649;&#3612;&#3609;&#3591;&#3634;&#3609;&#3592;&#3633;&#3604;&#3627;&#3634; CBS3(&#3618;&#3585;&#3648;&#3623;&#3657;&#3609; OMS) V.1.0.pdf </a> </td>
																		<td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element"> CBS2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be561836e9c14d91b93ca59e39f83ebc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be561836e9c14d91b93ca59e39f83ebc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-495923937fdb42298627b2368be38725.html" target="element"> Master Reference data_2.4(16072021) for OMS.xls </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-566e697ec3d748658c5f550f8a5f8486.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-566e697ec3d748658c5f550f8a5f8486.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb697711af1e471cba5a01db44a0fe77.html" target="element"> &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3619;&#3634;&#3618;&#3594;&#3639;&#3656;&#3629;&#3585;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3651;&#3609;&#3626;&#3633;&#3591;&#3585;&#3633;&#3604;(&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591; &#3617;&#3637;&#3609;&#3634;&#3588;&#3617; 2565).pdf </a> </td>
																		<td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfc9037a1984487f94563c3a1186c84b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfc9037a1984487f94563c3a1186c84b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-780c801755af4dbdb68191d9f155e76f.html" target="element"> &#3588;&#3641;&#3656;&#3617;&#3639;&#3629;OMS_eRespond_CasePlanned_Transformer.pdf </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-003aac2b2cea4b6fb2cbd4943d3d78cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-003aac2b2cea4b6fb2cbd4943d3d78cb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-44b49282262a4005b2747f52f84d15a1.html" target="element"> &#3588;&#3641;&#3656;&#3617;&#3639;&#3629;OMS_eRespond_CasePremise_Transformer.pdf </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1585e41db3b8452d8b442a27a4f41a79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1585e41db3b8452d8b442a27a4f41a79.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-799d7a0f2a2d4cf88bbc967a3af014f2.html" target="element"> JD &#3649;&#3612;&#3609;&#3585;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; &#3594;&#3633;&#3657;&#3609;3--7&#3649;&#3612;&#3609;&#3585;.pdf </a> </td>
																		<td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5657fea0ec0746c897ddd2a646336e25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5657fea0ec0746c897ddd2a646336e25.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27101379ca144837b4aca6e22262d93d.html" target="element"> JD &#3649;&#3612;&#3609;&#3585;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; &#3594;&#3633;&#3657;&#3609;1-3--8&#3649;&#3612;&#3609;&#3585;.pdf </a> </td>
																		<td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>