<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>08-Vdo-Lnk</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>08-Vdo-Lnk</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-061d23e75020457abb1ab1eac96561d2.png" alt="08-Vdo-Lnk" usemap="#id-061d23e75020457abb1ab1eac96561d2map"/>
			   <map name="id-061d23e75020457abb1ab1eac96561d2map">
				  		<area shape="rect" coords="806,209,855,234" href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html"  target="element">
				  		<area shape="rect" coords="792,58,833,83" href="../elements/id-2e6fc524827946b8905f310b76dbc1fe.html"  target="element">
				  		<area shape="rect" coords="10,185,227,258" href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html"  target="element">
				  		<area shape="rect" coords="310,185,527,258" href="../elements/id-646a8f3932f4423a921d937a47a87a81.html"  target="element">
				  		<area shape="rect" coords="250,58,285,83" href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html"  target="element">
				  		<area shape="rect" coords="778,118,827,143" href="../elements/id-868c0146c79740b1a242ab454a748293.html"  target="element">
				  		<area shape="rect" coords="794,22,831,47" href="../elements/id-4f880c2912714705a8e49934a1572b5f.html"  target="element">
				  		<area shape="rect" coords="243,209,292,234" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="310,94,539,167" href="../elements/id-dd822f1525564ca09dc3552aa46bf77d.html"  target="element">
				  		<area shape="rect" coords="562,185,779,258" href="../elements/id-3e5cca829ed74e9dbc679771d76be888.html"  target="element">
				  		<area shape="rect" coords="842,94,1059,167" href="../elements/id-b475ef0c1f8d4fce9d48d5fdba033967.html"  target="element">
				  		<area shape="rect" coords="842,10,1059,83" href="../elements/id-83da4e3458d6451e86105a36f2f4cde3.html"  target="element">
				  		<area shape="rect" coords="310,10,539,83" href="../elements/id-c8bc6740f85c47f9bad674d720fb0a97.html"  target="element">
				  		<area shape="rect" coords="562,10,779,83" href="../elements/id-9300c33746b44e0890e5c18cb13dcde0.html"  target="element">
				  		<area shape="rect" coords="10,94,227,167" href="../elements/id-fda087843850477bbcb8c10cc8a0f11f.html"  target="element">
				  		<area shape="rect" coords="10,10,227,83" href="../elements/id-99cacff48ab5432f8c94b20bab9763ea.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-99cacff48ab5432f8c94b20bab9763ea.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617; Workshop &#3648;&#3614;&#3639;&#3656;&#3629;&#3624;&#3638;&#3585;&#3625;&#3634; &#3607;&#3610;&#3607;&#3623;&#3609; &#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591; &#3649;&#3621;&#3632;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-20230315 0231-1.mp4 </a> </td>
											    <td> <a href="../elements/id-99cacff48ab5432f8c94b20bab9763ea.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fda087843850477bbcb8c10cc8a0f11f.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617; Workshop &#3648;&#3614;&#3639;&#3656;&#3629;&#3624;&#3638;&#3585;&#3625;&#3634; &#3607;&#3610;&#3607;&#3623;&#3609; &#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591; &#3649;&#3621;&#3632;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-20230314 0234-1.mp4 </a> </td>
											    <td> <a href="../elements/id-fda087843850477bbcb8c10cc8a0f11f.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9300c33746b44e0890e5c18cb13dcde0.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; ITiDC-20230313 0235-1.mp4 </a> </td>
											    <td> <a href="../elements/id-9300c33746b44e0890e5c18cb13dcde0.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8bc6740f85c47f9bad674d720fb0a97.html" target="element"> &#3605;&#3636;&#3604;&#3605;&#3634;&#3617;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634;&#3611;&#3619;&#3632;&#3592;&#3635;&#3648;&#3604;&#3639;&#3629;&#3609; &#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619;&#3592;&#3657;&#3634;&#3591;&#3607;&#3637;&#3656;&#3611;&#3619;&#3638;&#3585;&#3625;&#3634; oms &#3588;&#3619;&#3633;&#3657;&#3591;&#3607;&#3637;&#3656; 1-20230309 0256-1.mp4 </a> </td>
											    <td> <a href="../elements/id-c8bc6740f85c47f9bad674d720fb0a97.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83da4e3458d6451e86105a36f2f4cde3.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; Smart Grid &#3649;&#3621;&#3632; AMI-20230310 0229-1.mp4 </a> </td>
											    <td> <a href="../elements/id-83da4e3458d6451e86105a36f2f4cde3.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b475ef0c1f8d4fce9d48d5fdba033967.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; MWM-20230310 0618-1.mp4&#8217; </a> </td>
											    <td> <a href="../elements/id-b475ef0c1f8d4fce9d48d5fdba033967.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e5cca829ed74e9dbc679771d76be888.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; PTN 20230309 0632-1.mp4 </a> </td>
											    <td> <a href="../elements/id-3e5cca829ed74e9dbc679771d76be888.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd822f1525564ca09dc3552aa46bf77d.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; (Kick-off Meeting) &#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619;&#3592;&#3657;&#3634;&#3591;&#3607;&#3637;&#3656;&#3611;&#3619;&#3638;&#3585;&#3625;&#3634; OMS-20230301 0156-1.mp4&#8217; </a> </td>
											    <td> <a href="../elements/id-dd822f1525564ca09dc3552aa46bf77d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
											    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
											    <td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-646a8f3932f4423a921d937a47a87a81.html" target="element"> Schneider Demo 1mar23.pdf </a> </td>
											    <td> <a href="../elements/id-646a8f3932f4423a921d937a47a87a81.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html" target="element"> pea_oms_unplanned_dec_2022_summary.xlsx </a> </td>
											    <td> <a href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e6fc524827946b8905f310b76dbc1fe.html" target="element"> ITiDC </a> </td>
											    <td> <a href="../elements/id-2e6fc524827946b8905f310b76dbc1fe.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element"> CBS2 </a> </td>
											    <td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f1983eaa2fe64887956d435751a05ae2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1983eaa2fe64887956d435751a05ae2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99cacff48ab5432f8c94b20bab9763ea.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617; Workshop &#3648;&#3614;&#3639;&#3656;&#3629;&#3624;&#3638;&#3585;&#3625;&#3634; &#3607;&#3610;&#3607;&#3623;&#3609; &#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591; &#3649;&#3621;&#3632;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-20230315 0231-1.mp4 </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6428d2026a5c4147b575febd6a932ea8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6428d2026a5c4147b575febd6a932ea8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fda087843850477bbcb8c10cc8a0f11f.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617; Workshop &#3648;&#3614;&#3639;&#3656;&#3629;&#3624;&#3638;&#3585;&#3625;&#3634; &#3607;&#3610;&#3607;&#3623;&#3609; &#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591; &#3649;&#3621;&#3632;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-20230314 0234-1.mp4 </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-49ecb2b2e9f94978b87875ac66d07dbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49ecb2b2e9f94978b87875ac66d07dbe.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9300c33746b44e0890e5c18cb13dcde0.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; ITiDC-20230313 0235-1.mp4 </a> </td>
																		<td> <a href="../elements/id-2e6fc524827946b8905f310b76dbc1fe.html" target="element"> ITiDC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01c21bbb7b0f42cba6be1e03ca3cfab9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01c21bbb7b0f42cba6be1e03ca3cfab9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8bc6740f85c47f9bad674d720fb0a97.html" target="element"> &#3605;&#3636;&#3604;&#3605;&#3634;&#3617;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634;&#3611;&#3619;&#3632;&#3592;&#3635;&#3648;&#3604;&#3639;&#3629;&#3609; &#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619;&#3592;&#3657;&#3634;&#3591;&#3607;&#3637;&#3656;&#3611;&#3619;&#3638;&#3585;&#3625;&#3634; oms &#3588;&#3619;&#3633;&#3657;&#3591;&#3607;&#3637;&#3656; 1-20230309 0256-1.mp4 </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ae3735bc7e144a3927cdadfeba4929a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ae3735bc7e144a3927cdadfeba4929a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83da4e3458d6451e86105a36f2f4cde3.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; Smart Grid &#3649;&#3621;&#3632; AMI-20230310 0229-1.mp4 </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3463f268b5014d26a6e3a4ab148aad62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3463f268b5014d26a6e3a4ab148aad62.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b475ef0c1f8d4fce9d48d5fdba033967.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; MWM-20230310 0618-1.mp4&#8217; </a> </td>
																		<td> <a href="../elements/id-868c0146c79740b1a242ab454a748293.html" target="element"> MWM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-827d0d9516cf4ea3be89a2bf3e9c21fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-827d0d9516cf4ea3be89a2bf3e9c21fc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e5cca829ed74e9dbc679771d76be888.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629; PTN 20230309 0632-1.mp4 </a> </td>
																		<td> <a href="../elements/id-558a4ad36b2b4624ac21149a9327b62b.html" target="element"> CBS2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e47f7089399e453fb5b13d543ba394bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e47f7089399e453fb5b13d543ba394bd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd822f1525564ca09dc3552aa46bf77d.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; (Kick-off Meeting) &#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619;&#3592;&#3657;&#3634;&#3591;&#3607;&#3637;&#3656;&#3611;&#3619;&#3638;&#3585;&#3625;&#3634; OMS-20230301 0156-1.mp4&#8217; </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6aa7f7f1a5b44b5fa062fce526ef0913.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aa7f7f1a5b44b5fa062fce526ef0913.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646a8f3932f4423a921d937a47a87a81.html" target="element"> Schneider Demo 1mar23.pdf </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20b9e1541cdc4444aaffaa91f1bcda27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20b9e1541cdc4444aaffaa91f1bcda27.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646a8f3932f4423a921d937a47a87a81.html" target="element"> Schneider Demo 1mar23.pdf </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c3e906ddc9144c519546149694e56cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3e906ddc9144c519546149694e56cfd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b1919219ff354df985aff9e80e86a8ed.html" target="element"> pea_oms_unplanned_dec_2022_summary.xlsx </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>