<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>14-OM-Plan-5</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>14-OM-Plan-5</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0d32813def51480fae46f2dbe157db56.png" alt="14-OM-Plan-5" usemap="#id-0d32813def51480fae46f2dbe157db56map"/>
			   <map name="id-0d32813def51480fae46f2dbe157db56map">
				  		<area shape="rect" coords="466,586,514,607" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="34,190,86,212" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="466,190,514,211" href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html"  target="element">
				  		<area shape="rect" coords="454,322,506,344" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="250,610,383,683" href="../elements/id-48c9cadbac5d4804aa328c175377b939.html"  target="element">
				  		<area shape="rect" coords="454,514,587,587" href="../elements/id-ce5437e222be4514b1f49f5f41ee5c3e.html"  target="element">
				  		<area shape="rect" coords="430,359,611,480" href="../elements/id-d54e209edab94e1385781713d057c003.html"  target="element">
				  		<area shape="rect" coords="442,226,599,323" href="../elements/id-cc0acc630ef14163bdcbd354c22b799f.html"  target="element">
				  		<area shape="rect" coords="454,106,587,191" href="../elements/id-bacc5c9f070d433fb8b13d6c44f1bae3.html"  target="element">
				  		<area shape="rect" coords="34,370,191,467" href="../elements/id-05513d4467724b7798bf1bf3331cc4c6.html"  target="element">
				  		<area shape="rect" coords="10,238,215,335" href="../elements/id-d5ecec4eeff049dc9e6f755f3599f394.html"  target="element">
				  		<area shape="rect" coords="22,118,203,191" href="../elements/id-3aca6ef6183e4ee98d0d13031cf86c3e.html"  target="element">
				  		<area shape="rect" coords="250,10,383,71" href="../elements/id-ef4d48e9a2dc459aa21d09a642bcbd2d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ef4d48e9a2dc459aa21d09a642bcbd2d.html" target="element"> In(FromApproval) </a> </td>
											    <td> <a href="../elements/id-ef4d48e9a2dc459aa21d09a642bcbd2d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3aca6ef6183e4ee98d0d13031cf86c3e.html" target="element"> Generate plannedoutage notifications(E/O Work Dispatcher): 200 </a> </td>
											    <td> <a href="../elements/id-3aca6ef6183e4ee98d0d13031cf86c3e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5ecec4eeff049dc9e6f755f3599f394.html" target="element"> (Shortly before sendingnotifications) RequestE/O Manager to sign officethe notification(E/O Work Dispatcher): 210 </a> </td>
											    <td> <a href="../elements/id-d5ecec4eeff049dc9e6f755f3599f394.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-05513d4467724b7798bf1bf3331cc4c6.html" target="element"> Notify plannedoutage to affectedcustomers at least7 days in advance(E/O Resource): 220 </a> </td>
											    <td> <a href="../elements/id-05513d4467724b7798bf1bf3331cc4c6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bacc5c9f070d433fb8b13d6c44f1bae3.html" target="element"> Update plannedSwitching workorder to released(Automatic): 320 </a> </td>
											    <td> <a href="../elements/id-bacc5c9f070d433fb8b13d6c44f1bae3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc0acc630ef14163bdcbd354c22b799f.html" target="element"> Update PlannedSwitching work orderin eRespond withstatus 'Issued'(Automatic): 240 </a> </td>
											    <td> <a href="../elements/id-cc0acc630ef14163bdcbd354c22b799f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d54e209edab94e1385781713d057c003.html" target="element"> Inform OutageRequestors and allrelevant parties thatPlanned Outagescheduled and approved(E/O Work Dispatcher): 215 </a> </td>
											    <td> <a href="../elements/id-d54e209edab94e1385781713d057c003.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce5437e222be4514b1f49f5f41ee5c3e.html" target="element"> ResourceScheduling andgrouping Process: 245 </a> </td>
											    <td> <a href="../elements/id-ce5437e222be4514b1f49f5f41ee5c3e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48c9cadbac5d4804aa328c175377b939.html" target="element"> Out(ToApproval) </a> </td>
											    <td> <a href="../elements/id-48c9cadbac5d4804aa328c175377b939.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element"> SAP </a> </td>
											    <td> <a href="../elements/id-791ce9cfbc2a4d38a23032324f18b359.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-079bf14b043b4485b9dcce7458e40919.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-079bf14b043b4485b9dcce7458e40919.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef4d48e9a2dc459aa21d09a642bcbd2d.html" target="element"> In(FromApproval) </a> </td>
																		<td> <a href="../elements/id-3aca6ef6183e4ee98d0d13031cf86c3e.html" target="element"> Generate plannedoutage notifications(E/O Work Dispatcher): 200 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52a31e81910b4e338a9f7da9c8b6e33d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52a31e81910b4e338a9f7da9c8b6e33d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef4d48e9a2dc459aa21d09a642bcbd2d.html" target="element"> In(FromApproval) </a> </td>
																		<td> <a href="../elements/id-bacc5c9f070d433fb8b13d6c44f1bae3.html" target="element"> Update plannedSwitching workorder to released(Automatic): 320 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-92353563b2a849aa9350f4b4c8d5e636.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92353563b2a849aa9350f4b4c8d5e636.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3aca6ef6183e4ee98d0d13031cf86c3e.html" target="element"> Generate plannedoutage notifications(E/O Work Dispatcher): 200 </a> </td>
																		<td> <a href="../elements/id-d5ecec4eeff049dc9e6f755f3599f394.html" target="element"> (Shortly before sendingnotifications) RequestE/O Manager to sign officethe notification(E/O Work Dispatcher): 210 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a7288c657a34119843ea746b9d93198.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a7288c657a34119843ea746b9d93198.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ecec4eeff049dc9e6f755f3599f394.html" target="element"> (Shortly before sendingnotifications) RequestE/O Manager to sign officethe notification(E/O Work Dispatcher): 210 </a> </td>
																		<td> <a href="../elements/id-05513d4467724b7798bf1bf3331cc4c6.html" target="element"> Notify plannedoutage to affectedcustomers at least7 days in advance(E/O Resource): 220 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a027444ad4c146b6b999a04e86cdbed1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a027444ad4c146b6b999a04e86cdbed1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05513d4467724b7798bf1bf3331cc4c6.html" target="element"> Notify plannedoutage to affectedcustomers at least7 days in advance(E/O Resource): 220 </a> </td>
																		<td> <a href="../elements/id-48c9cadbac5d4804aa328c175377b939.html" target="element"> Out(ToApproval) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-116192675636431098ec1818dfe2eb04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-116192675636431098ec1818dfe2eb04.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bacc5c9f070d433fb8b13d6c44f1bae3.html" target="element"> Update plannedSwitching workorder to released(Automatic): 320 </a> </td>
																		<td> <a href="../elements/id-cc0acc630ef14163bdcbd354c22b799f.html" target="element"> Update PlannedSwitching work orderin eRespond withstatus 'Issued'(Automatic): 240 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-449c945884274fdba84bad3beaed625b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-449c945884274fdba84bad3beaed625b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc0acc630ef14163bdcbd354c22b799f.html" target="element"> Update PlannedSwitching work orderin eRespond withstatus 'Issued'(Automatic): 240 </a> </td>
																		<td> <a href="../elements/id-d54e209edab94e1385781713d057c003.html" target="element"> Inform OutageRequestors and allrelevant parties thatPlanned Outagescheduled and approved(E/O Work Dispatcher): 215 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f9d89440cdd04bf3843626b7650aab70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9d89440cdd04bf3843626b7650aab70.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d54e209edab94e1385781713d057c003.html" target="element"> Inform OutageRequestors and allrelevant parties thatPlanned Outagescheduled and approved(E/O Work Dispatcher): 215 </a> </td>
																		<td> <a href="../elements/id-ce5437e222be4514b1f49f5f41ee5c3e.html" target="element"> ResourceScheduling andgrouping Process: 245 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f37f5a071a9941869e2bf562640e7cef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f37f5a071a9941869e2bf562640e7cef.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce5437e222be4514b1f49f5f41ee5c3e.html" target="element"> ResourceScheduling andgrouping Process: 245 </a> </td>
																		<td> <a href="../elements/id-48c9cadbac5d4804aa328c175377b939.html" target="element"> Out(ToApproval) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>