<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>14-cbs3-rel</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>14-cbs3-rel</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-10f647052c3e4311958a73504628b987.png" alt="14-cbs3-rel" usemap="#id-10f647052c3e4311958a73504628b987map"/>
			   <map name="id-10f647052c3e4311958a73504628b987map">
				  		<area shape="rect" coords="621,491,658,588" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				          <area shape="rect" coords="10,10,262,48" href="../objects/id-7d309dbb596c48a4bef3034ca4cbea99.html" target="element" >
				  				<area shape="rect" coords="441,83,538,120" href="../elements/id-7a0af58e844c4685b4577a931da40954.html"  target="element">
				  				<area shape="rect" coords="333,83,430,120" href="../elements/id-5c44d339850b4f53834650986e1c37f1.html"  target="element">
				  				<area shape="rect" coords="213,83,322,120" href="../elements/id-228dc9d058444dcea5199004aa96194d.html"  target="element">

				  		<area shape="rect" coords="21,71,598,132" href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html"  target="element">
				  				<area shape="rect" coords="45,335,142,372" href="../elements/id-a5e2690bc30c4c8184aec6ee9e81a2c4.html"  target="element">
				  				<area shape="rect" coords="45,215,142,252" href="../elements/id-004e815a91034a9dbe0c973df59b18de.html"  target="element">
				  				<area shape="rect" coords="45,155,142,192" href="../elements/id-0f95ce534f2041c38388d36df7685854.html"  target="element">
				  				<area shape="rect" coords="45,275,142,312" href="../elements/id-6ea3b067a9db483897ff470b6b432c94.html"  target="element">

				  		<area shape="rect" coords="21,119,166,528" href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html"  target="element">
				  		<area shape="rect" coords="621,143,658,504" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				  		<area shape="rect" coords="177,143,214,504" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				  		<area shape="rect" coords="201,143,658,172" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				  		<area shape="rect" coords="201,307,658,340" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				  				<area shape="rect" coords="477,419,586,456" href="../elements/id-5a49897010a24683ad70cc13f2873b78.html"  target="element">
				  				<area shape="rect" coords="477,371,586,408" href="../elements/id-30b3f69db0f24d22a1238a1ef9aa8da5.html"  target="element">
				  				<area shape="rect" coords="357,419,466,456" href="../elements/id-121c14fe3d3148aaa7316de741a6f05f.html"  target="element">
				  				<area shape="rect" coords="357,371,466,408" href="../elements/id-6bd75ee3cc8949a4afda73c9ba99cc0a.html"  target="element">
				  				<area shape="rect" coords="237,419,346,456" href="../elements/id-bb5cbddaa0874f33b210ae10e471f6e1.html"  target="element">
				  				<area shape="rect" coords="237,371,346,408" href="../elements/id-8c22198b9ebd4b46977b93e0fc2a5331.html"  target="element">

				  		<area shape="rect" coords="225,347,598,468" href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html"  target="element">
				  				<area shape="rect" coords="477,251,586,288" href="../elements/id-f969eeb9f6284bf8a8ed442137fbbe47.html"  target="element">
				  				<area shape="rect" coords="477,203,586,240" href="../elements/id-4535b5fb128b4c86a7bce144499352f1.html"  target="element">
				  				<area shape="rect" coords="357,251,466,288" href="../elements/id-a6554916bb144f7ebeac4ce46b3b3891.html"  target="element">
				  				<area shape="rect" coords="357,203,466,240" href="../elements/id-3162b7c0208a452ba7ab76ea41b6b8ae.html"  target="element">
				  				<area shape="rect" coords="237,251,346,288" href="../elements/id-b0ebb0fbe9d147cd8e51769190fa25b6.html"  target="element">
				  				<area shape="rect" coords="237,203,346,240" href="../elements/id-dd3bdf08b3034f6ca608d2f1dcbca442.html"  target="element">

				  		<area shape="rect" coords="225,179,598,300" href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html"  target="element">
				  		<area shape="rect" coords="189,479,646,504" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				  				<area shape="rect" coords="684,83,781,120" href="../elements/id-1f0e9cc9072444558d6e5ea68bec599b.html"  target="element">
				  				<area shape="rect" coords="681,287,785,328" href="../elements/id-2032c0447eaa487fa3b86b316a0ba380.html"  target="element">
				  				<area shape="rect" coords="681,239,785,280" href="../elements/id-7e3f47116aa24f3198510f173b867b8a.html"  target="element">
				  				<area shape="rect" coords="681,191,785,232" href="../elements/id-52cc095119954d41a6c77a64a8258ead.html"  target="element">
				  				<area shape="rect" coords="681,143,785,184" href="../elements/id-e2c87f46f0ec45c5ad26ee6366170e3f.html"  target="element">

				  		<area shape="rect" coords="669,47,795,588" href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html"  target="element">
				  		<area shape="rect" coords="621,47,658,156" href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html"  target="element">
				  						<area shape="rect" coords="236,527,357,564" href="../elements/id-6d89dd8cf8eb442b953f67490ce0f297.html"  target="element">

				  				<area shape="rect" coords="20,515,601,576" href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html"  target="element">

				  		<area shape="rect" coords="12,47,610,588" href="../elements/id-abd16adbeb7e4a0a831ac4364fd353a2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-abd16adbeb7e4a0a831ac4364fd353a2.html" target="element"> PEA </a> </td>
											    <td> <a href="../elements/id-abd16adbeb7e4a0a831ac4364fd353a2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
													    <td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6d89dd8cf8eb442b953f67490ce0f297.html" target="element"> Asset (EAM) Management </a> </td>
															    <td> <a href="../elements/id-6d89dd8cf8eb442b953f67490ce0f297.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
											    <td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e2c87f46f0ec45c5ad26ee6366170e3f.html" target="element"> &#3585;&#3619;&#3617;&#3585;&#3634;&#3619;&#3611;&#3585;&#3588;&#3619;&#3629;&#3591; </a> </td>
													    <td> <a href="../elements/id-e2c87f46f0ec45c5ad26ee6366170e3f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52cc095119954d41a6c77a64a8258ead.html" target="element"> &#3585;&#3619;&#3617;&#3626;&#3619;&#3619;&#3614;&#3634;&#3585;&#3619; </a> </td>
													    <td> <a href="../elements/id-52cc095119954d41a6c77a64a8258ead.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7e3f47116aa24f3198510f173b867b8a.html" target="element"> &#3585;&#3619;&#3617;&#3610;&#3633;&#3597;&#3594;&#3637;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-7e3f47116aa24f3198510f173b867b8a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2032c0447eaa487fa3b86b316a0ba380.html" target="element"> &#3608;&#3609;&#3634;&#3588;&#3634;&#3619; &#3649;&#3627;&#3656;&#3591;&#3611;&#3619;&#3632;&#3648;&#3607;&#3624;&#3652;&#3607;&#3618; </a> </td>
													    <td> <a href="../elements/id-2032c0447eaa487fa3b86b316a0ba380.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f0e9cc9072444558d6e5ea68bec599b.html" target="element"> Linkage  Center </a> </td>
													    <td> <a href="../elements/id-1f0e9cc9072444558d6e5ea68bec599b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
											    <td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dd3bdf08b3034f6ca608d2f1dcbca442.html" target="element"> Customer Service </a> </td>
													    <td> <a href="../elements/id-dd3bdf08b3034f6ca608d2f1dcbca442.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0ebb0fbe9d147cd8e51769190fa25b6.html" target="element"> Device Management </a> </td>
													    <td> <a href="../elements/id-b0ebb0fbe9d147cd8e51769190fa25b6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3162b7c0208a452ba7ab76ea41b6b8ae.html" target="element"> Energy Data Management </a> </td>
													    <td> <a href="../elements/id-3162b7c0208a452ba7ab76ea41b6b8ae.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6554916bb144f7ebeac4ce46b3b3891.html" target="element"> Work Management </a> </td>
													    <td> <a href="../elements/id-a6554916bb144f7ebeac4ce46b3b3891.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4535b5fb128b4c86a7bce144499352f1.html" target="element"> Contract Accounting </a> </td>
													    <td> <a href="../elements/id-4535b5fb128b4c86a7bce144499352f1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f969eeb9f6284bf8a8ed442137fbbe47.html" target="element"> Billing BPM </a> </td>
													    <td> <a href="../elements/id-f969eeb9f6284bf8a8ed442137fbbe47.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
											    <td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8c22198b9ebd4b46977b93e0fc2a5331.html" target="element"> Financial Management </a> </td>
													    <td> <a href="../elements/id-8c22198b9ebd4b46977b93e0fc2a5331.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb5cbddaa0874f33b210ae10e471f6e1.html" target="element"> Material Management </a> </td>
													    <td> <a href="../elements/id-bb5cbddaa0874f33b210ae10e471f6e1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6bd75ee3cc8949a4afda73c9ba99cc0a.html" target="element"> Project System </a> </td>
													    <td> <a href="../elements/id-6bd75ee3cc8949a4afda73c9ba99cc0a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-121c14fe3d3148aaa7316de741a6f05f.html" target="element"> Plant Management </a> </td>
													    <td> <a href="../elements/id-121c14fe3d3148aaa7316de741a6f05f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30b3f69db0f24d22a1238a1ef9aa8da5.html" target="element"> Human Resource </a> </td>
													    <td> <a href="../elements/id-30b3f69db0f24d22a1238a1ef9aa8da5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a49897010a24683ad70cc13f2873b78.html" target="element"> ADS </a> </td>
													    <td> <a href="../elements/id-5a49897010a24683ad70cc13f2873b78.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
											    <td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6ea3b067a9db483897ff470b6b432c94.html" target="element"> GIS </a> </td>
													    <td> <a href="../elements/id-6ea3b067a9db483897ff470b6b432c94.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f95ce534f2041c38388d36df7685854.html" target="element"> SCADA </a> </td>
													    <td> <a href="../elements/id-0f95ce534f2041c38388d36df7685854.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-004e815a91034a9dbe0c973df59b18de.html" target="element"> OMS </a> </td>
													    <td> <a href="../elements/id-004e815a91034a9dbe0c973df59b18de.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5e2690bc30c4c8184aec6ee9e81a2c4.html" target="element"> MWM </a> </td>
													    <td> <a href="../elements/id-a5e2690bc30c4c8184aec6ee9e81a2c4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
											    <td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-228dc9d058444dcea5199004aa96194d.html" target="element"> PEA SmartPlus </a> </td>
													    <td> <a href="../elements/id-228dc9d058444dcea5199004aa96194d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c44d339850b4f53834650986e1c37f1.html" target="element"> PEA Contact Center </a> </td>
													    <td> <a href="../elements/id-5c44d339850b4f53834650986e1c37f1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7a0af58e844c4685b4577a931da40954.html" target="element"> AMI/AMR </a> </td>
													    <td> <a href="../elements/id-7a0af58e844c4685b4577a931da40954.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7d309dbb596c48a4bef3034ca4cbea99.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7d309dbb596c48a4bef3034ca4cbea99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element"> iPaaS </a> </td>
											    <td> <a href="../elements/id-a139eb34bb3b4839a4cc82a2fe81c9c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-395badbefcde4e31bb9d409eaa799f70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-395badbefcde4e31bb9d409eaa799f70.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abd16adbeb7e4a0a831ac4364fd353a2.html" target="element"> PEA </a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-046a241bbd6b473083e2f56330129da1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-046a241bbd6b473083e2f56330129da1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abd16adbeb7e4a0a831ac4364fd353a2.html" target="element"> PEA </a> </td>
																		<td> <a href="../elements/id-1f0e9cc9072444558d6e5ea68bec599b.html" target="element"> Linkage  Center </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0fc55ff6b3ca4ac49d578ae976967f7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0fc55ff6b3ca4ac49d578ae976967f7f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																				<td> <a href="../elements/id-6d89dd8cf8eb442b953f67490ce0f297.html" target="element"> Asset (EAM) Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-104133ce1f764afa8cd6fb4ff3b4cdca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-104133ce1f764afa8cd6fb4ff3b4cdca.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																				<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-ede0fa2e8719412b833ff274b6180e70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ede0fa2e8719412b833ff274b6180e70.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-e2c87f46f0ec45c5ad26ee6366170e3f.html" target="element"> &#3585;&#3619;&#3617;&#3585;&#3634;&#3619;&#3611;&#3585;&#3588;&#3619;&#3629;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13690459f7dd47cab9fe7a445f27f292.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13690459f7dd47cab9fe7a445f27f292.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-52cc095119954d41a6c77a64a8258ead.html" target="element"> &#3585;&#3619;&#3617;&#3626;&#3619;&#3619;&#3614;&#3634;&#3585;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40e058ed6a41480db603f70491cd1faf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40e058ed6a41480db603f70491cd1faf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-7e3f47116aa24f3198510f173b867b8a.html" target="element"> &#3585;&#3619;&#3617;&#3610;&#3633;&#3597;&#3594;&#3637;&#3585;&#3621;&#3634;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-084f7a3968d44fa3ba49759106630c3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-084f7a3968d44fa3ba49759106630c3f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-2032c0447eaa487fa3b86b316a0ba380.html" target="element"> &#3608;&#3609;&#3634;&#3588;&#3634;&#3619; &#3649;&#3627;&#3656;&#3591;&#3611;&#3619;&#3632;&#3648;&#3607;&#3624;&#3652;&#3607;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d84dc5217ef47eca0d2a73e7314eb95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d84dc5217ef47eca0d2a73e7314eb95.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-1f0e9cc9072444558d6e5ea68bec599b.html" target="element"> Linkage  Center </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97bee1c52f594572a5f4ed02c6a46cad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97bee1c52f594572a5f4ed02c6a46cad.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dac0182b29b5410d8f0fbc97f2d0c03a.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-abd16adbeb7e4a0a831ac4364fd353a2.html" target="element"> PEA </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-95a2845ce8734f46822d16a0f70fcf57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95a2845ce8734f46822d16a0f70fcf57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-dd3bdf08b3034f6ca608d2f1dcbca442.html" target="element"> Customer Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afe41b23187a4f68893c22b6a7281370.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afe41b23187a4f68893c22b6a7281370.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-b0ebb0fbe9d147cd8e51769190fa25b6.html" target="element"> Device Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc334ed39dbb4879b0e9240ee6135e65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc334ed39dbb4879b0e9240ee6135e65.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-3162b7c0208a452ba7ab76ea41b6b8ae.html" target="element"> Energy Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8035fc90f23b4725beb50d5d7b851fea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8035fc90f23b4725beb50d5d7b851fea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-a6554916bb144f7ebeac4ce46b3b3891.html" target="element"> Work Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-099368f29d1341a0873e5206f7fbb405.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-099368f29d1341a0873e5206f7fbb405.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-4535b5fb128b4c86a7bce144499352f1.html" target="element"> Contract Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53397d9a59a94f3da45141972d620ce9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53397d9a59a94f3da45141972d620ce9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-f969eeb9f6284bf8a8ed442137fbbe47.html" target="element"> Billing BPM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95b45651193b4230b75158ce3bd200ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95b45651193b4230b75158ce3bd200ce.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95b45651193b4230b75158ce3bd200ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95b45651193b4230b75158ce3bd200ce.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9fce27ebd65a47ca9f1cd2362911c4ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fce27ebd65a47ca9f1cd2362911c4ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-8c22198b9ebd4b46977b93e0fc2a5331.html" target="element"> Financial Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46f8494b8b834b749cb8862b7e23757a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46f8494b8b834b749cb8862b7e23757a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-bb5cbddaa0874f33b210ae10e471f6e1.html" target="element"> Material Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9b470daff094cdb8287732ce9cd74f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9b470daff094cdb8287732ce9cd74f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-6bd75ee3cc8949a4afda73c9ba99cc0a.html" target="element"> Project System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98d8a9eea7cd4df2a9b975074231a37a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98d8a9eea7cd4df2a9b975074231a37a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-121c14fe3d3148aaa7316de741a6f05f.html" target="element"> Plant Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-207dd43a2f7443e19f6d29b7cc6e2e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-207dd43a2f7443e19f6d29b7cc6e2e63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-30b3f69db0f24d22a1238a1ef9aa8da5.html" target="element"> Human Resource </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c43ead3d3fc4f05a4816b8c88fcce2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c43ead3d3fc4f05a4816b8c88fcce2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-5a49897010a24683ad70cc13f2873b78.html" target="element"> ADS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6d6e6e35bbc4cd7966625dda54564d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6d6e6e35bbc4cd7966625dda54564d3.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6d6e6e35bbc4cd7966625dda54564d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6d6e6e35bbc4cd7966625dda54564d3.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5c9a541f14b94cd38fab896e6bdccd86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c9a541f14b94cd38fab896e6bdccd86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-6ea3b067a9db483897ff470b6b432c94.html" target="element"> GIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-539e7d7d4d5e430b86db083c541be986.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-539e7d7d4d5e430b86db083c541be986.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-0f95ce534f2041c38388d36df7685854.html" target="element"> SCADA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c71736f1bc4541ef8f9788de8076462f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c71736f1bc4541ef8f9788de8076462f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-004e815a91034a9dbe0c973df59b18de.html" target="element"> OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94c935e17aa74e1d9b42ff4a9f0d9d8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94c935e17aa74e1d9b42ff4a9f0d9d8f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-a5e2690bc30c4c8184aec6ee9e81a2c4.html" target="element"> MWM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5945cd50fb4a46ec93467e52abc1d622.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5945cd50fb4a46ec93467e52abc1d622.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-104133ce1f764afa8cd6fb4ff3b4cdca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-104133ce1f764afa8cd6fb4ff3b4cdca.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-5bd4708a8713432e9be7caa2560b92e9.html" target="element"> ERP (SAP) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4ce513ccbb4e47c586fab1a9fffb62f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ce513ccbb4e47c586fab1a9fffb62f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-228dc9d058444dcea5199004aa96194d.html" target="element"> PEA SmartPlus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7da05235e29a4c6c919db422aa6104c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7da05235e29a4c6c919db422aa6104c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-5c44d339850b4f53834650986e1c37f1.html" target="element"> PEA Contact Center </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-671c2ea748d649b2bf30d54b59f18812.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-671c2ea748d649b2bf30d54b59f18812.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-7a0af58e844c4685b4577a931da40954.html" target="element"> AMI/AMR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5945cd50fb4a46ec93467e52abc1d622.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5945cd50fb4a46ec93467e52abc1d622.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3121254ca98c49b4ae9339fada66b0e0.html" target="element"> PEA Apps </a> </td>
																		<td> <a href="../elements/id-9cace47b8e0342589e445b4de0a1061b.html" target="element"> UTP </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>