<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOR-4.8</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOR-4.8</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-250135a8a75e453a85d4993b5c451450.png" alt="TOR-4.8" usemap="#id-250135a8a75e453a85d4993b5c451450map"/>
			   <map name="id-250135a8a75e453a85d4993b5c451450map">
				  				<area shape="rect" coords="191,22,313,59" href="../elements/id-bdb633271b064b46892d7d8102326b70.html"  target="element">
				  				<area shape="rect" coords="335,22,457,59" href="../elements/id-0bc9dbc3645c4f288fde6880c2d13fd1.html"  target="element">
				  				<area shape="rect" coords="191,118,313,155" href="../elements/id-b7c4b1c5a45f432ca6024cb68132e201.html"  target="element">
				  				<area shape="rect" coords="191,70,313,107" href="../elements/id-2c867ee3d2464df5b1b572e9a8d1aedb.html"  target="element">
				  				<area shape="rect" coords="479,22,601,59" href="../elements/id-55760c6d160d4657aa7bf82393726e29.html"  target="element">
				  				<area shape="rect" coords="335,70,457,107" href="../elements/id-3b7300179ceb4f449cb101e927ebe53e.html"  target="element">
				  				<area shape="rect" coords="335,118,457,155" href="../elements/id-c5ed2df515fc4af3931490b5efbc0a47.html"  target="element">

				  		<area shape="rect" coords="167,10,623,181" href="../elements/id-d51148e6651d4312aa9226b87492115f.html"  target="element">
				  		<area shape="rect" coords="10,12,132,89" href="../elements/id-d51148e6651d4312aa9226b87492115f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
											    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
											    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c5ed2df515fc4af3931490b5efbc0a47.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c5ed2df515fc4af3931490b5efbc0a47.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b7300179ceb4f449cb101e927ebe53e.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3b7300179ceb4f449cb101e927ebe53e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55760c6d160d4657aa7bf82393726e29.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-55760c6d160d4657aa7bf82393726e29.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c867ee3d2464df5b1b572e9a8d1aedb.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-2c867ee3d2464df5b1b572e9a8d1aedb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7c4b1c5a45f432ca6024cb68132e201.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-b7c4b1c5a45f432ca6024cb68132e201.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0bc9dbc3645c4f288fde6880c2d13fd1.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-0bc9dbc3645c4f288fde6880c2d13fd1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdb633271b064b46892d7d8102326b70.html" target="element"> Business Process (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-bdb633271b064b46892d7d8102326b70.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9646612e67b94049893d9fe45b68e920.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9646612e67b94049893d9fe45b68e920.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-125ad0f6a0994c0b88128d0eaf5b76c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-125ad0f6a0994c0b88128d0eaf5b76c1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-c5ed2df515fc4af3931490b5efbc0a47.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03b3105056ff4461b08dba51fbfde0e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03b3105056ff4461b08dba51fbfde0e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-3b7300179ceb4f449cb101e927ebe53e.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-679b539a1c9c402089efe198b09a3727.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-679b539a1c9c402089efe198b09a3727.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-55760c6d160d4657aa7bf82393726e29.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08251105a39d42b0858caeb4d84ecc90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08251105a39d42b0858caeb4d84ecc90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-2c867ee3d2464df5b1b572e9a8d1aedb.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3156e2076935486eacca7d91e5d2e626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3156e2076935486eacca7d91e5d2e626.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-b7c4b1c5a45f432ca6024cb68132e201.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22f54da59778491c9dbf50b3bb474246.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22f54da59778491c9dbf50b3bb474246.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-0bc9dbc3645c4f288fde6880c2d13fd1.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b01ee3ec3e6e457d868f5719dae874da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b01ee3ec3e6e457d868f5719dae874da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																		<td> <a href="../elements/id-bdb633271b064b46892d7d8102326b70.html" target="element"> Business Process (copy) (copy) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>