<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>New ArchiMate View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>New ArchiMate View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4a16051927ea4b8880a741cf1f600e78.png" alt="New ArchiMate View" usemap="#id-4a16051927ea4b8880a741cf1f600e78map"/>
			   <map name="id-4a16051927ea4b8880a741cf1f600e78map">
				  		<area shape="rect" coords="241,448,361,503" href="../elements/id-bc599dac41624dbbac0cb320e6329b5d.html"  target="element">
				          <area shape="rect" coords="645,24,866,104" href="../objects/id-23f99e9ba10c4b509addd23dcf34f16c.html" target="element" >
				  		<area shape="rect" coords="193,358,313,413" href="../elements/id-1f5b0d2ccaed407983b5049584dff0da.html"  target="element">
				  		<area shape="rect" coords="193,286,313,341" href="../elements/id-1d893802dbeb4e6d93f2aa768a7ba99d.html"  target="element">
				  		<area shape="rect" coords="733,214,853,269" href="../elements/id-2fa49f81fb2c49d49d9439a68973123b.html"  target="element">
				  		<area shape="rect" coords="340,94,460,149" href="../elements/id-a9c36c10ea664a77bcf9c3031fb9deef.html"  target="element">
				  		<area shape="rect" coords="13,94,133,149" href="../elements/id-a150321d75bf472bb3d61ce24049d823.html"  target="element">
				  		<area shape="rect" coords="337,10,457,65" href="../elements/id-a23660e0eff7404bae0009d993549668.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-1fd30fcb849c48818f14754b38701655.html"  target="element">
				  		<area shape="rect" coords="709,328,829,383" href="../elements/id-85ebd5b01b48479da31274aa1dde90e1.html"  target="element">
				  		<area shape="rect" coords="433,214,553,269" href="../elements/id-73b18ff052e741109170624e0e515498.html"  target="element">
				  		<area shape="rect" coords="217,214,337,269" href="../elements/id-19a10f2310f24f328cc46623d8a0e01c.html"  target="element">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-b9e61980b7924a7f87f38db860030ffa.html"  target="element">
				  				<area shape="rect" coords="481,370,601,407" href="../elements/id-493aabb6b8ae49c6bfbd83b810a37fd1.html"  target="element">
				  				<area shape="rect" coords="397,190,506,215" href="../elements/id-8b7ecb3ea1a147009c2c90e084872b61.html"  target="element">
				  				<area shape="rect" coords="433,310,553,365" href="../elements/id-ac3a580993f34262834f654f91dfc606.html"  target="element">

				          <area shape="rect" coords="373,166,638,407" href="../objects/id-c32f22eaed9540d9b784aaa23e59014b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c32f22eaed9540d9b784aaa23e59014b.html" target="element"> Group </a> </td>
									           <td> <a href="../objects/id-c32f22eaed9540d9b784aaa23e59014b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-ac3a580993f34262834f654f91dfc606.html" target="element"> CIM+ (Conformed CIM) (copy) </a> </td>
													    <td> <a href="../elements/id-ac3a580993f34262834f654f91dfc606.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8b7ecb3ea1a147009c2c90e084872b61.html" target="element"> profile #1 </a> </td>
													    <td> <a href="../elements/id-8b7ecb3ea1a147009c2c90e084872b61.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-493aabb6b8ae49c6bfbd83b810a37fd1.html" target="element"> profile #2 </a> </td>
													    <td> <a href="../elements/id-493aabb6b8ae49c6bfbd83b810a37fd1.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b9e61980b7924a7f87f38db860030ffa.html" target="element"> GIS </a> </td>
											    <td> <a href="../elements/id-b9e61980b7924a7f87f38db860030ffa.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19a10f2310f24f328cc46623d8a0e01c.html" target="element"> CIM Generation </a> </td>
											    <td> <a href="../elements/id-19a10f2310f24f328cc46623d8a0e01c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element"> CIM+ (Conformed CIM) </a> </td>
											    <td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85ebd5b01b48479da31274aa1dde90e1.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-85ebd5b01b48479da31274aa1dde90e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fd30fcb849c48818f14754b38701655.html" target="element"> GIS (copy) </a> </td>
											    <td> <a href="../elements/id-1fd30fcb849c48818f14754b38701655.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a23660e0eff7404bae0009d993549668.html" target="element"> SCADA (copy) </a> </td>
											    <td> <a href="../elements/id-a23660e0eff7404bae0009d993549668.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a150321d75bf472bb3d61ce24049d823.html" target="element"> GIS (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-a150321d75bf472bb3d61ce24049d823.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9c36c10ea664a77bcf9c3031fb9deef.html" target="element"> SCADA (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-a9c36c10ea664a77bcf9c3031fb9deef.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fa49f81fb2c49d49d9439a68973123b.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-2fa49f81fb2c49d49d9439a68973123b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d893802dbeb4e6d93f2aa768a7ba99d.html" target="element"> Substation </a> </td>
											    <td> <a href="../elements/id-1d893802dbeb4e6d93f2aa768a7ba99d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f5b0d2ccaed407983b5049584dff0da.html" target="element"> OMS required Data </a> </td>
											    <td> <a href="../elements/id-1f5b0d2ccaed407983b5049584dff0da.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-23f99e9ba10c4b509addd23dcf34f16c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-23f99e9ba10c4b509addd23dcf34f16c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-bc599dac41624dbbac0cb320e6329b5d.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-bc599dac41624dbbac0cb320e6329b5d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-4591920e37954d718c1e5f9076638163.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4591920e37954d718c1e5f9076638163.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b9e61980b7924a7f87f38db860030ffa.html" target="element"> GIS </a> </td>
																		<td> <a href="../elements/id-19a10f2310f24f328cc46623d8a0e01c.html" target="element"> CIM Generation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-31d0042714ff47858b1fdd8f485b433c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31d0042714ff47858b1fdd8f485b433c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19a10f2310f24f328cc46623d8a0e01c.html" target="element"> CIM Generation </a> </td>
																		<td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element"> CIM+ (Conformed CIM) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-971e08e21c624baaa721ac9bd1868a1d.html" target="element"> PEA CIM for SCADA </a> </td>
																		<td> <a href="../elements/id-971e08e21c624baaa721ac9bd1868a1d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element"> CIM+ (Conformed CIM) </a> </td>
																		<td> <a href="../elements/id-2fa49f81fb2c49d49d9439a68973123b.html" target="element"> SCADA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4169e65f93042159aa90b8f15b77a11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4169e65f93042159aa90b8f15b77a11.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element"> CIM+ (Conformed CIM) </a> </td>
																		<td> <a href="../elements/id-1d893802dbeb4e6d93f2aa768a7ba99d.html" target="element"> Substation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39bd551facea486492243d1ad2c95652.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39bd551facea486492243d1ad2c95652.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element"> CIM+ (Conformed CIM) </a> </td>
																		<td> <a href="../elements/id-1f5b0d2ccaed407983b5049584dff0da.html" target="element"> OMS required Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b09e24f6c35244fc89cdb654c2c31d0f.html" target="element"> CIM for OMS </a> </td>
																		<td> <a href="../elements/id-b09e24f6c35244fc89cdb654c2c31d0f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73b18ff052e741109170624e0e515498.html" target="element"> CIM+ (Conformed CIM) </a> </td>
																		<td> <a href="../elements/id-85ebd5b01b48479da31274aa1dde90e1.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e73d0f0c71704e209cf0b3d561d7f170.html" target="element"> PEA CIM for SCADA </a> </td>
																		<td> <a href="../elements/id-e73d0f0c71704e209cf0b3d561d7f170.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fd30fcb849c48818f14754b38701655.html" target="element"> GIS (copy) </a> </td>
																		<td> <a href="../elements/id-a23660e0eff7404bae0009d993549668.html" target="element"> SCADA (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7fbe85b01b6a4cd19231c222aeab86a9.html" target="element"> PEA CIM+ </a> </td>
																		<td> <a href="../elements/id-7fbe85b01b6a4cd19231c222aeab86a9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a150321d75bf472bb3d61ce24049d823.html" target="element"> GIS (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-a9c36c10ea664a77bcf9c3031fb9deef.html" target="element"> SCADA (copy) (copy) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b244ef18bd534ff98a8cf46ef878754a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b244ef18bd534ff98a8cf46ef878754a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc599dac41624dbbac0cb320e6329b5d.html" target="element"> SCADA </a> </td>
																		<td> <a href="../elements/id-ac3a580993f34262834f654f91dfc606.html" target="element"> CIM+ (Conformed CIM) (copy) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>