<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>18-Motivate-x</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>18-Motivate-x</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-408e53f5f969492aa94cb1314b41c87e.png" alt="18-Motivate-x" usemap="#id-408e53f5f969492aa94cb1314b41c87emap"/>
			   <map name="id-408e53f5f969492aa94cb1314b41c87emap">
				          <area shape="rect" coords="502,682,898,767" href="../objects/id-cc80caa06a9949629811f509057a60cd.html" target="element" >
				          <area shape="rect" coords="502,538,898,671" href="../objects/id-09c9346f1e454a438997f818c1c9276e.html" target="element" >
				          <area shape="rect" coords="10,730,406,827" href="../objects/id-b490d052465345b4a4e89c2c652d8506.html" target="element" >
				          <area shape="rect" coords="10,562,406,719" href="../objects/id-4c66f639fbb5449cac977db2e11aa1d9.html" target="element" >
				          <area shape="rect" coords="10,454,406,551" href="../objects/id-cdec9ecfb2bd4c319e6dc2afc2668b27.html" target="element" >
				          <area shape="rect" coords="502,370,898,527" href="../objects/id-8d3d14f689b74493920d6c710e9a29bd.html" target="element" >
				          <area shape="rect" coords="502,202,898,359" href="../objects/id-fa53ec776c7d4a4cb054ed3eea36eb5b.html" target="element" >
				          <area shape="rect" coords="502,10,898,191" href="../objects/id-7e9b531de22a4977802888ed8b847414.html" target="element" >
				          <area shape="rect" coords="10,346,406,443" href="../objects/id-3b2a4956283c49379bf27c0443a37f7d.html" target="element" >
				          <area shape="rect" coords="10,178,406,335" href="../objects/id-e88911ccc7054af8bf05291950894937.html" target="element" >
				          <area shape="rect" coords="10,10,406,167" href="../objects/id-1f630023402447e282430842064c1c9d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-1f630023402447e282430842064c1c9d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1f630023402447e282430842064c1c9d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e88911ccc7054af8bf05291950894937.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e88911ccc7054af8bf05291950894937.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3b2a4956283c49379bf27c0443a37f7d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3b2a4956283c49379bf27c0443a37f7d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7e9b531de22a4977802888ed8b847414.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7e9b531de22a4977802888ed8b847414.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fa53ec776c7d4a4cb054ed3eea36eb5b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fa53ec776c7d4a4cb054ed3eea36eb5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8d3d14f689b74493920d6c710e9a29bd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8d3d14f689b74493920d6c710e9a29bd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cdec9ecfb2bd4c319e6dc2afc2668b27.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cdec9ecfb2bd4c319e6dc2afc2668b27.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4c66f639fbb5449cac977db2e11aa1d9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4c66f639fbb5449cac977db2e11aa1d9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b490d052465345b4a4e89c2c652d8506.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b490d052465345b4a4e89c2c652d8506.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-09c9346f1e454a438997f818c1c9276e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-09c9346f1e454a438997f818c1c9276e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cc80caa06a9949629811f509057a60cd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cc80caa06a9949629811f509057a60cd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>