<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C03-เบรกเกอร์ทริป-หลาย กฟฟ</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C03-&#3648;&#3610;&#3619;&#3585;&#3648;&#3585;&#3629;&#3619;&#3660;&#3607;&#3619;&#3636;&#3611;-&#3627;&#3621;&#3634;&#3618; &#3585;&#3615;&#3615;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-56ee8fac18e142cdb1ee2fe8d48482f7.png" alt="C03-เบรกเกอร์ทริป-หลาย กฟฟ" usemap="#id-56ee8fac18e142cdb1ee2fe8d48482f7map"/>
			   <map name="id-56ee8fac18e142cdb1ee2fe8d48482f7map">
				  		<area shape="rect" coords="238,226,315,287" href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html"  target="element">
				  		<area shape="rect" coords="397,543,458,578" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="694,94,771,155" href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html"  target="element">
				  		<area shape="rect" coords="456,94,533,155" href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html"  target="element">
				  		<area shape="rect" coords="934,94,1011,155" href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html"  target="element">
				  		<area shape="rect" coords="814,94,891,155" href="../elements/id-62553158f33e43019288dfc2861a196d.html"  target="element">
				  		<area shape="rect" coords="574,94,651,155" href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html"  target="element">
				  		<area shape="rect" coords="346,94,423,155" href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html"  target="element">
				  		<area shape="rect" coords="142,471,200,506" href="../elements/id-8e83d0fb6c3144dbb2b9599540610ffb.html"  target="element">
				  		<area shape="rect" coords="431,178,559,210" href="../elements/id-aede2e0d9b5a444cac4474d3c461184e.html"  target="element">
				  		<area shape="rect" coords="217,166,337,198" href="../elements/id-439e3aeb95674c01863e8af5fbb61768.html"  target="element">
				          <area shape="rect" coords="123,382,218,414" href="../objects/id-1e751c14edc547c5b93bcbdf26e7cf10.html" target="element" >
				          <area shape="rect" coords="15,10,423,39" href="../objects/id-b507b7e3877a4ca09bf76cc6958d76a0.html" target="element" >
				  		<area shape="rect" coords="694,226,771,287" href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html"  target="element">
				  		<area shape="rect" coords="694,471,743,506" href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html"  target="element">
				  		<area shape="rect" coords="532,538,637,583" href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html"  target="element">
				  		<area shape="rect" coords="456,226,533,287" href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html"  target="element">
				  		<area shape="rect" coords="934,226,1011,287" href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html"  target="element">
				  		<area shape="rect" coords="814,226,891,287" href="../elements/id-62553158f33e43019288dfc2861a196d.html"  target="element">
				  		<area shape="rect" coords="574,226,651,287" href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html"  target="element">
				  		<area shape="rect" coords="22,226,99,287" href="../elements/id-d41f507d074a4874817180d6136391a3.html"  target="element">
				  		<area shape="rect" coords="346,226,423,287" href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html"  target="element">
				  		<area shape="rect" coords="130,226,207,287" href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html"  target="element">
				  		<area shape="rect" coords="532,466,637,511" href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html"  target="element">
				  		<area shape="rect" coords="370,466,475,511" href="../elements/id-4a3420edfbe049d0a15272544b851683.html"  target="element">
				  		<area shape="rect" coords="238,466,335,511" href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html"  target="element">
				          <area shape="rect" coords="12,346,1029,600" href="../objects/id-da59520e58564a89a45a5d62ce24652f.html" target="element" >
				          <area shape="rect" coords="10,70,1029,323" href="../objects/id-6587fa96f2314673bcd0d9976b4d5dc3.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6587fa96f2314673bcd0d9976b4d5dc3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6587fa96f2314673bcd0d9976b4d5dc3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-da59520e58564a89a45a5d62ce24652f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-da59520e58564a89a45a5d62ce24652f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
											    <td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
											    <td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
											    <td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element"> Substation </a> </td>
											    <td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
											    <td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d41f507d074a4874817180d6136391a3.html" target="element"> HV Line </a> </td>
											    <td> <a href="../elements/id-d41f507d074a4874817180d6136391a3.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
											    <td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
											    <td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element"> LV Meter </a> </td>
											    <td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
											    <td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element"> Plan Outage </a> </td>
											    <td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
											    <td> <a href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
											    <td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b507b7e3877a4ca09bf76cc6958d76a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b507b7e3877a4ca09bf76cc6958d76a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1e751c14edc547c5b93bcbdf26e7cf10.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1e751c14edc547c5b93bcbdf26e7cf10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-439e3aeb95674c01863e8af5fbb61768.html" target="element"> 2.&#3648;&#3610;&#3619;&#3585;&#3648;&#3585;&#3629;&#3619;&#3660; &#3607;&#3619;&#3636;&#3611; </a> </td>
											    <td> <a href="../elements/id-439e3aeb95674c01863e8af5fbb61768.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aede2e0d9b5a444cac4474d3c461184e.html" target="element"> 1.&#3648;&#3626;&#3634;&#3649;&#3619;&#3591;&#3585;&#3621;&#3634;&#3591; &#3594;&#3635;&#3619;&#3640;&#3604; </a> </td>
											    <td> <a href="../elements/id-aede2e0d9b5a444cac4474d3c461184e.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e83d0fb6c3144dbb2b9599540610ffb.html" target="element"> Tripping </a> </td>
											    <td> <a href="../elements/id-8e83d0fb6c3144dbb2b9599540610ffb.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
											    <td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
											    <td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
											    <td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element"> LV Meter </a> </td>
											    <td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
											    <td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element" class="i18n-elementtype-DistributionNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
											    <td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
											    <td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-6a0839d0384440b6bdaa52180f7e7b58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a0839d0384440b6bdaa52180f7e7b58.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ff07d4e4e6f4a198b97d9ffa33edb04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ff07d4e4e6f4a198b97d9ffa33edb04.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-937aa22c9f3d498cb288045c4a208d9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-937aa22c9f3d498cb288045c4a208d9c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22ee2506cf9e44c2aace75d56dcb07be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ee2506cf9e44c2aace75d56dcb07be.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fedb33b36b534c658eb959c25d5e5a6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fedb33b36b534c658eb959c25d5e5a6e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c5d2b5faf9044acb374025e8f354a4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c5d2b5faf9044acb374025e8f354a4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element"> Plan Outage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81c9eae3a8a847529e89f040533ea36f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81c9eae3a8a847529e89f040533ea36f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-359202a28a7c4dc6975488935e42e8d2.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49f1165d8d3e494c8aa2896620148acd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49f1165d8d3e494c8aa2896620148acd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2ce0bc7c400428e805a30cd1c694085.html" target="element"> 2.&#3648;&#3629;&#3634;&#3648;&#3626;&#3634;&#3629;&#3629;&#3585;     </a> </td>
																		<td> <a href="../elements/id-a2ce0bc7c400428e805a30cd1c694085.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-881915cc465f489f88f883f71ce1bca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-881915cc465f489f88f883f71ce1bca9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element"> Substation </a> </td>
																		<td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-de7d5ed9b02e4abaacabd1386982b6b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de7d5ed9b02e4abaacabd1386982b6b7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a59228ba66244ae4a859d1b75086eaf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a59228ba66244ae4a859d1b75086eaf1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d41f507d074a4874817180d6136391a3.html" target="element"> HV Line </a> </td>
																		<td> <a href="../elements/id-3fb114eb0ddd48ce8cbc341d6cf3636b.html" target="element"> Substation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06f13073311749c6bad3ea7a23c44e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06f13073311749c6bad3ea7a23c44e63.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b125c72b3042440f9961f2300a58e661.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b125c72b3042440f9961f2300a58e661.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																		<td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element"> LV Meter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c8802aacccf4d3d98718def5f86fbb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c8802aacccf4d3d98718def5f86fbb4.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9bd15b47c6e247ed9271c6749d7df5d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bd15b47c6e247ed9271c6749d7df5d1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-418bb61f3a5d446bae9c7939cfaf3cd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-418bb61f3a5d446bae9c7939cfaf3cd1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-439e3aeb95674c01863e8af5fbb61768.html" target="element"> 2.&#3648;&#3610;&#3619;&#3585;&#3648;&#3585;&#3629;&#3619;&#3660; &#3607;&#3619;&#3636;&#3611; </a> </td>
																		<td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-43de6862e1e24aa6ad575b7ae6ea48a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43de6862e1e24aa6ad575b7ae6ea48a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aede2e0d9b5a444cac4474d3c461184e.html" target="element"> 1.&#3648;&#3626;&#3634;&#3649;&#3619;&#3591;&#3585;&#3621;&#3634;&#3591; &#3594;&#3635;&#3619;&#3640;&#3604; </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43de6862e1e24aa6ad575b7ae6ea48a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43de6862e1e24aa6ad575b7ae6ea48a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aede2e0d9b5a444cac4474d3c461184e.html" target="element"> 1.&#3648;&#3626;&#3634;&#3649;&#3619;&#3591;&#3585;&#3621;&#3634;&#3591; &#3594;&#3635;&#3619;&#3640;&#3604; </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b3827bf665c43fbbe711c1520133140.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b3827bf665c43fbbe711c1520133140.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e83d0fb6c3144dbb2b9599540610ffb.html" target="element"> Tripping </a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-de7d5ed9b02e4abaacabd1386982b6b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de7d5ed9b02e4abaacabd1386982b6b7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06f13073311749c6bad3ea7a23c44e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06f13073311749c6bad3ea7a23c44e63.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b125c72b3042440f9961f2300a58e661.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b125c72b3042440f9961f2300a58e661.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																		<td> <a href="../elements/id-0c6c9ee3ee2645fa80e75e26ac400175.html" target="element"> LV Meter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c8802aacccf4d3d98718def5f86fbb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c8802aacccf4d3d98718def5f86fbb4.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e98d6d8bec2749fabda34eca6125901a.html" target="element"> MV Line </a> </td>
																		<td> <a href="../elements/id-6e0bd9f2189845c4acda2af27cda59b2.html" target="element"> &#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9bd15b47c6e247ed9271c6749d7df5d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bd15b47c6e247ed9271c6749d7df5d1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eab71f1279c74bf8b20dd3163b48739b.html" target="element"> LTSW </a> </td>
																		<td> <a href="../elements/id-62553158f33e43019288dfc2861a196d.html" target="element"> LV Line </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-442ce3cfed6f41f083b955b5816dcc65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-442ce3cfed6f41f083b955b5816dcc65.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-0d7716dce1e3446f9ba47bf72917cb61.html" target="element"> Give Order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c51dbc0768d94bbd88b2462e8f69efa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c51dbc0768d94bbd88b2462e8f69efa2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-4a3420edfbe049d0a15272544b851683.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3588;&#3657;&#3609;&#3627;&#3634;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5c6549959254bdc984303598dddde54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5c6549959254bdc984303598dddde54.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-0f5df484a3db45a0aa397dcbcc1e0351.html" target="element"> Work Order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88c390ab82254bd0a1dfab0d2f03db96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88c390ab82254bd0a1dfab0d2f03db96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-53221e9ea4d54f6b84e123777f88bfa1.html" target="element"> Plan Outage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06e43650ecd74b74b3bab91554cfa3bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06e43650ecd74b74b3bab91554cfa3bc.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06e43650ecd74b74b3bab91554cfa3bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06e43650ecd74b74b3bab91554cfa3bc.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f8370de8b20405eaaed33937ffc6faa.html" target="element"> Breaker </a> </td>
																		<td> <a href="../elements/id-973ed7cba2084f12a4e0eb5633d8f7bb.html" target="element"> MV Fuse </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>