<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01.recomend</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01.recomend</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6cc4511a240d465ba09d857148cc7a1f.png" alt="01.recomend" usemap="#id-6cc4511a240d465ba09d857148cc7a1fmap"/>
			   <map name="id-6cc4511a240d465ba09d857148cc7a1fmap">
				  				<area shape="rect" coords="38,221,158,262" href="../elements/id-abba6c81deeb41a9ab118933499e792d.html"  target="element">
				  				<area shape="rect" coords="586,158,719,198" href="../elements/id-70cda28a074b43e987e0961a07696148.html"  target="element">
				  				<area shape="rect" coords="38,161,158,202" href="../elements/id-7024e1d334f74d358ec8407239658ffe.html"  target="element">
				  				<area shape="rect" coords="38,46,158,87" href="../elements/id-549ab451e56c4e3c80a3e70461b73264.html"  target="element">
				  				<area shape="rect" coords="586,43,719,83" href="../elements/id-ffc0528cad15422f8e8f042c0f7a0fa3.html"  target="element">
				  				<area shape="rect" coords="202,281,322,322" href="../elements/id-c3a045bab5694cd8b8e60d906fca5178.html"  target="element">
				  				<area shape="rect" coords="38,281,158,322" href="../elements/id-bad10c16eb294efd8ad934c6c704a943.html"  target="element">
				  				<area shape="rect" coords="202,221,322,262" href="../elements/id-fd04aab3db844ed3a8469e3877dcabc6.html"  target="element">
				  				<area shape="rect" coords="202,46,322,87" href="../elements/id-68c2233ed6c144ca86c5ac6004fbb2da.html"  target="element">
				  				<area shape="rect" coords="202,161,322,202" href="../elements/id-f46c2748c41c4fc3a50ee5d768f023b7.html"  target="element">
				  				<area shape="rect" coords="586,218,719,258" href="../elements/id-743f23f645f44438819c78a459afb88a.html"  target="element">
				  				<area shape="rect" coords="586,98,719,138" href="../elements/id-d259d5be3851493893f8ac6a204b1fd2.html"  target="element">
				  						<area shape="rect" coords="394,79,514,123" href="../elements/id-ee9abf77c2fe4061b521dda9e2669819.html"  target="element">
				  						<area shape="rect" coords="394,194,514,238" href="../elements/id-a857f36b4a2942f29d02ec83ce039b8b.html"  target="element">
				  						<area shape="rect" coords="394,254,514,298" href="../elements/id-03600f22b0a64d01b669fe2ea7730499.html"  target="element">
				  						<area shape="rect" coords="394,134,514,178" href="../elements/id-e0153c3511ad4c148c9c9c48a33d5de3.html"  target="element">

				  				<area shape="rect" coords="358,43,551,322" href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html"  target="element">
				  				<area shape="rect" coords="38,101,158,142" href="../elements/id-11eaf8a8b22f44e386cb08641ec09aa0.html"  target="element">
				  				<area shape="rect" coords="202,101,322,142" href="../elements/id-61758e74ed4942d8baf0d382f7fd7b1b.html"  target="element">
				  				<area shape="rect" coords="586,278,719,318" href="../elements/id-a3cdd30b14274a12baacf2ef05ffadf6.html"  target="element">

				  		<area shape="rect" coords="10,10,743,347" href="../elements/id-9f732482c0cf418698b292353f173179.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
											    <td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a3cdd30b14274a12baacf2ef05ffadf6.html" target="element"> Recommendations for support during warranty and maintenance </a> </td>
													    <td> <a href="../elements/id-a3cdd30b14274a12baacf2ef05ffadf6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61758e74ed4942d8baf0d382f7fd7b1b.html" target="element"> FLISR </a> </td>
													    <td> <a href="../elements/id-61758e74ed4942d8baf0d382f7fd7b1b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-11eaf8a8b22f44e386cb08641ec09aa0.html" target="element"> Network Model Maintenance </a> </td>
													    <td> <a href="../elements/id-11eaf8a8b22f44e386cb08641ec09aa0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element"> PoC scenarios </a> </td>
													    <td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e0153c3511ad4c148c9c9c48a33d5de3.html" target="element"> Outage management </a> </td>
															    <td> <a href="../elements/id-e0153c3511ad4c148c9c9c48a33d5de3.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-03600f22b0a64d01b669fe2ea7730499.html" target="element"> Model maintenance </a> </td>
															    <td> <a href="../elements/id-03600f22b0a64d01b669fe2ea7730499.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a857f36b4a2942f29d02ec83ce039b8b.html" target="element"> Switching management </a> </td>
															    <td> <a href="../elements/id-a857f36b4a2942f29d02ec83ce039b8b.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ee9abf77c2fe4061b521dda9e2669819.html" target="element"> User interface  </a> </td>
															    <td> <a href="../elements/id-ee9abf77c2fe4061b521dda9e2669819.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d259d5be3851493893f8ac6a204b1fd2.html" target="element"> Recommendation for tender commercial evaluation </a> </td>
													    <td> <a href="../elements/id-d259d5be3851493893f8ac6a204b1fd2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-743f23f645f44438819c78a459afb88a.html" target="element"> Recommendations for Price Schedule (project milestones and Payment terms) </a> </td>
													    <td> <a href="../elements/id-743f23f645f44438819c78a459afb88a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f46c2748c41c4fc3a50ee5d768f023b7.html" target="element"> Alignment of ad-hock switching operations </a> </td>
													    <td> <a href="../elements/id-f46c2748c41c4fc3a50ee5d768f023b7.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68c2233ed6c144ca86c5ac6004fbb2da.html" target="element"> Switching Order Management </a> </td>
													    <td> <a href="../elements/id-68c2233ed6c144ca86c5ac6004fbb2da.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fd04aab3db844ed3a8469e3877dcabc6.html" target="element"> Crew Management </a> </td>
													    <td> <a href="../elements/id-fd04aab3db844ed3a8469e3877dcabc6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bad10c16eb294efd8ad934c6c704a943.html" target="element"> Clearance &#8211; Live line work request </a> </td>
													    <td> <a href="../elements/id-bad10c16eb294efd8ad934c6c704a943.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c3a045bab5694cd8b8e60d906fca5178.html" target="element"> Field crew application </a> </td>
													    <td> <a href="../elements/id-c3a045bab5694cd8b8e60d906fca5178.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ffc0528cad15422f8e8f042c0f7a0fa3.html" target="element"> Background and Recommendations for User and Licenses </a> </td>
													    <td> <a href="../elements/id-ffc0528cad15422f8e8f042c0f7a0fa3.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-549ab451e56c4e3c80a3e70461b73264.html" target="element"> Multiple OMS architecture </a> </td>
													    <td> <a href="../elements/id-549ab451e56c4e3c80a3e70461b73264.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7024e1d334f74d358ec8407239658ffe.html" target="element"> LV network </a> </td>
													    <td> <a href="../elements/id-7024e1d334f74d358ec8407239658ffe.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70cda28a074b43e987e0961a07696148.html" target="element"> Recommendation for FAT and Training location </a> </td>
													    <td> <a href="../elements/id-70cda28a074b43e987e0961a07696148.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abba6c81deeb41a9ab118933499e792d.html" target="element"> Outage Management </a> </td>
													    <td> <a href="../elements/id-abba6c81deeb41a9ab118933499e792d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-94fb75ca3b6d42c3bf36a25a48eaa01a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94fb75ca3b6d42c3bf36a25a48eaa01a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-a3cdd30b14274a12baacf2ef05ffadf6.html" target="element"> Recommendations for support during warranty and maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdcc6fc8644b482790dc7bfb61d80c63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdcc6fc8644b482790dc7bfb61d80c63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-61758e74ed4942d8baf0d382f7fd7b1b.html" target="element"> FLISR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-938810c02eee4a33ba1356c382104169.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-938810c02eee4a33ba1356c382104169.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-11eaf8a8b22f44e386cb08641ec09aa0.html" target="element"> Network Model Maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d562cfe712b24f818963ff6646cdb98a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d562cfe712b24f818963ff6646cdb98a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element"> PoC scenarios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f875c5338f504864a8fa3ad745ce4930.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f875c5338f504864a8fa3ad745ce4930.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-d259d5be3851493893f8ac6a204b1fd2.html" target="element"> Recommendation for tender commercial evaluation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-766623e770984ab39ade05aad5a29d2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-766623e770984ab39ade05aad5a29d2e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-743f23f645f44438819c78a459afb88a.html" target="element"> Recommendations for Price Schedule (project milestones and Payment terms) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfccd68f08d240588399f8251107dfa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfccd68f08d240588399f8251107dfa7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-f46c2748c41c4fc3a50ee5d768f023b7.html" target="element"> Alignment of ad-hock switching operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1242f18d0ce34e79b4f66d98c070b2c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1242f18d0ce34e79b4f66d98c070b2c5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-68c2233ed6c144ca86c5ac6004fbb2da.html" target="element"> Switching Order Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da32f580c21d492fbdc54d76c10f51d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da32f580c21d492fbdc54d76c10f51d1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-fd04aab3db844ed3a8469e3877dcabc6.html" target="element"> Crew Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce7532b742244ed58cdd8c62e19adb71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce7532b742244ed58cdd8c62e19adb71.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-bad10c16eb294efd8ad934c6c704a943.html" target="element"> Clearance &#8211; Live line work request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfbfddf9829146c18ff4ca49e1b23b46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfbfddf9829146c18ff4ca49e1b23b46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-c3a045bab5694cd8b8e60d906fca5178.html" target="element"> Field crew application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-206787cfdc4649b68a2a680eb5f87657.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-206787cfdc4649b68a2a680eb5f87657.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-ffc0528cad15422f8e8f042c0f7a0fa3.html" target="element"> Background and Recommendations for User and Licenses </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0e2b9625f1e460cb760473f82ce602e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0e2b9625f1e460cb760473f82ce602e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-549ab451e56c4e3c80a3e70461b73264.html" target="element"> Multiple OMS architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-656ba1316980444085977ab6fe0ccebc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-656ba1316980444085977ab6fe0ccebc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-7024e1d334f74d358ec8407239658ffe.html" target="element"> LV network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-372138a37f94485faafaaa4a7893c189.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-372138a37f94485faafaaa4a7893c189.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-70cda28a074b43e987e0961a07696148.html" target="element"> Recommendation for FAT and Training location </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-370b5d040c4d4451a52b491a7d4e4ae5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-370b5d040c4d4451a52b491a7d4e4ae5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f732482c0cf418698b292353f173179.html" target="element"> Vendor discussion </a> </td>
																		<td> <a href="../elements/id-abba6c81deeb41a9ab118933499e792d.html" target="element"> Outage Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-216b966ec3f5491b8cdaf1f1cbbff34a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-216b966ec3f5491b8cdaf1f1cbbff34a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element"> PoC scenarios </a> </td>
																				<td> <a href="../elements/id-e0153c3511ad4c148c9c9c48a33d5de3.html" target="element"> Outage management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2b8ab60419f843c29def9f68ee0f729d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b8ab60419f843c29def9f68ee0f729d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element"> PoC scenarios </a> </td>
																				<td> <a href="../elements/id-03600f22b0a64d01b669fe2ea7730499.html" target="element"> Model maintenance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9d8249a296504ed5bb9923dfa95e9289.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d8249a296504ed5bb9923dfa95e9289.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element"> PoC scenarios </a> </td>
																				<td> <a href="../elements/id-a857f36b4a2942f29d02ec83ce039b8b.html" target="element"> Switching management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a23127a534e74ef3bf41aad8753fd17c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a23127a534e74ef3bf41aad8753fd17c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e56ff609bad400893e3b41fba3d17e9.html" target="element"> PoC scenarios </a> </td>
																				<td> <a href="../elements/id-ee9abf77c2fe4061b521dda9e2669819.html" target="element"> User interface  </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>