<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>W44_C6.1.4.1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>W44_C6.1.4.1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7ec309c124714544a7974629a8b217f4.png" alt="W44_C6.1.4.1" usemap="#id-7ec309c124714544a7974629a8b217f4map"/>
			   <map name="id-7ec309c124714544a7974629a8b217f4map">
				  		<area shape="rect" coords="826,12,863,35" href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html"  target="element">
				  		<area shape="rect" coords="646,172,781,209" href="../elements/id-185dcefcef5f45eb92baa9aa4105b28f.html"  target="element">
				  		<area shape="rect" coords="22,154,157,191" href="../elements/id-f480743ea0ed4920bc20bfe176dbf0f6.html"  target="element">
				  		<area shape="rect" coords="562,106,623,134" href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html"  target="element">
				  		<area shape="rect" coords="790,370,851,398" href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html"  target="element">
				  		<area shape="rect" coords="682,238,731,266" href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html"  target="element">
				  		<area shape="rect" coords="321,10,382,38" href="../elements/id-2fb5892f7b7345f08716102283bbd152.html"  target="element">
				  		<area shape="rect" coords="406,46,491,99" href="../elements/id-70b1d4869fcd4a89b140e8f823faff03.html"  target="element">
				  		<area shape="rect" coords="826,433,863,458" href="../elements/id-761a9f01882447bf91bcbac72bf09796.html"  target="element">
				  		<area shape="rect" coords="252,184,289,209" href="../elements/id-3c12a80e471f4751ac13ece835260900.html"  target="element">
				  		<area shape="rect" coords="556,60,593,85" href="../elements/id-aac2ca78ab2b49d4805bfbaef25f6dbb.html"  target="element">
				  		<area shape="rect" coords="10,76,47,101" href="../elements/id-6fece9ac93ab4586b8b1eb47c31f7144.html"  target="element">
				  		<area shape="rect" coords="381,526,528,575" href="../elements/id-02835dfac3244cb0bd4043be42d8661d.html"  target="element">
				  		<area shape="rect" coords="142,433,289,506" href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html"  target="element">
				  		<area shape="rect" coords="104,334,239,401" href="../elements/id-b51e9b67f15a4628b7c4b1f629bde1d9.html"  target="element">
				  		<area shape="rect" coords="381,433,516,500" href="../elements/id-1ad56229e9a645ce9ce957bf8c15f84c.html"  target="element">
				  		<area shape="rect" coords="586,418,767,473" href="../elements/id-88f168cded9d4c1aace9aaff891f4d7a.html"  target="element">
				  		<area shape="rect" coords="443,286,660,347" href="../elements/id-1837ca39c07145e98e046624269ec5b3.html"  target="element">
				  		<area shape="rect" coords="334,160,551,233" href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html"  target="element">
				  		<area shape="rect" coords="94,60,311,119" href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element"> C6.1.4.1-18 HV/MV Dispatcher &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3626;&#3623;&#3636;&#3594;&#3594;&#3636;&#3656;&#3591; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
											    <td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
											    <td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element"> C6.1.4.1-20 E/O Work Dispatcher &#3611;&#3636;&#3604;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; (Work Order) (&#3595;&#3656;&#3629;&#3617;&#3648;&#3626;&#3619;&#3655;&#3592;) </a> </td>
											    <td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88f168cded9d4c1aace9aaff891f4d7a.html" target="element"> C6.1.4.1-21 &#3648;&#3610;&#3636;&#3585;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3649;&#3585;&#3657;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-88f168cded9d4c1aace9aaff891f4d7a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1ad56229e9a645ce9ce957bf8c15f84c.html" target="element"> DG-C08.4-09 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-1ad56229e9a645ce9ce957bf8c15f84c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b51e9b67f15a4628b7c4b1f629bde1d9.html" target="element"> DG-C08.4-06 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3626;&#3606;&#3634;&#3609;&#3632; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
											    <td> <a href="../elements/id-b51e9b67f15a4628b7c4b1f629bde1d9.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02835dfac3244cb0bd4043be42d8661d.html" target="element"> &#3619;&#3632;&#3610;&#3610; SAP </a> </td>
											    <td> <a href="../elements/id-02835dfac3244cb0bd4043be42d8661d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6fece9ac93ab4586b8b1eb47c31f7144.html" target="element"> F </a> </td>
											    <td> <a href="../elements/id-6fece9ac93ab4586b8b1eb47c31f7144.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aac2ca78ab2b49d4805bfbaef25f6dbb.html" target="element"> C5 </a> </td>
											    <td> <a href="../elements/id-aac2ca78ab2b49d4805bfbaef25f6dbb.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c12a80e471f4751ac13ece835260900.html" target="element"> E </a> </td>
											    <td> <a href="../elements/id-3c12a80e471f4751ac13ece835260900.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70b1d4869fcd4a89b140e8f823faff03.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3588;&#3639;&#3609; </a> </td>
											    <td> <a href="../elements/id-70b1d4869fcd4a89b140e8f823faff03.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element"> E/O </a> </td>
											    <td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element"> &#3585;&#3610;&#3625;.&#3648;&#3586;&#3605; </a> </td>
											    <td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f480743ea0ed4920bc20bfe176dbf0f6.html" target="element"> C6.1.4.1_18 </a> </td>
											    <td> <a href="../elements/id-f480743ea0ed4920bc20bfe176dbf0f6.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-185dcefcef5f45eb92baa9aa4105b28f.html" target="element"> C6.1.4.1_19-20 </a> </td>
											    <td> <a href="../elements/id-185dcefcef5f45eb92baa9aa4105b28f.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609; EA Low Level-&#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609;&#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-5.pdf </a> </td>
											    <td> <a href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-86a1a9b6da8b435a966a4b906effac69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86a1a9b6da8b435a966a4b906effac69.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element"> C6.1.4.1-18 HV/MV Dispatcher &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3626;&#3623;&#3636;&#3594;&#3594;&#3636;&#3656;&#3591; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																		<td> <a href="../elements/id-70b1d4869fcd4a89b140e8f823faff03.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3588;&#3639;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73855723d6b84ee292a8cb6bcca01a6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73855723d6b84ee292a8cb6bcca01a6a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element"> C6.1.4.1-18 HV/MV Dispatcher &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3626;&#3623;&#3636;&#3594;&#3594;&#3636;&#3656;&#3591; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																		<td> <a href="../elements/id-b51e9b67f15a4628b7c4b1f629bde1d9.html" target="element"> DG-C08.4-06 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3626;&#3606;&#3634;&#3609;&#3632; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-47b8f26fa7c04b519d50d6e04093c718.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47b8f26fa7c04b519d50d6e04093c718.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																		<td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element"> C6.1.4.1-20 E/O Work Dispatcher &#3611;&#3636;&#3604;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; (Work Order) (&#3595;&#3656;&#3629;&#3617;&#3648;&#3626;&#3619;&#3655;&#3592;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-224272b567454a1f9f4e2c7f34fc29ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-224272b567454a1f9f4e2c7f34fc29ce.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element"> C6.1.4.1-20 E/O Work Dispatcher &#3611;&#3636;&#3604;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; (Work Order) (&#3595;&#3656;&#3629;&#3617;&#3648;&#3626;&#3619;&#3655;&#3592;) </a> </td>
																		<td> <a href="../elements/id-88f168cded9d4c1aace9aaff891f4d7a.html" target="element"> C6.1.4.1-21 &#3648;&#3610;&#3636;&#3585;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3649;&#3585;&#3657;&#3652;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d85e4c794a248e6a8800d9f7eb2b446.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d85e4c794a248e6a8800d9f7eb2b446.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element"> C6.1.4.1-20 E/O Work Dispatcher &#3611;&#3636;&#3604;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; (Work Order) (&#3595;&#3656;&#3629;&#3617;&#3648;&#3626;&#3619;&#3655;&#3592;) </a> </td>
																		<td> <a href="../elements/id-1ad56229e9a645ce9ce957bf8c15f84c.html" target="element"> DG-C08.4-09 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfe415501f514888af6ddf2372ec0ee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfe415501f514888af6ddf2372ec0ee1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-88f168cded9d4c1aace9aaff891f4d7a.html" target="element"> C6.1.4.1-21 &#3648;&#3610;&#3636;&#3585;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3649;&#3585;&#3657;&#3652;&#3615; </a> </td>
																		<td> <a href="../elements/id-761a9f01882447bf91bcbac72bf09796.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-481b08b48088469ba7e624899d3178ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-481b08b48088469ba7e624899d3178ca.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-b51e9b67f15a4628b7c4b1f629bde1d9.html" target="element"> DG-C08.4-06 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3626;&#3606;&#3634;&#3609;&#3632; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c30bb3b183d411c840d0083cccf868d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c30bb3b183d411c840d0083cccf868d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-1ad56229e9a645ce9ce957bf8c15f84c.html" target="element"> DG-C08.4-09 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df90dbb205ce492cb467e08fe31d4c8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df90dbb205ce492cb467e08fe31d4c8a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-16db35d37fd44241b799a861d098335b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16db35d37fd44241b799a861d098335b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-02835dfac3244cb0bd4043be42d8661d.html" target="element"> &#3619;&#3632;&#3610;&#3610; SAP </a> </td>
																		<td> <a href="../elements/id-1ad56229e9a645ce9ce957bf8c15f84c.html" target="element"> DG-C08.4-09 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e50ffc0747b44119c595ca35e0025a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e50ffc0747b44119c595ca35e0025a1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fece9ac93ab4586b8b1eb47c31f7144.html" target="element"> F </a> </td>
																		<td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element"> C6.1.4.1-18 HV/MV Dispatcher &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3626;&#3623;&#3636;&#3594;&#3594;&#3636;&#3656;&#3591; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cdddf340441c48dfb4673bcb9aa95626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdddf340441c48dfb4673bcb9aa95626.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c12a80e471f4751ac13ece835260900.html" target="element"> E </a> </td>
																		<td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a34f242e6c0941089209d936352f0eb3.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-a34f242e6c0941089209d936352f0eb3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70b1d4869fcd4a89b140e8f823faff03.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3588;&#3639;&#3609; </a> </td>
																		<td> <a href="../elements/id-aac2ca78ab2b49d4805bfbaef25f6dbb.html" target="element"> C5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f649e5ed6824d8a8d99566547e612ed.html" target="element"> No </a> </td>
																		<td> <a href="../elements/id-0f649e5ed6824d8a8d99566547e612ed.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70b1d4869fcd4a89b140e8f823faff03.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3588;&#3639;&#3609; </a> </td>
																		<td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-347c2ea3787d431ca03500606eb8d16e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-347c2ea3787d431ca03500606eb8d16e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
																		<td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element"> C6.1.4.1-18 HV/MV Dispatcher &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3626;&#3623;&#3636;&#3594;&#3594;&#3636;&#3656;&#3591; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-71bb55413e2d48ef9ae430b805f17bf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71bb55413e2d48ef9ae430b805f17bf5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fbb2c8b87c4a48a9a8b2bd05ffc4443b.html" target="element"> E/O </a> </td>
																		<td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element"> C6.1.4.1-20 E/O Work Dispatcher &#3611;&#3636;&#3604;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; (Work Order) (&#3595;&#3656;&#3629;&#3617;&#3648;&#3626;&#3619;&#3655;&#3592;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6f1450f99274ca2ac20acb68df6a72f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6f1450f99274ca2ac20acb68df6a72f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e386bbb901e74cbc882e18c415f38a54.html" target="element"> &#3585;&#3610;&#3625;.&#3648;&#3586;&#3605; </a> </td>
																		<td> <a href="../elements/id-88f168cded9d4c1aace9aaff891f4d7a.html" target="element"> C6.1.4.1-21 &#3648;&#3610;&#3636;&#3585;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3649;&#3585;&#3657;&#3652;&#3615; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6eab0a04050470994f6aa19ce0b219b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6eab0a04050470994f6aa19ce0b219b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
																		<td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c751a5e8f89d4a458ebbc83275787376.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c751a5e8f89d4a458ebbc83275787376.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f480743ea0ed4920bc20bfe176dbf0f6.html" target="element"> C6.1.4.1_18 </a> </td>
																		<td> <a href="../elements/id-528175db6fe84da2a6a0e0ad096b8ed9.html" target="element"> C6.1.4.1-18 HV/MV Dispatcher &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3626;&#3623;&#3636;&#3594;&#3594;&#3636;&#3656;&#3591; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-05ac6be004a04d51a9f09278123c7aaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05ac6be004a04d51a9f09278123c7aaf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-185dcefcef5f45eb92baa9aa4105b28f.html" target="element"> C6.1.4.1_19-20 </a> </td>
																		<td> <a href="../elements/id-dff1103decdf49ccb1e39d2012e5b9bf.html" target="element"> C6.1.4.1-19 ADDC Work Dispatcher &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; / &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (Event) &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b057dc388e8141bf95192ea0ede394a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b057dc388e8141bf95192ea0ede394a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-185dcefcef5f45eb92baa9aa4105b28f.html" target="element"> C6.1.4.1_19-20 </a> </td>
																		<td> <a href="../elements/id-1837ca39c07145e98e046624269ec5b3.html" target="element"> C6.1.4.1-20 E/O Work Dispatcher &#3611;&#3636;&#3604;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; (Work Order) (&#3595;&#3656;&#3629;&#3617;&#3648;&#3626;&#3619;&#3655;&#3592;) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>