<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05.คุณลักษณะเฉพาะ</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05.&#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-acf27e98cee94086a879f567a20a2711.png" alt="05.คุณลักษณะเฉพาะ" usemap="#id-acf27e98cee94086a879f567a20a2711map"/>
			   <map name="id-acf27e98cee94086a879f567a20a2711map">
				  		<area shape="rect" coords="10,72,137,116" href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html"  target="element">
				  		<area shape="rect" coords="225,351,352,388" href="../elements/id-848244bc53e245d79d18d7c2177fb992.html"  target="element">
				  		<area shape="rect" coords="226,310,353,347" href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html"  target="element">
				  		<area shape="rect" coords="227,268,354,305" href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html"  target="element">
				  		<area shape="rect" coords="227,226,354,263" href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html"  target="element">
				  		<area shape="rect" coords="227,183,354,220" href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html"  target="element">
				  		<area shape="rect" coords="227,140,354,177" href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html"  target="element">
				  		<area shape="rect" coords="226,97,353,134" href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html"  target="element">
				  		<area shape="rect" coords="227,53,354,90" href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html"  target="element">
				  		<area shape="rect" coords="227,10,354,47" href="../elements/id-3022c8360ed54f3894169032581b732d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3022c8360ed54f3894169032581b732d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3607;&#3633;&#3656;&#3623;&#3652;&#3611; </a> </td>
											    <td> <a href="../elements/id-3022c8360ed54f3894169032581b732d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3630;&#3634;&#3619;&#3660;&#3604;&#3649;&#3623;&#3619;&#3660; </a> </td>
											    <td> <a href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3605;&#3656;&#3629; </a> </td>
											    <td> <a href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; </a> </td>
											    <td> <a href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3636;&#3591;&#3626;&#3617;&#3619;&#3619;&#3606;&#3609;&#3632; </a> </td>
											    <td> <a href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3588;&#3623;&#3634;&#3617;&#3614;&#3619;&#3657;&#3629;&#3617;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3617;&#3633;&#3656;&#3609;&#3588;&#3591;&#3611;&#3621;&#3629;&#3604;&#3616;&#3633;&#3618;&#3652;&#3595;&#3648;&#3610;&#3629;&#3619;&#3660;  </a> </td>
											    <td> <a href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3585;&#3634;&#3619;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; </a> </td>
											    <td> <a href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-848244bc53e245d79d18d7c2177fb992.html" target="element"> &#3611;&#3619;&#3632;&#3585;&#3633;&#3609;&#3588;&#3640;&#3603;&#3616;&#3634;&#3614;&#3586;&#3629;&#3591;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660;  </a> </td>
											    <td> <a href="../elements/id-848244bc53e245d79d18d7c2177fb992.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
											    <td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-aa2ae6738fa84b2eb0f85d0586fee1b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa2ae6738fa84b2eb0f85d0586fee1b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-3022c8360ed54f3894169032581b732d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3607;&#3633;&#3656;&#3623;&#3652;&#3611; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf557147744a416cbfddd9398c110e99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf557147744a416cbfddd9398c110e99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3636;&#3591;&#3626;&#3617;&#3619;&#3619;&#3606;&#3609;&#3632; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33adc85e8dc84dd0aab08e34cccf783d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33adc85e8dc84dd0aab08e34cccf783d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-848244bc53e245d79d18d7c2177fb992.html" target="element"> &#3611;&#3619;&#3632;&#3585;&#3633;&#3609;&#3588;&#3640;&#3603;&#3616;&#3634;&#3614;&#3586;&#3629;&#3591;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660;  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b33bbc769af3424094ce1bea18793b5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b33bbc769af3424094ce1bea18793b5b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8399a101b84045a088945ff7032afa79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8399a101b84045a088945ff7032afa79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3585;&#3634;&#3619;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a7acc65eb964e0abc618ec3334f589a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a7acc65eb964e0abc618ec3334f589a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3617;&#3633;&#3656;&#3609;&#3588;&#3591;&#3611;&#3621;&#3629;&#3604;&#3616;&#3633;&#3618;&#3652;&#3595;&#3648;&#3610;&#3629;&#3619;&#3660;  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d891620a857d47b4a0b4cb60bc5133e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d891620a857d47b4a0b4cb60bc5133e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3605;&#3656;&#3629; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b70acae9ecb4e618c51312ba7b4bc8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b70acae9ecb4e618c51312ba7b4bc8e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3588;&#3623;&#3634;&#3617;&#3614;&#3619;&#3657;&#3629;&#3617;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74b1b5410b274b0da9ca527568fa41b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74b1b5410b274b0da9ca527568fa41b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																		<td> <a href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3630;&#3634;&#3619;&#3660;&#3604;&#3649;&#3623;&#3619;&#3660; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>