<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03.ขอบเขตของงาน</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03.&#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dbebbc702eaf4ca4ba8e26271b6a54f7.png" alt="03.ขอบเขตของงาน" usemap="#id-dbebbc702eaf4ca4ba8e26271b6a54f7map"/>
			   <map name="id-dbebbc702eaf4ca4ba8e26271b6a54f7map">
				  		<area shape="rect" coords="621,395,748,432" href="../elements/id-848244bc53e245d79d18d7c2177fb992.html"  target="element">
				  		<area shape="rect" coords="622,354,749,391" href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html"  target="element">
				  		<area shape="rect" coords="623,312,750,349" href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html"  target="element">
				  		<area shape="rect" coords="623,270,750,307" href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html"  target="element">
				  		<area shape="rect" coords="623,227,750,264" href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html"  target="element">
				  		<area shape="rect" coords="623,184,750,221" href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html"  target="element">
				  		<area shape="rect" coords="622,141,749,178" href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html"  target="element">
				  		<area shape="rect" coords="623,97,750,134" href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html"  target="element">
				  		<area shape="rect" coords="623,54,750,91" href="../elements/id-3022c8360ed54f3894169032581b732d.html"  target="element">
				  				<area shape="rect" coords="226,51,353,95" href="../elements/id-164e27ab58a347f9a8afa3c5467df166.html"  target="element">
				  				<area shape="rect" coords="46,312,173,356" href="../elements/id-2294567152064d82b1ca8171e7fd8581.html"  target="element">
				  				<area shape="rect" coords="226,178,353,222" href="../elements/id-d121852b5c5043f0a31244ae98841a2e.html"  target="element">
				  				<area shape="rect" coords="406,315,533,359" href="../elements/id-426a218a6dc84b0090ae41810cf82a0e.html"  target="element">
				  				<area shape="rect" coords="46,113,173,157" href="../elements/id-06a4718dadd04019911be26849875034.html"  target="element">
				  				<area shape="rect" coords="46,175,173,219" href="../elements/id-0639817d42ff4af09dfb8369f2ad7aa4.html"  target="element">
				  				<area shape="rect" coords="46,48,173,92" href="../elements/id-1e942717a9fe4d64b5dd30d2f10219d4.html"  target="element">
				  				<area shape="rect" coords="406,116,533,160" href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html"  target="element">
				  				<area shape="rect" coords="226,116,353,160" href="../elements/id-c82b92a08be641999134037118a0e97e.html"  target="element">
				  				<area shape="rect" coords="226,315,353,359" href="../elements/id-58203d71025548c19d11c82a5ca59511.html"  target="element">
				  				<area shape="rect" coords="406,51,533,95" href="../elements/id-e5de1c13b74f4705a9a02eb907638965.html"  target="element">
				  				<area shape="rect" coords="406,243,533,287" href="../elements/id-edfbd32984b74e5d875cdb92c35fbfa1.html"  target="element">
				  				<area shape="rect" coords="406,178,533,222" href="../elements/id-1fcf5c450b6f4ece8e675a840bbbb02f.html"  target="element">
				  				<area shape="rect" coords="46,240,173,284" href="../elements/id-c374df570265456984800fa0bf8b2dd1.html"  target="element">
				  				<area shape="rect" coords="406,387,533,431" href="../elements/id-4f6c990289a542d1be3f11295bbeb8f0.html"  target="element">
				  				<area shape="rect" coords="226,243,353,287" href="../elements/id-1ccd8321348343ebaa6640a8aa4d1061.html"  target="element">

				  		<area shape="rect" coords="10,10,563,455" href="../elements/id-1190d2ab394640adb25f21d5676a631e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1ccd8321348343ebaa6640a8aa4d1061.html" target="element"> 	&#3629;&#3633;&#3605;&#3619;&#3634;&#3588;&#3656;&#3634;&#3611;&#3619;&#3633;&#3610; </a> </td>
													    <td> <a href="../elements/id-1ccd8321348343ebaa6640a8aa4d1061.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f6c990289a542d1be3f11295bbeb8f0.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 6 Training </a> </td>
													    <td> <a href="../elements/id-4f6c990289a542d1be3f11295bbeb8f0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c374df570265456984800fa0bf8b2dd1.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
													    <td> <a href="../elements/id-c374df570265456984800fa0bf8b2dd1.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1fcf5c450b6f4ece8e675a840bbbb02f.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 3 &#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
													    <td> <a href="../elements/id-1fcf5c450b6f4ece8e675a840bbbb02f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-edfbd32984b74e5d875cdb92c35fbfa1.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 4 Helpdesk </a> </td>
													    <td> <a href="../elements/id-edfbd32984b74e5d875cdb92c35fbfa1.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5de1c13b74f4705a9a02eb907638965.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 1 Architecture </a> </td>
													    <td> <a href="../elements/id-e5de1c13b74f4705a9a02eb907638965.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58203d71025548c19d11c82a5ca59511.html" target="element"> &#3585;&#3635;&#3627;&#3609;&#3604;&#3619;&#3632;&#3618;&#3632;&#3648;&#3623;&#3621;&#3634;&#3619;&#3633;&#3610;&#3611;&#3619;&#3632;&#3585;&#3633;&#3609;&#3588;&#3623;&#3634;&#3617;&#3594;&#3635;&#3619;&#3640;&#3604;&#3610;&#3585;&#3614;&#3619;&#3656;&#3629;&#3591; </a> </td>
													    <td> <a href="../elements/id-58203d71025548c19d11c82a5ca59511.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c82b92a08be641999134037118a0e97e.html" target="element"> &#3623;&#3591;&#3648;&#3591;&#3636;&#3609;&#3591;&#3610;&#3611;&#3619;&#3632;&#3617;&#3634;&#3603; </a> </td>
													    <td> <a href="../elements/id-c82b92a08be641999134037118a0e97e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
													    <td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e942717a9fe4d64b5dd30d2f10219d4.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3648;&#3611;&#3655;&#3609;&#3617;&#3634; </a> </td>
													    <td> <a href="../elements/id-1e942717a9fe4d64b5dd30d2f10219d4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0639817d42ff4af09dfb8369f2ad7aa4.html" target="element"> &#3588;&#3640;&#3603;&#3626;&#3617;&#3610;&#3633;&#3605;&#3636;&#3586;&#3629;&#3591;&#3612;&#3641;&#3657;&#3618;&#3639;&#3656;&#3609;&#3586;&#3657;&#3629;&#3648;&#3626;&#3609;&#3629; </a> </td>
													    <td> <a href="../elements/id-0639817d42ff4af09dfb8369f2ad7aa4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06a4718dadd04019911be26849875034.html" target="element"> &#3623;&#3633;&#3605;&#3606;&#3640;&#3611;&#3619;&#3632;&#3626;&#3591;&#3588;&#3660; </a> </td>
													    <td> <a href="../elements/id-06a4718dadd04019911be26849875034.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-426a218a6dc84b0090ae41810cf82a0e.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 5 e-Learning </a> </td>
													    <td> <a href="../elements/id-426a218a6dc84b0090ae41810cf82a0e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d121852b5c5043f0a31244ae98841a2e.html" target="element"> &#3591;&#3623;&#3604;&#3591;&#3634;&#3609;&#3649;&#3621;&#3632;&#3585;&#3634;&#3619;&#3592;&#3656;&#3634;&#3618;&#3648;&#3591;&#3636;&#3609; </a> </td>
													    <td> <a href="../elements/id-d121852b5c5043f0a31244ae98841a2e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2294567152064d82b1ca8171e7fd8581.html" target="element"> &#3585;&#3635;&#3627;&#3609;&#3604;&#3648;&#3623;&#3621;&#3634;&#3626;&#3656;&#3591;&#3617;&#3629;&#3610;&#3614;&#3633;&#3626;&#3604;&#3640; </a> </td>
													    <td> <a href="../elements/id-2294567152064d82b1ca8171e7fd8581.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-164e27ab58a347f9a8afa3c5467df166.html" target="element"> &#3627;&#3621;&#3633;&#3585;&#3648;&#3585;&#3603;&#3601;&#3660;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3633;&#3604;&#3648;&#3621;&#3639;&#3629;&#3585;&#3586;&#3657;&#3629;&#3648;&#3626;&#3609;&#3629; </a> </td>
													    <td> <a href="../elements/id-164e27ab58a347f9a8afa3c5467df166.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3022c8360ed54f3894169032581b732d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3607;&#3633;&#3656;&#3623;&#3652;&#3611; </a> </td>
											    <td> <a href="../elements/id-3022c8360ed54f3894169032581b732d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3630;&#3634;&#3619;&#3660;&#3604;&#3649;&#3623;&#3619;&#3660; </a> </td>
											    <td> <a href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3605;&#3656;&#3629; </a> </td>
											    <td> <a href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; </a> </td>
											    <td> <a href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3636;&#3591;&#3626;&#3617;&#3619;&#3619;&#3606;&#3609;&#3632; </a> </td>
											    <td> <a href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3588;&#3623;&#3634;&#3617;&#3614;&#3619;&#3657;&#3629;&#3617;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3617;&#3633;&#3656;&#3609;&#3588;&#3591;&#3611;&#3621;&#3629;&#3604;&#3616;&#3633;&#3618;&#3652;&#3595;&#3648;&#3610;&#3629;&#3619;&#3660;  </a> </td>
											    <td> <a href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3585;&#3634;&#3619;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; </a> </td>
											    <td> <a href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-848244bc53e245d79d18d7c2177fb992.html" target="element"> &#3611;&#3619;&#3632;&#3585;&#3633;&#3609;&#3588;&#3640;&#3603;&#3616;&#3634;&#3614;&#3586;&#3629;&#3591;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660;  </a> </td>
											    <td> <a href="../elements/id-848244bc53e245d79d18d7c2177fb992.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b066176844d64276bcee96f41c3376d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b066176844d64276bcee96f41c3376d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-1ccd8321348343ebaa6640a8aa4d1061.html" target="element"> 	&#3629;&#3633;&#3605;&#3619;&#3634;&#3588;&#3656;&#3634;&#3611;&#3619;&#3633;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7c85344d2d04014821912a7f8a55d98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7c85344d2d04014821912a7f8a55d98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-4f6c990289a542d1be3f11295bbeb8f0.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 6 Training </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b18fed7902284ca785b58bc583350100.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b18fed7902284ca785b58bc583350100.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-c374df570265456984800fa0bf8b2dd1.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-398cd1e0932d41fc851fc33697ac0793.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-398cd1e0932d41fc851fc33697ac0793.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-1fcf5c450b6f4ece8e675a840bbbb02f.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 3 &#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec4bbfc449064f7eae9d6344688d537a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec4bbfc449064f7eae9d6344688d537a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-edfbd32984b74e5d875cdb92c35fbfa1.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 4 Helpdesk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73131312506a41cdbdc928f4d32017af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73131312506a41cdbdc928f4d32017af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-e5de1c13b74f4705a9a02eb907638965.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 1 Architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80d13fc76741473da41c44c5d656b97b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80d13fc76741473da41c44c5d656b97b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-58203d71025548c19d11c82a5ca59511.html" target="element"> &#3585;&#3635;&#3627;&#3609;&#3604;&#3619;&#3632;&#3618;&#3632;&#3648;&#3623;&#3621;&#3634;&#3619;&#3633;&#3610;&#3611;&#3619;&#3632;&#3585;&#3633;&#3609;&#3588;&#3623;&#3634;&#3617;&#3594;&#3635;&#3619;&#3640;&#3604;&#3610;&#3585;&#3614;&#3619;&#3656;&#3629;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a64d52a3f724fa9bd953f8ecf06bc0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a64d52a3f724fa9bd953f8ecf06bc0f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-c82b92a08be641999134037118a0e97e.html" target="element"> &#3623;&#3591;&#3648;&#3591;&#3636;&#3609;&#3591;&#3610;&#3611;&#3619;&#3632;&#3617;&#3634;&#3603; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79b072b5bfc74b6a960b572475750eef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79b072b5bfc74b6a960b572475750eef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f30ff784e7845edbee8d0dc5a485a55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f30ff784e7845edbee8d0dc5a485a55.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-1e942717a9fe4d64b5dd30d2f10219d4.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3648;&#3611;&#3655;&#3609;&#3617;&#3634; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5b935c2125749bb9f226a7614b5b076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5b935c2125749bb9f226a7614b5b076.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-0639817d42ff4af09dfb8369f2ad7aa4.html" target="element"> &#3588;&#3640;&#3603;&#3626;&#3617;&#3610;&#3633;&#3605;&#3636;&#3586;&#3629;&#3591;&#3612;&#3641;&#3657;&#3618;&#3639;&#3656;&#3609;&#3586;&#3657;&#3629;&#3648;&#3626;&#3609;&#3629; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c39f067fe964eb2b66beb92480d0f88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c39f067fe964eb2b66beb92480d0f88.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-06a4718dadd04019911be26849875034.html" target="element"> &#3623;&#3633;&#3605;&#3606;&#3640;&#3611;&#3619;&#3632;&#3626;&#3591;&#3588;&#3660; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c9db6b36b2b4aaebc68f83c6783f3b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c9db6b36b2b4aaebc68f83c6783f3b3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-426a218a6dc84b0090ae41810cf82a0e.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 5 e-Learning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2282b671ef14943b04e50f0cf9ff44d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2282b671ef14943b04e50f0cf9ff44d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-d121852b5c5043f0a31244ae98841a2e.html" target="element"> &#3591;&#3623;&#3604;&#3591;&#3634;&#3609;&#3649;&#3621;&#3632;&#3585;&#3634;&#3619;&#3592;&#3656;&#3634;&#3618;&#3648;&#3591;&#3636;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1effdab53ee84eaf879037496364c718.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1effdab53ee84eaf879037496364c718.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-2294567152064d82b1ca8171e7fd8581.html" target="element"> &#3585;&#3635;&#3627;&#3609;&#3604;&#3648;&#3623;&#3621;&#3634;&#3626;&#3656;&#3591;&#3617;&#3629;&#3610;&#3614;&#3633;&#3626;&#3604;&#3640; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b367bc54ce6431eb29563fe60f4098a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b367bc54ce6431eb29563fe60f4098a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1190d2ab394640adb25f21d5676a631e.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3586;&#3629;&#3591;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-164e27ab58a347f9a8afa3c5467df166.html" target="element"> &#3627;&#3621;&#3633;&#3585;&#3648;&#3585;&#3603;&#3601;&#3660;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3633;&#3604;&#3648;&#3621;&#3639;&#3629;&#3585;&#3586;&#3657;&#3629;&#3648;&#3626;&#3609;&#3629; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aa2ae6738fa84b2eb0f85d0586fee1b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa2ae6738fa84b2eb0f85d0586fee1b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-3022c8360ed54f3894169032581b732d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3607;&#3633;&#3656;&#3623;&#3652;&#3611; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74b1b5410b274b0da9ca527568fa41b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74b1b5410b274b0da9ca527568fa41b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-fcb40a59e92d4b3e9b293a55ff6aac5d.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3630;&#3634;&#3619;&#3660;&#3604;&#3649;&#3623;&#3619;&#3660; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d891620a857d47b4a0b4cb60bc5133e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d891620a857d47b4a0b4cb60bc5133e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-a05f5bff77c1444ba06e1fedce80e163.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3605;&#3656;&#3629; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b33bbc769af3424094ce1bea18793b5b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b33bbc769af3424094ce1bea18793b5b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-01cda641f5fa4db6b9b26dafce334b07.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf557147744a416cbfddd9398c110e99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf557147744a416cbfddd9398c110e99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-8c6f135f64f8464f95e3cd00925220ce.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3648;&#3594;&#3636;&#3591;&#3626;&#3617;&#3619;&#3619;&#3606;&#3609;&#3632; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8b70acae9ecb4e618c51312ba7b4bc8e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b70acae9ecb4e618c51312ba7b4bc8e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-f6d1e285dbf64947af0c181e6d8200a9.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3588;&#3623;&#3634;&#3617;&#3614;&#3619;&#3657;&#3629;&#3617;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a7acc65eb964e0abc618ec3334f589a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a7acc65eb964e0abc618ec3334f589a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-b1688291f766440d9b01033fcc7d6adc.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3617;&#3633;&#3656;&#3609;&#3588;&#3591;&#3611;&#3621;&#3629;&#3604;&#3616;&#3633;&#3618;&#3652;&#3595;&#3648;&#3610;&#3629;&#3619;&#3660;  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8399a101b84045a088945ff7032afa79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8399a101b84045a088945ff7032afa79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-9989d6a46a0b4e2dbd090bb721a29528.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619;&#3604;&#3657;&#3634;&#3609;&#3585;&#3634;&#3619;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33adc85e8dc84dd0aab08e34cccf783d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33adc85e8dc84dd0aab08e34cccf783d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df45a97d72ff4085a281b4cdb16a7bc5.html" target="element"> &#3616;&#3634;&#3588;&#3612;&#3609;&#3623;&#3585; 2 &#3588;&#3640;&#3603;&#3621;&#3633;&#3585;&#3625;&#3603;&#3632;&#3648;&#3593;&#3614;&#3634;&#3632; </a> </td>
																				<td> <a href="../elements/id-848244bc53e245d79d18d7c2177fb992.html" target="element"> &#3611;&#3619;&#3632;&#3585;&#3633;&#3609;&#3588;&#3640;&#3603;&#3616;&#3634;&#3614;&#3586;&#3629;&#3591;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660;  </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>