<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C11 - Work no equip</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C11 - Work no equip</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9f40f96282034ae6826635be07493af0.png" alt="C11 - Work no equip" usemap="#id-9f40f96282034ae6826635be07493af0map"/>
			   <map name="id-9f40f96282034ae6826635be07493af0map">
				          <area shape="rect" coords="10,10,299,39" href="../objects/id-3d40b9f42a9c42b88e98d8fcd053857b.html" target="element" >
				  				<area shape="rect" coords="514,122,591,177" href="../elements/id-824d8b4ce19e4b72a371191e2d602972.html"  target="element">
				  				<area shape="rect" coords="646,137,706,162" href="../elements/id-bf1c8711db544f3fa0ab06358aa20b0a.html"  target="element">
				  				<area shape="rect" coords="42,137,102,162" href="../elements/id-6a655215effa43a2aa6d86081ddd37c7.html"  target="element">
				  				<area shape="rect" coords="394,122,471,177" href="../elements/id-93b5ca74996741219af1335836817d37.html"  target="element">
				  				<area shape="rect" coords="274,122,351,177" href="../elements/id-116d797d8e7c4f7f9293774ccf4cdb62.html"  target="element">
				  				<area shape="rect" coords="150,122,227,177" href="../elements/id-7a70459b965243408815106cec462c2f.html"  target="element">

				  		<area shape="rect" coords="10,70,731,227" href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html" target="element"> Execute Order without Equipment </a> </td>
											    <td> <a href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7a70459b965243408815106cec462c2f.html" target="element"> &#3605;&#3633;&#3604;&#3652;&#3615; </a> </td>
													    <td> <a href="../elements/id-7a70459b965243408815106cec462c2f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-116d797d8e7c4f7f9293774ccf4cdb62.html" target="element"> &#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
													    <td> <a href="../elements/id-116d797d8e7c4f7f9293774ccf4cdb62.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93b5ca74996741219af1335836817d37.html" target="element"> &#3592;&#3656;&#3634;&#3618;&#3652;&#3615; &#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
													    <td> <a href="../elements/id-93b5ca74996741219af1335836817d37.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a655215effa43a2aa6d86081ddd37c7.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609; </a> </td>
													    <td> <a href="../elements/id-6a655215effa43a2aa6d86081ddd37c7.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf1c8711db544f3fa0ab06358aa20b0a.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
													    <td> <a href="../elements/id-bf1c8711db544f3fa0ab06358aa20b0a.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-824d8b4ce19e4b72a371191e2d602972.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
													    <td> <a href="../elements/id-824d8b4ce19e4b72a371191e2d602972.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-3d40b9f42a9c42b88e98d8fcd053857b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3d40b9f42a9c42b88e98d8fcd053857b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-62679e47a723421fb7159bb00bbf6bd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62679e47a723421fb7159bb00bbf6bd9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html" target="element"> Execute Order without Equipment </a> </td>
																		<td> <a href="../elements/id-7a70459b965243408815106cec462c2f.html" target="element"> &#3605;&#3633;&#3604;&#3652;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93df841bc6084801bec4d662d5224d38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93df841bc6084801bec4d662d5224d38.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html" target="element"> Execute Order without Equipment </a> </td>
																		<td> <a href="../elements/id-116d797d8e7c4f7f9293774ccf4cdb62.html" target="element"> &#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-869182669d954cdc9a5742a22dc8de62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-869182669d954cdc9a5742a22dc8de62.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html" target="element"> Execute Order without Equipment </a> </td>
																		<td> <a href="../elements/id-93b5ca74996741219af1335836817d37.html" target="element"> &#3592;&#3656;&#3634;&#3618;&#3652;&#3615; &#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-767388a390a94f6486a49b27017d2b17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-767388a390a94f6486a49b27017d2b17.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2f1d35d3b8540ea8d18e4cada2950dc.html" target="element"> Execute Order without Equipment </a> </td>
																		<td> <a href="../elements/id-824d8b4ce19e4b72a371191e2d602972.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-abbbc101d0fe403bb9c020d099a53252.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abbbc101d0fe403bb9c020d099a53252.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7a70459b965243408815106cec462c2f.html" target="element"> &#3605;&#3633;&#3604;&#3652;&#3615; </a> </td>
																				<td> <a href="../elements/id-116d797d8e7c4f7f9293774ccf4cdb62.html" target="element"> &#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-15bee5b7be894962b47797481b2933c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15bee5b7be894962b47797481b2933c9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-116d797d8e7c4f7f9293774ccf4cdb62.html" target="element"> &#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																				<td> <a href="../elements/id-93b5ca74996741219af1335836817d37.html" target="element"> &#3592;&#3656;&#3634;&#3618;&#3652;&#3615; &#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cf29583fcac24c10887bd2e700f27c1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf29583fcac24c10887bd2e700f27c1c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-93b5ca74996741219af1335836817d37.html" target="element"> &#3592;&#3656;&#3634;&#3618;&#3652;&#3615; &#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																				<td> <a href="../elements/id-824d8b4ce19e4b72a371191e2d602972.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8f3707bfb44c4a6ebd9abf633fcf385c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8f3707bfb44c4a6ebd9abf633fcf385c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a655215effa43a2aa6d86081ddd37c7.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609; </a> </td>
																				<td> <a href="../elements/id-7a70459b965243408815106cec462c2f.html" target="element"> &#3605;&#3633;&#3604;&#3652;&#3615; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b35f78239f4f42658e8a21f4d881d5d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b35f78239f4f42658e8a21f4d881d5d7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-824d8b4ce19e4b72a371191e2d602972.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																				<td> <a href="../elements/id-bf1c8711db544f3fa0ab06358aa20b0a.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604; </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>