<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>UAT-OMS-C01</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>UAT-OMS-C01</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fa2fffb5fb384b67830cfa5b1254cbac.png" alt="UAT-OMS-C01" usemap="#id-fa2fffb5fb384b67830cfa5b1254cbacmap"/>
			   <map name="id-fa2fffb5fb384b67830cfa5b1254cbacmap">
				  				<area shape="rect" coords="130,77,239,122" href="../elements/id-4b9e4956e7ce4d71964ce7eb662be96d.html"  target="element">
				  				<area shape="rect" coords="550,77,671,122" href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html"  target="element">
				  				<area shape="rect" coords="706,77,779,122" href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html"  target="element">
				  				<area shape="rect" coords="802,82,851,117" href="../elements/id-043373242e0c44e59132cfe0f10bae96.html"  target="element">
				  				<area shape="rect" coords="406,77,515,122" href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html"  target="element">
				  				<area shape="rect" coords="46,82,99,117" href="../elements/id-0ee9acd99bdc4c4297174eff6b51fdc2.html"  target="element">
				  				<area shape="rect" coords="262,77,371,122" href="../elements/id-147bb93ce30844dab9a37b9dacd4b82d.html"  target="element">

				  		<area shape="rect" coords="10,10,910,199" href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
											    <td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-147bb93ce30844dab9a37b9dacd4b82d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZOM1 </a> </td>
													    <td> <a href="../elements/id-147bb93ce30844dab9a37b9dacd4b82d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ee9acd99bdc4c4297174eff6b51fdc2.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609;  </a> </td>
													    <td> <a href="../elements/id-0ee9acd99bdc4c4297174eff6b51fdc2.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
													    <td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-043373242e0c44e59132cfe0f10bae96.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604;  </a> </td>
													    <td> <a href="../elements/id-043373242e0c44e59132cfe0f10bae96.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
													    <td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
													    <td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b9e4956e7ce4d71964ce7eb662be96d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3585;&#3636;&#3656;&#3591;&#3652;&#3617;&#3657;&#3614;&#3634;&#3604;&#3626;&#3634;&#3618; </a> </td>
													    <td> <a href="../elements/id-4b9e4956e7ce4d71964ce7eb662be96d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1f4a3777f8cd430e8a94a591dfc6739f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f4a3777f8cd430e8a94a591dfc6739f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																		<td> <a href="../elements/id-147bb93ce30844dab9a37b9dacd4b82d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZOM1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b05963a81b5400fb97de8bd43c5564f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b05963a81b5400fb97de8bd43c5564f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																		<td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e436f0bd138a4fc1b5fa442e4e895d80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e436f0bd138a4fc1b5fa442e4e895d80.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																		<td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-717a6a90720349a29140d60d404dd724.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-717a6a90720349a29140d60d404dd724.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																		<td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ad93458ee50488eb5becc377a01e669.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ad93458ee50488eb5becc377a01e669.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d8a471c3ec740ae89ccf7ec67932e7c.html" target="element"> UAT-OMS-C01-&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609;&#3610;&#3635;&#3619;&#3640;&#3591;&#3619;&#3633;&#3585;&#3625;&#3634;&#3648;&#3594;&#3636;&#3591;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																		<td> <a href="../elements/id-4b9e4956e7ce4d71964ce7eb662be96d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3585;&#3636;&#3656;&#3591;&#3652;&#3617;&#3657;&#3614;&#3634;&#3604;&#3626;&#3634;&#3618; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3d9fd33bfee747e29867ebe9fbed5b00.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d9fd33bfee747e29867ebe9fbed5b00.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-147bb93ce30844dab9a37b9dacd4b82d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZOM1 </a> </td>
																				<td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-552ede79bbcf4b1ebe0c70cff1c4621e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-552ede79bbcf4b1ebe0c70cff1c4621e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ee9acd99bdc4c4297174eff6b51fdc2.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609;  </a> </td>
																				<td> <a href="../elements/id-4b9e4956e7ce4d71964ce7eb662be96d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3585;&#3636;&#3656;&#3591;&#3652;&#3617;&#3657;&#3614;&#3634;&#3604;&#3626;&#3634;&#3618; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d48b416b22bf45f1a3b4b7a9e23b06f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d48b416b22bf45f1a3b4b7a9e23b06f6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e20a4f90ce614417a058f3b16304c5ed.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZPM4 </a> </td>
																				<td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-70605719925047ab8cc6b875f17e2928.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70605719925047ab8cc6b875f17e2928.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																				<td> <a href="../elements/id-043373242e0c44e59132cfe0f10bae96.html" target="element"> &#3626;&#3636;&#3657;&#3609;&#3626;&#3640;&#3604;  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7485a6e7760a42fabf35bad69c7e9bb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7485a6e7760a42fabf35bad69c7e9bb9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c71ff1edc734e3a92b6e3145e9b3a9b.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																				<td> <a href="../elements/id-133a51d98b1d4248b72d2724f5c8a1d3.html" target="element"> &#3611;&#3636;&#3604;&#3591;&#3634;&#3609; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8729e23c6d0e4fed9a031839e113d127.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8729e23c6d0e4fed9a031839e113d127.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b9e4956e7ce4d71964ce7eb662be96d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3585;&#3636;&#3656;&#3591;&#3652;&#3617;&#3657;&#3614;&#3634;&#3604;&#3626;&#3634;&#3618; </a> </td>
																				<td> <a href="../elements/id-147bb93ce30844dab9a37b9dacd4b82d.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591; &#3611;&#3619;&#3632;&#3648;&#3616;&#3607; ZOM1 </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>