<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-arch-Lnk</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-arch-Lnk</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-22296c1322f3431f942fc2b957f97750.png" alt="01-arch-Lnk" usemap="#id-22296c1322f3431f942fc2b957f97750map"/>
			   <map name="id-22296c1322f3431f942fc2b957f97750map">
				  		<area shape="rect" coords="788,118,829,143" href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html"  target="element">
				  		<area shape="rect" coords="632,286,681,311" href="../elements/id-0884025d77c644c5a953533dc024ac7f.html"  target="element">
				  		<area shape="rect" coords="512,287,547,310" href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html"  target="element">
				  		<area shape="rect" coords="128,166,177,191" href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html"  target="element">
				  		<area shape="rect" coords="890,106,939,131" href="../elements/id-4f880c2912714705a8e49934a1572b5f.html"  target="element">
				  		<area shape="rect" coords="542,346,759,419" href="../elements/id-ffb1a1554f9648de981c3061147132d5.html"  target="element">
				  		<area shape="rect" coords="278,346,495,419" href="../elements/id-8e5c06f899cd43eea44c0384e484c351.html"  target="element">
				  		<area shape="rect" coords="542,190,759,263" href="../elements/id-faaf3bcd3a0142908094b70c6383eb0a.html"  target="element">
				  		<area shape="rect" coords="806,166,1023,239" href="../elements/id-f9469cb54e2043978eecb66fa5e87ec7.html"  target="element">
				  		<area shape="rect" coords="542,10,759,83" href="../elements/id-d20800a5f92c47f18eba5b13edc2f5f2.html"  target="element">
				  		<area shape="rect" coords="806,10,1023,83" href="../elements/id-89bca3acf7a74ac1a5de769f42d6023c.html"  target="element">
				  		<area shape="rect" coords="32,10,249,83" href="../elements/id-c58d2556d2ac456e92c14151e3a979fe.html"  target="element">
				  		<area shape="rect" coords="542,94,759,167" href="../elements/id-c38cb49e493c45aea4debc16b66ebdd1.html"  target="element">
				  		<area shape="rect" coords="32,346,249,419" href="../elements/id-7065fb135c1e417ab803f56fb7a20f45.html"  target="element">
				  		<area shape="rect" coords="32,262,249,335" href="../elements/id-609668309dbc49b683e39f9ce182da03.html"  target="element">
				  		<area shape="rect" coords="278,262,495,335" href="../elements/id-d745776656264ade8dd3c9f539292e81.html"  target="element">
				  		<area shape="rect" coords="278,94,495,167" href="../elements/id-7fa913956b7a47d790413758973d5da0.html"  target="element">
				  		<area shape="rect" coords="278,178,495,251" href="../elements/id-171d2aaebd3a4fb1ad9792cd339b0c90.html"  target="element">
				  		<area shape="rect" coords="278,10,495,83" href="../elements/id-a64cfcbf47ce4473b1bb0d6d5afd1cb3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3619;&#3623;&#3610;&#3619;&#3623;&#3617;&#3648;&#3629;&#3585;&#3626;&#3634;&#3619; &#3594;&#3640;&#3604;&#3607;&#3637;&#3656; 1 : &#3626;&#3606;&#3634;&#3611;&#3633;&#3605;&#3618;&#3585;&#3619;&#3619;&#3617;&#3619;&#3632;&#3610;&#3610;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a64cfcbf47ce4473b1bb0d6d5afd1cb3.html" target="element"> &#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591; TOR: DDIP </a> </td>
											    <td> <a href="../elements/id-a64cfcbf47ce4473b1bb0d6d5afd1cb3.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-171d2aaebd3a4fb1ad9792cd339b0c90.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 4 Technical Spec.pdf </a> </td>
											    <td> <a href="../elements/id-171d2aaebd3a4fb1ad9792cd339b0c90.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fa913956b7a47d790413758973d5da0.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 1 &#3648;&#3591;&#3639;&#3656;&#3629;&#3609;&#3652;&#3586;&#3611;&#3619;&#3632;&#3585;&#3623;&#3604;&#3619;&#3634;&#3588;&#3634;.pdf </a> </td>
											    <td> <a href="../elements/id-7fa913956b7a47d790413758973d5da0.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d745776656264ade8dd3c9f539292e81.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3611;&#3619;&#3632;&#3585;&#3623;&#3604;&#3619;&#3634;&#3588;&#3634;.pdf </a> </td>
											    <td> <a href="../elements/id-d745776656264ade8dd3c9f539292e81.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-609668309dbc49b683e39f9ce182da03.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 3 Project Overview.pdf </a> </td>
											    <td> <a href="../elements/id-609668309dbc49b683e39f9ce182da03.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7065fb135c1e417ab803f56fb7a20f45.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 2 Price Schedule.pdf </a> </td>
											    <td> <a href="../elements/id-7065fb135c1e417ab803f56fb7a20f45.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c38cb49e493c45aea4debc16b66ebdd1.html" target="element"> 00_PPT presnt board_&#3649;&#3612;&#3609; 13 14 15 R4 V Draft2.pdf </a> </td>
											    <td> <a href="../elements/id-c38cb49e493c45aea4debc16b66ebdd1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c58d2556d2ac456e92c14151e3a979fe.html" target="element"> &#3626;&#3606;&#3634;&#3611;&#3633;&#3605;&#3618;&#3585;&#3619;&#3619;&#3617; &#3619;&#3632;&#3610;&#3610; SCADA/TDMS </a> </td>
											    <td> <a href="../elements/id-c58d2556d2ac456e92c14151e3a979fe.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89bca3acf7a74ac1a5de769f42d6023c.html" target="element"> &#3626;&#3606;&#3634;&#3611;&#3633;&#3605;&#3618;&#3585;&#3619;&#3619;&#3617; &#3619;&#3632;&#3610;&#3610;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660;&#3629;&#3633;&#3592;&#3593;&#3619;&#3636;&#3618;&#3632; </a> </td>
											    <td> <a href="../elements/id-89bca3acf7a74ac1a5de769f42d6023c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d20800a5f92c47f18eba5b13edc2f5f2.html" target="element"> 010-Appendix A Interface Requirement Matrix 31_3_2021.pdf </a> </td>
											    <td> <a href="../elements/id-d20800a5f92c47f18eba5b13edc2f5f2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9469cb54e2043978eecb66fa5e87ec7.html" target="element"> 003-RFP1 Book 1 System Overview Feb_8_2021 Final.pdf </a> </td>
											    <td> <a href="../elements/id-f9469cb54e2043978eecb66fa5e87ec7.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-faaf3bcd3a0142908094b70c6383eb0a.html" target="element"> TOR_EAM 2.pdf </a> </td>
											    <td> <a href="../elements/id-faaf3bcd3a0142908094b70c6383eb0a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e5c06f899cd43eea44c0384e484c351.html" target="element"> &#3585;&#3634;&#3619;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3585;&#3619;&#3603;&#3637;&#3604;&#3633;&#3610;&#3652;&#3615;&#3649;&#3610;&#3610;&#3617;&#3637;&#3649;&#3612;&#3609;&#3591;&#3634;&#3609;&#3621;&#3656;&#3623;&#3591;&#3627;&#3609;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-8e5c06f899cd43eea44c0384e484c351.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ffb1a1554f9648de981c3061147132d5.html" target="element"> &#3585;&#3634;&#3619;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3585;&#3619;&#3603;&#3637;&#3652;&#3615;&#3604;&#3633;&#3610;&#3627;&#3619;&#3639;&#3629;&#3604;&#3633;&#3610;&#3652;&#3615;&#3649;&#3610;&#3610;&#3593;&#3640;&#3585;&#3648;&#3593;&#3636;&#3609;(Unplanned Outage Management) </a> </td>
											    <td> <a href="../elements/id-ffb1a1554f9648de981c3061147132d5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
											    <td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0884025d77c644c5a953533dc024ac7f.html" target="element"> EAM </a> </td>
											    <td> <a href="../elements/id-0884025d77c644c5a953533dc024ac7f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
											    <td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8a097e607bf844b4a33688910af55d71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a097e607bf844b4a33688910af55d71.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a64cfcbf47ce4473b1bb0d6d5afd1cb3.html" target="element"> &#3605;&#3633;&#3623;&#3629;&#3618;&#3656;&#3634;&#3591; TOR: DDIP </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3ce014304c814d1182c7d25cc47dcbdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ce014304c814d1182c7d25cc47dcbdf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-171d2aaebd3a4fb1ad9792cd339b0c90.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 4 Technical Spec.pdf </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-646b8a9aefce4a7c9b3960a561e279fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-646b8a9aefce4a7c9b3960a561e279fa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7fa913956b7a47d790413758973d5da0.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 1 &#3648;&#3591;&#3639;&#3656;&#3629;&#3609;&#3652;&#3586;&#3611;&#3619;&#3632;&#3585;&#3623;&#3604;&#3619;&#3634;&#3588;&#3634;.pdf </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ee7e9a2949cf44f38b4ac1f85aa81275.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee7e9a2949cf44f38b4ac1f85aa81275.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d745776656264ade8dd3c9f539292e81.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3611;&#3619;&#3632;&#3585;&#3623;&#3604;&#3619;&#3634;&#3588;&#3634;.pdf </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-93d7c206487b428a9515cfcb74a3f4cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93d7c206487b428a9515cfcb74a3f4cd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-609668309dbc49b683e39f9ce182da03.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 3 Project Overview.pdf </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96a728f099ca4a5db4451a5874046c97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96a728f099ca4a5db4451a5874046c97.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7065fb135c1e417ab803f56fb7a20f45.html" target="element"> &#3648;&#3621;&#3656;&#3617;&#3607;&#3637;&#3656; 2 Price Schedule.pdf </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-683a867ea8394139870fad1d51cac4a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-683a867ea8394139870fad1d51cac4a6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c38cb49e493c45aea4debc16b66ebdd1.html" target="element"> 00_PPT presnt board_&#3649;&#3612;&#3609; 13 14 15 R4 V Draft2.pdf </a> </td>
																		<td> <a href="../elements/id-55a22a016cd14ab6bb26ff6eeb47804d.html" target="element"> PEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3971d60ac50d4552b14e3e2a9a6ae10f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3971d60ac50d4552b14e3e2a9a6ae10f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c58d2556d2ac456e92c14151e3a979fe.html" target="element"> &#3626;&#3606;&#3634;&#3611;&#3633;&#3605;&#3618;&#3585;&#3619;&#3619;&#3617; &#3619;&#3632;&#3610;&#3610; SCADA/TDMS </a> </td>
																		<td> <a href="../elements/id-d7a76d075f8b4495a8d6c676331541b3.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2810d867f7fb4d0f9ddae0385246cef9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2810d867f7fb4d0f9ddae0385246cef9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89bca3acf7a74ac1a5de769f42d6023c.html" target="element"> &#3626;&#3606;&#3634;&#3611;&#3633;&#3605;&#3618;&#3585;&#3619;&#3619;&#3617; &#3619;&#3632;&#3610;&#3610;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660;&#3629;&#3633;&#3592;&#3593;&#3619;&#3636;&#3618;&#3632; </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6756f34f0fc4dc8baa91c7c380a50a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6756f34f0fc4dc8baa91c7c380a50a8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d20800a5f92c47f18eba5b13edc2f5f2.html" target="element"> 010-Appendix A Interface Requirement Matrix 31_3_2021.pdf </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-12d79d394f174a808113f87325733752.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12d79d394f174a808113f87325733752.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9469cb54e2043978eecb66fa5e87ec7.html" target="element"> 003-RFP1 Book 1 System Overview Feb_8_2021 Final.pdf </a> </td>
																		<td> <a href="../elements/id-4f880c2912714705a8e49934a1572b5f.html" target="element"> AMI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a3ab888d00a42a3aa73f070f56587fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a3ab888d00a42a3aa73f070f56587fc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-faaf3bcd3a0142908094b70c6383eb0a.html" target="element"> TOR_EAM 2.pdf </a> </td>
																		<td> <a href="../elements/id-0884025d77c644c5a953533dc024ac7f.html" target="element"> EAM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b826b9a7ab024a6ba8eab1f02df7bb30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b826b9a7ab024a6ba8eab1f02df7bb30.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e5c06f899cd43eea44c0384e484c351.html" target="element"> &#3585;&#3634;&#3619;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3585;&#3619;&#3603;&#3637;&#3604;&#3633;&#3610;&#3652;&#3615;&#3649;&#3610;&#3610;&#3617;&#3637;&#3649;&#3612;&#3609;&#3591;&#3634;&#3609;&#3621;&#3656;&#3623;&#3591;&#3627;&#3609;&#3657;&#3634; </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1884506fdbd441debacb2298f1996cee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1884506fdbd441debacb2298f1996cee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ffb1a1554f9648de981c3061147132d5.html" target="element"> &#3585;&#3634;&#3619;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;&#3585;&#3619;&#3603;&#3637;&#3652;&#3615;&#3604;&#3633;&#3610;&#3627;&#3619;&#3639;&#3629;&#3604;&#3633;&#3610;&#3652;&#3615;&#3649;&#3610;&#3610;&#3593;&#3640;&#3585;&#3648;&#3593;&#3636;&#3609;(Unplanned Outage Management) </a> </td>
																		<td> <a href="../elements/id-f753e0d66a074d84ab10595fe3859a6c.html" target="element"> OMS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>