<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>09-Wk-May5</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>09-Wk-May5</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6ac1223666bb49c89c417ffad0a53f1f.png" alt="09-Wk-May5" usemap="#id-6ac1223666bb49c89c417ffad0a53f1fmap"/>
			   <map name="id-6ac1223666bb49c89c417ffad0a53f1fmap">
				  		<area shape="rect" coords="402,206,446,230" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="352,207,396,231" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="304,207,348,231" href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html"  target="element">
				  		<area shape="rect" coords="253,207,301,231" href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html"  target="element">
				  		<area shape="rect" coords="401,253,445,277" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="351,254,395,278" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="303,254,347,278" href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html"  target="element">
				  		<area shape="rect" coords="252,254,300,278" href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html"  target="element">
				  		<area shape="rect" coords="538,262,738,299" href="../elements/id-86e2f29fde004b5aa418df5fbdecbb42.html"  target="element">
				  		<area shape="rect" coords="10,262,251,299" href="../elements/id-695263084c624233ac88e0f2de488ecc.html"  target="element">
				  		<area shape="rect" coords="538,214,738,251" href="../elements/id-1f754a129fc44379ab27d5bc0798bbf5.html"  target="element">
				  		<area shape="rect" coords="10,214,251,251" href="../elements/id-792d8290cb5e454f83fd625f0e213e4f.html"  target="element">
				  		<area shape="rect" coords="356,300,400,324" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="306,301,350,325" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="252,301,300,325" href="../elements/id-dec5620d9c8142b089a04452a9be0b35.html"  target="element">
				  		<area shape="rect" coords="538,310,738,347" href="../elements/id-8f929c732a4744a6bf25a8ae325ef242.html"  target="element">
				  		<area shape="rect" coords="10,310,251,347" href="../elements/id-0b6880f42f5147fe86a716cbb3d2ddab.html"  target="element">
				  		<area shape="rect" coords="303,157,347,181" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="252,157,300,181" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="538,166,738,203" href="../elements/id-44c84002e7254150932b0092c8d07079.html"  target="element">
				  		<area shape="rect" coords="10,166,251,203" href="../elements/id-78ff946672674daf922fa7dab5ba62da.html"  target="element">
				  		<area shape="rect" coords="306,106,350,130" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="254,106,302,130" href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html"  target="element">
				  		<area shape="rect" coords="538,118,738,155" href="../elements/id-fe41e206bc724910b148f742ec623b49.html"  target="element">
				  		<area shape="rect" coords="10,118,251,155" href="../elements/id-784e2aa2a4244876a1ae988df6c079f6.html"  target="element">
				  		<area shape="rect" coords="397,58,441,82" href="../elements/id-ae6d9ea40f9141bdb6fe8999f9e0fb1f.html"  target="element">
				  		<area shape="rect" coords="350,58,394,82" href="../elements/id-60aacac5b9814228bf39ec54ff73343c.html"  target="element">
				  		<area shape="rect" coords="305,58,349,82" href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html"  target="element">
				  		<area shape="rect" coords="254,58,302,82" href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html"  target="element">
				  		<area shape="rect" coords="538,70,738,107" href="../elements/id-456675f898cb48f2bcb73724c6cb868c.html"  target="element">
				  		<area shape="rect" coords="10,70,251,107" href="../elements/id-48289de5d28f40a2a6fefb23f720d030.html"  target="element">
				  		<area shape="rect" coords="397,10,441,34" href="../elements/id-3cbd4970ec454e8bb79cbef6f41b9471.html"  target="element">
				  		<area shape="rect" coords="350,10,394,34" href="../elements/id-d7639c32201e43acaef354651ee2d14f.html"  target="element">
				  		<area shape="rect" coords="305,10,349,34" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="254,10,302,34" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="538,22,738,59" href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html"  target="element">
				  		<area shape="rect" coords="10,22,251,59" href="../elements/id-021c08bc672c4dc69ff9c18618995937.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3585;&#3636;&#3592;&#3585;&#3619;&#3619;&#3617;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591;&#3623;&#3633;&#3609;&#3607;&#3637;&#3656; 30 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617; &#3606;&#3638;&#3591; 31 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-021c08bc672c4dc69ff9c18618995937.html" target="element"> 26 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
											    <td> <a href="../elements/id-021c08bc672c4dc69ff9c18618995937.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3585;&#3634;&#3619; workshop </a> </td>
											    <td> <a href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7639c32201e43acaef354651ee2d14f.html" target="element"> SCO - Dr.Scott Coe </a> </td>
											    <td> <a href="../elements/id-d7639c32201e43acaef354651ee2d14f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cbd4970ec454e8bb79cbef6f41b9471.html" target="element"> SNM - Mr.Scott Newmann </a> </td>
											    <td> <a href="../elements/id-3cbd4970ec454e8bb79cbef6f41b9471.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48289de5d28f40a2a6fefb23f720d030.html" target="element"> 27 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
											    <td> <a href="../elements/id-48289de5d28f40a2a6fefb23f720d030.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-456675f898cb48f2bcb73724c6cb868c.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; OMS </a> </td>
											    <td> <a href="../elements/id-456675f898cb48f2bcb73724c6cb868c.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-60aacac5b9814228bf39ec54ff73343c.html" target="element"> SCO - Dr.Scott Coe (copy) </a> </td>
											    <td> <a href="../elements/id-60aacac5b9814228bf39ec54ff73343c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae6d9ea40f9141bdb6fe8999f9e0fb1f.html" target="element"> SNM - Mr.Scott Newmann (copy) </a> </td>
											    <td> <a href="../elements/id-ae6d9ea40f9141bdb6fe8999f9e0fb1f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-784e2aa2a4244876a1ae988df6c079f6.html" target="element"> 28 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
											    <td> <a href="../elements/id-784e2aa2a4244876a1ae988df6c079f6.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe41e206bc724910b148f742ec623b49.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; OMS </a> </td>
											    <td> <a href="../elements/id-fe41e206bc724910b148f742ec623b49.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78ff946672674daf922fa7dab5ba62da.html" target="element"> 1 May 2023 : &#3629;&#3629;&#3585;&#3649;&#3610;&#3610;&#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-78ff946672674daf922fa7dab5ba62da.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44c84002e7254150932b0092c8d07079.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; OMS </a> </td>
											    <td> <a href="../elements/id-44c84002e7254150932b0092c8d07079.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b6880f42f5147fe86a716cbb3d2ddab.html" target="element"> 3 May 2023 : &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-0b6880f42f5147fe86a716cbb3d2ddab.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f929c732a4744a6bf25a8ae325ef242.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-8f929c732a4744a6bf25a8ae325ef242.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dec5620d9c8142b089a04452a9be0b35.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-dec5620d9c8142b089a04452a9be0b35.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-792d8290cb5e454f83fd625f0e213e4f.html" target="element"> 2 May 2023 : &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-792d8290cb5e454f83fd625f0e213e4f.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f754a129fc44379ab27d5bc0798bbf5.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-1f754a129fc44379ab27d5bc0798bbf5.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-695263084c624233ac88e0f2de488ecc.html" target="element"> 3 May 2023 : &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-695263084c624233ac88e0f2de488ecc.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86e2f29fde004b5aa418df5fbdecbb42.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
											    <td> <a href="../elements/id-86e2f29fde004b5aa418df5fbdecbb42.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-f12b8cd6fef84f10bb0f16988bff0843.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; (copy) </a> </td>
											    <td> <a href="../elements/id-c8afcf8a22084fa08adf38af248d7aa8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1ca2645b14c54570914ca96a5bbb4dff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ca2645b14c54570914ca96a5bbb4dff.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-021c08bc672c4dc69ff9c18618995937.html" target="element"> 26 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
																		<td> <a href="../elements/id-2b2cddc1c6b843ffaffce0fed00a07c6.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3585;&#3634;&#3619; workshop </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a642edff61b740a0ae017e0431c71ec1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a642edff61b740a0ae017e0431c71ec1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48289de5d28f40a2a6fefb23f720d030.html" target="element"> 27 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
																		<td> <a href="../elements/id-456675f898cb48f2bcb73724c6cb868c.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-20949a229a0e475e94f2b3d42e352d8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20949a229a0e475e94f2b3d42e352d8d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-784e2aa2a4244876a1ae988df6c079f6.html" target="element"> 28 Apr 2023 : &#3648;&#3605;&#3619;&#3637;&#3618;&#3617;&#3585;&#3634;&#3619; workshop #2 </a> </td>
																		<td> <a href="../elements/id-fe41e206bc724910b148f742ec623b49.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-598d0f90fde94166b0c222bba3edc7a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-598d0f90fde94166b0c222bba3edc7a5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-78ff946672674daf922fa7dab5ba62da.html" target="element"> 1 May 2023 : &#3629;&#3629;&#3585;&#3649;&#3610;&#3610;&#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-44c84002e7254150932b0092c8d07079.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d52199dc4c14102a227a09e6dc26d63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d52199dc4c14102a227a09e6dc26d63.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b6880f42f5147fe86a716cbb3d2ddab.html" target="element"> 3 May 2023 : &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3627;&#3634;&#3619;&#3639;&#3629;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-8f929c732a4744a6bf25a8ae325ef242.html" target="element"> &#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df23c81ab0a24bee86ac0493f1c14f76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df23c81ab0a24bee86ac0493f1c14f76.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792d8290cb5e454f83fd625f0e213e4f.html" target="element"> 2 May 2023 : &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																		<td> <a href="../elements/id-1f754a129fc44379ab27d5bc0798bbf5.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0cdd1b38dc2f47caa423f182d94e6289.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cdd1b38dc2f47caa423f182d94e6289.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-695263084c624233ac88e0f2de488ecc.html" target="element"> 3 May 2023 : &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																		<td> <a href="../elements/id-86e2f29fde004b5aa418df5fbdecbb42.html" target="element"> &#3619;&#3656;&#3634;&#3591;&#3586;&#3657;&#3629;&#3585;&#3635;&#3627;&#3609;&#3604; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>