<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03-Wk-Mar2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03-Wk-Mar2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7bb0e78e7eb44af3b0c22431c9c27749.png" alt="03-Wk-Mar2" usemap="#id-7bb0e78e7eb44af3b0c22431c9c27749map"/>
			   <map name="id-7bb0e78e7eb44af3b0c22431c9c27749map">
				  		<area shape="rect" coords="429,346,473,370" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="298,346,342,370" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="341,346,385,370" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="384,346,428,370" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="251,346,299,370" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="429,294,473,318" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="298,294,342,318" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="341,294,385,318" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="384,294,428,318" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="251,294,299,318" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="431,242,475,266" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="300,242,344,266" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="343,242,387,266" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="386,242,430,266" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="253,242,301,266" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="430,201,474,225" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="299,201,343,225" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="342,201,386,225" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="385,201,429,225" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="252,201,300,225" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="428,155,472,179" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="297,155,341,179" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="340,155,384,179" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="383,155,427,179" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="250,155,298,179" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="431,107,475,131" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="428,56,472,80" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="429,10,473,34" href="../elements/id-7f727798fe2b44489742631c78515e33.html"  target="element">
				  		<area shape="rect" coords="300,107,344,131" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="343,107,387,131" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="386,107,430,131" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="253,107,301,131" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="298,55,342,79" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="341,55,385,79" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="384,55,428,79" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="251,55,299,79" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="299,10,343,34" href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html"  target="element">
				  		<area shape="rect" coords="342,10,386,34" href="../elements/id-fa30bff584db41c794ce415fb3234b64.html"  target="element">
				  		<area shape="rect" coords="385,10,429,34" href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html"  target="element">
				  		<area shape="rect" coords="252,10,300,34" href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html"  target="element">
				  		<area shape="rect" coords="514,360,714,397" href="../elements/id-ab54c0a4cfde4878a217758410767968.html"  target="element">
				  		<area shape="rect" coords="10,360,251,397" href="../elements/id-d8b9866642a34d63b6b13326b80f5ae3.html"  target="element">
				  		<area shape="rect" coords="514,120,714,157" href="../elements/id-db057cd7d7b64605bdf2396988bc3525.html"  target="element">
				  		<area shape="rect" coords="514,72,714,109" href="../elements/id-d8ca40efec1143d68df94c96fbda51c8.html"  target="element">
				  		<area shape="rect" coords="514,24,714,61" href="../elements/id-a8eca54ab5594219a9998d48eea58a77.html"  target="element">
				  		<area shape="rect" coords="10,120,251,157" href="../elements/id-776999de385049c785606d0b7a080fde.html"  target="element">
				  		<area shape="rect" coords="10,72,251,109" href="../elements/id-d4dda98471ac4d8b8a56b6e3c63e7058.html"  target="element">
				  		<area shape="rect" coords="10,24,251,61" href="../elements/id-f047ba066d19411199319e2fe3c5c937.html"  target="element">
				  		<area shape="rect" coords="514,312,714,349" href="../elements/id-196131aa8df54e2a84159e4f21eb1951.html"  target="element">
				  		<area shape="rect" coords="514,264,714,301" href="../elements/id-358e373b02124344a8ab2feb37914868.html"  target="element">
				  		<area shape="rect" coords="514,216,714,253" href="../elements/id-3a01bcaafb13431faa180772a121ad19.html"  target="element">
				  		<area shape="rect" coords="514,168,714,205" href="../elements/id-fbd439d7fb784c5da95c4b5d53f9e40e.html"  target="element">
				  		<area shape="rect" coords="10,312,251,349" href="../elements/id-afdcedb66364424a888537a41ea3eb58.html"  target="element">
				  		<area shape="rect" coords="10,264,251,301" href="../elements/id-752c536e07c84c8e85935a7cdbc0d1a2.html"  target="element">
				  		<area shape="rect" coords="10,216,251,253" href="../elements/id-dcfea32118ac4506826b173491cbc5c0.html"  target="element">
				  		<area shape="rect" coords="10,168,251,205" href="../elements/id-d1b4ed473db5490e923efdd1383e0386.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3585;&#3636;&#3592;&#3585;&#3619;&#3619;&#3617;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591;&#3623;&#3633;&#3609;&#3607;&#3637;&#3656; 28 &#3585;&#3640;&#3617;&#3616;&#3634;&#3614;&#3633;&#3609;&#3608;&#3660; &#3606;&#3638;&#3591; 3 &#3617;&#3637;&#3609;&#3634;&#3588;&#3617;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d1b4ed473db5490e923efdd1383e0386.html" target="element">    1 Mar 2023 : &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; </a> </td>
											    <td> <a href="../elements/id-d1b4ed473db5490e923efdd1383e0386.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dcfea32118ac4506826b173491cbc5c0.html" target="element">    1 Mar 2023 : &#3626;&#3634;&#3608;&#3636;&#3605;&#3619;&#3632;&#3610;&#3610; Schneider OMS </a> </td>
											    <td> <a href="../elements/id-dcfea32118ac4506826b173491cbc5c0.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-752c536e07c84c8e85935a7cdbc0d1a2.html" target="element">    2 Mar 2023 : &#3624;&#3638;&#3585;&#3625;&#3634;&#3619;&#3632;&#3610;&#3610; CVT </a> </td>
											    <td> <a href="../elements/id-752c536e07c84c8e85935a7cdbc0d1a2.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-afdcedb66364424a888537a41ea3eb58.html" target="element">    2 Mar 2023 : &#3624;&#3638;&#3585;&#3625;&#3634;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
											    <td> <a href="../elements/id-afdcedb66364424a888537a41ea3eb58.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbd439d7fb784c5da95c4b5d53f9e40e.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3585;&#3634;&#3619;&#3611;&#3619;&#3632;&#3594;&#3640;&#3617; Kickoff </a> </td>
											    <td> <a href="../elements/id-fbd439d7fb784c5da95c4b5d53f9e40e.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a01bcaafb13431faa180772a121ad19.html" target="element"> UX/UI &#3586;&#3629;&#3591; SE OMS </a> </td>
											    <td> <a href="../elements/id-3a01bcaafb13431faa180772a121ad19.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-358e373b02124344a8ab2feb37914868.html" target="element"> CVT : How does it work </a> </td>
											    <td> <a href="../elements/id-358e373b02124344a8ab2feb37914868.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-196131aa8df54e2a84159e4f21eb1951.html" target="element"> OMS : How does it work </a> </td>
											    <td> <a href="../elements/id-196131aa8df54e2a84159e4f21eb1951.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f047ba066d19411199319e2fe3c5c937.html" target="element">    28 Feb 2023 : Standup Meeting </a> </td>
											    <td> <a href="../elements/id-f047ba066d19411199319e2fe3c5c937.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4dda98471ac4d8b8a56b6e3c63e7058.html" target="element">    28 Feb 2023 : &#3619;&#3632;&#3610;&#3610;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-d4dda98471ac4d8b8a56b6e3c63e7058.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-776999de385049c785606d0b7a080fde.html" target="element">    28 Feb 2023 : &#3626;&#3634;&#3608;&#3636;&#3605;&#3619;&#3632;&#3610;&#3610; Trimble OMS  </a> </td>
											    <td> <a href="../elements/id-776999de385049c785606d0b7a080fde.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8eca54ab5594219a9998d48eea58a77.html" target="element"> &#3626;&#3619;&#3640;&#3611;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-a8eca54ab5594219a9998d48eea58a77.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8ca40efec1143d68df94c96fbda51c8.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609; 52 &#3649;&#3621;&#3632; &#3585;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-d8ca40efec1143d68df94c96fbda51c8.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db057cd7d7b64605bdf2396988bc3525.html" target="element"> UX/UI &#3586;&#3629;&#3591;  Trimble </a> </td>
											    <td> <a href="../elements/id-db057cd7d7b64605bdf2396988bc3525.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8b9866642a34d63b6b13326b80f5ae3.html" target="element">    3 Mar 2023 : Standup Meeting </a> </td>
											    <td> <a href="../elements/id-d8b9866642a34d63b6b13326b80f5ae3.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab54c0a4cfde4878a217758410767968.html" target="element"> &#3626;&#3619;&#3640;&#3611;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634; </a> </td>
											    <td> <a href="../elements/id-ab54c0a4cfde4878a217758410767968.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element"> CHM - &#3604;&#3619;.&#3594;&#3640;&#3617;&#3614;&#3621; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-f451c822b2bb4eb5bef3f7ed7b615a8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element"> DVA - &#3612;&#3624;.&#3604;&#3619;.&#3648;&#3607;&#3623;&#3634; &#3588;&#3635;&#3611;&#3634;&#3648;&#3594;&#3639;&#3657;&#3629; </a> </td>
											    <td> <a href="../elements/id-4eed5e08a5d24b16a0f1188c7a94e0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element"> SUN - &#3609;&#3634;&#3591;&#3626;&#3640;&#3648;&#3609;&#3605;&#3619; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-fa30bff584db41c794ce415fb3234b64.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element"> CHY - &#3612;&#3624;.&#3604;&#3619;.&#3652;&#3594;&#3618;&#3618;&#3633;&#3609;&#3605;&#3660; &#3610;&#3640;&#3597;&#3617;&#3637; </a> </td>
											    <td> <a href="../elements/id-54950ea413f9413bbebeaae2eb0d6617.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element"> SUK - &#3623;&#3656;&#3634;&#3607;&#3637;&#3656;&#3619;&#3657;&#3629;&#3618;&#3605;&#3619;&#3637; &#3626;&#3640;&#3585;&#3619;&#3633;&#3609;&#3618;&#3660; &#3619;&#3632;&#3591;&#3633;&#3610;&#3614;&#3634;&#3621; </a> </td>
											    <td> <a href="../elements/id-7f727798fe2b44489742631c78515e33.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-56bc7626a6bc4ac98914990ab9c326cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56bc7626a6bc4ac98914990ab9c326cd.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1b4ed473db5490e923efdd1383e0386.html" target="element">    1 Mar 2023 : &#3611;&#3619;&#3632;&#3594;&#3640;&#3617;&#3648;&#3619;&#3636;&#3656;&#3617;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; </a> </td>
																		<td> <a href="../elements/id-fbd439d7fb784c5da95c4b5d53f9e40e.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3585;&#3634;&#3619;&#3611;&#3619;&#3632;&#3594;&#3640;&#3617; Kickoff </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f04967a03bc48e2a2ea297c198e43a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f04967a03bc48e2a2ea297c198e43a8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dcfea32118ac4506826b173491cbc5c0.html" target="element">    1 Mar 2023 : &#3626;&#3634;&#3608;&#3636;&#3605;&#3619;&#3632;&#3610;&#3610; Schneider OMS </a> </td>
																		<td> <a href="../elements/id-3a01bcaafb13431faa180772a121ad19.html" target="element"> UX/UI &#3586;&#3629;&#3591; SE OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab6e958b533048d0960068d81d834a7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab6e958b533048d0960068d81d834a7e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-752c536e07c84c8e85935a7cdbc0d1a2.html" target="element">    2 Mar 2023 : &#3624;&#3638;&#3585;&#3625;&#3634;&#3619;&#3632;&#3610;&#3610; CVT </a> </td>
																		<td> <a href="../elements/id-358e373b02124344a8ab2feb37914868.html" target="element"> CVT : How does it work </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33c9eff6a4a84487a9655529faccaa15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33c9eff6a4a84487a9655529faccaa15.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afdcedb66364424a888537a41ea3eb58.html" target="element">    2 Mar 2023 : &#3624;&#3638;&#3585;&#3625;&#3634;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																		<td> <a href="../elements/id-196131aa8df54e2a84159e4f21eb1951.html" target="element"> OMS : How does it work </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a7942d53ba0a456e8c04f32c7d02948a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7942d53ba0a456e8c04f32c7d02948a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f047ba066d19411199319e2fe3c5c937.html" target="element">    28 Feb 2023 : Standup Meeting </a> </td>
																		<td> <a href="../elements/id-a8eca54ab5594219a9998d48eea58a77.html" target="element"> &#3626;&#3619;&#3640;&#3611;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15f0d11dd26541dfb586681ed4c18880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15f0d11dd26541dfb586681ed4c18880.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4dda98471ac4d8b8a56b6e3c63e7058.html" target="element">    28 Feb 2023 : &#3619;&#3632;&#3610;&#3610;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-d8ca40efec1143d68df94c96fbda51c8.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609; 52 &#3649;&#3621;&#3632; &#3585;&#3634;&#3619;&#3652;&#3615;&#3615;&#3657;&#3634;&#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22f42d71d3924ff9a2a6501eeeba12e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22f42d71d3924ff9a2a6501eeeba12e5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-776999de385049c785606d0b7a080fde.html" target="element">    28 Feb 2023 : &#3626;&#3634;&#3608;&#3636;&#3605;&#3619;&#3632;&#3610;&#3610; Trimble OMS  </a> </td>
																		<td> <a href="../elements/id-db057cd7d7b64605bdf2396988bc3525.html" target="element"> UX/UI &#3586;&#3629;&#3591;  Trimble </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cdf797e84fc24934a3909e04d83b6f09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdf797e84fc24934a3909e04d83b6f09.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8b9866642a34d63b6b13326b80f5ae3.html" target="element">    3 Mar 2023 : Standup Meeting </a> </td>
																		<td> <a href="../elements/id-ab54c0a4cfde4878a217758410767968.html" target="element"> &#3626;&#3619;&#3640;&#3611;&#3588;&#3623;&#3634;&#3617;&#3585;&#3657;&#3634;&#3623;&#3627;&#3609;&#3657;&#3634; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>