<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-DT-ISU</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-DT-ISU</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ace34fcdea57495693068aa49f067bf4.png" alt="02-DT-ISU" usemap="#id-ace34fcdea57495693068aa49f067bf4map"/>
			   <map name="id-ace34fcdea57495693068aa49f067bf4map">
				  		<area shape="rect" coords="192,296,312,351" href="../elements/id-29a098e0834e4282b44c151265a7515c.html"  target="element">
				  		<area shape="rect" coords="555,506,675,561" href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html"  target="element">
				  		<area shape="rect" coords="372,506,492,561" href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html"  target="element">
				  		<area shape="rect" coords="10,406,130,461" href="../elements/id-fe36e598fd69485a8175627ffe1e53c5.html"  target="element">
				  		<area shape="rect" coords="372,394,492,473" href="../elements/id-865eb18cac8a41379449628938be29fe.html"  target="element">
				  		<area shape="rect" coords="192,382,312,485" href="../elements/id-5adfa8f15e894173ba748599b4e82e60.html"  target="element">
				  		<area shape="rect" coords="372,305,492,360" href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html"  target="element">
				  		<area shape="rect" coords="372,11,492,66" href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html"  target="element">
				  		<area shape="rect" coords="372,118,492,173" href="../elements/id-53ea6c08186c4eb6a88891dc686cf783.html"  target="element">
				  		<area shape="rect" coords="192,112,312,179" href="../elements/id-5920d89cdab945f99728244308fc5f20.html"  target="element">
				  		<area shape="rect" coords="554,406,674,461" href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html"  target="element">
				  		<area shape="rect" coords="552,304,670,361" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				          <area shape="rect" coords="10,314,95,351" href="../objects/id-2fd3ffb2a89f437ab695cf9167a24ea2.html" target="element" >
				  		<area shape="rect" coords="548,118,666,173" href="../elements/id-f21734a67560476d8928a752d75fb19b.html"  target="element">
				  		<area shape="rect" coords="552,10,670,67" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				          <area shape="rect" coords="10,16,95,53" href="../objects/id-5179e768b1de4e05953d1ea76a9d9be4.html" target="element" >
				  		<area shape="rect" coords="10,118,130,173" href="../elements/id-8a69bcb4d53f42c89a4bdc1d87c99666.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8a69bcb4d53f42c89a4bdc1d87c99666.html" target="element"> SAP-ISU Data Model </a> </td>
											    <td> <a href="../elements/id-8a69bcb4d53f42c89a4bdc1d87c99666.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5179e768b1de4e05953d1ea76a9d9be4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5179e768b1de4e05953d1ea76a9d9be4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f21734a67560476d8928a752d75fb19b.html" target="element"> eRespond </a> </td>
											    <td> <a href="../elements/id-f21734a67560476d8928a752d75fb19b.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2fd3ffb2a89f437ab695cf9167a24ea2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2fd3ffb2a89f437ab695cf9167a24ea2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
											    <td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5920d89cdab945f99728244308fc5f20.html" target="element"> SAP ISU to/from eResponse Conversion </a> </td>
											    <td> <a href="../elements/id-5920d89cdab945f99728244308fc5f20.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53ea6c08186c4eb6a88891dc686cf783.html" target="element"> [proprietary] eResponse ITU Data Model </a> </td>
											    <td> <a href="../elements/id-53ea6c08186c4eb6a88891dc686cf783.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element"> ISU Data Model </a> </td>
											    <td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element"> ISU Data Model </a> </td>
											    <td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5adfa8f15e894173ba748599b4e82e60.html" target="element"> ITU to/from PEA CIM based ISU Data Model Conversion </a> </td>
											    <td> <a href="../elements/id-5adfa8f15e894173ba748599b4e82e60.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-865eb18cac8a41379449628938be29fe.html" target="element"> [standard] PEA CIM based ISU Data Model </a> </td>
											    <td> <a href="../elements/id-865eb18cac8a41379449628938be29fe.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe36e598fd69485a8175627ffe1e53c5.html" target="element"> new ISU Data Model </a> </td>
											    <td> <a href="../elements/id-fe36e598fd69485a8175627ffe1e53c5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
											    <td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element"> PEA CIM Profile Creation </a> </td>
											    <td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
											    <td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-72072eb4ab7847cfa22a283ca6903b36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72072eb4ab7847cfa22a283ca6903b36.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element"> ISU Data Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0e33bce326a3413bb39d6256e058ffe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e33bce326a3413bb39d6256e058ffe1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f21734a67560476d8928a752d75fb19b.html" target="element"> eRespond </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-72072eb4ab7847cfa22a283ca6903b36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72072eb4ab7847cfa22a283ca6903b36.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element"> ISU Data Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0354b71c88ab40389825cd12e3f9c2bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0354b71c88ab40389825cd12e3f9c2bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9eee8b7979ca432c9b3ba3328fe6a40a.html" target="element"> new OMS Software </a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9296657ac1ad445eb0646fe30dfcff09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9296657ac1ad445eb0646fe30dfcff09.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5920d89cdab945f99728244308fc5f20.html" target="element"> SAP ISU to/from eResponse Conversion </a> </td>
																		<td> <a href="../elements/id-8a69bcb4d53f42c89a4bdc1d87c99666.html" target="element"> SAP-ISU Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77c31ba5faab412889bd5c0038af4e88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77c31ba5faab412889bd5c0038af4e88.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5920d89cdab945f99728244308fc5f20.html" target="element"> SAP ISU to/from eResponse Conversion </a> </td>
																		<td> <a href="../elements/id-53ea6c08186c4eb6a88891dc686cf783.html" target="element"> [proprietary] eResponse ITU Data Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36bc40ce4aa2438a982b523e8eeaec96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36bc40ce4aa2438a982b523e8eeaec96.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53ea6c08186c4eb6a88891dc686cf783.html" target="element"> [proprietary] eResponse ITU Data Model </a> </td>
																		<td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element"> ISU Data Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-206878c1f5fc4f929bd180ac5200fda2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-206878c1f5fc4f929bd180ac5200fda2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5adfa8f15e894173ba748599b4e82e60.html" target="element"> ITU to/from PEA CIM based ISU Data Model Conversion </a> </td>
																		<td> <a href="../elements/id-fe36e598fd69485a8175627ffe1e53c5.html" target="element"> new ISU Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e5b0d2b664449189f16c86468d5bd50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e5b0d2b664449189f16c86468d5bd50.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5adfa8f15e894173ba748599b4e82e60.html" target="element"> ITU to/from PEA CIM based ISU Data Model Conversion </a> </td>
																		<td> <a href="../elements/id-865eb18cac8a41379449628938be29fe.html" target="element"> [standard] PEA CIM based ISU Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35ab4b77ce684156ba10dedb7227bafd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35ab4b77ce684156ba10dedb7227bafd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5adfa8f15e894173ba748599b4e82e60.html" target="element"> ITU to/from PEA CIM based ISU Data Model Conversion </a> </td>
																		<td> <a href="../elements/id-29a098e0834e4282b44c151265a7515c.html" target="element"> Standard based Data Integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6fa18e8fa93b42d489c1458ff44b1069.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fa18e8fa93b42d489c1458ff44b1069.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-865eb18cac8a41379449628938be29fe.html" target="element"> [standard] PEA CIM based ISU Data Model </a> </td>
																		<td> <a href="../elements/id-7325f5b51ab546a59cf1889c2c8294fa.html" target="element"> ISU Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10a6aa600f5c4c64b239ea961b773353.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10a6aa600f5c4c64b239ea961b773353.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-865eb18cac8a41379449628938be29fe.html" target="element"> [standard] PEA CIM based ISU Data Model </a> </td>
																		<td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58f79677abee45b790ec45e3188bbc09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58f79677abee45b790ec45e3188bbc09.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c375b8970eca4db9b2e61c705ef00b8b.html" target="element"> PEA CIM Profile Creation </a> </td>
																		<td> <a href="../elements/id-f829a495b59e4bbd8279703a7f98c5de.html" target="element"> PEA CIM Profile </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>