<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOR-4 scope</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOR-4 scope</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a2c97f6c10b443cda273e8800ad7dd3f.png" alt="TOR-4 scope" usemap="#id-a2c97f6c10b443cda273e8800ad7dd3fmap"/>
			   <map name="id-a2c97f6c10b443cda273e8800ad7dd3fmap">
				  				<area shape="rect" coords="324,264,444,319" href="../elements/id-1c1b2b0c874044f1b76c10a7fdbe469e.html"  target="element">
				  				<area shape="rect" coords="35,264,155,319" href="../elements/id-e3b2a213570f405c99fc6fe12c1f6d17.html"  target="element">
				  				<area shape="rect" coords="178,264,298,319" href="../elements/id-5f30b28f99f54d79a17abae4a6248734.html"  target="element">
				  				<area shape="rect" coords="178,121,298,176" href="../elements/id-771cfedbb39a4ca0a5c2476fadec559b.html"  target="element">
				  				<area shape="rect" coords="178,50,298,105" href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html"  target="element">
				  				<area shape="rect" coords="324,50,444,105" href="../elements/id-9f9f4b0f83a14b7eb4a2ed59e200a2e1.html"  target="element">
				  				<area shape="rect" coords="178,191,298,246" href="../elements/id-d51148e6651d4312aa9226b87492115f.html"  target="element">
				  				<area shape="rect" coords="35,191,155,246" href="../elements/id-d51148e6651d4312aa9226b87492115f.html"  target="element">
				  				<area shape="rect" coords="35,121,155,176" href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html"  target="element">
				  				<area shape="rect" coords="324,121,444,176" href="../elements/id-8cb7f76bd89746d0bfce8d6d038face8.html"  target="element">
				  				<area shape="rect" coords="324,191,444,246" href="../elements/id-e606cc934b0747948c8852c951362f3d.html"  target="element">
				  				<area shape="rect" coords="34,50,154,105" href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html"  target="element">

				  		<area shape="rect" coords="10,10,479,335" href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) </a> </td>
													    <td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e606cc934b0747948c8852c951362f3d.html" target="element"> Business Process (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e606cc934b0747948c8852c951362f3d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8cb7f76bd89746d0bfce8d6d038face8.html" target="element"> Business Process </a> </td>
													    <td> <a href="../elements/id-8cb7f76bd89746d0bfce8d6d038face8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
													    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
													    <td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f9f4b0f83a14b7eb4a2ed59e200a2e1.html" target="element"> Business Process (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9f9f4b0f83a14b7eb4a2ed59e200a2e1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-771cfedbb39a4ca0a5c2476fadec559b.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-771cfedbb39a4ca0a5c2476fadec559b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5f30b28f99f54d79a17abae4a6248734.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-5f30b28f99f54d79a17abae4a6248734.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3b2a213570f405c99fc6fe12c1f6d17.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e3b2a213570f405c99fc6fe12c1f6d17.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c1b2b0c874044f1b76c10a7fdbe469e.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-1c1b2b0c874044f1b76c10a7fdbe469e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-78ded6f26d8c471d9b6bc59034585c78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78ded6f26d8c471d9b6bc59034585c78.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-b5745aa4a91346bf93af3fd918567e08.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-68c2a2f3aaad4eeeb9bf3bc6e8dcc4bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68c2a2f3aaad4eeeb9bf3bc6e8dcc4bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-e606cc934b0747948c8852c951362f3d.html" target="element"> Business Process (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06c2a978cfd8427b910f8f2d741cdb56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06c2a978cfd8427b910f8f2d741cdb56.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-8cb7f76bd89746d0bfce8d6d038face8.html" target="element"> Business Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3fdd3354aaab44948b2376f9ef5c3f6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fdd3354aaab44948b2376f9ef5c3f6c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc302eb577824babb8706ebaf1ff071d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc302eb577824babb8706ebaf1ff071d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-888f6133033b4380ae35ddc5db569161.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-888f6133033b4380ae35ddc5db569161.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-d51148e6651d4312aa9226b87492115f.html" target="element"> Business Process (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1d4358b4eeb42daa63f9eb866d902c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1d4358b4eeb42daa63f9eb866d902c4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-9f9f4b0f83a14b7eb4a2ed59e200a2e1.html" target="element"> Business Process (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6eb585cda9342079695300973eec10a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6eb585cda9342079695300973eec10a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-4fbcc27e85f54bbe9211100366ad1354.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76882e0df2c24bd5bfcc81197f3f54fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76882e0df2c24bd5bfcc81197f3f54fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-771cfedbb39a4ca0a5c2476fadec559b.html" target="element"> &#3592;&#3633;&#3604;&#3607;&#3635;&#3619;&#3634;&#3618;&#3591;&#3634;&#3609;&#3586;&#3633;&#3657;&#3609;&#3605;&#3657;&#3609; (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7543baa173e4d999ace4c5dca17048f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7543baa173e4d999ace4c5dca17048f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-5f30b28f99f54d79a17abae4a6248734.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d101232df318482095d4edd803737449.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d101232df318482095d4edd803737449.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-e3b2a213570f405c99fc6fe12c1f6d17.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1eb972200572438e9a58a00e7e835756.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1eb972200572438e9a58a00e7e835756.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22be9f8cc5e744b79e8b5a65a52a6dd2.html" target="element"> &#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609; </a> </td>
																		<td> <a href="../elements/id-1c1b2b0c874044f1b76c10a7fdbe469e.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>