<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>W45_C6.1.4.2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>W45_C6.1.4.2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b2469ae60edc4b00b0cecba04ac38ecd.png" alt="W45_C6.1.4.2" usemap="#id-b2469ae60edc4b00b0cecba04ac38ecdmap"/>
			   <map name="id-b2469ae60edc4b00b0cecba04ac38ecdmap">
				  		<area shape="rect" coords="1006,12,1043,35" href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html"  target="element">
				  		<area shape="rect" coords="119,113,239,150" href="../elements/id-062862cd697e4c1c95a3ac5e7aec70b4.html"  target="element">
				  		<area shape="rect" coords="887,430,1007,467" href="../elements/id-e3bc1cd204304860a561d3d1346f8bb6.html"  target="element">
				  		<area shape="rect" coords="346,508,466,545" href="../elements/id-8a4b06d1ee4741eebb5336baa3de436b.html"  target="element">
				  		<area shape="rect" coords="730,10,791,38" href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html"  target="element">
				  		<area shape="rect" coords="205,262,251,290" href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html"  target="element">
				  		<area shape="rect" coords="922,250,975,278" href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html"  target="element">
				  		<area shape="rect" coords="334,118,395,146" href="../elements/id-2fb5892f7b7345f08716102283bbd152.html"  target="element">
				  		<area shape="rect" coords="442,322,457,337" href="../elements/id-0855f8140b124ed7ac68f59a884a0835.html"  target="element">
				  		<area shape="rect" coords="442,213,457,228" href="../elements/id-56c68eba073d43a3819945a06c0b1bdf.html"  target="element">
				  		<area shape="rect" coords="10,203,78,227" href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html"  target="element">
				  		<area shape="rect" coords="898,484,995,545" href="../elements/id-c69bad986c924c49a869725f54d7a93c.html"  target="element">
				  		<area shape="rect" coords="706,478,853,551" href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html"  target="element">
				  		<area shape="rect" coords="514,478,661,551" href="../elements/id-f77a3f7bfa1b4ceea8d261ffe8d50ccf.html"  target="element">
				  		<area shape="rect" coords="520,372,655,448" href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html"  target="element">
				  		<area shape="rect" coords="826,22,983,107" href="../elements/id-d1bfd79796c74d9bb02db5f3371ec2c3.html"  target="element">
				  		<area shape="rect" coords="742,166,899,228" href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html"  target="element">
				  		<area shape="rect" coords="514,22,695,107" href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html"  target="element">
				  		<area shape="rect" coords="742,299,899,373" href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html"  target="element">
				  		<area shape="rect" coords="274,299,395,361" href="../elements/id-3dde2da93a3549a7bd70cfee851123b2.html"  target="element">
				  		<area shape="rect" coords="274,178,395,251" href="../elements/id-253226477f0344ddad5faffcc0cb805d.html"  target="element">
				  		<area shape="rect" coords="106,178,239,251" href="../elements/id-abdb6de156f940c983744a101d41f48d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-abdb6de156f940c983744a101d41f48d.html" target="element"> C6.1.4.2-1 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
											    <td> <a href="../elements/id-abdb6de156f940c983744a101d41f48d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-253226477f0344ddad5faffcc0cb805d.html" target="element"> C6.1.4.2-2 &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3611;&#3621;&#3604;&#3650;&#3627;&#3621;&#3604; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; SCADA </a> </td>
											    <td> <a href="../elements/id-253226477f0344ddad5faffcc0cb805d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dde2da93a3549a7bd70cfee851123b2.html" target="element"> C6.1.4.2-3 &#3605;&#3619;&#3623;&#3592;&#3614;&#3610;&#3611;&#3633;&#3597;&#3627;&#3634; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
											    <td> <a href="../elements/id-3dde2da93a3549a7bd70cfee851123b2.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html" target="element"> C6.1.4.2-4 &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3629;&#3633;&#3605;&#3650;&#3609;&#3617;&#3633;&#3605;&#3636; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
											    <td> <a href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element"> C6.1.4.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3610;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
											    <td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html" target="element"> C6.1.4.2-6 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; &#3649;&#3621;&#3632;&#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
											    <td> <a href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1bfd79796c74d9bb02db5f3371ec2c3.html" target="element"> C6.1.4.2-7 &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3626;&#3616;&#3634;&#3614;&#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS (&#3648;&#3594;&#3656;&#3609; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3649;&#3621;&#3632; &#3619;&#3632;&#3618;&#3632;&#3648;&#3623;&#3621;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609;) </a> </td>
											    <td> <a href="../elements/id-d1bfd79796c74d9bb02db5f3371ec2c3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
											    <td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f77a3f7bfa1b4ceea8d261ffe8d50ccf.html" target="element"> CAN024 SCADA/TDMS(RTU) </a> </td>
											    <td> <a href="../elements/id-f77a3f7bfa1b4ceea8d261ffe8d50ccf.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
											    <td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c69bad986c924c49a869725f54d7a93c.html" target="element"> &#3619;&#3632;&#3610;&#3610; GIS </a> </td>
											    <td> <a href="../elements/id-c69bad986c924c49a869725f54d7a93c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609; </a> </td>
											    <td> <a href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56c68eba073d43a3819945a06c0b1bdf.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-56c68eba073d43a3819945a06c0b1bdf.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0855f8140b124ed7ac68f59a884a0835.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-0855f8140b124ed7ac68f59a884a0835.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
											    <td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
											    <td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element"> RTU </a> </td>
											    <td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
											    <td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a4b06d1ee4741eebb5336baa3de436b.html" target="element"> SCADA - Link &amp; Grid Model </a> </td>
											    <td> <a href="../elements/id-8a4b06d1ee4741eebb5336baa3de436b.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3bc1cd204304860a561d3d1346f8bb6.html" target="element"> GIS - Grid Model Data </a> </td>
											    <td> <a href="../elements/id-e3bc1cd204304860a561d3d1346f8bb6.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-062862cd697e4c1c95a3ac5e7aec70b4.html" target="element"> C6.1.4.2-1 </a> </td>
											    <td> <a href="../elements/id-062862cd697e4c1c95a3ac5e7aec70b4.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html" target="element"> &#3619;&#3634;&#3618;&#3591;&#3634;&#3609; EA Low Level-&#3586;&#3629;&#3610;&#3648;&#3586;&#3605;&#3591;&#3634;&#3609;&#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591;-5.pdf </a> </td>
											    <td> <a href="../elements/id-67f45f6e7e0d49ce956ea8d90ec7fabb.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9010046ef5894caf819eba4f347c420e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9010046ef5894caf819eba4f347c420e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abdb6de156f940c983744a101d41f48d.html" target="element"> C6.1.4.2-1 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																		<td> <a href="../elements/id-253226477f0344ddad5faffcc0cb805d.html" target="element"> C6.1.4.2-2 &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3611;&#3621;&#3604;&#3650;&#3627;&#3621;&#3604; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36064e5852ec47edb54b8b3c33ca187a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36064e5852ec47edb54b8b3c33ca187a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-253226477f0344ddad5faffcc0cb805d.html" target="element"> C6.1.4.2-2 &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3611;&#3621;&#3604;&#3650;&#3627;&#3621;&#3604; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; SCADA </a> </td>
																		<td> <a href="../elements/id-56c68eba073d43a3819945a06c0b1bdf.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7c7b73b8b844328bc576038d2a54613.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7c7b73b8b844328bc576038d2a54613.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-253226477f0344ddad5faffcc0cb805d.html" target="element"> C6.1.4.2-2 &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3611;&#3621;&#3604;&#3650;&#3627;&#3621;&#3604; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; SCADA </a> </td>
																		<td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a2342fb2cabc4d52947744e91647f457.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2342fb2cabc4d52947744e91647f457.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dde2da93a3549a7bd70cfee851123b2.html" target="element"> C6.1.4.2-3 &#3605;&#3619;&#3623;&#3592;&#3614;&#3610;&#3611;&#3633;&#3597;&#3627;&#3634; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																		<td> <a href="../elements/id-0855f8140b124ed7ac68f59a884a0835.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-153766fa4017466caedb1f0a0861acee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-153766fa4017466caedb1f0a0861acee.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dde2da93a3549a7bd70cfee851123b2.html" target="element"> C6.1.4.2-3 &#3605;&#3619;&#3623;&#3592;&#3614;&#3610;&#3611;&#3633;&#3597;&#3627;&#3634; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																		<td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5df5bff585054691bbfab945cc4ed892.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5df5bff585054691bbfab945cc4ed892.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html" target="element"> C6.1.4.2-4 &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3629;&#3633;&#3605;&#3650;&#3609;&#3617;&#3633;&#3605;&#3636; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																		<td> <a href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html" target="element"> C6.1.4.2-6 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; &#3649;&#3621;&#3632;&#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c17a69fb4f2741a5a16b2c6b53be8a00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c17a69fb4f2741a5a16b2c6b53be8a00.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html" target="element"> C6.1.4.2-4 &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3629;&#3633;&#3605;&#3650;&#3609;&#3617;&#3633;&#3605;&#3636; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																		<td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8eb1782b2cd42ea9396296a7308287f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8eb1782b2cd42ea9396296a7308287f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element"> C6.1.4.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3610;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																		<td> <a href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html" target="element"> C6.1.4.2-6 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; &#3649;&#3621;&#3632;&#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81ba84d6f1704d699a619a9fb128f63b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81ba84d6f1704d699a619a9fb128f63b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element"> C6.1.4.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3610;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																		<td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd3696fdc97e40c39328773acfecdd4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd3696fdc97e40c39328773acfecdd4e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html" target="element"> C6.1.4.2-6 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; &#3649;&#3621;&#3632;&#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																		<td> <a href="../elements/id-d1bfd79796c74d9bb02db5f3371ec2c3.html" target="element"> C6.1.4.2-7 &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3626;&#3616;&#3634;&#3614;&#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS (&#3648;&#3594;&#3656;&#3609; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3649;&#3621;&#3632; &#3619;&#3632;&#3618;&#3632;&#3648;&#3623;&#3621;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66e4e982b3b8443ea5073f5c361b2e7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66e4e982b3b8443ea5073f5c361b2e7c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f77a3f7bfa1b4ceea8d261ffe8d50ccf.html" target="element"> CAN024 SCADA/TDMS(RTU) </a> </td>
																		<td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6bc496594bb4b62820f13d7ffe39289.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6bc496594bb4b62820f13d7ffe39289.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-e50bad523b074c85b7294eb9cf7c98cc.html" target="element"> DG-C08.4-01 &#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Event Log (Unplanned) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65d807d8ead34f3882fe3db5e00abb5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65d807d8ead34f3882fe3db5e00abb5d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																		<td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element"> C6.1.4.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3610;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f83c38bee4f43dc94da8336a3a83a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f83c38bee4f43dc94da8336a3a83a3b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c69bad986c924c49a869725f54d7a93c.html" target="element"> &#3619;&#3632;&#3610;&#3610; GIS </a> </td>
																		<td> <a href="../elements/id-de9220d9a2fe41c7aef8c2b2c9d28a1b.html" target="element"> CA020 &#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3619;&#3632;&#3649;&#3626; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96bac769bd9647488779c4326787cb4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96bac769bd9647488779c4326787cb4e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a07259c055ab484ca0cf89a637edfaf3.html" target="element"> &#3648;&#3619;&#3636;&#3656;&#3617;&#3605;&#3657;&#3609; </a> </td>
																		<td> <a href="../elements/id-abdb6de156f940c983744a101d41f48d.html" target="element"> C6.1.4.2-1 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66f659e5b468436ab9f3432e7600ccbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66f659e5b468436ab9f3432e7600ccbc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56c68eba073d43a3819945a06c0b1bdf.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element"> C6.1.4.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3610;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b231f2a21dc445f1a98b64576252a1cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b231f2a21dc445f1a98b64576252a1cc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0855f8140b124ed7ac68f59a884a0835.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-56c68eba073d43a3819945a06c0b1bdf.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab670617867345dbaf00cc1712ea43f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab670617867345dbaf00cc1712ea43f2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0855f8140b124ed7ac68f59a884a0835.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html" target="element"> C6.1.4.2-4 &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3629;&#3633;&#3605;&#3650;&#3609;&#3617;&#3633;&#3605;&#3636; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-57ae673d42bc4247ab511f40fdbec47f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57ae673d42bc4247ab511f40fdbec47f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
																		<td> <a href="../elements/id-abdb6de156f940c983744a101d41f48d.html" target="element"> C6.1.4.2-1 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3337b6a7f2640f8b954333826355671.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3337b6a7f2640f8b954333826355671.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
																		<td> <a href="../elements/id-253226477f0344ddad5faffcc0cb805d.html" target="element"> C6.1.4.2-2 &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3611;&#3621;&#3604;&#3650;&#3627;&#3621;&#3604; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; SCADA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e69afc965b444ef18d26099cc3070cdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e69afc965b444ef18d26099cc3070cdf.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fb5892f7b7345f08716102283bbd152.html" target="element"> HV/MV </a> </td>
																		<td> <a href="../elements/id-99efd65d6c8149d8ba9eadc42193e91c.html" target="element"> C6.1.4.2-6 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; &#3649;&#3621;&#3632;&#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7335bcd53f424e90915263cfe767f6b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7335bcd53f424e90915263cfe767f6b9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991e6c6d51ec4bd29f55f87923345865.html" target="element"> OMS </a> </td>
																		<td> <a href="../elements/id-2abd8bdf63964ab090c41cf7dac964ca.html" target="element"> C6.1.4.2-4 &#3626;&#3619;&#3657;&#3634;&#3591;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3629;&#3633;&#3605;&#3650;&#3609;&#3617;&#3633;&#3605;&#3636; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3daadb9570324f3e9b0f8a15a97ed703.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3daadb9570324f3e9b0f8a15a97ed703.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ce3c6a4b2964518828b592e3870cd3e.html" target="element"> RTU </a> </td>
																		<td> <a href="../elements/id-3dde2da93a3549a7bd70cfee851123b2.html" target="element"> C6.1.4.2-3 &#3605;&#3619;&#3623;&#3592;&#3614;&#3610;&#3611;&#3633;&#3597;&#3627;&#3634; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610;&#3592;&#3635;&#3627;&#3609;&#3656;&#3634;&#3618; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b24c4fcd9134e3f9843bcb6d54a6d03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b24c4fcd9134e3f9843bcb6d54a6d03.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
																		<td> <a href="../elements/id-e45a64fa7f0446f8a64be3a79f76755b.html" target="element"> C6.1.4.2-5 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634; &#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610; SCADA &#3649;&#3621;&#3632;&#3619;&#3632;&#3610;&#3610; OMS &#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; &#3610;&#3609;&#3619;&#3632;&#3610;&#3610; OMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17b818a89a6c4580b41e2e12cc24aa32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17b818a89a6c4580b41e2e12cc24aa32.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd1cd1d7b6f44c66899bfab76b21ad2f.html" target="element"> ADDC </a> </td>
																		<td> <a href="../elements/id-d1bfd79796c74d9bb02db5f3371ec2c3.html" target="element"> C6.1.4.2-7 &#3610;&#3633;&#3609;&#3607;&#3638;&#3585;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; &#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; &#3626;&#3616;&#3634;&#3614;&#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609; &#3651;&#3609;&#3619;&#3632;&#3610;&#3610; OMS (&#3648;&#3594;&#3656;&#3609; &#3626;&#3634;&#3648;&#3627;&#3605;&#3640; &#3649;&#3621;&#3632; &#3619;&#3632;&#3618;&#3632;&#3648;&#3623;&#3621;&#3634; &#3592;&#3656;&#3634;&#3618;&#3652;&#3615;&#3585;&#3621;&#3633;&#3610;&#3588;&#3639;&#3609;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a508e4d166ac4554bdeba9769ea6f030.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a508e4d166ac4554bdeba9769ea6f030.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a4b06d1ee4741eebb5336baa3de436b.html" target="element"> SCADA - Link &amp; Grid Model </a> </td>
																		<td> <a href="../elements/id-f77a3f7bfa1b4ceea8d261ffe8d50ccf.html" target="element"> CAN024 SCADA/TDMS(RTU) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b8443b4eb3f04124b5e5a345abb0ebb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8443b4eb3f04124b5e5a345abb0ebb1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3bc1cd204304860a561d3d1346f8bb6.html" target="element"> GIS - Grid Model Data </a> </td>
																		<td> <a href="../elements/id-c69bad986c924c49a869725f54d7a93c.html" target="element"> &#3619;&#3632;&#3610;&#3610; GIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-335c1233a3eb42dba495106f27184b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-335c1233a3eb42dba495106f27184b5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-062862cd697e4c1c95a3ac5e7aec70b4.html" target="element"> C6.1.4.2-1 </a> </td>
																		<td> <a href="../elements/id-abdb6de156f940c983744a101d41f48d.html" target="element"> C6.1.4.2-1 &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3592;&#3634;&#3585;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3616;&#3634;&#3618;&#3609;&#3629;&#3585; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>