<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03-Category</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03-Category</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e67a2d2cf6ae4407b4320a1733718fd4.png" alt="03-Category" usemap="#id-e67a2d2cf6ae4407b4320a1733718fd4map"/>
			   <map name="id-e67a2d2cf6ae4407b4320a1733718fd4map">
				  		<area shape="rect" coords="881,399,1086,441" href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html"  target="element">
				  		<area shape="rect" coords="881,351,1086,392" href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html"  target="element">
				  		<area shape="rect" coords="881,303,1086,344" href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html"  target="element">
				  		<area shape="rect" coords="881,255,1086,296" href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html"  target="element">
				  		<area shape="rect" coords="881,207,1086,248" href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html"  target="element">
				  		<area shape="rect" coords="881,159,1086,200" href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html"  target="element">
				  		<area shape="rect" coords="785,399,851,420" href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html"  target="element">
				  		<area shape="rect" coords="785,351,851,372" href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html"  target="element">
				  		<area shape="rect" coords="785,303,851,324" href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html"  target="element">
				  		<area shape="rect" coords="785,255,851,276" href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html"  target="element">
				  		<area shape="rect" coords="785,207,851,228" href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html"  target="element">
				  		<area shape="rect" coords="785,159,851,180" href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html"  target="element">
				  		<area shape="rect" coords="881,111,1086,152" href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html"  target="element">
				  		<area shape="rect" coords="881,63,1086,104" href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html"  target="element">
				  		<area shape="rect" coords="785,111,851,132" href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html"  target="element">
				  		<area shape="rect" coords="785,63,851,84" href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html"  target="element">
				  		<area shape="rect" coords="881,12,1086,61" href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html"  target="element">
				  		<area shape="rect" coords="785,12,851,33" href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html"  target="element">
				  		<area shape="rect" coords="509,397,738,440" href="../elements/id-205a7313887246ed84adcc3df34b2605.html"  target="element">
				  		<area shape="rect" coords="509,349,738,392" href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html"  target="element">
				  		<area shape="rect" coords="509,301,738,344" href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html"  target="element">
				  		<area shape="rect" coords="509,253,738,296" href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html"  target="element">
				  		<area shape="rect" coords="509,205,738,248" href="../elements/id-7292d9467f544863a6743be5777a91d9.html"  target="element">
				  		<area shape="rect" coords="509,157,738,200" href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html"  target="element">
				  		<area shape="rect" coords="509,447,738,490" href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html"  target="element">
				  		<area shape="rect" coords="509,10,738,53" href="../elements/id-3175d6029498477baf8a375296176ddb.html"  target="element">
				  		<area shape="rect" coords="509,61,738,104" href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html"  target="element">
				  		<area shape="rect" coords="509,109,738,152" href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html"  target="element">
				  		<area shape="rect" coords="113,448,354,497" href="../elements/id-8648498c97354a56bc7123fb73d75709.html"  target="element">
				  		<area shape="rect" coords="113,398,354,441" href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html"  target="element">
				  		<area shape="rect" coords="113,350,354,387" href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html"  target="element">
				  		<area shape="rect" coords="113,302,354,339" href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html"  target="element">
				  		<area shape="rect" coords="113,254,354,291" href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html"  target="element">
				  		<area shape="rect" coords="113,206,354,243" href="../elements/id-7035ec82e0274567b795570fa84c095a.html"  target="element">
				  		<area shape="rect" coords="113,158,354,195" href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html"  target="element">
				  		<area shape="rect" coords="113,110,354,147" href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html"  target="element">
				  		<area shape="rect" coords="113,62,354,99" href="../elements/id-6578ba7183374450a21273bd382f6c0e.html"  target="element">
				  		<area shape="rect" coords="113,11,354,52" href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html"  target="element">
				  		<area shape="rect" coords="405,399,462,420" href="../elements/id-205a7313887246ed84adcc3df34b2605.html"  target="element">
				  		<area shape="rect" coords="405,351,462,372" href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html"  target="element">
				  		<area shape="rect" coords="405,303,462,324" href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html"  target="element">
				  		<area shape="rect" coords="405,255,462,276" href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html"  target="element">
				  		<area shape="rect" coords="405,207,462,228" href="../elements/id-7292d9467f544863a6743be5777a91d9.html"  target="element">
				  		<area shape="rect" coords="405,159,462,180" href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html"  target="element">
				  		<area shape="rect" coords="405,449,462,470" href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html"  target="element">
				  		<area shape="rect" coords="405,12,462,33" href="../elements/id-3175d6029498477baf8a375296176ddb.html"  target="element">
				  		<area shape="rect" coords="10,449,66,470" href="../elements/id-8648498c97354a56bc7123fb73d75709.html"  target="element">
				  		<area shape="rect" coords="10,399,66,420" href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html"  target="element">
				  		<area shape="rect" coords="405,63,462,84" href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html"  target="element">
				  		<area shape="rect" coords="10,351,66,372" href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html"  target="element">
				  		<area shape="rect" coords="10,303,66,324" href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html"  target="element">
				  		<area shape="rect" coords="10,255,66,276" href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html"  target="element">
				  		<area shape="rect" coords="10,207,66,228" href="../elements/id-7035ec82e0274567b795570fa84c095a.html"  target="element">
				  		<area shape="rect" coords="405,111,462,132" href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html"  target="element">
				  		<area shape="rect" coords="10,159,66,180" href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html"  target="element">
				  		<area shape="rect" coords="10,111,66,132" href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html"  target="element">
				  		<area shape="rect" coords="10,63,66,84" href="../elements/id-6578ba7183374450a21273bd382f6c0e.html"  target="element">
				  		<area shape="rect" coords="10,12,66,33" href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html" target="element"> Migrate </a> </td>
											    <td> <a href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6578ba7183374450a21273bd382f6c0e.html" target="element"> System </a> </td>
											    <td> <a href="../elements/id-6578ba7183374450a21273bd382f6c0e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html" target="element"> MDMS </a> </td>
											    <td> <a href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html" target="element"> FM </a> </td>
											    <td> <a href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html" target="element"> Mobile </a> </td>
											    <td> <a href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7035ec82e0274567b795570fa84c095a.html" target="element"> SmGrd </a> </td>
											    <td> <a href="../elements/id-7035ec82e0274567b795570fa84c095a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html" target="element"> SMS </a> </td>
											    <td> <a href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html" target="element"> ADS </a> </td>
											    <td> <a href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html" target="element"> CSIS </a> </td>
											    <td> <a href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html" target="element"> CIS </a> </td>
											    <td> <a href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8648498c97354a56bc7123fb73d75709.html" target="element"> DashBoard </a> </td>
											    <td> <a href="../elements/id-8648498c97354a56bc7123fb73d75709.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3175d6029498477baf8a375296176ddb.html" target="element"> Query </a> </td>
											    <td> <a href="../elements/id-3175d6029498477baf8a375296176ddb.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html" target="element"> WebPort </a> </td>
											    <td> <a href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html" target="element"> Report </a> </td>
											    <td> <a href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7292d9467f544863a6743be5777a91d9.html" target="element"> Data Edit </a> </td>
											    <td> <a href="../elements/id-7292d9467f544863a6743be5777a91d9.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html" target="element"> Job Func </a> </td>
											    <td> <a href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html" target="element"> Graphics </a> </td>
											    <td> <a href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html" target="element"> Work </a> </td>
											    <td> <a href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-205a7313887246ed84adcc3df34b2605.html" target="element"> Event </a> </td>
											    <td> <a href="../elements/id-205a7313887246ed84adcc3df34b2605.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html" target="element"> Migrate </a> </td>
											    <td> <a href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6578ba7183374450a21273bd382f6c0e.html" target="element"> System </a> </td>
											    <td> <a href="../elements/id-6578ba7183374450a21273bd382f6c0e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html" target="element"> MDMS </a> </td>
											    <td> <a href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html" target="element"> FM </a> </td>
											    <td> <a href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7035ec82e0274567b795570fa84c095a.html" target="element"> SmGrd </a> </td>
											    <td> <a href="../elements/id-7035ec82e0274567b795570fa84c095a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html" target="element"> SMS </a> </td>
											    <td> <a href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html" target="element"> ADS </a> </td>
											    <td> <a href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html" target="element"> CIS </a> </td>
											    <td> <a href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8648498c97354a56bc7123fb73d75709.html" target="element"> DashBoard </a> </td>
											    <td> <a href="../elements/id-8648498c97354a56bc7123fb73d75709.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html" target="element"> Mobile </a> </td>
											    <td> <a href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html" target="element"> CSIS </a> </td>
											    <td> <a href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3175d6029498477baf8a375296176ddb.html" target="element"> Query </a> </td>
											    <td> <a href="../elements/id-3175d6029498477baf8a375296176ddb.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html" target="element"> WebPort </a> </td>
											    <td> <a href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html" target="element"> Report </a> </td>
											    <td> <a href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7292d9467f544863a6743be5777a91d9.html" target="element"> Data Edit </a> </td>
											    <td> <a href="../elements/id-7292d9467f544863a6743be5777a91d9.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html" target="element"> Job Func </a> </td>
											    <td> <a href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html" target="element"> Graphics </a> </td>
											    <td> <a href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html" target="element"> Work </a> </td>
											    <td> <a href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-205a7313887246ed84adcc3df34b2605.html" target="element"> Event </a> </td>
											    <td> <a href="../elements/id-205a7313887246ed84adcc3df34b2605.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html" target="element"> Interregion </a> </td>
											    <td> <a href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html" target="element"> Interregion </a> </td>
											    <td> <a href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html" target="element"> Storm func </a> </td>
											    <td> <a href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html" target="element"> Cost func </a> </td>
											    <td> <a href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html" target="element"> Storm func </a> </td>
											    <td> <a href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html" target="element"> Cost func </a> </td>
											    <td> <a href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html" target="element"> Simulate </a> </td>
											    <td> <a href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html" target="element"> Alarm </a> </td>
											    <td> <a href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html" target="element"> Admin </a> </td>
											    <td> <a href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html" target="element"> AdminRepo </a> </td>
											    <td> <a href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html" target="element"> Audit </a> </td>
											    <td> <a href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html" target="element"> GIS </a> </td>
											    <td> <a href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html" target="element"> Simulate </a> </td>
											    <td> <a href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html" target="element"> Alarm </a> </td>
											    <td> <a href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html" target="element"> Admin </a> </td>
											    <td> <a href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html" target="element"> AdminRepo </a> </td>
											    <td> <a href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html" target="element"> Audit </a> </td>
											    <td> <a href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html" target="element"> GIS </a> </td>
											    <td> <a href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-77c77bfd056949c2bff1304fdd7b3528.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77c77bfd056949c2bff1304fdd7b3528.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html" target="element"> Migrate </a> </td>
																		<td> <a href="../elements/id-8d0eede821df4dda8dc00d30cdd12cd3.html" target="element"> Migrate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61ef8cb5076948b089366a36ca3080f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61ef8cb5076948b089366a36ca3080f2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6578ba7183374450a21273bd382f6c0e.html" target="element"> System </a> </td>
																		<td> <a href="../elements/id-6578ba7183374450a21273bd382f6c0e.html" target="element"> System </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b4f13a3d41bc487984c53cdca4e1f8fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4f13a3d41bc487984c53cdca4e1f8fc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html" target="element"> MDMS </a> </td>
																		<td> <a href="../elements/id-52b1802e16d24d90bb8514fda1588ed2.html" target="element"> MDMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-adc0b857575548e6a1f609269feb5177.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-adc0b857575548e6a1f609269feb5177.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html" target="element"> FM </a> </td>
																		<td> <a href="../elements/id-d6ef91acb91348dbae48138a3c5e3bb6.html" target="element"> FM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-363f2653d7084148bb7136af85a91d81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-363f2653d7084148bb7136af85a91d81.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html" target="element"> Mobile </a> </td>
																		<td> <a href="../elements/id-966b81d19dba402694c7b429e7f7cca6.html" target="element"> Mobile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d0c26e886c34e68965f5960b8a91dff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d0c26e886c34e68965f5960b8a91dff.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7035ec82e0274567b795570fa84c095a.html" target="element"> SmGrd </a> </td>
																		<td> <a href="../elements/id-7035ec82e0274567b795570fa84c095a.html" target="element"> SmGrd </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-445bebe58c5e4e9eaf4196632f186396.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-445bebe58c5e4e9eaf4196632f186396.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html" target="element"> SMS </a> </td>
																		<td> <a href="../elements/id-4ff87c705b374a0298042a91edf9f8e0.html" target="element"> SMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4aff6615cbc4483ba1adb027d2af3260.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aff6615cbc4483ba1adb027d2af3260.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html" target="element"> ADS </a> </td>
																		<td> <a href="../elements/id-a4d1e90934624560b557e6bbcb79aff6.html" target="element"> ADS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-899ed2afae2d46f1bb9f47dddf8d169a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-899ed2afae2d46f1bb9f47dddf8d169a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html" target="element"> SCADA </a> </td>
																		<td> <a href="../elements/id-ed60c50be9bb46e19261813bd7f00deb.html" target="element"> SCADA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3ad4d39c25ca485a8f653f73a7f86a56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ad4d39c25ca485a8f653f73a7f86a56.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html" target="element"> CSIS </a> </td>
																		<td> <a href="../elements/id-90e5577ad1c343dd88e3993c1334d449.html" target="element"> CSIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d300c6af133f43158a3c6c4953b9df8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d300c6af133f43158a3c6c4953b9df8e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html" target="element"> CIS </a> </td>
																		<td> <a href="../elements/id-6e1a5c78a9e94ad68246b4f3ebda3b3c.html" target="element"> CIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8232f3cbdc8c4d13a32bff1db3610816.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8232f3cbdc8c4d13a32bff1db3610816.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8648498c97354a56bc7123fb73d75709.html" target="element"> DashBoard </a> </td>
																		<td> <a href="../elements/id-8648498c97354a56bc7123fb73d75709.html" target="element"> DashBoard </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36086741bec443ae9ef7f048fe83c365.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36086741bec443ae9ef7f048fe83c365.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3175d6029498477baf8a375296176ddb.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/id-3175d6029498477baf8a375296176ddb.html" target="element"> Query </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-614a4fb0e6134110a0f0979d2d124387.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-614a4fb0e6134110a0f0979d2d124387.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html" target="element"> WebPort </a> </td>
																		<td> <a href="../elements/id-b47f804c4bf74f8b9178660d4498430a.html" target="element"> WebPort </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a284798138ee430fb73fb079921d8350.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a284798138ee430fb73fb079921d8350.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html" target="element"> Report </a> </td>
																		<td> <a href="../elements/id-512fdbcd8e7d460fb3942bf816f441bc.html" target="element"> Report </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ae9f70959c684366812bbb686a026b3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae9f70959c684366812bbb686a026b3b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7292d9467f544863a6743be5777a91d9.html" target="element"> Data Edit </a> </td>
																		<td> <a href="../elements/id-7292d9467f544863a6743be5777a91d9.html" target="element"> Data Edit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6005f64086c840eba1f29e21b2217096.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6005f64086c840eba1f29e21b2217096.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html" target="element"> Job Func </a> </td>
																		<td> <a href="../elements/id-912b083ffc944886a6bb3e62fb3feb58.html" target="element"> Job Func </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9a898fa39f204c99a7b0309c3f483288.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a898fa39f204c99a7b0309c3f483288.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html" target="element"> Graphics </a> </td>
																		<td> <a href="../elements/id-34e68725897c4166ac6aa3edc2ca7a56.html" target="element"> Graphics </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-154c42f4fe0f4dee8b4e2abaeef71f48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-154c42f4fe0f4dee8b4e2abaeef71f48.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html" target="element"> Work </a> </td>
																		<td> <a href="../elements/id-b7782bc0cfbc42e988856331ca6b3612.html" target="element"> Work </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d171ebb943b48f8a71b260f097b6381.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d171ebb943b48f8a71b260f097b6381.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-205a7313887246ed84adcc3df34b2605.html" target="element"> Event </a> </td>
																		<td> <a href="../elements/id-205a7313887246ed84adcc3df34b2605.html" target="element"> Event </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3548c133c7414a99924cdecb819bea2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3548c133c7414a99924cdecb819bea2e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html" target="element"> Interregion </a> </td>
																		<td> <a href="../elements/id-2a67b9fdb6384e3594d1ee643fafcf52.html" target="element"> Interregion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be6c3222fdfa474a9f2f7066e8a15ffe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be6c3222fdfa474a9f2f7066e8a15ffe.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html" target="element"> Storm func </a> </td>
																		<td> <a href="../elements/id-ee347fb3d13a406cb0132f03fe3ed8fb.html" target="element"> Storm func </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-492c94b707ff40debe7e07224b842197.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-492c94b707ff40debe7e07224b842197.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html" target="element"> Cost func </a> </td>
																		<td> <a href="../elements/id-f3252ae0d2344006aaea03d87a03bf3d.html" target="element"> Cost func </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9806c044127f40998d2cb48ccc4109a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9806c044127f40998d2cb48ccc4109a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html" target="element"> Simulate </a> </td>
																		<td> <a href="../elements/id-a26403e0c00d422e87ebdb47b27f2e2b.html" target="element"> Simulate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ef43f3b301d42c7a260e0a25badcb0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ef43f3b301d42c7a260e0a25badcb0c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html" target="element"> Alarm </a> </td>
																		<td> <a href="../elements/id-21eae4e0b3504434b2f9d32d633cac70.html" target="element"> Alarm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-650a2b7fed394b27abd82e1ccbaf02e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-650a2b7fed394b27abd82e1ccbaf02e8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html" target="element"> Admin </a> </td>
																		<td> <a href="../elements/id-14f2b83d1cd04dde98aef6a04eaedf66.html" target="element"> Admin </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-56e0b67d6a574192b3baf4917d861b2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56e0b67d6a574192b3baf4917d861b2b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html" target="element"> AdminRepo </a> </td>
																		<td> <a href="../elements/id-52b09504c8ba445dbcdc7de19714c205.html" target="element"> AdminRepo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-697e1bb0254c41f6ba092e2129d1869d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-697e1bb0254c41f6ba092e2129d1869d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html" target="element"> Audit </a> </td>
																		<td> <a href="../elements/id-13f5a2bcd8f948f2b6ff3532ecaedaba.html" target="element"> Audit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-405902f4c16a41979c7ca2d6597c8a7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-405902f4c16a41979c7ca2d6597c8a7a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html" target="element"> GIS </a> </td>
																		<td> <a href="../elements/id-a3eafb3882234e39aea251487cdeebb6.html" target="element"> GIS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>