<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>New ArchiMate View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>New ArchiMate View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f2502ea6a6ff47648280c113dd1da03d.png" alt="New ArchiMate View" usemap="#id-f2502ea6a6ff47648280c113dd1da03dmap"/>
			   <map name="id-f2502ea6a6ff47648280c113dd1da03dmap">
				  		<area shape="rect" coords="730,250,875,299" href="../elements/id-145d62c709a34958917b15c8da0cce69.html"  target="element">
				  		<area shape="rect" coords="514,250,677,299" href="../elements/id-40ee5c10cf6f46c598a57bb178988b4a.html"  target="element">
				  		<area shape="rect" coords="730,166,875,215" href="../elements/id-5bf7890cfec740fe8812d6a9f5904b67.html"  target="element">
				  		<area shape="rect" coords="226,274,389,323" href="../elements/id-044f4e0e93a749beb7189aca89fbe13a.html"  target="element">
				  		<area shape="rect" coords="670,430,833,479" href="../elements/id-d327b1cdce77486c8535094dbb525ad4.html"  target="element">
				  		<area shape="rect" coords="514,166,677,215" href="../elements/id-1d2f01bb59484f309e7f87a198689e46.html"  target="element">
				  		<area shape="rect" coords="730,82,893,131" href="../elements/id-c22efb9def2e430492bf7f74c2d9f0a0.html"  target="element">
				  		<area shape="rect" coords="514,82,677,131" href="../elements/id-e5cfca43991642b89b57dfb022e01cec.html"  target="element">
				  		<area shape="rect" coords="514,10,677,59" href="../elements/id-b69f2932dfc84c7da85f387bd272c503.html"  target="element">
				  		<area shape="rect" coords="430,442,575,491" href="../elements/id-98ee4af15a2a4f609fe15524e06030ed.html"  target="element">
				  		<area shape="rect" coords="226,442,371,491" href="../elements/id-75b866739ee5453694ba36706f5f90a0.html"  target="element">
				  		<area shape="rect" coords="226,190,389,239" href="../elements/id-ef3a24ea647d4d289e381c1a907e6ac0.html"  target="element">
				  		<area shape="rect" coords="226,94,389,143" href="../elements/id-15270df40acb44c08ebd9cfb0fa9ca7b.html"  target="element">
				  		<area shape="rect" coords="10,370,173,419" href="../elements/id-456d560a5a0444bb91393924fa32c694.html"  target="element">
				  		<area shape="rect" coords="10,190,173,239" href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html"  target="element">
				  		<area shape="rect" coords="10,94,173,143" href="../elements/id-d340f2dd04404253bba756c8dd8300d4.html"  target="element">
				  		<area shape="rect" coords="226,370,371,419" href="../elements/id-92ce24bf89904234b5af93a7ad808ba7.html"  target="element">
				  		<area shape="rect" coords="250,10,413,59" href="../elements/id-0598debf643b4c189f1fff9bee49cd28.html"  target="element">
				  		<area shape="rect" coords="10,10,173,59" href="../elements/id-ca7c0f3b184b4064b1d607251ab40a5f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ca7c0f3b184b4064b1d607251ab40a5f.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591; &#3585;&#3619;&#3603;&#3637;&#3607;&#3637;&#3656;&#3652;&#3617;&#3656;&#3617;&#3637;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; </a> </td>
											    <td> <a href="../elements/id-ca7c0f3b184b4064b1d607251ab40a5f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0598debf643b4c189f1fff9bee49cd28.html" target="element"> &#3629;&#3634;&#3592;&#3648;&#3585;&#3636;&#3604;&#3586;&#3638;&#3657;&#3609;&#3652;&#3604;&#3657; </a> </td>
											    <td> <a href="../elements/id-0598debf643b4c189f1fff9bee49cd28.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-92ce24bf89904234b5af93a7ad808ba7.html" target="element"> &#3629;&#3629;&#3585;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; </a> </td>
											    <td> <a href="../elements/id-92ce24bf89904234b5af93a7ad808ba7.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d340f2dd04404253bba756c8dd8300d4.html" target="element"> &#3619;&#3632;&#3610;&#3640; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3652;&#3604;&#3657; </a> </td>
											    <td> <a href="../elements/id-d340f2dd04404253bba756c8dd8300d4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3648;&#3611;&#3655;&#3609;&#3652;&#3615;&#3626;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; </a> </td>
											    <td> <a href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-456d560a5a0444bb91393924fa32c694.html" target="element"> &#3594;&#3637;&#3657;&#3652;&#3617;&#3656;&#3594;&#3633;&#3604;&#3648;&#3592;&#3609; </a> </td>
											    <td> <a href="../elements/id-456d560a5a0444bb91393924fa32c694.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15270df40acb44c08ebd9cfb0fa9ca7b.html" target="element"> &#3629;&#3629;&#3585;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; (copy) </a> </td>
											    <td> <a href="../elements/id-15270df40acb44c08ebd9cfb0fa9ca7b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef3a24ea647d4d289e381c1a907e6ac0.html" target="element"> &#3649;&#3592;&#3657;&#3591; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-ef3a24ea647d4d289e381c1a907e6ac0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75b866739ee5453694ba36706f5f90a0.html" target="element"> &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
											    <td> <a href="../elements/id-75b866739ee5453694ba36706f5f90a0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98ee4af15a2a4f609fe15524e06030ed.html" target="element"> &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (copy) </a> </td>
											    <td> <a href="../elements/id-98ee4af15a2a4f609fe15524e06030ed.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b69f2932dfc84c7da85f387bd272c503.html" target="element"> &#3650;&#3607;&#3619;&#3606;&#3634;&#3617;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-b69f2932dfc84c7da85f387bd272c503.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e5cfca43991642b89b57dfb022e01cec.html" target="element"> &#3619;&#3641;&#3657;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
											    <td> <a href="../elements/id-e5cfca43991642b89b57dfb022e01cec.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c22efb9def2e430492bf7f74c2d9f0a0.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3648;&#3621;&#3618; </a> </td>
											    <td> <a href="../elements/id-c22efb9def2e430492bf7f74c2d9f0a0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d2f01bb59484f309e7f87a198689e46.html" target="element"> &#3609;&#3633;&#3585;&#3607;&#3656;&#3629;&#3591;&#3648;&#3607;&#3637;&#3656;&#3618;&#3623;&#3649;&#3592;&#3657;&#3591;&#3611;&#3619;&#3632;&#3585;&#3634;&#3618;&#3652;&#3615; </a> </td>
											    <td> <a href="../elements/id-1d2f01bb59484f309e7f87a198689e46.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d327b1cdce77486c8535094dbb525ad4.html" target="element"> &#3585;&#3634;&#3619;&#3626;&#3656;&#3591;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-d327b1cdce77486c8535094dbb525ad4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-044f4e0e93a749beb7189aca89fbe13a.html" target="element"> &#3650;&#3607;&#3619;&#3606;&#3634;&#3617;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; (copy) </a> </td>
											    <td> <a href="../elements/id-044f4e0e93a749beb7189aca89fbe13a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bf7890cfec740fe8812d6a9f5904b67.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; type-C </a> </td>
											    <td> <a href="../elements/id-5bf7890cfec740fe8812d6a9f5904b67.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40ee5c10cf6f46c598a57bb178988b4a.html" target="element"> &#3588;&#3623;&#3619;&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3634;&#3619; </a> </td>
											    <td> <a href="../elements/id-40ee5c10cf6f46c598a57bb178988b4a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-145d62c709a34958917b15c8da0cce69.html" target="element"> &#3623;&#3634;&#3591;&#3649;&#3612;&#3609;&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619; </a> </td>
											    <td> <a href="../elements/id-145d62c709a34958917b15c8da0cce69.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f82523ea8157432a8d5916e55136958d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f82523ea8157432a8d5916e55136958d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca7c0f3b184b4064b1d607251ab40a5f.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591; &#3585;&#3619;&#3603;&#3637;&#3607;&#3637;&#3656;&#3652;&#3617;&#3656;&#3617;&#3637;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; </a> </td>
																		<td> <a href="../elements/id-d340f2dd04404253bba756c8dd8300d4.html" target="element"> &#3619;&#3632;&#3610;&#3640; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3652;&#3604;&#3657; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-44fd947276694d6784c5db0cdd974a4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44fd947276694d6784c5db0cdd974a4c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-92ce24bf89904234b5af93a7ad808ba7.html" target="element"> &#3629;&#3629;&#3585;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; </a> </td>
																		<td> <a href="../elements/id-75b866739ee5453694ba36706f5f90a0.html" target="element"> &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1468b65642f4aa5819acdd3082e4290.html" target="element"> No </a> </td>
																		<td> <a href="../elements/id-a1468b65642f4aa5819acdd3082e4290.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d340f2dd04404253bba756c8dd8300d4.html" target="element"> &#3619;&#3632;&#3610;&#3640; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3652;&#3604;&#3657; </a> </td>
																		<td> <a href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3648;&#3611;&#3655;&#3609;&#3652;&#3615;&#3626;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74968376aed949fbaf0bf83ca974bb05.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-74968376aed949fbaf0bf83ca974bb05.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d340f2dd04404253bba756c8dd8300d4.html" target="element"> &#3619;&#3632;&#3610;&#3640; &#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;&#3652;&#3604;&#3657; </a> </td>
																		<td> <a href="../elements/id-15270df40acb44c08ebd9cfb0fa9ca7b.html" target="element"> &#3629;&#3629;&#3585;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e7ab48cec87466bb843cdce5bd79505.html" target="element"> No </a> </td>
																		<td> <a href="../elements/id-9e7ab48cec87466bb843cdce5bd79505.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3648;&#3611;&#3655;&#3609;&#3652;&#3615;&#3626;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; </a> </td>
																		<td> <a href="../elements/id-456d560a5a0444bb91393924fa32c694.html" target="element"> &#3594;&#3637;&#3657;&#3652;&#3617;&#3656;&#3594;&#3633;&#3604;&#3648;&#3592;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7c8234332da43108c845ed9fc9b1978.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-c7c8234332da43108c845ed9fc9b1978.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3648;&#3611;&#3655;&#3609;&#3652;&#3615;&#3626;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; </a> </td>
																		<td> <a href="../elements/id-ef3a24ea647d4d289e381c1a907e6ac0.html" target="element"> &#3649;&#3592;&#3657;&#3591; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24f283f978ea415b9ca1e5d363fab254.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24f283f978ea415b9ca1e5d363fab254.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bb8a1c3a716425aac945a12c60b8716.html" target="element"> &#3585;&#3619;&#3603;&#3637;&#3648;&#3611;&#3655;&#3609;&#3652;&#3615;&#3626;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; </a> </td>
																		<td> <a href="../elements/id-044f4e0e93a749beb7189aca89fbe13a.html" target="element"> &#3650;&#3607;&#3619;&#3606;&#3634;&#3617;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac2a41e3de334f859763abff440d2fdc.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-ac2a41e3de334f859763abff440d2fdc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-456d560a5a0444bb91393924fa32c694.html" target="element"> &#3594;&#3637;&#3657;&#3652;&#3617;&#3656;&#3594;&#3633;&#3604;&#3648;&#3592;&#3609; </a> </td>
																		<td> <a href="../elements/id-92ce24bf89904234b5af93a7ad808ba7.html" target="element"> &#3629;&#3629;&#3585;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7659967ae8347a09f375f388cfa3c87.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-f7659967ae8347a09f375f388cfa3c87.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75b866739ee5453694ba36706f5f90a0.html" target="element"> &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; </a> </td>
																		<td> <a href="../elements/id-98ee4af15a2a4f609fe15524e06030ed.html" target="element"> &#3611;&#3636;&#3604;&#3648;&#3627;&#3605;&#3640;&#3585;&#3634;&#3619;&#3603;&#3660; (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f441cca37ed14fd0af5460013f5b82b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f441cca37ed14fd0af5460013f5b82b4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b69f2932dfc84c7da85f387bd272c503.html" target="element"> &#3650;&#3607;&#3619;&#3606;&#3634;&#3617;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; </a> </td>
																		<td> <a href="../elements/id-e5cfca43991642b89b57dfb022e01cec.html" target="element"> &#3619;&#3641;&#3657;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b54e869d3133466d8c70d4654820d21e.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-b54e869d3133466d8c70d4654820d21e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5cfca43991642b89b57dfb022e01cec.html" target="element"> &#3619;&#3641;&#3657;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-c22efb9def2e430492bf7f74c2d9f0a0.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3648;&#3621;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c646bd361d8e4278a034ee948cbf2d0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c646bd361d8e4278a034ee948cbf2d0c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5cfca43991642b89b57dfb022e01cec.html" target="element"> &#3619;&#3641;&#3657;&#3626;&#3634;&#3648;&#3627;&#3605;&#3640; </a> </td>
																		<td> <a href="../elements/id-1d2f01bb59484f309e7f87a198689e46.html" target="element"> &#3609;&#3633;&#3585;&#3607;&#3656;&#3629;&#3591;&#3648;&#3607;&#3637;&#3656;&#3618;&#3623;&#3649;&#3592;&#3657;&#3591;&#3611;&#3619;&#3632;&#3585;&#3634;&#3618;&#3652;&#3615; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d6efd2017914fb38ca23332855a3af6.html" target="element"> Yes </a> </td>
																		<td> <a href="../elements/id-4d6efd2017914fb38ca23332855a3af6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d2f01bb59484f309e7f87a198689e46.html" target="element"> &#3609;&#3633;&#3585;&#3607;&#3656;&#3629;&#3591;&#3648;&#3607;&#3637;&#3656;&#3618;&#3623;&#3649;&#3592;&#3657;&#3591;&#3611;&#3619;&#3632;&#3585;&#3634;&#3618;&#3652;&#3615; </a> </td>
																		<td> <a href="../elements/id-5bf7890cfec740fe8812d6a9f5904b67.html" target="element"> &#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3610;&#3626;&#3633;&#3656;&#3591;&#3591;&#3634;&#3609; type-C </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>